Repository discordjs/discord.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iCrawl, @discordjs/website, @discordjs/guide, @discordjs/actions, @discordjs/api-extractor-utils, @discordjs/brokers, @discordjs/builders, @discordjs/collection, @discordjs/core, @discordjs/formatters, @discordjs/proxy, @discordjs/rest, @discordjs/scripts, @discordjs/ui, @discordjs/util, @discordjs/ws

chore: remove unused directive
  packages/rest/__tests__/CDN.test.ts
Owners: @discordjs/rest

feat: Support animated WebP (#10911)
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/typings/index.d.ts
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Owners: @discordjs/core, @discordjs/rest

fix(CDN): Export `MakeURLOptions`
  packages/rest/src/lib/CDN.ts
Owners: @discordjs/rest

feat(channel): new pinned messages routes
  packages/core/src/api/channel.ts
Owners: @discordjs/core

feat: Support animated WebP (#10987)
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/typings/index.d.ts
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Owners: @discordjs/core, @discordjs/rest

feat: Role gradient colours (#10986)
  packages/discord.js/src/managers/GuildMemberRoleManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Owners: @discordjs/core

chore: components and more
  packages/structures/src/index.ts
  packages/structures/src/messages/Attachment.ts
  packages/structures/src/messages/Embed.ts
  packages/structures/src/messages/Message.ts
  packages/structures/src/messages/MessageActivity.ts
  packages/structures/src/messages/MessageCall.ts
  packages/structures/src/messages/components/ActionRowComponent.ts
  packages/structures/src/messages/components/ButtonComponent.ts
  packages/structures/src/messages/components/ChannelSelectMenuComponent.ts
  packages/structures/src/messages/components/Component.ts
  packages/structures/src/messages/components/ComponentEmoji.ts
  packages/structures/src/messages/components/ContainerComponent.ts
  packages/structures/src/messages/components/FileComponent.ts
  packages/structures/src/messages/components/InteractiveButton.ts
  packages/structures/src/messages/components/LinkButton.ts
  packages/structures/src/messages/components/MediaGalleryComponent.ts
  packages/structures/src/messages/components/MediaGalleryItem.ts
  packages/structures/src/messages/components/MentionableSelectMenuComponent.ts
  packages/structures/src/messages/components/NonPremiumButton.ts
  packages/structures/src/messages/components/PremiumButton.ts
  packages/structures/src/messages/components/RoleSelectMenuComponent.ts
  packages/structures/src/messages/components/SectionComponent.ts
  packages/structures/src/messages/components/SelectMenuComponent.ts
  packages/structures/src/messages/components/SelectMenuDefaultValue.ts
  packages/structures/src/messages/components/SeparatorComponent.ts
  packages/structures/src/messages/components/StringSelectMenuComponent.ts
  packages/structures/src/messages/components/StringSelectMenuOption.ts
  packages/structures/src/messages/components/TextDisplayCompoinent.ts
  packages/structures/src/messages/components/TextInputCompoinent.ts
  packages/structures/src/messages/components/ThumbnailComponent.ts
  packages/structures/src/messages/components/UnfurledMediaItem.ts
  packages/structures/src/messages/components/UserSelectMenuComponent.ts
  packages/structures/src/messages/components/index.ts
  packages/structures/src/messages/index.ts
  packages/structures/src/utils/symbols.ts
Owners: @iCrawl

fix: remove incorrect nullables, add `ApplicationEmoji#available`
  packages/discord.js/src/structures/ApplicationEmoji.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/typings/index.d.ts
Owners: @discordjs/core

fix: `query` is optional
  packages/core/src/api/channel.ts
Owners: @discordjs/core

feat(channel)!: New pinned messages routes (#10988)
  packages/core/src/api/channel.ts
Owners: @discordjs/core

docs: nullable collectibles and nameplate data
  packages/discord.js/src/structures/User.js
Owners: @discordjs/core

feat(User): add `collectibles` (#10939)
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
Owners: @discordjs/core

feat(User): add `collectibles` (#10939)
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
Owners: @discordjs/core

types(FetchPinnedMessagesOptions): add `cache`
  packages/discord.js/typings/index.d.ts
Owners: @discordjs/core

fix(FetchPinnedMessagesResponse): does not extend
  packages/discord.js/src/managers/MessageManager.js
Owners: @discordjs/core

docs: empty object default
  packages/discord.js/src/managers/MessageManager.js
Owners: @discordjs/core

feat(MessageManager)!: new pinned messages routes
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Owners: @discordjs/core

docs(FetchPinnedMessagesOptions): remove awkward word
  packages/discord.js/src/managers/MessageManager.js
Owners: @discordjs/core

refactor: use getter
  packages/discord.js/src/managers/MessageManager.js
Owners: @discordjs/core

build: Upgrade dependencies
  packages/core/package.json
  packages/core/src/api/oauth2.ts
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Owners: @discordjs/core, @discordjs/formatters, @discordjs/rest, @discordjs/ws, @iCrawl

build: Upgrade discord-api-types (#10991)
  packages/core/package.json
  packages/core/src/api/oauth2.ts
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Owners: @discordjs/core, @discordjs/formatters, @discordjs/rest, @discordjs/ws, @iCrawl

build: Upgrade dependencies
  packages/ws/package.json
  pnpm-lock.yaml
Owners: @discordjs/ws, @iCrawl

build: Upgrade dependencies
  packages/builders/package.json
  packages/formatters/package.json
  pnpm-lock.yaml
Owners: @discordjs/builders, @discordjs/formatters, @iCrawl

build: Upgrade dependencies (#10992)
  packages/ws/package.json
  pnpm-lock.yaml
Owners: @discordjs/ws, @iCrawl

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/articles/about-code-owners

* @iCrawl

/apps/guide/ @discordjs/website @discordjs/guide
/apps/guide/src/content/ @discordjs/guide
/apps/website/ @discordjs/website

/packages/actions/ @discordjs/actions
/packages/api-extractor-utils/ @discordjs/api-extractor-utils
/packages/brokers/ @discordjs/brokers
/packages/builders/ @discordjs/builders
/packages/collection/ @discordjs/collection
/packages/core/ @discordjs/core
/packages/create-discord-bot/ @discordjs/guide
/packages/discord.js/ @discordjs/core
/packages/docgen/ @iCrawl
/packages/formatters/ @discordjs/formatters
/packages/next/ @discordjs/core
/packages/proxy/ @discordjs/proxy
/packages/proxy-container/ @discordjs/proxy
/packages/rest/ @discordjs/rest
/packages/scripts/ @discordjs/scripts
/packages/ui/ @discordjs/ui
/packages/util/ @discordjs/util
/packages/voice/ @discordjs/core
/packages/ws/ @discordjs/ws
