Repository discordjs/discord.js, changes with the labels that .github/labeler.yml gives for each.
All labels: a:api-extractor, a:api-extractor-model, a:brokers, a:builders, a:collection, a:core, a:create-discord-bot, a:discord.js, a:docgen, a:formatters, a:guide, a:next, a:proxy, a:proxy-container, a:rest, a:structures, a:ui, a:util, a:voice, a:website, a:ws

.github/labeler.yml:

a:api-extractor:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor/**/*
a:api-extractor-model:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor-model/**/*
a:brokers:
  - changed-files:
      - any-glob-to-any-file: packages/brokers/**/*
a:builders:
  - changed-files:
      - any-glob-to-any-file: packages/builders/**/*
a:collection:
  - changed-files:
      - any-glob-to-any-file: packages/collection/**/*
a:core:
  - changed-files:
      - any-glob-to-any-file: packages/core/**/*
a:create-discord-bot:
  - changed-files:
      - any-glob-to-any-file: packages/create-discord-bot/**/*
a:discord.js:
  - changed-files:
      - any-glob-to-any-file: packages/discord.js/**/*
a:docgen:
  - changed-files:
      - any-glob-to-any-file: packages/docgen/**/*
a:formatters:
  - changed-files:
      - any-glob-to-any-file: packages/formatters/**/*
a:guide:
  - changed-files:
      - any-glob-to-any-file: apps/guide/**/*
a:next:
  - changed-files:
      - any-glob-to-any-file: packages/next/**/*
a:proxy:
  - changed-files:
      - any-glob-to-any-file: packages/proxy/**/*
a:proxy-container:
  - changed-files:
      - any-glob-to-any-file: packages/proxy-container/**/*
a:rest:
  - changed-files:
      - any-glob-to-any-file: packages/rest/**/*
a:structures:
  - changed-files:
      - any-glob-to-any-file: packages/structures/**/*
a:ui:
  - changed-files:
      - any-glob-to-any-file: packages/ui/**/*
a:util:
  - changed-files:
      - any-glob-to-any-file: packages/util/**/*
a:voice:
  - changed-files:
      - any-glob-to-any-file: packages/voice/**/*
a:website:
  - changed-files:
      - any-glob-to-any-file: apps/website/**/*
a:ws:
  - changed-files:
      - any-glob-to-any-file: packages/ws/**/*

chore: newer deps
  .github/workflows/deprecate-tag.yml
Labels: none

fix: main checks
  .github/workflows/publish-dev.yml
Labels: none

docs: fix maximum text
  packages/builders/src/components/fileUpload/FileUpload.ts
  packages/builders/src/components/selectMenu/BaseSelectMenu.ts
Labels: a:builders

chore: upgrade actions/setup-node to v6 and node.js to v24
  .github/ISSUE_TEMPLATE/01-package_bug_report.yml
  .github/workflows/deploy-website.yml
  .github/workflows/deprecate-version.yml
  .github/workflows/documentation.yml
  .github/workflows/publish-dev-docker.yml
  .github/workflows/publish-dev.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: none

ci(dev): pin associated dev versions
  packages/actions/src/releasePackages/generateReleaseTree.ts
Labels: none

build: fix file
  pnpm-lock.yaml
Labels: none

fix: typo
  packages/structures/src/messages/embeds/EmbedThumbnail.ts
Labels: a:structures

ci(dev): pin associated dev versions (#11238)
  packages/actions/src/releasePackages/generateReleaseTree.ts
Labels: none

fix: missing toJSON
  packages/structures/src/messages/MessageCall.ts
Labels: a:structures

fix: remove redundant patch overrides
  packages/structures/src/channels/Channel.ts
  packages/structures/src/invites/Invite.ts
  packages/structures/src/polls/Poll.ts
  packages/structures/src/users/Connection.ts
  packages/structures/src/users/User.ts
Labels: a:structures

chore: missing component suffix
  packages/structures/src/messages/components/InteractiveButtonComponent.ts
  packages/structures/src/messages/components/LinkButtonComponent.ts
  packages/structures/src/messages/components/NonPremiumButtonComponent.ts
  packages/structures/src/messages/components/index.ts
Labels: a:structures

chore: better name
  packages/structures/src/messages/components/InteractiveButtonComponent.ts
  packages/structures/src/messages/components/LabeledButtonComponent.ts
  packages/structures/src/messages/components/LinkButtonComponent.ts
  packages/structures/src/messages/components/index.ts
Labels: a:structures

Improve stack trace handling and error code validation
  packages/discord.js/src/errors/DJSError.js
Labels: a:discord.js

ci: fix pinning
  packages/actions/src/releasePackages/generateReleaseTree.ts
Labels: none

ci: fix pinning (#11243)
  packages/actions/src/releasePackages/generateReleaseTree.ts
Labels: none

fix: open graph image in metadata
  apps/guide/src/app/layout.tsx
  apps/website/src/app/layout.tsx
Labels: a:guide, a:website

fix: open graph image in metadata (#11244)
  apps/guide/src/app/layout.tsx
  apps/website/src/app/layout.tsx
Labels: a:guide, a:website

feat(ci): deprecate tag (#11235)
  .github/workflows/deprecate-tag.yml
Labels: none

ci: remove #
  .github/workflows/deprecate-tag.yml
Labels: none

Add guide content issue template
  .github/ISSUE_TEMPLATE/04-guide.yml
Labels: none

remove empty line
  .github/ISSUE_TEMPLATE/04-guide.yml
Labels: none

docs(BaseSelectMenu): adjust wording
  packages/builders/src/components/selectMenu/BaseSelectMenu.ts
Labels: a:builders

chore: add guide issue template (#11247)
  .github/ISSUE_TEMPLATE/04-guide.yml
Labels: none

feat(core): handle request all guild members rate limit
  packages/core/src/Gateway.ts
  packages/core/src/client.ts
  packages/core/src/util/gatewayRateLimitError.ts
  packages/core/src/util/index.ts
Labels: a:core

ci(deprecate-tag): Remove comment (#11246)
  .github/workflows/deprecate-tag.yml
Labels: none

fix: weird import update
  packages/core/src/client.ts
Labels: a:core

chore: upgrade actions/setup-node to v6 and node.js to v24 (#11237)
  .github/ISSUE_TEMPLATE/01-package_bug_report.yml
  .github/workflows/deploy-website.yml
  .github/workflows/deprecate-version.yml
  .github/workflows/documentation.yml
  .github/workflows/publish-dev-docker.yml
  .github/workflows/publish-dev.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: none

refactor: error class
  packages/core/src/client.ts
  packages/core/src/util/gatewayRateLimitError.ts
Labels: a:core

refactor: error class again
  packages/core/src/util/gatewayRateLimitError.ts
Labels: a:core

docs(BaseSelectMenu): Adjust maximum wording (#11249)
  packages/builders/src/components/selectMenu/BaseSelectMenu.ts
Labels: a:builders

fix: typo
  .github/ISSUE_TEMPLATE/04-guide.yml
Labels: none

feat(api-extractor-model): use correct version for external packages
  packages/api-extractor-model/src/model/ApiPackage.ts
Labels: a:api-extractor-model

types: add missing types
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

Fix typos in some files
  packages/api-extractor-model/src/model/ApiPackage.ts
Labels: a:api-extractor-model

more accurate <link> matcher
  packages/formatters/src/escapers.ts
Labels: a:formatters

feat: upgrade zod to v4
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Deno/deno.jsonc
  packages/create-discord-bot/template/Deno/src/commands/index.ts
  packages/create-discord-bot/template/Deno/src/events/index.ts
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/JavaScript/src/commands/index.js
  packages/create-discord-bot/template/TypeScript/package.json
  packages/create-discord-bot/template/TypeScript/src/commands/index.ts
  packages/create-discord-bot/template/TypeScript/src/events/index.ts
Labels: a:create-discord-bot

chore: match cliff.toml
  packages/builders/cliff.toml
  packages/formatters/cliff.toml
Labels: a:builders, a:formatters

chore: update README.mds
  packages/builders/README.md
  packages/formatters/README.md
Labels: a:builders, a:formatters

build: discord-api-types 0.38.32
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: a:builders, a:core, a:discord.js, a:formatters, a:next, a:rest, a:voice, a:ws

feat: optimize role manager cache getter
  packages/discord.js/src/managers/GuildEmojiRoleManager.js
  packages/discord.js/src/managers/GuildMemberRoleManager.js
Labels: a:discord.js
