Repository discordjs/discord.js, changes with the labels that .github/labeler.yml gives for each.
All labels: a:api-extractor, a:api-extractor-model, a:brokers, a:builders, a:collection, a:core, a:create-discord-bot, a:discord.js, a:docgen, a:formatters, a:guide, a:next, a:proxy, a:proxy-container, a:rest, a:structures, a:ui, a:util, a:voice, a:website, a:ws

.github/labeler.yml:

a:api-extractor:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor/**/*
a:api-extractor-model:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor-model/**/*
a:brokers:
  - changed-files:
      - any-glob-to-any-file: packages/brokers/**/*
a:builders:
  - changed-files:
      - any-glob-to-any-file: packages/builders/**/*
a:collection:
  - changed-files:
      - any-glob-to-any-file: packages/collection/**/*
a:core:
  - changed-files:
      - any-glob-to-any-file: packages/core/**/*
a:create-discord-bot:
  - changed-files:
      - any-glob-to-any-file: packages/create-discord-bot/**/*
a:discord.js:
  - changed-files:
      - any-glob-to-any-file: packages/discord.js/**/*
a:docgen:
  - changed-files:
      - any-glob-to-any-file: packages/docgen/**/*
a:formatters:
  - changed-files:
      - any-glob-to-any-file: packages/formatters/**/*
a:guide:
  - changed-files:
      - any-glob-to-any-file: apps/guide/**/*
a:next:
  - changed-files:
      - any-glob-to-any-file: packages/next/**/*
a:proxy:
  - changed-files:
      - any-glob-to-any-file: packages/proxy/**/*
a:proxy-container:
  - changed-files:
      - any-glob-to-any-file: packages/proxy-container/**/*
a:rest:
  - changed-files:
      - any-glob-to-any-file: packages/rest/**/*
a:structures:
  - changed-files:
      - any-glob-to-any-file: packages/structures/**/*
a:ui:
  - changed-files:
      - any-glob-to-any-file: packages/ui/**/*
a:util:
  - changed-files:
      - any-glob-to-any-file: packages/util/**/*
a:voice:
  - changed-files:
      - any-glob-to-any-file: packages/voice/**/*
a:website:
  - changed-files:
      - any-glob-to-any-file: apps/website/**/*
a:ws:
  - changed-files:
      - any-glob-to-any-file: packages/ws/**/*

chore: requested changes
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

feat: use native node typescript
  packages/create-discord-bot/src/create-discord-bot.ts
  packages/create-discord-bot/src/helpers/packageManager.ts
  packages/create-discord-bot/src/util/constants.ts
  packages/create-discord-bot/template/Bun/JavaScript/eslint.config.js
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/JavaScript/src/index.js
  packages/create-discord-bot/template/Bun/TypeScript/eslint.config.js
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/src/index.ts
  packages/create-discord-bot/template/Bun/TypeScript/tsconfig.json
  packages/create-discord-bot/template/Deno/.vscode/settings.json
  packages/create-discord-bot/template/JavaScript/.prettierignore
  packages/create-discord-bot/template/JavaScript/.vscode/extensions.json
  packages/create-discord-bot/template/JavaScript/.vscode/settings.json
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/.vscode/extensions.json
  packages/create-discord-bot/template/TypeScript/.vscode/settings.json
  packages/create-discord-bot/template/TypeScript/package.json
  packages/create-discord-bot/template/TypeScript/src/commands/index.ts
  packages/create-discord-bot/template/TypeScript/src/commands/ping.ts
  packages/create-discord-bot/template/TypeScript/src/commands/utility/user.ts
  packages/create-discord-bot/template/TypeScript/src/events/index.ts
  packages/create-discord-bot/template/TypeScript/src/events/interactionCreate.ts
  packages/create-discord-bot/template/TypeScript/src/events/ready.ts
  packages/create-discord-bot/template/TypeScript/src/index.ts
  packages/create-discord-bot/template/TypeScript/src/util/deploy.ts
  packages/create-discord-bot/template/TypeScript/src/util/loaders.ts
  packages/create-discord-bot/template/TypeScript/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: a:create-discord-bot

feat!: support new s/S timestamp styles (#11267)
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: a:formatters

feat: support new s/S timestamp styles in v14 (#11268)
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: a:formatters

fix: remove conditional
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/Webhook.js
Labels: a:discord.js

types: sort types
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

fix!: remove trailing error code
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

feat(core): handle request all guild members rate limit (#11251)
  packages/core/src/client.ts
  packages/core/src/index.ts
  packages/util/package.json
  packages/util/src/gatewayRateLimitError.ts
  packages/util/src/index.ts
  pnpm-lock.yaml
Labels: a:core, a:util

feat: add subscriptions (#10486)
  packages/core/src/api/monetization.ts
  packages/core/src/client.ts
Labels: a:core

feat: add soundboard (#10536)
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
  packages/core/src/api/index.ts
  packages/core/src/api/soundboardSounds.ts
  packages/core/src/client.ts
Labels: a:core

feat(interactions): support with_response query parameter in core (#10512)
  packages/core/src/api/interactions.ts
Labels: a:core

fix: `query` is optional for some endpoints (#10621)
  packages/core/src/api/monetization.ts
  packages/core/src/api/poll.ts
Labels: a:core

feat(monetization): Add get entitlement endpoint (#10605)
  packages/core/src/api/monetization.ts
Labels: a:core

fix(interactions): wrong return type and missing implementation of with_response in core (#10644)
  packages/core/src/api/interactions.ts
Labels: a:core

types: Export some core-specific types (#10620)
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
  packages/core/src/api/interactions.ts
  packages/core/src/api/webhook.ts
Labels: a:core

fix(interactions): `options` should be optional (#10683)
  packages/core/src/api/interactions.ts
Labels: a:core

fix: Remove data conditional check (#11250)
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

types(interactions): fix overloads (#10702)
  packages/core/src/api/interactions.ts
Labels: a:core

docs(guild): Remove "all" for listing guild members (#10719)
  packages/core/src/api/guild.ts
Labels: a:core

feat(interactions): add launchActivity method (#10646)
  packages/core/src/api/interactions.ts
Labels: a:core

feat(Client): add request soundboard sounds (#10608)
  packages/core/src/client.ts
Labels: a:core

fix: Remove data conditional check (#11250)
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

style: ESLint
  packages/core/src/api/webhook.ts
Labels: a:core

refactor: remove event
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

refactor: warning
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
Labels: a:discord.js

refactor(Webhooks)!: remove WebhookClient (#11266)
  packages/discord.js/src/client/WebhookClient.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/webhooktest.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: a:discord.js

refactor(client)!: remove `BaseClient`
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

chore: requested changes
  packages/discord.js/src/client/Client.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

chore: wording
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
Labels: a:discord.js

feat(GuildMemberManager): handle gateway request rate limit (#11252)
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

docs(MessageManager): update `fetchPins()` wording
  packages/discord.js/src/managers/MessageManager.js
Labels: a:discord.js

docs(MessageManager): Update `fetchPins()` wording (#11275)
  packages/discord.js/src/managers/MessageManager.js
Labels: a:discord.js

docs(MessageManager): update `fetchPins()` wording
  packages/discord.js/src/managers/MessageManager.js
Labels: a:discord.js

refactor(client)!: remove `BaseClient` (#11274)
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

fix(Util): resolve circular
  packages/discord.js/src/util/Util.js
Labels: a:discord.js

refactor: lazily load all other circulars
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/DataResolver.js
Labels: a:discord.js

fix(Util): Resolve circular dependency (#11276)
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/src/util/Util.js
Labels: a:discord.js

fix(guide): update 'Members didn't arrive in time' explanation (#11245)
  apps/guide/content/docs/legacy/popular-topics/errors.mdx
Labels: a:guide

chore: add comment explaining timestamp conversion
  packages/structures/src/utils/optimization.ts
Labels: a:structures

fix: account for ws abstraction layer
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js
