Repository discordjs/discord.js, changes with the labels that .github/labeler.yml gives for each.
All labels: a:api-extractor, a:api-extractor-model, a:brokers, a:builders, a:collection, a:core, a:create-discord-bot, a:discord.js, a:docgen, a:formatters, a:guide, a:next, a:proxy, a:proxy-container, a:rest, a:structures, a:ui, a:util, a:voice, a:website, a:ws

.github/labeler.yml:

a:api-extractor:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor/**/*
a:api-extractor-model:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor-model/**/*
a:brokers:
  - changed-files:
      - any-glob-to-any-file: packages/brokers/**/*
a:builders:
  - changed-files:
      - any-glob-to-any-file: packages/builders/**/*
a:collection:
  - changed-files:
      - any-glob-to-any-file: packages/collection/**/*
a:core:
  - changed-files:
      - any-glob-to-any-file: packages/core/**/*
a:create-discord-bot:
  - changed-files:
      - any-glob-to-any-file: packages/create-discord-bot/**/*
a:discord.js:
  - changed-files:
      - any-glob-to-any-file: packages/discord.js/**/*
a:docgen:
  - changed-files:
      - any-glob-to-any-file: packages/docgen/**/*
a:formatters:
  - changed-files:
      - any-glob-to-any-file: packages/formatters/**/*
a:guide:
  - changed-files:
      - any-glob-to-any-file: apps/guide/**/*
a:next:
  - changed-files:
      - any-glob-to-any-file: packages/next/**/*
a:proxy:
  - changed-files:
      - any-glob-to-any-file: packages/proxy/**/*
a:proxy-container:
  - changed-files:
      - any-glob-to-any-file: packages/proxy-container/**/*
a:rest:
  - changed-files:
      - any-glob-to-any-file: packages/rest/**/*
a:structures:
  - changed-files:
      - any-glob-to-any-file: packages/structures/**/*
a:ui:
  - changed-files:
      - any-glob-to-any-file: packages/ui/**/*
a:util:
  - changed-files:
      - any-glob-to-any-file: packages/util/**/*
a:voice:
  - changed-files:
      - any-glob-to-any-file: packages/voice/**/*
a:website:
  - changed-files:
      - any-glob-to-any-file: apps/website/**/*
a:ws:
  - changed-files:
      - any-glob-to-any-file: packages/ws/**/*

feat(GuildMemberManager): handle gateway request ratelimit
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

refactor: use new error class
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

chore: yada yada
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

fix: linter
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

feat(RedisBroker): discordjs/core gateway impl
  packages/brokers/package.json
  packages/brokers/src/brokers/redis/RedisGateway.ts
  packages/brokers/src/index.ts
  pnpm-lock.yaml
Labels: a:brokers

fix: import
  packages/brokers/src/brokers/redis/RedisGateway.ts
Labels: a:brokers

build: unify discord-api-types versions
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: a:builders, a:core, a:discord.js, a:formatters, a:next, a:rest, a:voice, a:ws

feat(GuildMemberManager): handle gateway request rate limit (#11253)
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

Fix typos in some files
  packages/api-extractor/src/collector/Collector.ts
Labels: a:api-extractor

chore(util): release @discordjs/util@1.2.0
  packages/util/CHANGELOG.md
  packages/util/package.json
Labels: a:util

chore(formatters): release @discordjs/formatters@0.6.2
  packages/formatters/CHANGELOG.md
  packages/formatters/package.json
Labels: a:formatters

chore(core): release @discordjs/core@2.4.0
  packages/core/CHANGELOG.md
  packages/core/package.json
Labels: a:core

chore(discord.js): release discord.js@14.25.0
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
Labels: a:discord.js

fix: mark external links as external
  apps/guide/content/docs/legacy/meta.json
  apps/guide/content/docs/voice/meta.json
Labels: a:guide

fix: Mark external links as external (#11282)
  apps/guide/content/docs/legacy/meta.json
  apps/guide/content/docs/voice/meta.json
Labels: a:guide

feat(builders): multipart form data output support
  packages/builders/__tests__/messages/fileBody.test.ts
  packages/builders/src/messages/Assertions.ts
  packages/builders/src/messages/Attachment.ts
  packages/builders/src/messages/Message.ts
  packages/rest/src/lib/utils/types.ts
  packages/util/src/JSONEncodable.ts
  packages/util/src/RawFile.ts
  packages/util/src/index.ts
Labels: a:builders, a:rest, a:util

chore: requested changes
  packages/builders/__tests__/messages/fileBody.test.ts
  packages/builders/src/index.ts
  packages/builders/src/messages/Attachment.ts
Labels: a:builders

chore: add missing remarks
  packages/builders/src/messages/Attachment.ts
Labels: a:builders

chore: rename encodables file
  packages/util/src/encodables.ts
  packages/util/src/index.ts
Labels: a:util

refactor: proper key management
  packages/builders/__tests__/messages/fileBody.test.ts
  packages/builders/src/messages/Assertions.ts
  packages/builders/src/messages/Attachment.ts
  packages/builders/src/messages/Message.ts
Labels: a:builders

chore: requested changes
  packages/builders/src/messages/Assertions.ts
  packages/builders/src/messages/Attachment.ts
  packages/builders/src/messages/Message.ts
  packages/util/src/JSONEncodable.ts
Labels: a:builders, a:util

chore: requested changes
  packages/builders/src/messages/Assertions.ts
  packages/util/src/RawFile.ts
Labels: a:builders, a:util

chore: requested change
  packages/builders/src/messages/Message.ts
Labels: a:builders

chore: nits
  packages/builders/src/messages/Assertions.ts
  packages/builders/src/messages/Attachment.ts
  packages/rest/src/lib/utils/types.ts
  packages/util/src/RawFile.ts
  packages/util/src/encodables.ts
Labels: a:builders, a:rest, a:util

chore: requested change
  packages/builders/src/messages/Message.ts
  packages/util/src/encodables.ts
Labels: a:builders, a:util

feat(builders): multipart form data output support (#11248)
  packages/builders/__tests__/messages/fileBody.test.ts
  packages/builders/src/index.ts
  packages/builders/src/messages/Assertions.ts
  packages/builders/src/messages/Attachment.ts
  packages/builders/src/messages/Message.ts
  packages/rest/src/lib/utils/types.ts
  packages/util/src/JSONEncodable.ts
  packages/util/src/RawFile.ts
  packages/util/src/encodables.ts
  packages/util/src/index.ts
Labels: a:builders, a:rest, a:util

fix(GuildEmojiManager): allow `CreateGuildExpressions`
  packages/discord.js/src/managers/GuildEmojiManager.js
Labels: a:discord.js

fix!: update error code
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

refactor: support new builders
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: a:discord.js

chore: nuke attachment builder
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: a:discord.js

chore: forgotten
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

fix: proper messagepayload instantiation
  packages/discord.js/src/managers/MessageManager.js
Labels: a:discord.js

fix: bad files type
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

chore: format
  packages/discord.js/src/managers/MessageManager.js
Labels: a:discord.js

chore: doc types
  packages/discord.js/src/util/APITypes.js
Labels: a:discord.js

chore: requested changes
  packages/builders/src/messages/Attachment.ts
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/typings/index.test-d.ts
Labels: a:builders, a:discord.js

fix: no <warn>
  packages/builders/src/messages/Attachment.ts
Labels: a:builders

fix: sort package versions
  apps/website/src/util/fetchLatestVersion.ts
  apps/website/src/util/fetchVersions.ts
Labels: a:website

refactor: remove spaces
  apps/website/src/util/fetchLatestVersion.ts
Labels: a:website

fix: header link on packages with entrypoints
  apps/website/src/components/Sidebar.tsx
Labels: a:website
