Repository discordjs/discord.js, changes with the labels that .github/labeler.yml gives for each.
All labels: a:api-extractor, a:api-extractor-model, a:brokers, a:builders, a:collection, a:core, a:create-discord-bot, a:discord.js, a:docgen, a:formatters, a:guide, a:next, a:proxy, a:proxy-container, a:rest, a:structures, a:ui, a:util, a:voice, a:website, a:ws

.github/labeler.yml:

a:api-extractor:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor/**/*
a:api-extractor-model:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor-model/**/*
a:brokers:
  - changed-files:
      - any-glob-to-any-file: packages/brokers/**/*
a:builders:
  - changed-files:
      - any-glob-to-any-file: packages/builders/**/*
a:collection:
  - changed-files:
      - any-glob-to-any-file: packages/collection/**/*
a:core:
  - changed-files:
      - any-glob-to-any-file: packages/core/**/*
a:create-discord-bot:
  - changed-files:
      - any-glob-to-any-file: packages/create-discord-bot/**/*
a:discord.js:
  - changed-files:
      - any-glob-to-any-file: packages/discord.js/**/*
a:docgen:
  - changed-files:
      - any-glob-to-any-file: packages/docgen/**/*
a:formatters:
  - changed-files:
      - any-glob-to-any-file: packages/formatters/**/*
a:guide:
  - changed-files:
      - any-glob-to-any-file: apps/guide/**/*
a:next:
  - changed-files:
      - any-glob-to-any-file: packages/next/**/*
a:proxy:
  - changed-files:
      - any-glob-to-any-file: packages/proxy/**/*
a:proxy-container:
  - changed-files:
      - any-glob-to-any-file: packages/proxy-container/**/*
a:rest:
  - changed-files:
      - any-glob-to-any-file: packages/rest/**/*
a:structures:
  - changed-files:
      - any-glob-to-any-file: packages/structures/**/*
a:ui:
  - changed-files:
      - any-glob-to-any-file: packages/ui/**/*
a:util:
  - changed-files:
      - any-glob-to-any-file: packages/util/**/*
a:voice:
  - changed-files:
      - any-glob-to-any-file: packages/voice/**/*
a:website:
  - changed-files:
      - any-glob-to-any-file: apps/website/**/*
a:ws:
  - changed-files:
      - any-glob-to-any-file: packages/ws/**/*

ci: deprecate -> remove
  .github/workflows/deprecate-tag.yml
  .github/workflows/remove-tag.yml
  packages/actions/src/deprecateVersion/action.yml
Labels: none

fix: improve handling of italics in the presence of links (#11064)
  packages/formatters/__tests__/escapers.test.ts
  packages/formatters/src/escapers.ts
Labels: a:formatters

feat: optimize role manager cache getter (#11239)
  packages/discord.js/src/managers/GuildEmojiRoleManager.js
  packages/discord.js/src/managers/GuildMemberRoleManager.js
Labels: a:discord.js

fix: improve handling of italics in the presence of links (#11064)
  packages/formatters/__tests__/escapers.test.ts
  packages/formatters/src/escapers.ts
Labels: a:formatters

feat: optimize role manager cache getter (#11239)
  packages/discord.js/src/managers/GuildEmojiRoleManager.js
  packages/discord.js/src/managers/GuildMemberRoleManager.js
Labels: a:discord.js

feat: add `email` and `phoneNumber` formatters (#11050)
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: a:formatters

fix: requested changes
  packages/create-discord-bot/template/Deno/src/commands/index.ts
  packages/create-discord-bot/template/JavaScript/src/commands/index.js
  packages/create-discord-bot/template/TypeScript/src/commands/index.ts
Labels: a:create-discord-bot

refactor(formatters): Change `:_:` emoji name placeholder (#10567)
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: a:formatters

feat: add linked roles formatters (#10461)
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: a:formatters

fix: grammar
  apps/guide/content/docs/legacy/interactions/modals.mdx
  apps/guide/content/docs/legacy/interactive-components/select-menus.mdx
Labels: a:guide

refactor(IContextFetchingStrategy): explicitly name forwarded properties (#10652)
  packages/ws/src/strategies/context/IContextFetchingStrategy.ts
Labels: a:ws

fix(SimpleIdentifyThrottler): don't sleep negative amounts (#10669)
  packages/ws/__tests__/util/SimpleIdentifyThrottler.test.ts
  packages/ws/src/throttling/SimpleIdentifyThrottler.ts
Labels: a:ws

fix(WebSocketShard): bad error re-throw (#11151)
  packages/ws/src/ws/WebSocketShard.ts
Labels: a:ws

chore: relevant examples
  .github/workflows/publish-dev.yml
Labels: none

chore(ws): release @discordjs/ws@2.0.4
  packages/ws/CHANGELOG.md
  packages/ws/package.json
Labels: a:ws

refactor: requested changes
  packages/core/src/Gateway.ts
  packages/core/src/client.ts
  packages/core/src/index.ts
  packages/core/src/util/index.ts
  packages/util/package.json
  packages/util/src/gatewayRateLimitError.ts
  packages/util/src/index.ts
  pnpm-lock.yaml
Labels: a:core, a:util

refactor(publish-dev): take ref instead (#11236)
  .github/workflows/publish-dev.yml
Labels: none

chore: fix dep
  packages/util/package.json
  pnpm-lock.yaml
Labels: a:util

build: upgrade nan
  pnpm-lock.yaml
Labels: none

chore: private ui
  packages/ui/package.json
Labels: a:ui

build: regenerate lockfile
  packages/voice/package.json
  pnpm-lock.yaml
Labels: a:voice

refactor(Webhooks)!: remove WebhookClient
  packages/discord.js/src/client/WebhookClient.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/webhooktest.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: a:discord.js

chore: add guide as issue template code owners
  .github/CODEOWNERS
Labels: none

fix: suggested changes
  packages/core/src/client.ts
  packages/util/src/gatewayRateLimitError.ts
Labels: a:core, a:util

feat(core): handle request all guild members rate limit (#11251)
  packages/core/src/client.ts
  packages/core/src/index.ts
  packages/util/package.json
  packages/util/src/gatewayRateLimitError.ts
  packages/util/src/index.ts
  pnpm-lock.yaml
Labels: a:core, a:util

chore: add core as additional template code owners
  .github/CODEOWNERS
Labels: none

types: add error code
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

chore: typo no one saw
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

feat(GuildMemberManager): handle gateway request ratelimit
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

fix: cleanup listener properly
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: a:discord.js

refactor: requested changes
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

fix: update emitted warning
  packages/discord.js/src/client/websocket/handlers/RATE_LIMITED.js
Labels: a:discord.js

feat: support new s/S timestamp styles
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: a:formatters

feat: support new s/S timestamp styles in v14
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: a:formatters

fix: issue template guide (#11254)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/04-guide.yml
Labels: none

feat(api-extractor-model): use correct version for external packages (#11255)
  packages/api-extractor-model/src/model/ApiPackage.ts
Labels: a:api-extractor-model

Create King
  King
Labels: none

types(DiscordjsErrorCodes): Add missing permission overwrites error codes (#11256)
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

chore: migrate eslint configs (#11234)
  packages/create-discord-bot/template/JavaScript/.eslintrc.json
  packages/create-discord-bot/template/JavaScript/eslint.config.js
  packages/create-discord-bot/template/JavaScript/src/events/interactionCreate.js
  packages/create-discord-bot/template/JavaScript/src/util/loaders.js
  packages/create-discord-bot/template/TypeScript/.eslintrc.json
  packages/create-discord-bot/template/TypeScript/eslint.config.js
Labels: a:create-discord-bot

feat: upgrade zod to v4 (#11258)
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Deno/deno.jsonc
  packages/create-discord-bot/template/Deno/src/commands/index.ts
  packages/create-discord-bot/template/Deno/src/events/index.ts
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/JavaScript/src/commands/index.js
  packages/create-discord-bot/template/TypeScript/package.json
  packages/create-discord-bot/template/TypeScript/src/commands/index.ts
  packages/create-discord-bot/template/TypeScript/src/events/index.ts
Labels: a:create-discord-bot
