Repository discordjs/discord.js, changes with the labels that .github/labeler.yml gives for each.
All labels: apps:guide, apps:website, packages:api-extractor, packages:api-extractor-model, packages:brokers, packages:builders, packages:collection, packages:core, packages:create-discord-bot, packages:discord.js, packages:docgen, packages:formatters, packages:next, packages:proxy, packages:proxy-container, packages:rest, packages:structures, packages:ui, packages:util, packages:voice, packages:ws

feat: implement DAVE end-to-end encryption (#10921)
  packages/voice/__tests__/VoiceConnection.test.ts
  packages/voice/__tests__/VoiceReceiver.test.ts
  packages/voice/__tests__/VoiceWebSocket.test.ts
  packages/voice/package.json
  packages/voice/src/VoiceConnection.ts
  packages/voice/src/index.ts
  packages/voice/src/joinVoiceChannel.ts
  packages/voice/src/networking/DAVESession.ts
  packages/voice/src/networking/Networking.ts
  packages/voice/src/networking/VoiceWebSocket.ts
  packages/voice/src/networking/index.ts
  packages/voice/src/receive/VoiceReceiver.ts
  packages/voice/src/util/generateDependencyReport.ts
  pnpm-lock.yaml
Labels: packages:voice

refactor(ThreadChannel): no need to trim name
  packages/discord.js/src/structures/ThreadChannel.js
Labels: packages:discord.js

fix: export directory channels
  packages/discord.js/src/index.js
Labels: packages:discord.js

fix(DirectoryChannel): Export class (#10985)
  packages/discord.js/src/index.js
Labels: packages:discord.js

refactor(ThreadChannel): Remove trimming of name (#10984)
  packages/discord.js/src/structures/ThreadChannel.js
Labels: packages:discord.js

fix(DirectoryChannel): Export class (#10985)
  packages/discord.js/src/index.js
Labels: packages:discord.js

refactor(ThreadChannel): Remove trimming of name (#10984)
  packages/discord.js/src/structures/ThreadChannel.js
Labels: packages:discord.js

Update packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/client/websocket/WebSocketManager.js
Labels: packages:discord.js

chore: disable max-len
  packages/discord.js/src/client/websocket/WebSocketManager.js
Labels: packages:discord.js

refactor: Deprecate `ready` event in favor of `clientReady` (#10969)
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

feat: backport role gradient colours
  packages/discord.js/src/managers/GuildMemberRoleManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

chore: add deprecations
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

docs(ApplicationCommand): incorrect method in example (#10837)
  packages/discord.js/src/structures/ApplicationCommand.js
Labels: packages:discord.js

types(ModalSubmitFields): fix `fields` type (#10816)
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

fix(Message): forwarded messages are not `crosspostable` (#10821)
  packages/discord.js/src/structures/Message.js
Labels: packages:discord.js

docs: remove hardcoded locale from links (#10794)
  .github/CODEOWNERS
  packages/builders/src/components/selectMenu/StringSelectMenu.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/rest/src/lib/REST.ts
Labels: packages:builders, packages:discord.js, packages:rest

fix(GuildChannelManager): properly resolve avatar for createWebhook (#10772)
  packages/discord.js/src/managers/GuildChannelManager.js
Labels: packages:discord.js

chore: remove unused directive
  packages/rest/__tests__/CDN.test.ts
Labels: packages:rest

feat: Support animated WebP (#10911)
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/typings/index.d.ts
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: packages:discord.js, packages:rest

fix(CDN): Export `MakeURLOptions`
  packages/rest/src/lib/CDN.ts
Labels: packages:rest

feat(channel): new pinned messages routes
  packages/core/src/api/channel.ts
Labels: packages:core

feat: Support animated WebP (#10987)
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/typings/index.d.ts
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: packages:discord.js, packages:rest

feat: Role gradient colours (#10986)
  packages/discord.js/src/managers/GuildMemberRoleManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

chore: components and more
  packages/structures/src/index.ts
  packages/structures/src/messages/Attachment.ts
  packages/structures/src/messages/Embed.ts
  packages/structures/src/messages/Message.ts
  packages/structures/src/messages/MessageActivity.ts
  packages/structures/src/messages/MessageCall.ts
  packages/structures/src/messages/components/ActionRowComponent.ts
  packages/structures/src/messages/components/ButtonComponent.ts
  packages/structures/src/messages/components/ChannelSelectMenuComponent.ts
  packages/structures/src/messages/components/Component.ts
  packages/structures/src/messages/components/ComponentEmoji.ts
  packages/structures/src/messages/components/ContainerComponent.ts
  packages/structures/src/messages/components/FileComponent.ts
  packages/structures/src/messages/components/InteractiveButton.ts
  packages/structures/src/messages/components/LinkButton.ts
  packages/structures/src/messages/components/MediaGalleryComponent.ts
  packages/structures/src/messages/components/MediaGalleryItem.ts
  packages/structures/src/messages/components/MentionableSelectMenuComponent.ts
  packages/structures/src/messages/components/NonPremiumButton.ts
  packages/structures/src/messages/components/PremiumButton.ts
  packages/structures/src/messages/components/RoleSelectMenuComponent.ts
  packages/structures/src/messages/components/SectionComponent.ts
  packages/structures/src/messages/components/SelectMenuComponent.ts
  packages/structures/src/messages/components/SelectMenuDefaultValue.ts
  packages/structures/src/messages/components/SeparatorComponent.ts
  packages/structures/src/messages/components/StringSelectMenuComponent.ts
  packages/structures/src/messages/components/StringSelectMenuOption.ts
  packages/structures/src/messages/components/TextDisplayCompoinent.ts
  packages/structures/src/messages/components/TextInputCompoinent.ts
  packages/structures/src/messages/components/ThumbnailComponent.ts
  packages/structures/src/messages/components/UnfurledMediaItem.ts
  packages/structures/src/messages/components/UserSelectMenuComponent.ts
  packages/structures/src/messages/components/index.ts
  packages/structures/src/messages/index.ts
  packages/structures/src/utils/symbols.ts
Labels: packages:structures

fix: remove incorrect nullables, add `ApplicationEmoji#available`
  packages/discord.js/src/structures/ApplicationEmoji.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

fix: `query` is optional
  packages/core/src/api/channel.ts
Labels: packages:core

feat(channel)!: New pinned messages routes (#10988)
  packages/core/src/api/channel.ts
Labels: packages:core

docs: nullable collectibles and nameplate data
  packages/discord.js/src/structures/User.js
Labels: packages:discord.js

feat(User): add `collectibles` (#10939)
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

feat(User): add `collectibles` (#10939)
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

types(FetchPinnedMessagesOptions): add `cache`
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

fix(FetchPinnedMessagesResponse): does not extend
  packages/discord.js/src/managers/MessageManager.js
Labels: packages:discord.js

docs: empty object default
  packages/discord.js/src/managers/MessageManager.js
Labels: packages:discord.js

feat(MessageManager)!: new pinned messages routes
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: packages:discord.js

docs(FetchPinnedMessagesOptions): remove awkward word
  packages/discord.js/src/managers/MessageManager.js
Labels: packages:discord.js

refactor: use getter
  packages/discord.js/src/managers/MessageManager.js
Labels: packages:discord.js

build: Upgrade dependencies
  packages/core/package.json
  packages/core/src/api/oauth2.ts
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:core, packages:discord.js, packages:formatters, packages:next, packages:rest, packages:voice, packages:ws

build: Upgrade discord-api-types (#10991)
  packages/core/package.json
  packages/core/src/api/oauth2.ts
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:core, packages:discord.js, packages:formatters, packages:next, packages:rest, packages:voice, packages:ws

build: Upgrade dependencies
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:ws

build: Upgrade dependencies
  packages/builders/package.json
  packages/formatters/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:formatters

.github/labeler.yml:

apps:guide:
  - changed-files:
      - any-glob-to-any-file:
          - apps/guide/*
          - apps/guide/**/*
apps:website:
  - changed-files:
      - any-glob-to-any-file:
          - apps/website/*
          - apps/website/**/*
packages:api-extractor:
  - changed-files:
      - any-glob-to-any-file:
          - packages/api-extractor/*
          - packages/api-extractor/**/*
packages:api-extractor-model:
  - changed-files:
      - any-glob-to-any-file:
          - packages/api-extractor-model/*
          - packages/api-extractor-model/**/*
packages:brokers:
  - changed-files:
      - any-glob-to-any-file:
          - packages/brokers/*
          - packages/brokers/**/*
packages:builders:
  - changed-files:
      - any-glob-to-any-file:
          - packages/builders/*
          - packages/builders/**/*
packages:collection:
  - changed-files:
      - any-glob-to-any-file:
          - packages/collection/*
          - packages/collection/**/*
packages:core:
  - changed-files:
      - any-glob-to-any-file:
          - packages/core/*
          - packages/core/**/*
packages:create-discord-bot:
  - changed-files:
      - any-glob-to-any-file:
          - packages/create-discord-bot/*
          - packages/create-discord-bot/**/*
packages:discord.js:
  - changed-files:
      - any-glob-to-any-file:
          - packages/discord.js/*
          - packages/discord.js/**/*
packages:docgen:
  - changed-files:
      - any-glob-to-any-file:
          - packages/docgen/*
          - packages/docgen/**/*
packages:formatters:
  - changed-files:
      - any-glob-to-any-file:
          - packages/formatters/*
          - packages/formatters/**/*
packages:next:
  - changed-files:
      - any-glob-to-any-file:
          - packages/next/*
          - packages/next/**/*
packages:proxy:
  - changed-files:
      - any-glob-to-any-file:
          - packages/proxy/*
          - packages/proxy/**/*
packages:proxy-container:
  - changed-files:
      - any-glob-to-any-file:
          - packages/proxy-container/*
          - packages/proxy-container/**/*
packages:rest:
  - changed-files:
      - any-glob-to-any-file:
          - packages/rest/*
          - packages/rest/**/*
packages:structures:
  - changed-files:
      - any-glob-to-any-file:
          - packages/structures/*
          - packages/structures/**/*
packages:ui:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ui/*
          - packages/ui/**/*
packages:util:
  - changed-files:
      - any-glob-to-any-file:
          - packages/util/*
          - packages/util/**/*
packages:voice:
  - changed-files:
      - any-glob-to-any-file:
          - packages/voice/*
          - packages/voice/**/*
packages:ws:
  - changed-files:
      - any-glob-to-any-file:
          - packages/ws/*
          - packages/ws/**/*
