Repository discordjs/discord.js, changes with the labels that .github/labeler.yml gives for each.
All labels: a:api-extractor, a:api-extractor-model, a:brokers, a:builders, a:collection, a:core, a:create-discord-bot, a:discord.js, a:docgen, a:formatters, a:guide, a:next, a:proxy, a:proxy-container, a:rest, a:structures, a:ui, a:util, a:voice, a:website, a:ws

ci: Remove tags instead of only deprecating (#11263)
  .github/workflows/deprecate-tag.yml
  .github/workflows/remove-tag.yml
  packages/actions/src/deprecateVersion/action.yml
Labels: none

types: add types
  apps/website/src/components/EntrypointSelect.tsx
  apps/website/src/components/Sidebar.tsx
  apps/website/src/util/fetchEntryPoints.ts
Labels: a:website

fix: Sort package versions (#11284)
  apps/website/src/util/fetchLatestVersion.ts
  apps/website/src/util/fetchVersions.ts
Labels: a:website

fix: header link on packages with entrypoints (#11285)
  apps/website/src/components/EntrypointSelect.tsx
  apps/website/src/components/Sidebar.tsx
  apps/website/src/util/fetchEntryPoints.ts
Labels: a:website

fix: typing mismatch for empty strings being treated as undefined
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationEmojiManager.js
  packages/discord.js/src/managers/AutoModerationRuleManager.js
  packages/discord.js/src/managers/EntitlementManager.js
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/GuildSoundboardSoundManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/managers/ThreadMemberManager.js
Labels: a:discord.js

fix(GuildEmojiManager)!: Allow `CreateGuildExpressions` for retrieving author data (#11283)
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/typings/index.d.ts
Labels: a:discord.js

fix(GuildEmojiManager)!: Allow `CreateGuildExpressions` for retrieving author data (#11283)
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildEmojiManager.js
Labels: a:discord.js

fix: tests
  packages/discord.js/src/errors/Messages.js
Labels: a:discord.js

fix(builders): add proper snowflake validation
  packages/builders/src/Assertions.ts
  packages/builders/src/components/Assertions.ts
Labels: a:builders

fix(builders): improve component validation predicates
  packages/builders/src/Assertions.ts
  packages/builders/src/components/Assertions.ts
Labels: a:builders

fix(GuildEmojiManager): Allow `CreateGuildExpressions` for retrieving author data (#11288)
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildEmojiManager.js
Labels: a:discord.js

chore(discord.js): release discord.js@14.25.1
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
Labels: a:discord.js

fix(builders): apply validation feedback
  packages/builders/src/components/Assertions.ts
Labels: a:builders

.github/labeler.yml:

a:api-extractor:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor/**/*
a:api-extractor-model:
  - changed-files:
      - any-glob-to-any-file: packages/api-extractor-model/**/*
a:brokers:
  - changed-files:
      - any-glob-to-any-file: packages/brokers/**/*
a:builders:
  - changed-files:
      - any-glob-to-any-file: packages/builders/**/*
a:collection:
  - changed-files:
      - any-glob-to-any-file: packages/collection/**/*
a:core:
  - changed-files:
      - any-glob-to-any-file: packages/core/**/*
a:create-discord-bot:
  - changed-files:
      - any-glob-to-any-file: packages/create-discord-bot/**/*
a:discord.js:
  - changed-files:
      - any-glob-to-any-file: packages/discord.js/**/*
a:docgen:
  - changed-files:
      - any-glob-to-any-file: packages/docgen/**/*
a:formatters:
  - changed-files:
      - any-glob-to-any-file: packages/formatters/**/*
a:guide:
  - changed-files:
      - any-glob-to-any-file: apps/guide/**/*
a:next:
  - changed-files:
      - any-glob-to-any-file: packages/next/**/*
a:proxy:
  - changed-files:
      - any-glob-to-any-file: packages/proxy/**/*
a:proxy-container:
  - changed-files:
      - any-glob-to-any-file: packages/proxy-container/**/*
a:rest:
  - changed-files:
      - any-glob-to-any-file: packages/rest/**/*
a:structures:
  - changed-files:
      - any-glob-to-any-file: packages/structures/**/*
a:ui:
  - changed-files:
      - any-glob-to-any-file: packages/ui/**/*
a:util:
  - changed-files:
      - any-glob-to-any-file: packages/util/**/*
a:voice:
  - changed-files:
      - any-glob-to-any-file: packages/voice/**/*
a:website:
  - changed-files:
      - any-glob-to-any-file: apps/website/**/*
a:ws:
  - changed-files:
      - any-glob-to-any-file: packages/ws/**/*
