Repository discordjs/discord.js, pull requests merged in 2018-07, with the labels that each got.

#2624 Add support for Guild#setDefaultMessageNotifications
  src/structures/Guild.js
Labels: semver: patch, t: REST, type: enhancement

#2657 Docs - Clarify messageReactionRemove user description
  src/client/actions/MessageReactionRemove.js
Labels: meta: documentation, semver: N/A, t: gateway

#2566 Make `Webhook#token` not enumerable
  src/structures/Webhook.js
Labels: meta: refactor, semver: patch, t: caching

#2605 fix(GuildAuditLogs): default to PartialGuildChannel if channel was deleted
  src/structures/GuildAuditLogs.js
Labels: semver: patch, t: REST, type: bugfix

#2603 fix(Invite): support group dm invites
  src/structures/Invite.js
Labels: reason: API support, semver: major, t: REST

#2661 fix(MessageReaction): only delete reaction if cache and count is empty
  src/structures/MessageReaction.js
Labels: semver: patch, t: caching, type: bugfix

#2672 backport: Sharding utility methods
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  src/util/Util.js
Labels: semver: minor, t: sharding, t: utility

#2666 documented sizes 16, 32, 64
  src/structures/ClientApplication.js
  src/structures/GroupDMChannel.js
  src/structures/Guild.js
  src/structures/User.js
  src/util/Constants.js
Labels: meta: documentation, reason: API support, semver: N/A, t: utility

#2645 fix(GuildEmoji) added a check for managed emojis in fetchAuthor
  src/errors/Messages.js
  src/structures/GuildEmoji.js
Labels: semver: patch, t: error handling, type: bugfix

#2559 Remove user bots
  src/client/Client.js
  src/client/ClientManager.js
  src/client/actions/ActionsManager.js
  src/client/actions/GuildSync.js
  src/client/actions/UserNoteUpdate.js
  src/client/websocket/packets/WebSocketPacketManager.js
  src/client/websocket/packets/handlers/GuildSync.js
  src/client/websocket/packets/handlers/Ready.js
  src/client/websocket/packets/handlers/RelationshipAdd.js
  src/client/websocket/packets/handlers/RelationshipRemove.js
  src/client/websocket/packets/handlers/UserGuildSettingsUpdate.js
  src/client/websocket/packets/handlers/UserNoteUpdate.js
  src/client/websocket/packets/handlers/UserSettingsUpdate.js
  src/errors/Messages.js
  src/index.js
  src/rest/RESTManager.js
  src/stores/GuildStore.js
  src/stores/MessageStore.js
  src/stores/UserStore.js
  src/structures/ClientApplication.js
  src/structures/ClientUser.js
  src/structures/ClientUserChannelOverride.js
  src/structures/ClientUserGuildSettings.js
  src/structures/ClientUserSettings.js
  src/structures/GroupDMChannel.js
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/Message.js
  src/structures/User.js
  src/structures/UserProfile.js
  src/structures/interfaces/TextBasedChannel.js
  src/structures/shared/Search.js
  src/structures/shared/index.js
  src/util/Constants.js
Labels: meta: roadmap, semver: major, t: user accounts

#2594 feat(Message): add url getter
  src/structures/Message.js
Labels: reason: API support, semver: minor, t: utility, type: enhancement

#2682 remove hard-coded domain in welcome logo
  docs/general/welcome.md
Labels: meta: documentation

#2673 fix: Wrong _patch call from GuildEmoji#edit and other issues
  src/structures/GuildEmoji.js
Labels: semver: patch, t: caching, type: bugfix
