Repository discordjs/discord.js, pull requests merged in 2018-12, with the labels that each got.

#2983 fix: guildBanRemove event name
  src/client/actions/GuildBanRemove.js
Labels: semver: N/A, t: gateway, type: bug

#2981 websocket send error handling
  src/client/websocket/WebSocketShard.js
  test/tester1000.js
Labels: semver: patch, t: error handling, t: gateway

#2965 feat(GuildChannelStore): add support for create to accept a position
  src/stores/GuildChannelStore.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#2998 update SnowflakeUtil typing
  typings/index.d.ts
Labels: t: typings, t: utility

#2999 fix(TextBasedChannel): added missing lastMessage functionality in textchannels
  src/client/actions/MessageCreate.js
  src/structures/interfaces/TextBasedChannel.js
Labels: semver: patch, t: caching, type: bugfix

#3001 typings: Add `string[]` overload to bulkDelete
  typings/index.d.ts
Labels: t: REST, t: typings
