Repository discordjs/discord.js, pull requests merged in 2018-10, with the labels that each got.

#2868 fix typos
  src/client/voice/networking/VoiceWebSocket.js
  src/client/websocket/WebSocketConnection.js
  src/client/websocket/packets/handlers/ChannelPinsUpdate.js
  src/structures/Guild.js
  src/structures/PermissionOverwrites.js
Labels: meta: documentation, semver: N/A, type: typo

#2861 make WebhookClient#token non-enumerable
  src/client/WebhookClient.js
Labels: semver: major, t: utility, type: enhancement

#2853 Add white to colours
  src/util/Constants.js
  src/util/Util.js
Labels: semver: minor, t: utility, type: enhancement

#2796 feat: handle new session rate limits
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
Labels: reason: API support, semver: patch, t: gateway, t: ratelimits

#2869 backport(ClientOptions): add retryLimit
  src/client/Client.js
  src/client/rest/RESTManager.js
  src/client/rest/RequestHandlers/Burst.js
  src/client/rest/RequestHandlers/Sequential.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: REST, t: utility

#2871 backport(Guild): add fetchVanityCode
  src/client/rest/RESTMethods.js
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST

#2875 feat: allow MessageEmbed#setTimestamp to take a timestamp
  src/structures/MessageEmbed.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#2857 feat(MessageEmbed): MessageEmbed#spliceField()
  src/errors/Messages.js
  src/structures/MessageEmbed.js
Labels: s: needs typings, semver: major, t: utility

#2878 Feat: GuildChannelStore#create with rateLimitPerUser
  src/stores/GuildChannelStore.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility

#2890 feat(ClientUser): Allow options as first parameter to ClientUser#setActivity
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  typings/index.d.ts
Labels: semver: minor, t: gateway, type: enhancement

#2870 backport(TextBasedChannel): add lastPinTimestamp and lastPinAt
  src/client/websocket/packets/handlers/ChannelPinsUpdate.js
  src/structures/DMChannel.js
  src/structures/GroupDMChannel.js
  src/structures/TextChannel.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: caching, t: gateway

#2872 feat(Emoji): move createdAt and createdTimestamp getters from GuildEmoji
  src/structures/Emoji.js
  src/structures/GuildEmoji.js
  typings/index.d.ts
Labels: meta: refactor, semver: minor, t: utility

#2888 backport(Guild): createChannel with options object
  src/client/rest/RESTMethods.js
  src/structures/Guild.js
  src/structures/GuildChannel.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: REST

#2881 docs: clarify example for Collection#tap
  src/util/Collection.js
Labels: meta: documentation, semver: N/A, type: enhancement

#2880 docs: fix example for setActivity
  src/structures/ClientUser.js
Labels: meta: cleanup, meta: documentation, meta: examples, semver: N/A

#2893 fix: re-add presence parsing from ClientOptions
  src/client/Client.js
Labels: semver: patch, t: gateway, type: bugfix

#2848 fix: revert #2768
  src/client/rest/RESTManager.js
Labels: semver: patch, t: error handling, type: bugfix

#2892 fix: emit voiceStateUpdate on guildMemberRemove
  src/client/websocket/packets/handlers/VoiceStateUpdate.js
  typings/index.d.ts
Labels: semver: patch, t: gateway, type: bugfix

#2896 Use match on speaking bitmask to fire _stoppedSpeaking
  src/client/voice/VoiceConnection.js
Labels: semver: patch, t: voice, type: bugfix

#2909 fix(Typings) Fix 2 issues with Typings
  package.json
  typings/index.d.ts
Labels: semver: N/A, t: typings, type: bugfix

#2908 Add worker-based sharding to the ShardingManager
  src/client/Client.js
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  typings/index.d.ts
Labels: semver: minor, t: sharding, type: enhancement

#2914 fix(Sharding) fixes several things in Internal Sharding
  src/client/Client.js
  src/client/websocket/WebSocketShard.js
  src/sharding/Shard.js
  src/util/Constants.js
  typings/index.d.ts
Labels: semver: major, t: sharding, type: bugfix, type: enhancement

#2919 Fix(Sharding) fix different actions not expecting the correct data
  src/client/actions/GuildIntegrationsUpdate.js
  src/client/actions/VoiceStateUpdate.js
  src/client/actions/WebhooksUpdate.js
  src/client/websocket/handlers/VOICE_STATE_UPDATE.js
Labels: semver: patch, t: gateway, type: bugfix

#2918 Fix(Sharding) Fix edge case in dynamic setting of totalShardCount if not provided
  src/client/Client.js
Labels: semver: patch, t: sharding, type: bugfix
