Repository discordjs/discord.js, pull requests merged in 2018-05, with the labels that each got.

#2529 docs: Fix typos in Collection class
  src/util/Collection.js
Labels: meta: documentation, semver: N/A, type: typo

#2530 feature: add DiscordAPIError#method
  src/rest/DiscordAPIError.js
  src/rest/handlers/RequestHandler.js
Labels: semver: minor, t: error handling, type: enhancement

#2534 fix(RESTMethods) Removing wrong listener
  src/client/rest/RESTMethods.js
Labels: semver: patch, t: REST, type: bugfix

#2536 feat: backport DiscordAPIError#method
  src/client/rest/DiscordAPIError.js
  src/client/rest/RequestHandlers/Burst.js
  src/client/rest/RequestHandlers/Sequential.js
Labels: meta: backport, semver: minor, t: error handling, type: enhancement

#2507 Add Collection#tap
  src/util/Collection.js
Labels: semver: minor, t: utility, type: enhancement

#2521 prevent max listener problems with collectors
  src/structures/MessageCollector.js
  src/structures/ReactionCollector.js
Labels: semver: patch, t: utility, type: bugfix, type: enhancement

#2528 feature: add Collection#sweep()
  src/client/Client.js
  src/util/Collection.js
Labels: semver: minor, t: utility, type: enhancement

#2537 Improved TextBasedChannel#send
  src/structures/interfaces/TextBasedChannel.js
Labels: meta: refactor, semver: patch, t: REST, type: enhancement

#2535 feat(GuildEmoji#deletable)
  src/structures/GuildEmoji.js
Labels: semver: minor, t: utility, type: enhancement

#2511 Remove unnecessary Collection methods and add Collection#partition
  src/util/Collection.js
Labels: meta: refactor, semver: major, t: utility

#2554 docs(Util): fix spelling of 'behavior'
  src/util/Util.js
Labels: meta: documentation, semver: N/A

#2471 fix(RequestHandler): only retry once on 5xx
  src/rest/handlers/RequestHandler.js
Labels: semver: patch, t: REST, type: bugfix

#2454 add shard#kill method
  src/sharding/Shard.js
Labels: semver: minor, t: sharding, type: enhancement

#2499 Fix Incorrect NSFW Status on Channels
  src/structures/TextChannel.js
Labels: s: Discord bug

#2556 Add "deleted" property to multiple structures.
  src/client/actions/ChannelDelete.js
  src/client/actions/GuildDelete.js
  src/client/actions/GuildEmojiDelete.js
  src/client/actions/GuildMemberRemove.js
  src/client/actions/GuildRoleDelete.js
  src/client/actions/MessageDelete.js
  src/client/actions/MessageDeleteBulk.js
  src/structures/Channel.js
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/Role.js
Labels: semver: minor, t: caching, t: utility, type: enhancement

#2538 feat(Guild#defaultMessageNotifications)
  src/structures/Guild.js
  src/util/Constants.js
Labels: reason: API support, semver: minor, t: caching

#2544 Fix(Guild#equals) Array b being modified by the equality comparison
  src/structures/Guild.js
  src/util/Util.js
Labels: semver: patch, t: caching, type: bugfix
