Repository discordjs/discord.js, pull requests merged in 2018-02, with the labels that each got.

#2325 fix what may or may not have been a typo of '+' to '<'
  src/client/voice/dispatcher/StreamDispatcher.js
Labels: semver: patch, t: voice, type: bugfix

#2339 feat(GuildChannel): add fetchInvites method
  src/structures/GuildChannel.js
Labels: reason: API support, semver: minor, t: REST

#2342 perf(Collection): Performance improvements
  src/util/Collection.js
Labels: meta: ES6, meta: refactor, semver: patch, type: enhancement

#2303 Added 2 basic role colors PINKISH_PURPLE and DARK_PINKISH_PURPLE
  src/util/Constants.js
  src/util/Util.js
Labels: semver: minor, t: utility, type: enhancement

#2346 docs: Add links for the guide
  README.md
  docs/general/welcome.md
Labels: meta: documentation, meta: examples, semver: N/A, t: utility, type: enhancement

#2349 Emit StreamDispatcher#volumeChange when the volume changes
  src/client/voice/dispatcher/StreamDispatcher.js
Labels: semver: patch, t: voice, type: bugfix

#2355 Fix incorrect positions when rawPosition is same
  src/util/Util.js
Labels: semver: patch, t: caching, type: bugfix

#2094 docs(WIP): Bring the main doc pages up to date, and add more examples
  docs/examples/attachments.md
  docs/examples/avatars.js
  docs/examples/embed.js
  docs/examples/greeting.js
  docs/examples/moderation.md
  docs/examples/ping.js
  docs/examples/webhook.js
  docs/general/faq.md
  docs/general/welcome.md
  docs/index.yml
  docs/topics/voice.md
Labels: meta: documentation, s: in progress, semver: N/A, type: discussion, type: enhancement

#2363 add valueOf method to permissions
  src/util/Permissions.js
Labels: semver: minor, t: utility, type: enhancement
