Repository discordjs/discord.js, pull requests merged in 2018-06, with the labels that each got.

#2539 refactor: RESTManager#handlers to use Collection
  src/rest/RESTManager.js
Labels: meta: cleanup, meta: refactor, semver: patch, t: REST, t: ratelimits

#2571 feat(User#locale)
  src/structures/User.js
Labels: reason: API support, semver: minor, t: caching

#2542 refactor(MessageMentions)
  src/structures/MessageMentions.js
Labels: meta: refactor, semver: minor, t: utility

#2570 Fix Messages un-deleting themselves
  src/structures/Message.js
Labels: semver: patch, t: utility, type: bugfix

#2602 Adds JSDocs for TextChannel.lastMessageID
  src/structures/DMChannel.js
  src/structures/GroupDMChannel.js
  src/structures/TextChannel.js
Labels: meta: documentation, semver: N/A

#2608 docs: add video to MessageAttachment properties
  src/structures/MessageAttachment.js
Labels: meta: documentation, semver: N/A, t: caching

#2587 switch to node-fetch
  package.json
  src/rest/APIRequest.js
  src/rest/handlers/RequestHandler.js
  src/util/DataResolver.js
  src/util/Util.js
  test/sharder.js
  test/webpack.html
Labels: meta: dependencies, s: in progress, semver: major

#2592 Added support for `defaultMessageNotifications`
  src/structures/Guild.js
Labels: semver: patch, t: caching, type: bugfix

#2614 fix response parsing
  src/rest/handlers/RequestHandler.js
Labels: semver: patch, t: REST, type: bugfix

#2611 fix: do not cache webhook users
  src/client/ClientDataManager.js
  src/structures/Message.js
Labels: semver: patch, t: caching, type: bugfix

#2607 Docs: Wording Improvements
  src/client/actions/MessageReactionAdd.js
  src/client/actions/MessageReactionRemove.js
  src/client/actions/MessageReactionRemoveAll.js
Labels: meta: documentation, semver: N/A, t: caching, t: gateway

#2622 Fix seek option
  src/client/voice/player/BasePlayer.js
Labels: semver: patch, t: voice, type: bugfix

#2621 Docs: correct Guild#memberCount to actual behaviour
  src/structures/Guild.js
Labels: meta: documentation, semver: N/A, t: caching

#2615 fix: ratelimits
  src/rest/RESTManager.js
  src/rest/handlers/RequestHandler.js
Labels: semver: patch, t: ratelimits, type: bugfix

#2585 feat(ShardingManager): add execArgv option
  src/sharding/Shard.js
  src/sharding/ShardingManager.js
Labels: semver: major, t: sharding, type: enhancement

#2619 Change ytdl example
  src/client/voice/util/PlayInterface.js
Labels: meta: documentation, semver: N/A, t: voice, type: enhancement

#2631 Fix #2630
  src/errors/Messages.js
Labels: semver: patch, t: error handling, type: bug
