Repository discordjs/discord.js, pull requests merged in 2018-11, with the labels that each got.

#2930 docs: add missing docstring for Client#userUpdate
  src/client/actions/UserUpdate.js
Labels: meta: documentation, semver: patch, t: caching, type: bugfix

#2932 fixes 2931 (GuildChannel#clone not taking overwrites into account)
  src/structures/GuildChannel.js
Labels: semver: patch, t: REST, t: utility, type: bugfix

#2953 feat(Constants): Add error code 50020
  src/util/Constants.js
Labels: reason: API support, semver: minor, t: error handling

#2956 [Fix] Fix ShardClientUtil#count using wrong shardCount
  src/sharding/ShardClientUtil.js
Labels: t: sharding, type: bugfix

#2933 chore: Remove User account from Bug Report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: meta: cleanup, meta: tooling, semver: N/A

#2937 feat(GuildChannel): allow to set all options when cloning
  src/structures/GuildChannel.js
  typings/index.d.ts
Labels: semver: major, t: REST, t: utility, type: enhancement

#2952 fix: Sharding Fix / Cleanup
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/sharding/ShardingManager.js
  src/structures/ClientPresence.js
  src/structures/Guild.js
  typings/index.d.ts
Labels: semver: major, t: sharding, type: bugfix

#2967 Docs add channel create
  src/client/actions/ChannelCreate.js
Labels: meta: cleanup, meta: documentation, semver: N/A

#2958 Add explicit channel resolve error to member edit
  src/errors/Messages.js
  src/structures/GuildMember.js
Labels: semver: patch, t: error handling, type: bugfix

#2936 fix(Util): throw an explicit error if a chunk exceeds the max length
  src/errors/Messages.js
  src/util/Util.js
Labels: semver: patch, t: utility, type: bugfix
