Repository discordjs/discord.js, pull requests merged in 2018-08, with the labels that each got.

#2395 Add functionality to support multiple servers with different shards
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/sharding/Shard.js
  src/sharding/ShardingManager.js
  src/util/Constants.js
Labels: semver: minor, t: sharding, t: utility

#2704 Small typo in documentation of Message.js
  src/structures/Message.js
Labels: meta: documentation, semver: N/A, type: typo

#2714 docschange for GuildChannel#replacePermissionOverwrites
  src/structures/Guild.js
  src/structures/GuildChannel.js
Labels: meta: documentation, semver: N/A, type: enhancement

#2577 Collection debug methods, remove deleteAll
  src/util/Collection.js
Labels: meta: refactor, semver: major, t: utility

#2703 refactor: move Message#cleanContent function to Util
  src/structures/Message.js
  src/util/Util.js
Labels: meta: refactor, semver: minor, t: utility, type: enhancement

#2718 Docs small changes regarding permissions/overwrites
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
Labels: meta: documentation, semver: N/A, type: enhancement

#2723 fix: use null for getter instead undefined
  src/structures/GuildMember.js
Labels: semver: patch, t: caching, type: bugfix

#2719 add Collection as possible param to GuildChannel#overwritePermissions + wording port from 11.3-dev
  src/structures/GuildChannel.js
Labels: meta: documentation, semver: N/A, type: enhancement

#2715 fix(Collection): use Symbol.species for creating derived collections
  src/stores/DataStore.js
  src/util/Collection.js
Labels: semver: patch, t: utility, type: bugfix

#2640 docs fix: RoleResolvable typedef missing and incorrecty documented methods
  src/stores/RoleStore.js
Labels: meta: documentation, semver: N/A, type: bugfix

#2720 Fixed splitting messages with codeblocks and replies
  src/structures/shared/CreateMessage.js
Labels: semver: patch, t: utility, type: bugfix

#2737 Fix(VoiceChannel): members returning collection of undefined.
  src/structures/VoiceChannel.js
Labels: semver: patch, t: voice, type: bugfix

#2739 Consistency with Getters.
  src/structures/VoiceState.js
Labels: meta: code style, semver: patch

#2734 Docs: document ChannelData.parent and .permissionOverwrites, fix typedefs to not include Collection of ChannelCreationOverwrite
  src/structures/Guild.js
  src/structures/GuildChannel.js
Labels: meta: documentation, semver: N/A, type: bugfix

#2747 docs: Important typo fix /s
  src/structures/User.js
Labels: meta: documentation, semver: N/A

#2748 fix: intervals and timeouts being overwritten
  src/client/Client.js
Labels: semver: patch, t: utility, type: bugfix

#2742 fix(GuildAuditLogs): default target to object with target_id
  src/structures/GuildAuditLogs.js
Labels: semver: patch, t: REST, type: bugfix

#2744 fix: Handle async stacks correctly
  src/rest/APIRouter.js
Labels: semver: patch, t: REST, type: enhancement

#2756 Fix permission checking for Administrator channel overwrites
  src/structures/GuildChannel.js
  src/structures/Message.js
  src/structures/VoiceChannel.js
Labels: semver: patch, t: caching, type: bugfix

#2758 src: Delete UserConnection structure
  src/index.js
  src/structures/UserConnection.js
Labels: meta: cleanup, semver: major, t: user accounts

#2763 Gateway: Fix guildBanAdd not emitting with uncached user
  src/client/websocket/packets/handlers/GuildBanAdd.js
Labels: semver: minor, t: gateway, type: bugfix

#2761 misc: Remove left-over selfbot stuff
  src/util/Constants.js
Labels: meta: cleanup, semver: major, t: user accounts

#2759 cleanup: Remove VoiceRegion#sampleHostname
  src/structures/VoiceRegion.js
Labels: meta: cleanup, reason: API changes, semver: major, t: REST

#2732 Add guild.fetchVanityURL()
  src/errors/Messages.js
  src/structures/Guild.js
Labels: reason: API support, semver: minor, t: REST

#2770 update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta: tooling, semver: N/A, type: enhancement

#2773 perf: Remove double iteration
  src/structures/User.js
Labels: meta: refactor, semver: patch, t: utility

#2768 backport: Handle async stacks correctly
  src/client/rest/RESTManager.js
Labels: meta: backport, semver: patch, t: error handling, type: enhancement

#2762 src: Handle WEBHOOK_UPDATE events
  src/client/websocket/packets/WebSocketPacketManager.js
  src/client/websocket/packets/handlers/WebhooksUpdate.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: gateway

#2766 feat: Guild embed support
  src/structures/Guild.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#2775 misc: Add `UNKNOWN_WEBHOOK` error code
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: error handling

#2765 BitField Refactor (Permissions, ActivityFlags, VoiceConnection#speaking)
  src/client/Client.js
  src/client/voice/VoiceConnection.js
  src/client/voice/dispatcher/StreamDispatcher.js
  src/errors/Messages.js
  src/index.js
  src/stores/GuildChannelStore.js
  src/structures/GuildChannel.js
  src/structures/GuildMember.js
  src/structures/PermissionOverwrites.js
  src/structures/Presence.js
  src/structures/Role.js
  src/structures/shared/resolvePermissions.js
  src/util/ActivityFlags.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/Permissions.js
  src/util/Speaking.js
  typings/index.d.ts
Labels: semver: major, t: utility, type: enhancement

#2767 misc: Update ClientApplication for the current API
  src/structures/ClientApplication.js
  typings/index.d.ts
Labels: reason: API changes, semver: major, t: REST

#2780 backport: User#dmChannel perf enhancement
  src/structures/User.js
Labels: meta: backport, meta: refactor, semver: patch, t: caching, t: utility

#2694 refactor: clean up rate limit handling
  src/rest/HTTPError.js
  src/rest/RESTManager.js
  src/rest/RequestHandler.js
  src/rest/handlers/RequestHandler.js
  src/rest/handlers/burst.js
  src/rest/handlers/index.js
  src/rest/handlers/sequential.js
  src/util/Constants.js
Labels: meta: refactor, semver: major, t: ratelimits, type: bugfix

#2760 feat: Guild Integrations
  src/client/websocket/packets/WebSocketPacketManager.js
  src/client/websocket/packets/handlers/GuildIntegrationsUpdate.js
  src/index.js
  src/structures/Guild.js
  src/structures/Integration.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#2738 Docs: merge PermissionOverwriteOptions and OverwriteData
  src/stores/GuildChannelStore.js
  src/structures/GuildChannel.js
Labels: meta: documentation, semver: N/A

#2781 build(peer-deps): use uws fork
  README.md
  docs/general/welcome.md
  package.json
  src/WebSocket.js
Labels: meta: dependencies, semver: N/A, type: discussion, type: enhancement

#2791 typo(Emoji): Fixed typo in Emoji#deletable
  src/structures/Emoji.js
Labels: meta: documentation, semver: patch, type: typo

#2779 backport: `WEBHOOKS_UPDATE` event
  src/client/websocket/packets/WebSocketPacketManager.js
  src/client/websocket/packets/handlers/WebhooksUpdate.js
  src/util/Constants.js
Labels: meta: backport, reason: API support, semver: minor, t: gateway

#2792 misc(Guild,GuildMember): Update deprecations for latest master
  src/structures/Guild.js
  src/structures/GuildMember.js
Labels: semver: N/A, t: utility, type: enhancement

#2787 private_channels always returns an empty array on ready
  src/client/websocket/packets/handlers/Ready.js
Labels: meta: cleanup, reason: API changes, semver: patch, t: caching, t: gateway

#2794 backport: `GUILD_INTEGRATIONS_UPDATE` event
  src/client/websocket/packets/WebSocketPacketManager.js
  src/client/websocket/packets/handlers/GuildIntegrationsUpdate.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: gateway, type: enhancement

#2778 backport: Guild#{fetchEmbed,setEmbed}
  src/client/rest/RESTMethods.js
  src/structures/Guild.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST

#2795 fix: reactions ratelimits
  src/rest/APIRouter.js
  src/rest/RequestHandler.js
Labels: semver: patch, t: ratelimits, type: bugfix

#2801 fix: Better global ratelimit management
  src/rest/RESTManager.js
  src/rest/RequestHandler.js
Labels: semver: patch, t: ratelimits, type: bugfix

#2804 docs: Added `url` to Invite's warning comment
  src/structures/Invite.js
Labels: meta: documentation, semver: N/A, type: bugfix

#2806 remove remaining apiRequestMethod property docs and typings
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: cleanup, semver: major, t: REST

#2793 fix(Guild#deleteEmoji): Performing wrong checks
  src/structures/Guild.js
Labels: semver: patch, t: error handling, type: bugfix

#2807 cleanup(Invite): Removed non-existant fields and fixed bad defaulting
  src/structures/Invite.js
  typings/index.d.ts
Labels: meta: cleanup, reason: API changes, semver: major, t: REST, t: utility

#2812 docs: correct Guild#memberCount
  src/structures/Guild.js
Labels: meta: documentation, semver: N/A

#2782 build(peer-deps): use uws fork backport
  README.md
  docs/general/welcome.md
  package.json
  src/client/voice/VoiceWebSocket.js
  src/client/websocket/WebSocketConnection.js
Labels: meta: backport, meta: dependencies, semver: N/A, type: discussion, type: enhancement
