Repository discordjs/discord.js, pull requests merged in 2019-12, with the labels that each got.

#3353 feat: support for CUSTOM_STATUS activity type
  src/structures/Presence.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: gateway

#3520 Handle voice errors outside of authenticated event
  src/client/voice/ClientVoiceManager.js
Labels: semver: patch, t: error handling, t: voice, type: bugfix

#3578 Start/Stop speaking events on UDP packets
  README.md
  src/client/voice/VoiceConnection.js
  src/client/voice/networking/VoiceWebSocket.js
  src/client/voice/receiver/PacketHandler.js
Labels: t: voice

#3617 Docs: ReactionStore.resolveID should take Reaction, not role
  src/stores/ReactionStore.js
Labels: meta: documentation, semver: N/A, t: utility, type: typo

#3625 feat(Webhook): addition of Webhook#avatarURL function
  src/structures/Webhook.js
  typings/index.d.ts
Labels: semver: minor, t: utility

#3603 feat: add new MessageFlags.FLAGS & User#system
  src/structures/User.js
  src/util/MessageFlags.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility

#3599 Fix(typings): Use IterableIterator instead of Iterator
  typings/index.d.ts
Labels: t: typings

#3393 src: Sharding cleanup and checkReady rewrite
  .eslintrc.json
  README.md
  docs/general/welcome.md
  package.json
  src/WebSocket.js
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/client/websocket/handlers/GUILD_BAN_ADD.js
  src/client/websocket/handlers/GUILD_CREATE.js
  src/client/websocket/handlers/READY.js
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: cleanup, meta: dependencies, meta: documentation, semver: major, t: caching, t: gateway, t: sharding, type: bugfix

#3581 typings(Extendable): add missing channels
  typings/index.d.ts
Labels: semver: patch, t: typings

#3635 Remove acknowledge method from TextChannel & DMChannel
  src/structures/DMChannel.js
  src/structures/TextChannel.js
Labels: meta: cleanup, semver: major, t: user accounts

#3628 TextChannel.topic & NewsChannel.topic should be optional
  typings/index.d.ts
Labels: t: typings, type: bugfix

#3559 Add systemChannelFlags bitfield to Guild
  src/index.js
  src/structures/Guild.js
  src/util/SystemChannelFlags.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility, type: enhancement

#3512 feat: Widen GuildResolvable to include more structures
  src/stores/GuildStore.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#3579 typings(Bitfield): add hasParams to toArray, fix serialize's type
  typings/index.d.ts
Labels: semver: patch, t: typings, type: bugfix

#3585 feat(Webhook): add type property and created* getters
  src/structures/Webhook.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility, type: enhancement

#3588 fix(Webhook): edit channel when editing avatar
  src/structures/Webhook.js
Labels: semver: patch, t: REST, type: bugfix

#3601 feat(MessageMentions): cache mentioned members
  src/structures/MessageMentions.js
Labels: semver: minor, t: caching, type: enhancement
