Repository discordjs/discord.js, pull requests merged in 2019-11, with the labels that each got.

#3511 chore: mark optional peerDependencies as optional
  package.json
Labels: meta: dependencies

#3504 fix(*Collector): account for a max listener count of 0
  src/structures/MessageCollector.js
  src/structures/ReactionCollector.js
Labels: semver: patch, t: utility, type: bugfix

#3539 docs(readme): table of contents
  README.md
Labels: meta: documentation, type: enhancement

#3561 feat(MessageAttachment): add spoiler property
  src/structures/MessageAttachment.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#3569 travis badge => github actions badge
  README.md
Labels: meta: documentation, semver: N/A

#3566 Fixed the Update Guide Link
  docs/general/welcome.md
Labels: meta: documentation, semver: N/A

#3580 docs(Client): clarify whose ToS are being violated
  src/client/Client.js
Labels: meta: documentation, semver: N/A, t: user accounts

#3584 Additional AuditLog Events
  src/structures/GuildAuditLogs.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#3582 Fix(Invite): Fix valueOf returning undefined
  src/structures/Invite.js
  typings/index.d.ts
Labels: semver: patch, t: utility, type: bugfix

#3586 typings(GuildAuditLogsFetchOptions): fix options.type typing
  typings/index.d.ts
Labels: t: typings

#3589 Fix(Node): use proper symbol for util.inspect
  src/rest/APIRouter.js
Labels: semver: patch, t: utility

#3594 Added Store and NewsChannel to exports
  src/index.js
Labels: semver: minor, t: utility, type: enhancement
