Repository discordjs/discord.js, pull requests merged in 2019-10, with the labels that each got.

#3491 fix(BitField): throw when resolving invalid string constant
  src/util/BitField.js
Labels: semver: patch, t: utility, type: bugfix

#3497 backport(#3496): Default channel type incorrectly set
  src/client/rest/RESTMethods.js
Labels: meta: backport, semver: patch, t: REST, type: bugfix

#3388 src: New Message Fields Support
  src/index.js
  src/structures/Message.js
  src/structures/MessageMentions.js
  src/util/Constants.js
  src/util/MessageFlags.js
  typings/index.d.ts
Labels: reason: API changes, semver: minor, t: utility

#3508 typings: GuildChannel#parentID is nullable
  typings/index.d.ts
Labels: t: typings

#3509 typings: GuildChannel#parent and #parentID are nullable
  typings/index.d.ts
Labels: t: typings

#3516 typings: mark GuildMember#nickname as nullable
  typings/index.d.ts
Labels: t: typings

#3517 backport(typings): mark GuildMember#nickname as nullable
  typings/index.d.ts
Labels: meta: backport, t: typings

#3505 typings: optional reason for setNSFW and add deleted properties
  typings/index.d.ts
Labels: t: typings

#3506 Make arraysEqual avoid mutating the input arrays
  src/util/Util.js
Labels: semver: patch, t: REST, type: bugfix

#3507 backport GuildChannel#permissionsLocked
  src/structures/GuildChannel.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: utility, type: enhancement

#3519 Consider messages deleted if their channel is deleted
  src/client/actions/ChannelDelete.js
Labels: semver: patch, t: caching, type: bugfix

#3521 feat: add VoiceState#streaming
  src/structures/VoiceState.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: caching

#3493 at(typings): partial Types
  typings/index.d.ts
Labels: t: typings

#3510 fix(docslink): partialtypes
  docs/topics/partials.md
Labels: meta: documentation

#3542 Fix typings for Emoji class on master
  typings/index.d.ts
Labels: t: typings

#3537 docs: VoiceStateUpdate always sends an instance of VoiceState
  src/client/actions/VoiceStateUpdate.js
  typings/index.d.ts
Labels: meta: documentation, t: typings

#3535 fix(Message): check for edited_timestamp in data when patching message
  src/structures/Message.js
Labels: semver: patch, t: caching, type: bugfix

#3543 Typings: restore deletable on GuildEmoji
  typings/index.d.ts
Labels: t: typings

#3549 fix: document ChannelData#reason
  src/structures/GuildChannel.js
  typings/index.d.ts
Labels: meta: documentation, semver: minor, t: REST, t: typings

#3499 fix(VoiceReceiver): delete opus encoder from map in stoppedSpeaking
  src/client/voice/receiver/VoiceReceiver.js
Labels: semver: patch, t: voice, type: bugfix

#3500 docs(VoiceStatus): document name -> value, link in VoiceConnection#status
  src/client/voice/VoiceConnection.js
  src/util/Constants.js
Labels: meta: documentation, semver: N/A, t: voice

#3502 feat(GuildMember): filter out duplicate roles when updating
  src/client/rest/RESTMethods.js
Labels: semver: patch, t: REST, type: bugfix

#3522 feat(GuildMember): add selfStream
  src/client/websocket/packets/handlers/VoiceStateUpdate.js
  src/structures/Guild.js
  src/structures/GuildMember.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: caching

#3553 Fix(VoiceConnection): clear the timeouts properly
  src/client/voice/VoiceConnection.js
Labels: semver: patch, t: voice, type: bugfix

#3555 Fix broken opus voice streams
  src/client/voice/receiver/PacketHandler.js
Labels: t: voice, type: bugfix
