Repository discordjs/discord.js, pull requests merged in 2019-06, with the labels that each got.

#3315 fix(docs): backport documentation for Presence
  src/structures/Presence.js
Labels: meta: backport, meta: documentation, semver: N/A, t: caching

#3316 feat: add support for premium guilds
  src/structures/Guild.js
  src/structures/GuildEmoji.js
  src/structures/GuildMember.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: caching

#3325 Add missing GUILD_EMOJIS_UPDATE in docs
  src/util/Constants.js
Labels: meta: documentation, semver: N/A

#3326 Add CategoryChannel To `channels.create`
  typings/index.d.ts
Labels: t: typings

#3317 Add setRolePositions function
  src/structures/Guild.js
Labels: reason: API support, t: REST, type: enhancement

#3336 Added missing features
  src/structures/Guild.js
Labels: meta: documentation, reason: API support, semver: N/A

#3333 fix(Guild): allow fetchMember to be used with an uncached user
  src/client/rest/RESTMethods.js
  src/structures/Guild.js
Labels: semver: patch, t: REST, type: bugfix

#3338 feat(Guild): default iconURL to gif if animated
  src/util/Constants.js
Labels: reason: API support, semver: major, t: utility

#3337 feat(Guild): backport misc properties and setRolePositions
  src/client/rest/RESTMethods.js
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST, t: caching

#3332 feat(Guild): backport support for premium/boosting
  src/structures/Emoji.js
  src/structures/Guild.js
  src/structures/GuildMember.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: caching

#3343 feat(Emoji): add delete method
  src/client/rest/RESTMethods.js
  src/structures/Emoji.js
  src/structures/Guild.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: REST, t: utility

#3349 Update RoleStore.js
  src/stores/RoleStore.js
Labels: meta: documentation, semver: N/A, t: REST

#3350 feature: teams support
  src/index.js
  src/structures/ClientApplication.js
  src/structures/Team.js
  src/structures/TeamMember.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: major, t: REST
