Repository discordjs/discord.js, pull requests merged in 2019-05, with the labels that each got.

#3168 src: Add News and Store channels, and missing guild props
  src/client/actions/ChannelUpdate.js
  src/client/websocket/handlers/CHANNEL_UPDATE.js
  src/structures/Channel.js
  src/structures/Guild.js
  src/structures/NewsChannel.js
  src/structures/StoreChannel.js
  src/structures/TextChannel.js
  src/util/Constants.js
  src/util/Structures.js
  typings/index.d.ts
Labels: reason: API changes, reason: API support, semver: minor, t: caching

#3243 Feat(VoiceState): self mute/deaf methods
  src/client/voice/VoiceConnection.js
  src/errors/Messages.js
  src/structures/VoiceState.js
  typings/index.d.ts
Labels: semver: minor, t: voice, type: enhancement

#3240 feat(Actions): use partials for MessageDeleteBulk
  src/client/actions/Action.js
  src/client/actions/MessageDeleteBulk.js
Labels: semver: minor, t: caching, t: gateway, type: enhancement

#3242 Add ability to kick members from VoiceChannels and remove duplicated methods
  src/structures/GuildMember.js
  src/structures/VoiceState.js
  typings/index.d.ts
Labels: semver: major, t: voice, type: enhancement

#3246 feat(GuildMember): add support for voice kicking
  src/client/rest/RESTMethods.js
  src/structures/GuildMember.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST

#3251 Disambiguate the description of <client>.channels
  src/client/Client.js
Labels: meta: documentation, semver: N/A, t: caching

#3223 zstd
  README.md
  package.json
  src/client/websocket/WebSocketShard.js
Labels: reason: API support, t: gateway

#3250 fix(Partials): Client#event:messageUpdate(oldMessage) and MessageReactionAdd on guild channels
  src/client/actions/Action.js
  src/client/actions/MessageReactionAdd.js
  src/client/actions/MessageReactionRemove.js
Labels: semver: patch, t: caching, type: bugfix

#3272 Specify setRateLimitPerUser number is in seconds
  src/structures/GuildChannel.js
  src/structures/TextChannel.js
Labels: meta: documentation, semver: N/A

#3273 Fix incorrect docs in Guild.js
  src/structures/Guild.js
Labels: meta: documentation, semver: N/A, t: REST

#3279 fix(Message#pinnable): you can't pin system messages
  src/structures/Message.js
Labels: semver: patch, t: utility, type: bugfix

#3284 typings(Collection): Use T in accumulator and initialValue
  typings/index.d.ts
Labels: meta: backport, t: typings

#3295 Specify pausedTime is in milliseconds
  src/client/voice/dispatcher/StreamDispatcher.js
Labels: meta: documentation, semver: N/A, t: voice

#3271 feat: add custom error message for uncached Guild#me
  src/errors/Messages.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildEmoji.js
  src/structures/GuildMember.js
  src/structures/Invite.js
Labels: semver: patch, t: error handling, t: utility, type: bugfix

#3292 fix: add connection to voice state typings
  typings/index.d.ts
Labels: t: typings

#3301 fix websocket unpacking
  src/WebSocket.js
  src/client/websocket/WebSocketShard.js
Labels: semver: patch, t: gateway, type: bugfix

#3307 chore: explicitly mark everything deprecated as `@deprecated`
  src/client/Client.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/Message.js
  src/structures/OAuth2Application.js
  src/structures/PermissionOverwrites.js
  src/structures/User.js
  src/structures/interfaces/TextBasedChannel.js
Labels: meta: cleanup, meta: documentation, semver: patch, t: user accounts

#3309 Add Stream permission
  src/util/Permissions.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility

#3312 Removes the trace packet
  src/client/websocket/WebSocketShard.js
  typings/index.d.ts
Labels: reason: API changes, semver: major, t: gateway

#3313 Remove duplicate VOICE_STATE_UPDATE
  src/util/Constants.js
Labels: meta: cleanup, semver: patch, t: utility
