Repository discordjs/discord.js, pull requests merged in 2019-03, with the labels that each got.

#3126 src: Fix missing defaultRole property under Guild in typings.
  typings/index.d.ts
Labels: t: typings

#3124 src: Add missing events in constants
  src/util/Constants.js
  typings/index.d.ts
Labels: t: typings, t: utility

#3132 fix doc for ratelimit data, fixes #3131
  src/client/rest/RequestHandlers/Sequential.js
  typings/index.d.ts
Labels: meta: documentation, semver: N/A

#3129 Message#edit shouldn't remove content
  src/structures/APIMessage.js
  src/structures/Message.js
  typings/index.d.ts
Labels: semver: patch, t: REST, type: bugfix

#3142 Removed code and documentation for Guild.fetchAuditLogs "after" option
  src/structures/Guild.js
  typings/index.d.ts
Labels: meta: cleanup, reason: API changes, t: REST

#3125 fix: messageReactionRemove not emitting for partial messages
  src/client/actions/Action.js
  src/client/actions/MessageReactionAdd.js
  src/client/actions/MessageReactionRemove.js
  src/client/websocket/handlers/MESSAGE_REACTION_ADD.js
Labels: semver: patch, t: caching, type: bugfix

#3154 Adding cache param to MessageStore#fetchPinned()
  src/stores/MessageStore.js
  typings/index.d.ts
Labels: semver: minor, t: caching, type: enhancement
