Repository discordjs/discord.js, pull requests merged in 2019-09, with the labels that each got.

#3456 Fix Util#splitMessage when destructured
  src/util/Util.js
Labels: semver: patch, t: utility, type: bugfix

#3450 feat(Permissions): Add new method Permissions#any
  src/util/BitField.js
  src/util/Permissions.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#3467 typings(GuildChannel): add members getter
  typings/index.d.ts
Labels: t: typings

#3466 fix(Role): throw TypeError in comparePositionTo
  src/structures/Role.js
Labels: semver: patch, t: utility, type: bugfix

#3444 feat: Guild#partnered
  src/structures/Guild.js
  typings/index.d.ts
Labels: semver: minor, t: utility

#3261 feat(Partials): add DMChannel/MessageReaction#fetch() and PartialTypes.REACTION
  docs/topics/partials.md
  src/client/actions/Action.js
  src/client/actions/MessageReactionAdd.js
  src/stores/ReactionStore.js
  src/structures/DMChannel.js
  src/structures/MessageReaction.js
  src/structures/User.js
  src/util/Constants.js
  typings/index.d.ts
Labels: semver: minor, t: caching, type: enhancement

#3369 feat(constants): add verificationLevels
  src/util/Constants.js
Labels: semver: minor, t: utility

#3302 github: add support file and redirect to it
  .github/ISSUE_TEMPLATE/question---general-support-request.md
  .github/SUPPORT.md
Labels: semver: N/A

#3439 fix(rate-limits): reactions buckets need to be shared with sub-routes
  src/rest/APIRouter.js
Labels: semver: patch, t: REST, type: bugfix

#2934 feat: external collection package
  package.json
  src/util/Collection.js
  src/util/Util.js
  typings/index.d.ts
Labels: meta: dependencies, t: utility

#3472 fix: typings for this-polymorphism of collections
  typings/index.d.ts
Labels: meta: dependencies, t: typings

#3469 typings: make TypeScript interaction with channels better
  typings/index.d.ts
Labels: t: typings
