Repository discordjs/discord.js, pull requests merged in 2020-01, with the labels that each got.

#3657 Add ShardingManager#options.shardList to typings
  typings/index.d.ts
Labels: t: typings

#3656 typings(GuildEmoji): make url not-nullable
  typings/index.d.ts
Labels: semver: patch, t: typings, t: utility

#3655 Add Twitch preview link for largeImageURL
  src/structures/Presence.js
Labels: reason: API support, semver: patch, t: utility

#3651 Fix: stats can't be falsy
  src/util/DataResolver.js
Labels: meta: cleanup, semver: patch, t: utility

#3597 fix(Voice*): internally disconnect and cleanup when forcibly disconne…
  src/client/voice/ClientVoiceManager.js
  src/client/voice/VoiceConnection.js
  src/client/websocket/packets/handlers/VoiceStateUpdate.js
Labels: meta: backport, semver: patch, t: voice, type: bugfix

#3571 feat(Permissions): add any method
  src/util/Permissions.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: utility, type: enhancement

#3572 fix(ChannelDelete): mark messages of a deleted channel as deleted
  src/client/actions/ChannelDelete.js
Labels: meta: backport, semver: patch, t: caching, type: bugfix

#3587 feat(Webhook): add ability to change channel and specify reason to edit
  src/client/rest/RESTMethods.js
  src/structures/Webhook.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST

#3667 Remove delay parameter from setImmediate typings
  typings/index.d.ts
Labels: t: typings

#3676 fix(typings): Remove VoiceChannel#connection
  typings/index.d.ts
Labels: meta: cleanup, t: typings, t: voice

#3648 src: Add deprecation warning related to uws
  src/client/websocket/WebSocketConnection.js
Labels: meta: backport, meta: dependencies, semver: patch, t: gateway

#3680 feat(Speaking): add PRIORITY_SPEAKING bit
  src/util/Speaking.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility, t: voice

#3683 Backport documentation fixes
  src/client/Client.js
  src/structures/Presence.js
Labels: meta: backport, semver: minor, t: utility

#3650 fix(BitField): remove for..in in favor of Object.entries
  src/util/BitField.js
Labels: semver: patch, t: utility, type: bugfix

#3649 fix(ShardingManager): assert shardList to be spawned, not totalShards
  src/sharding/ShardingManager.js
Labels: semver: patch, t: sharding, t: utility, type: bugfix

#3530 feat: dynamic property for ImageURLOptions
  src/structures/Guild.js
  src/structures/User.js
  src/util/Constants.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#3679 src: Remove `_trace` from different places in the WS
  src/client/websocket/packets/handlers/Ready.js
  src/client/websocket/packets/handlers/Resumed.js
Labels: meta: cleanup, reason: API changes, semver: patch, t: gateway

#3681 src: Cleanup event listeners on WebSocket connections
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  typings/index.d.ts
Labels: semver: patch, t: gateway, type: bugfix

#3688 Backport additional VerificationLevel and APIError Constants
  src/util/Constants.js
Labels: meta: backport, reason: API support, semver: minor, t: REST, t: utility

#3661 feat(Presence): add support for multiple activities
  src/structures/Presence.js
  typings/index.d.ts
Labels: reason: API changes, semver: major, t: caching

#3693 docs(MessageMentions): add sort order notice
  src/structures/MessageMentions.js
Labels: meta: documentation, semver: N/A, t: utility

#3697 chore: ffmpeg package in the voice doc
  docs/topics/voice.md
Labels: meta: dependencies, meta: documentation, t: voice

#3699 feat/fix: use updated eslint action
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Labels: meta: tests, meta: tooling, type: bugfix

#3698 docs: replace all occurances of node-opus with @discordjs/opus
  .github/CONTRIBUTING.md
  README.md
  docs/general/faq.md
  docs/general/welcome.md
  docs/topics/voice.md
  package.json
Labels: meta: dependencies, meta: documentation, t: voice

#3694 Fix: GuildEmoji#id isn't nullable
  src/structures/GuildEmoji.js
  typings/index.d.ts
Labels: semver: patch, t: typings

#3632 feat(Collectors): make Collectors auto-stop when relevant structures are deleted
  src/structures/MessageCollector.js
  src/structures/ReactionCollector.js
  typings/index.d.ts
Labels: semver: major, t: utility

#3684 Implement caching of members from message data
  src/structures/Message.js
  src/structures/MessageMentions.js
Labels: meta: backport, reason: API support, semver: minor, t: caching

#3703 fix(Presence): account for multiple activities everywhere
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  src/structures/Presence.js
Labels: semver: patch, t: gateway, type: bugfix

#3705 docs(MessageMentions): channels are actually in order
  src/structures/MessageMentions.js
Labels: meta: documentation, semver: N/A, t: utility

#3708 feat(Guild): add setBanner method and banner to edit
  src/structures/Guild.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST

#3709 fix(VoiceConnection): use Client#clearTimeout to clear timeouts
  src/client/voice/VoiceConnection.js
Labels: meta: backport, semver: patch, t: voice, type: bugfix

#3712 backport(MessageMentions): mention order notice
  src/structures/MessageMentions.js
Labels: meta: backport, meta: documentation, semver: N/A, t: utility

#3727 fix typings for RichPresenceAssets#largeImageURL (and smallImageURL)
  typings/index.d.ts
Labels: t: typings, type: bugfix

#3719 fix(ClientDataResolver): return a user in resolveUser when passing guild
  src/client/ClientDataResolver.js
Labels: semver: patch, t: utility, type: bugfix

#3726 Add `Guild#fetchBan`
  src/errors/Messages.js
  src/structures/Guild.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#3687 TextChannel.topic can be null, backport NewsChannel typings
  typings/index.d.ts
Labels: meta: backport, semver: patch, t: typings

#3728 feat(Invites): backport INVITE_CREATE and INVITE_DELETE to 11.5-dev
  src/client/actions/ActionsManager.js
  src/client/actions/InviteCreate.js
  src/client/actions/InviteDelete.js
  src/client/websocket/packets/WebSocketPacketManager.js
  src/client/websocket/packets/handlers/InviteCreate.js
  src/client/websocket/packets/handlers/InviteDelete.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: gateway

#3720 feat(Invites): add support for INVITE_CREATE and INVITE_DELETE.
  src/client/actions/ActionsManager.js
  src/client/actions/InviteCreate.js
  src/client/actions/InviteDelete.js
  src/client/websocket/handlers/INVITE_CREATE.js
  src/client/websocket/handlers/INVITE_DELETE.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: gateway

#3716 fix: only setMaxListeners when max listeners is not 0
  src/client/websocket/packets/handlers/Ready.js
  src/structures/MessageCollector.js
  src/structures/ReactionCollector.js
Labels: meta: backport, semver: patch, t: utility

#3715 fix(RichPresenceAssets): add Twitch preview link for largeImageURL
  src/structures/Presence.js
Labels: meta: backport, reason: API support, semver: patch, t: utility

#3713 feat(MessageAttachment): add spoiler getter
  src/structures/MessageAttachment.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: utility

#3711 feat(MessageReaction): backport animated, client, created*, and url
  src/structures/MessageReaction.js
  src/structures/ReactionEmoji.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: utility

#3710 feat(Webhook): backport missing properties
  src/structures/Webhook.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST, t: utility

#3718 fix(*Collector): always run postCheck, remove 'translatation' of message collector options
  src/structures/MessageCollector.js
  src/structures/interfaces/Collector.js
Labels: semver: patch, t: utility, type: bugfix

#3740 cleanup: fix deepscan issues.
  src/client/voice/dispatcher/StreamDispatcher.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
  src/structures/Guild.js
  src/structures/MessageCollector.js
Labels: meta: refactor, semver: patch

#3645 fix(GuildMemberStore): make timeout refresh after every packet
  src/stores/GuildMemberStore.js
Labels: semver: patch, t: gateway, t: utility

#3733 fix(ClientUser) verified and enabled properties resetting
  src/structures/ClientUser.js
Labels: semver: patch, t: caching, type: bugfix

#3664 fix(TextChannel#bulkDelete): Use GenericAction#getMessage to handle return value correctly
  src/structures/interfaces/TextBasedChannel.js
Labels: semver: patch, t: REST, type: bugfix

#3741 feat(MessageReactionRemoveEmoji): Backport ability to remove MessageReaction Emoji and associated event
  src/client/actions/ActionsManager.js
  src/client/actions/MessageReactionRemoveEmoji.js
  src/client/rest/RESTMethods.js
  src/client/websocket/packets/WebSocketPacketManager.js
  src/client/websocket/packets/handlers/MessageReactionRemoveEmoji.js
  src/structures/Message.js
  src/structures/MessageReaction.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST, t: caching

#3723 Add support for MessageReaction#remove and MESSAGE_REACTION_REMOVE_EMOJI
  src/client/actions/Action.js
  src/client/actions/ActionsManager.js
  src/client/actions/MessageReactionRemoveEmoji.js
  src/client/websocket/handlers/MESSAGE_REACTION_REMOVE_EMOJI.js
  src/structures/MessageReaction.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST, t: gateway

#3752 docs(Guild): fetchBan returns a promise
  src/structures/Guild.js
Labels: meta: documentation, semver: patch

#3751 chore(README): update link to Discord.js guide v12 changes
  README.md
Labels: meta: documentation, semver: patch

#3745 fix: remove for..in in favor of Object.keys
  src/client/rest/RESTMethods.js
  src/client/voice/util/SecretKey.js
  src/client/websocket/packets/handlers/Ready.js
  src/structures/GuildChannel.js
  src/util/Permissions.js
Labels: semver: patch, t: utility, type: bugfix

#3749 fix(Voice*): fix speaking event and voice receive
  src/client/voice/VoiceConnection.js
  src/client/voice/VoiceWebSocket.js
  src/client/voice/receiver/VoiceReceiver.js
  src/client/voice/util/Silence.js
  src/client/voice/util/SingleSilence.js
  typings/index.d.ts
Labels: meta: backport, semver: patch, t: voice, type: bugfix
