Repository discordjs/discord.js, pull requests merged in 2020-10, with the labels that each got.

#4875 fix(GuildChannel): make setTopic argument nullable
  src/structures/GuildChannel.js
  typings/index.d.ts
Labels: meta: documentation, t: REST, t: typings

#4854 types(GuildPreview): Make description nullable
  typings/index.d.ts
Labels: t: typings

#4843 types(Activity): move flags from Presence to Activity
  typings/index.d.ts
Labels: semver: patch, t: typings, type: bugfix

#4842 types(TextBasedChannel): make lastPinAt nullable
  typings/index.d.ts
Labels: semver: patch, t: typings, type: bugfix

#4867 feat(Message): add messageEditHistoryMaxSize to limit stored msg edits
  src/client/Client.js
  src/client/actions/MessageUpdate.js
  src/structures/Message.js
  src/util/Constants.js
  typings/index.d.ts
Labels: semver: minor, t: caching, type: enhancement

#4884 fix(GuildMemberManager): Use actually random nonce in fetch
  src/managers/GuildMemberManager.js
Labels: semver: patch, t: gateway, type: bugfix

#4881 fix(GuildChannel): Default `parentID` to `null`
  src/structures/GuildChannel.js
Labels: semver: patch, type: bugfix

#4877 ci: use npm ci instead of npm install
  .github/workflows/deploy.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Labels: semver: N/A, type: enhancement

#4838 fix(GuildMemberManager): options.roles on 'prune'
  src/managers/GuildMemberManager.js
Labels: semver: patch, t: REST, type: bugfix

#4863 fix(GuildEmojiCreate): Prevent double fire from emoji creation
  src/client/actions/GuildEmojiCreate.js
Labels: semver: patch, t: caching, type: bugfix

#4677 fix(GuildMember): properly check permissions for hasPermissions
  src/structures/GuildMember.js
Labels: semver: patch, type: bugfix

#4912 revert: "fix(GuildEmojiManager): check for guild in methods that use it"
  src/errors/Messages.js
  src/managers/GuildEmojiManager.js
  typings/index.d.ts
Labels: semver: patch

#4910 docs(PresenceData): add YouTube and remove application
  src/structures/ClientUser.js
Labels: meta: documentation, semver: N/A, t: gateway

#4911 fix(esm): add missing exports
  esm/discord.mjs
Labels: semver: patch, type: bugfix

#4845 refactor: improve the accuracy of docs/improve docs
  src/client/voice/VoiceConnection.js
  src/client/voice/dispatcher/StreamDispatcher.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/structures/Base.js
  src/structures/BaseGuildEmoji.js
  src/structures/Channel.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/GuildMember.js
  src/structures/GuildPreview.js
  src/structures/Integration.js
  src/structures/MessageEmbed.js
  src/structures/MessageReaction.js
  src/structures/Presence.js
  src/structures/User.js
  src/structures/VoiceChannel.js
  src/structures/VoiceState.js
  typings/index.d.ts
Labels: meta: documentation, meta: refactor, semver: patch

#4895 feat(Message): allow custom emoji format for react
  src/managers/GuildEmojiManager.js
Labels: semver: minor, t: REST, t: utility, type: enhancement

#4919 fix(GuildChannel): parentID shouldn't be set in the constructor
  src/structures/GuildChannel.js
Labels: semver: patch, t: caching, type: bugfix

#4922 fix(Action): attempt to get a User if GuildMember not returned
  src/client/actions/Action.js
Labels: semver: patch, t: gateway
