Repository discordjs/discord.js, pull requests merged in 2020-04, with the labels that each got.

#4013 Added `userID` property to `Presence` class
  typings/index.d.ts
Labels: t: typings

#4009 Add PUBLIC_DISABLED and WELCOME_SCREEN_ENABLED features
  src/structures/Guild.js
  typings/index.d.ts
Labels: meta: documentation, reason: API support, semver: minor, t: typings

#4016 fix(Message): update MessageMention's roles on message edit
  src/structures/Message.js
Labels: semver: patch, t: caching, type: bugfix

#4002 ci(Testing): add TypeScript test job
  .github/tsc.json
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
  .gitignore
  package.json
  tsconfig.json
  typings/index.ts
Labels: meta: tests, meta: tooling, t: typings

#4017 fix(APIRequest): group all reactions into the same route per channel
  src/client/rest/APIRequest.js
Labels: semver: patch, t: ratelimits, type: bugfix

#4069 Typings(BaseManager): remove non-existent method
  typings/index.d.ts
Labels: t: typings

#4066 chore(WebSocketShard): Log Discord requested reconnects
  src/client/websocket/WebSocketShard.js
Labels: semver: patch, t: gateway, type: enhancement

#4059 typings(StreamDispatcher): correct property types
  typings/index.d.ts
Labels: t: typings, t: voice

#4031 Add 4096 image size and jpeg format that discord supports
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility

#4071 feat(Message): add allowedMentions to MessageEditOptions
  src/structures/Message.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#4078 fix(ClientApplication): type fetchAssets as resolving with an array
  typings/index.d.ts
Labels: t: typings

#4080 fix(Typings): GuildPreview#features and Integration#type
  typings/index.d.ts
Labels: t: typings

#4060 feat: User#flags
  src/index.js
  src/structures/User.js
  src/util/UserFlags.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST, t: caching

#4070 fix(Guild): sort text, news, and store channels together
  src/structures/Guild.js
Labels: semver: patch, t: utility, type: bugfix

#4088 fix(PermissionOverwrites): resolveOverwriteOptions description
  src/structures/PermissionOverwrites.js
Labels: meta: documentation, t: utility

#4087 chore(Typings): stricter def for Client#emit
  typings/index.d.ts
Labels: t: typings

#4028 docs(ShardClientUtil): link Shard#message from send method
  src/sharding/ShardClientUtil.js
Labels: meta: documentation, semver: N/A, t: sharding

#4012 docs(MessageManager): document return type of delete
  src/managers/MessageManager.js
Labels: meta: documentation, semver: N/A, t: REST

#4077 docs(MessageEmbed): document the constructor
  src/structures/MessageEmbed.js
Labels: meta: documentation, semver: N/A, t: utility

#4081 feat(GuildMemberManager): customisable timeout for _fetchMany
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Labels: semver: minor, t: gateway, type: enhancement

#3962 docs(Webhook): id and token information
  docs/examples/webhook.js
Labels: meta: documentation, semver: N/A, t: REST, t: utility

#3998 feat(ESModules): importing for esm modules
  .gitignore
  esm/discord.mjs
  package.json
Labels: semver: minor, t: utility, type: enhancement

#3995 docs(RoleManager): everyone role can't be null
  src/managers/RoleManager.js
  typings/index.d.ts
Labels: meta: documentation

#4085 feat(ClientOptions): allow setting default allowedMentions
  src/structures/APIMessage.js
  src/util/Constants.js
  typings/index.d.ts
Labels: semver: minor, t: REST, t: utility

#4075 feat(DataResolver): prefer streams over buffers
  package.json
  src/rest/APIRequest.js
  src/util/DataResolver.js
  typings/index.d.ts
Labels: semver: patch, t: REST, t: utility

#4094 fix(User): jsdoc for User#flags
  src/structures/User.js
Labels: meta: documentation, semver: N/A

#4090 docs(Message): add timeout to Message#delete example
  src/structures/Message.js
Labels: meta: documentation, semver: N/A, t: REST

#4099 fix(Typings): add optional Set<Snowflake> to shardReady event
  typings/index.d.ts
Labels: t: typings

#4092 fix(PacketHandler): guild members chunk packet handler should…
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
Labels: semver: patch, t: caching, t: gateway, type: bugfix

#4104 fix(Guild): name acronym
  src/structures/Guild.js
Labels: semver: patch, t: utility, type: bugfix

#4102 fix(Webpack): add Buffer polyfill in browser
  webpack.config.js
Labels: meta: webpack, semver: patch, type: bugfix

#4109 Set speaking public
  src/client/voice/VoiceConnection.js
  typings/index.d.ts
Labels: semver: patch, t: voice

#4124 chore(tooling): include mention of commit convention
  .github/CONTRIBUTING.md
Labels: meta: documentation, semver: N/A

#4127 typings(User): mark `locale` and `flags` as optional
  typings/index.d.ts
Labels: t: typings

#4115 fix(Typing): dmChannel bulkDelete
  typings/index.d.ts
Labels: t: typings

#4097 fix(MessageEmbed): explicitly mark `proxyIconURL` as undefined
  src/structures/MessageEmbed.js
Labels: semver: patch, t: utility

#4111 feat(Guild#fetch): withCount param
  src/structures/Guild.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#4140 fix(Voice): correctly set speaking data in the voice ssrcMap
  src/client/voice/networking/VoiceWebSocket.js
  src/client/voice/receiver/PacketHandler.js
Labels: semver: patch, t: voice
