Repository discordjs/discord.js, pull requests merged in 2020-09, with the labels that each got.

#4773 typings(PartialUser): fix PartialUser remove `deleted` property
  typings/index.d.ts
Labels: t: typings, type: bugfix

#4779 fix(Util): throw token invalid for fetching rec. shard amount
  src/util/Util.js
Labels: semver: patch, type: bugfix

#4785 docs(MessageManager): Update example for fetchPinned
  src/managers/MessageManager.js
Labels: meta: documentation, meta: examples, semver: N/A

#4793 docs(GuildChannel): ThisType should be this
  src/structures/GuildChannel.js
Labels: meta: documentation, semver: N/A, type: typo

#4781 fix(Typings): remove Partial types from some events
  typings/index.d.ts
Labels: t: gateway, t: typings

#4794 types: don't use readonly arrays in interfaces
  typings/index.d.ts
Labels: t: typings, t: utility

#4796 fix(lint): RESTManager warning
  src/rest/RESTManager.js
Labels: meta: code style, meta: tests, semver: N/A

#4797 docs(Guild): Guild.setName() example
  src/structures/Guild.js
Labels: meta: documentation, meta: examples, semver: N/A, type: typo

#4709 docs(ReactionCollector): Revise JSDoc for ReactionCollector#dispose and #remove
  src/structures/ReactionCollector.js
Labels: meta: documentation, semver: N/A

#4798 docs(Role): Update various Role method descriptions
  src/structures/Role.js
Labels: meta: documentation, meta: examples, semver: N/A

#4788 typings(Guild): document RELAY_ENABLED feature
  src/structures/Guild.js
  typings/index.d.ts
Labels: meta: documentation, reason: API support, semver: minor, t: typings

#4105 feat(Message): add support for crossposting
  src/structures/Message.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#4791 fix(Partials): Use more user objects available from the gateway
  src/client/actions/Action.js
  src/client/actions/ActionsManager.js
  src/client/actions/GuildMemberRemove.js
  src/client/actions/MessageReactionAdd.js
  src/client/actions/TypingStart.js
  src/client/websocket/handlers/TYPING_START.js
Labels: semver: patch, t: caching, type: enhancement

#4813 chore(Deps): bl vulnerability
  package-lock.json
  package.json
Labels: meta: dependencies

#4824 feat(ActivityTypes): add Competing (type 5)
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor

#4822 fix(Action): Don't crash when partials are disabled
  src/client/actions/Action.js
  src/client/actions/TypingStart.js
Labels: p: medium, semver: patch, type: bugfix

#4835 feat(Rest): switch queue to AsyncQueue
  src/rest/APIRequest.js
  src/rest/AsyncQueue.js
  src/rest/RESTManager.js
  src/rest/RequestHandler.js
Labels: meta: backport, semver: patch, t: REST, t: error handling, type: enhancement

#4841 fix(Action): Sanity-Check if Discord includes all required data
  src/client/actions/Action.js
Labels: semver: patch, t: caching, type: enhancement

#4823 fix(Shard): avoid caching null child in eval/fetchClientValue
  src/errors/Messages.js
  src/sharding/Shard.js
Labels: t: sharding, type: bugfix

#4837 feat(GuildManager): add AFK and system channel options in create
  src/managers/GuildManager.js
  test/createGuild.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST, type: enhancement

#4805 feat(NewsChannel): add support for following
  src/structures/NewsChannel.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#4825 fix(MessageManager): throw if delete param is not MessageResolvable
  src/managers/MessageManager.js
Labels: semver: minor, t: REST, type: enhancement

#4829 refactor(ReactionUserManager): use client property
  src/managers/ReactionUserManager.js
Labels: meta: refactor, semver: patch, type: enhancement

#4852 fix(Rest): resolved a regression, added retried AbortError
  src/rest/RequestHandler.js
Labels: p: high, semver: patch, t: REST, t: error handling, type: bugfix
