Repository discordjs/discord.js, pull requests merged in 2020-05, with the labels that each got.

#4138 typings: User#fetchFlags typings
  typings/index.d.ts
Labels: semver: patch, t: typings

#4130 feat(GuildMemberManager): nonce and chunk_count for _fetchMany
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
  src/errors/Messages.js
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: gateway

#4157 docs(ShardingManager): remove experimental status of Worker threads
  src/sharding/ShardingManager.js
Labels: meta: cleanup, meta: documentation, semver: N/A, t: sharding

#4165 chore(docs): example for timeout in message.delete()
  src/structures/Message.js
Labels: meta: documentation, semver: N/A, t: REST, t: utility

#4158 docs(ShardingManager): fix typo in JSDoc
  src/sharding/ShardingManager.js
Labels: meta: documentation, semver: N/A, t: sharding

#4168 fix: in/de-crement max listener for client events
  src/client/BaseClient.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/structures/MessageCollector.js
  src/structures/ReactionCollector.js
  typings/index.d.ts
Labels: semver: patch, t: gateway, t: utility, type: bugfix

#4167 revert "chore(docs): example for timeout in message.delete()"
  src/structures/Message.js
Labels: meta: documentation, t: REST, t: utility

#4268 docs(WebSocketShard): add missing properties
  src/client/websocket/WebSocketShard.js
Labels: meta: documentation, semver: N/A

#4269 fix(APIMessage): only pass allowedMentions if content is defined
  src/structures/APIMessage.js
Labels: semver: patch, t: REST, type: bugfix

#4159 chore(docs): remove comment about type 13
  src/util/Constants.js
Labels: meta: documentation, semver: N/A
