Repository discordjs/discord.js, pull requests merged in 2020-12, with the labels that each got.

#5067 chore(Engine): bump Node.js to v14.0.0
  .github/workflows/deploy.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
  README.md
  docs/general/faq.md
  docs/general/welcome.md
  package.json
Labels: semver: major, type: enhancement

#5076 fix(BaseGuildEmoji): typo in requiresColons
  src/structures/BaseGuildEmoji.js
Labels: type: bugfix, type: typo

#5060 docs(User): fix typos in jsdoc
  src/structures/User.js
Labels: meta: documentation, semver: N/A

#5034 fix(Collector): throw an error if a non-function was provided as filter
  src/structures/interfaces/Collector.js
Labels: semver: major, t: error handling, t: utility

#4874 feat(Message|TextChannel): Inline replies
  README.md
  docs/examples/avatars.js
  docs/examples/moderation.md
  docs/general/welcome.md
  docs/topics/voice.md
  src/structures/APIMessage.js
  src/structures/Emoji.js
  src/structures/Message.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  test/disableMentions.js
  test/random.js
  test/sendtest.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
  typings/index.d.ts
Labels: reason: API support, s: in progress, semver: major, t: REST

#5048 docs(Client): #emojis is a BaseGuildEmojiManager
  src/client/Client.js
Labels: meta: documentation, p: low, semver: N/A, t: caching, type: bugfix

#5104 fix(UserFlags): correct early bot dev name, remove deprecated aliases
  src/util/UserFlags.js
  typings/index.d.ts
Labels: semver: major, t: utility, type: bugfix

#5091 cleanup(Guild): remove Guild#voice
  src/client/actions/GuildDelete.js
  src/client/voice/VoiceConnection.js
  src/structures/Guild.js
  typings/index.d.ts
Labels: meta: refactor, semver: major

#5079 Change permission overwrite methods descriptions
  src/structures/GuildChannel.js
Labels: meta: documentation, semver: N/A, type: typo

#5070 feat(GuildMember): make GuildMember#setNickname first param nullable
  src/structures/GuildMember.js
  typings/index.d.ts
Labels: meta: documentation, semver: patch, t: typings, type: enhancement

#5065 cleanup(Client): improve generateInvite()
  src/client/Client.js
  typings/index.d.ts
Labels: meta: refactor, semver: minor

#5108 fix(Message): #system non-zero message types are not guaranteed to be system
  src/structures/Message.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor

#4937 fix(ChannelManager): Avoid crash in remove method with uncached channel
  src/managers/ChannelManager.js
Labels: semver: patch, t: caching, type: bugfix

#5075 Remove filtering of string forms of null and undefined
  src/rest/APIRequest.js
Labels: semver: patch, t: REST, type: bugfix

#5041 fix(ClientPresence): add presence to ClientPresence from ClientOptions
  src/client/Client.js
  src/structures/ClientPresence.js
  src/structures/Presence.js
Labels: semver: patch, t: gateway, type: bugfix

#4836 Remove disableMentions
  src/client/Client.js
  src/structures/APIMessage.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  src/util/Util.js
  test/disableMentions.js
  typings/index.d.ts
Labels: semver: major

#4999 cleanup(Message): remove options for Message#delete
  src/managers/MessageManager.js
  src/structures/Message.js
  typings/index.d.ts
Labels: semver: major

#4595 fix: implement valueOf on pseudo managers
  src/managers/GuildEmojiRoleManager.js
  src/managers/GuildMemberRoleManager.js
  typings/index.d.ts
Labels: t: caching, type: enhancement

#4628 feat(Role): role tags
  src/managers/GuildMemberRoleManager.js
  src/managers/RoleManager.js
  src/structures/Integration.js
  src/structures/Role.js
  typings/index.d.ts
Labels: reason: API support, semver: minor

#5115 docs(MessageOptions): indicate that replyTo cannot be system
  src/structures/interfaces/TextBasedChannel.js
Labels: meta: documentation, semver: N/A

#5113 feat(Browser): remove browser 😊
  .eslintrc.json
  .github/workflows/deploy.yml
  .tern-project
  docs/index.yml
  docs/topics/web.md
  package-lock.json
  package.json
  src/WebSocket.js
  src/client/Client.js
  src/client/websocket/WebSocketShard.js
  src/errors/Messages.js
  src/rest/APIRequest.js
  src/rest/RequestHandler.js
  src/structures/APIMessage.js
  src/structures/Guild.js
  src/structures/VoiceChannel.js
  src/structures/VoiceState.js
  src/util/Constants.js
  src/util/DataResolver.js
  test/webpack.html
  typings/index.d.ts
  webpack.config.js
Labels: meta: webpack, semver: major

#5050 revert: 5047
  src/structures/MessageReaction.js
Labels: semver: patch, type: bugfix

#4920 Update fetch description
  src/managers/RoleManager.js
Labels: meta: documentation, semver: N/A

#4933 feat(GuildEmojiManager): implement GuildEmojiManager#fetch
  src/managers/GuildEmojiManager.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST, type: enhancement

#5120 Create CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: meta: documentation, semver: N/A

#5148 types: make Client#voice non-nullable
  typings/index.d.ts
Labels: semver: N/A, t: typings, type: bugfix

#5129 fix(Collection): toJSON() errors if the collection includes empty values
  src/util/Collection.js
Labels: semver: patch, type: bugfix

#5131 refactor: RoleManager
  src/managers/RoleManager.js
Labels: meta: refactor, semver: patch

#5126 docs(MessageEditOptions): add the flags parameter
  src/structures/Message.js
Labels: meta: documentation, semver: N/A

#5026 chore(RoleManager): change parameter of create to be one unnamed object
  src/managers/RoleManager.js
  typings/index.d.ts
Labels: semver: major, t: REST

#5155 refactor(Message): remove stored edit history
  src/client/Client.js
  src/structures/Message.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: refactor, semver: major, t: caching

#5159 chore(Deps): remove setimmediate
  package-lock.json
  package.json
  src/client/BaseClient.js
Labels: meta: cleanup, meta: dependencies, semver: patch

#5173 Bump LICENSE year
  LICENSE
Labels: semver: N/A

#5167 fix(MessageEmbed): include `author.name` in length getter
  src/structures/MessageEmbed.js
Labels: semver: patch, type: bugfix
