Repository discordjs/discord.js, pull requests merged in 2020-11, with the labels that each got.

#4958 fix(PackageLock): reinstall GitHub docgen dev dependency
  package-lock.json
  package.json
Labels: meta: dependencies, semver: N/A

#4957 fix(Shard): don't pass event arguments to exit handler
  src/sharding/Shard.js
Labels: p: medium, semver: patch, t: sharding, type: bugfix

#4928 docs: use npm ci instead of npm install
  .github/CONTRIBUTING.md
Labels: meta: dependencies, meta: documentation, semver: N/A

#4903 feat(Message): add crosspostable property
  src/structures/Message.js
  typings/index.d.ts
Labels: semver: minor, t: REST, type: enhancement

#5003 fix(MessageReaction): defines the client property in the type
  typings/index.d.ts
Labels: t: typings, type: bugfix

#5008 feat: add missing error codes
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility

#4969 fix(MessageReaction*Action): correctly cache incoming members and users
  src/client/actions/Action.js
  src/client/actions/MessageReactionAdd.js
  src/client/actions/MessageReactionRemove.js
Labels: semver: patch, t: caching, t: gateway

#4986 fix(GuildMemberUpdate): cache incoming members & use partials if enabled
  src/client/actions/ActionsManager.js
  src/client/actions/GuildMemberUpdate.js
  src/client/websocket/handlers/GUILD_MEMBER_UPDATE.js
Labels: semver: patch, t: caching, type: bugfix

#4990 fix(User): only assign to bot initially or if info is actually present
  src/structures/User.js
Labels: semver: patch, t: caching, type: bugfix

#4907 feat: add support for guild templates
  esm/discord.mjs
  src/client/Client.js
  src/index.js
  src/structures/Guild.js
  src/structures/GuildTemplate.js
  src/util/Constants.js
  src/util/DataResolver.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST, type: enhancement

#4967 fix(Guild): fetch member if already in the guild
  src/structures/Guild.js
Labels: semver: patch, t: REST, t: caching, type: bugfix

#4991 feat(Shard): shard-specific broadcastEval/fetchClientValues + shard Id util
  .eslintrc.json
  src/errors/Messages.js
  src/sharding/Shard.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  src/util/Snowflake.js
  typings/index.d.ts
Labels: semver: minor, t: sharding, t: utility

#4816 feat(GuildMemberManager): throw TypeError on incorrect GuildMemberManager#ban params
  src/managers/GuildMemberManager.js
Labels: semver: major

#4782 feat(Message): added string type for message nonce
  src/errors/Messages.js
  src/structures/APIMessage.js
  typings/index.d.ts
Labels: semver: major, t: REST, t: typings

#4890 Remove Guild#member
  docs/examples/moderation.md
  src/client/voice/VoiceConnection.js
  src/structures/Guild.js
  src/structures/Message.js
  src/structures/MessageMentions.js
  src/structures/Role.js
  test/random.js
  typings/index.d.ts
Labels: semver: major, t: utility

#4932 remove User#locale
  src/structures/User.js
  typings/index.d.ts
Labels: reason: API changes, semver: major, t: gateway

#4935 fix(RoleManager): fix ID return value, change return type to collection
  src/managers/RoleManager.js
  typings/index.d.ts
Labels: semver: major, type: enhancement

#4934 feat: BaseGuildEmojiManager
  esm/discord.mjs
  src/client/Client.js
  src/index.js
  src/managers/BaseGuildEmojiManager.js
  src/managers/GuildEmojiManager.js
  typings/index.d.ts
Labels: reason: API support, semver: major, t: REST

#5040 fix(GuildTemplate): 'guild' getter
  src/structures/GuildTemplate.js
Labels: p: medium, semver: patch, t: utility, type: bugfix

#5035 fix(Voice*): filter out silent audio from video users
  src/client/voice/VoiceConnection.js
  src/client/voice/networking/VoiceWebSocket.js
  src/client/voice/receiver/PacketHandler.js
  src/client/voice/util/Silence.js
Labels: semver: patch, t: voice, type: bugfix

#5047 fix(MessageReaction): set MessageReaction#me in patch method
  src/structures/MessageReaction.js
Labels: p: medium, semver: patch, t: utility, type: bugfix

#5059 docs(WebSocketManager): fix type of status
  src/client/websocket/WebSocketManager.js
Labels: meta: documentation, semver: N/A
