Repository discordjs/discord.js, pull requests merged in 2020-02, with the labels that each got.

#3746 feat(Collector): add idle option
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: utility

#3747 feat(Presence/Game): multiple activities and custom status
  src/structures/Presence.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: caching

#3756 feat(Integration): add guild integrations
  src/client/rest/RESTMethods.js
  src/index.js
  src/structures/Guild.js
  src/structures/Integration.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#3722 src: Fix up WebSocketShard errors
  src/client/websocket/WebSocketManager.js
  src/client/websocket/WebSocketShard.js
  typings/index.d.ts
Labels: semver: patch, t: gateway, type: bugfix

#3765 fix(GuildMember): manageable - let owner override
  src/structures/GuildMember.js
Labels: semver: patch, t: utility, type: bugfix

#3766 fix(GuildMember): backport #3765
  src/structures/GuildMember.js
Labels: meta: backport, semver: patch, t: utility, type: bugfix

#3768 fix(typings): HTTPOptions#api missing & Constants not being exported correctly
  typings/index.d.ts
Labels: t: typings

#3775 fix(TextChannel): remove old nsfw regex check
  src/structures/TextChannel.js
Labels: meta: cleanup, reason: API changes, t: utility, type: bugfix

#3777 docs(*Manager): fix child classes' cache type annotations
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildEmojiManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/MessageManager.js
  src/managers/PresenceManager.js
  src/managers/ReactionManager.js
  src/managers/ReactionUserManager.js
  src/managers/RoleManager.js
  src/managers/UserManager.js
  src/managers/VoiceStateManager.js
Labels: meta: documentation, semver: N/A, t: caching

#3771 Add extends jsdoc tag to ChannelManager
  src/managers/BaseManager.js
  src/managers/ChannelManager.js
Labels: meta: documentation, semver: N/A, t: utility

#3773 GuildMemberManager#fetch returns a collection
  typings/index.d.ts
Labels: t: typings

#3760 feat(GuildAuditLogs): Backport and handle new event types
  src/structures/GuildAuditLogs.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: REST, t: utility

#3757 feat(Presence): Add info tag to ActivityType regarding custom status
  src/util/Constants.js
Labels: meta: documentation, semver: N/A, t: gateway, type: enhancement

#3758 feat(Presence): Backport info tag in ActivityType.
  src/util/Constants.js
Labels: meta: backport, meta: documentation, semver: N/A, t: gateway, type: enhancement

#3759 feat(BitField): add BitField base class
  src/client/Client.js
  src/index.js
  src/structures/Presence.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/Permissions.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: utility

#3772 feat(Error): Provide TypeError for Message#delete
  src/structures/Message.js
Labels: semver: major, t: error handling, type: enhancement

#3776 fix(BaseManager): BaseManager#valueOf should return cache
  src/managers/BaseManager.js
  src/util/Util.js
Labels: semver: patch, t: utility, type: bugfix

#3779 docs(Guild): Guild#channels is a manager of channels
  src/structures/Guild.js
Labels: meta: documentation, semver: N/A, t: caching, type: typo

#3780 use Permissions.FLAGS for VoiceChannel#speakable
  src/structures/VoiceChannel.js
Labels: meta: cleanup, semver: patch, t: utility

#3781 fix(Guild): Use snake case for system_channel_flags
  src/structures/Guild.js
Labels: semver: patch, t: REST, type: bugfix

#3778 fix(Message): Handle undefined/null content in Message#cleanContent
  src/structures/Message.js
Labels: semver: major, t: utility, type: bugfix

#3782 typings: add invite events to WSEventType and constants
  src/util/Constants.js
  typings/index.d.ts
Labels: semver: patch, t: typings

#3785 docs: Clarify what zlib-sync does
  README.md
  docs/general/welcome.md
  src/util/Constants.js
Labels: meta: dependencies, meta: documentation, semver: N/A, t: gateway

#3789 fix(ReactionManager): update partial message
  src/managers/ReactionManager.js
Labels: semver: patch, t: caching, type: enhancement

#3674 src: Add message embed suppression
  src/structures/APIMessage.js
  src/structures/Message.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#3787 src: Update client options and shards value if fetching shard count
  src/client/websocket/WebSocketManager.js
Labels: meta: refactor, semver: patch, t: gateway

#3800 docs/fix(WSEvents): fix documentation
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: cleanup, meta: documentation, semver: patch, t: typings

#3811 typings(Constants): add typings for VerificationLevels
  typings/index.d.ts
Labels: t: typings

#3812 add new MessageTypes
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: utility

#3792 feat(GuildChannel): add support for clone options, deprecate old signature
  src/structures/GuildChannel.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: REST, type: enhancement

#3793 feat(Guild): add support for system channel flags
  src/index.js
  src/structures/Guild.js
  src/util/SystemChannelFlags.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: utility

#3795 feat(Message*): add missing fields, add support for flag editing
  src/client/rest/RESTMethods.js
  src/index.js
  src/structures/Message.js
  src/structures/MessageMentions.js
  src/structures/User.js
  src/util/Constants.js
  src/util/MessageFlags.js
  typings/index.d.ts
Labels: meta: backport, reason: API support, semver: minor, t: utility, type: enhancement

#3786 Add PartialGroupDMChannel class
  src/errors/Messages.js
  src/structures/Channel.js
  src/structures/PartialGroupDMChannel.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#3814 refactor(MessageEmbed): simplify initialization of files property
  src/structures/MessageEmbed.js
Labels: meta: cleanup, semver: patch, t: utility

#3815 typings(AddGuildMemberOptions): change accessToken from String to string
  typings/index.d.ts
Labels: t: typings

#3761 feat: bring embed builder field manipulation in line with underlying array functionality
  README.md
  docs/general/faq.md
  docs/general/welcome.md
  package.json
  src/structures/MessageEmbed.js
  typings/index.d.ts
Labels: semver: major, t: utility

#3813 feat(MessageEmbed): change toJSON method to return an api-compatible object
  src/structures/APIMessage.js
  src/structures/MessageEmbed.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#3823 typings(Invite): channel can be a PartialGroupDMChannel
  typings/index.d.ts
Labels: t: typings

#3492 Added MessageEmbed Typings
  src/structures/MessageEmbed.js
  typings/index.d.ts
Labels: t: typings

#3714 docs/typings(MessageAttachment): mark spoiler as readonly, order spoiler in typings
  src/structures/MessageAttachment.js
  typings/index.d.ts
Labels: meta: documentation, semver: N/A, t: typings, t: utility

#3794 docs/typings(SystemChannelFlags): properly document and use resolvable
  src/util/SystemChannelFlags.js
  typings/index.d.ts
Labels: meta: documentation, semver: patch, t: typings, t: utility

#3824 cleanup(DMChannel): remove _cacheMessage
  .github/workflows/test.yml
  src/structures/DMChannel.js
Labels: meta: cleanup, semver: patch

#3822 typings(MessageEmbed): mark properties as able to be undefined
  typings/index.d.ts
Labels: t: typings

#3821 typings(MessageEmebd): fix typings for addFields
  src/structures/MessageEmbed.js
  typings/index.d.ts
Labels: meta: documentation, t: typings

#3826 chore(typings): semicolon consistency
  typings/index.d.ts
Labels: meta: cleanup, t: typings

#3820 refactor: remove unused error in catch statements
  src/client/voice/receiver/PacketHandler.js
  src/client/voice/util/Secretbox.js
  src/client/websocket/handlers/index.js
  src/structures/ClientPresence.js
Labels: meta: cleanup, semver: patch

#3602 feat/fix(GuildAuditLogs): handle new event types
  src/structures/GuildAuditLogs.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST, type: enhancement

#3825 feat(Collector): Addition of resetTimer()
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#3819 fix(MessageEmbed): various typos and fixes
  src/structures/MessageEmbed.js
Labels: meta: documentation, semver: N/A, t: utility, type: typo

#3637 feat: GuildEmoji & Invite to GuildResolvable
  src/managers/GuildManager.js
  typings/index.d.ts
Labels: semver: minor, t: utility

#3834 backport(typings): Return values when MessageOptions#split is provided
  typings/index.d.ts
Labels: t: typings

#3830 Better user input sanitization: replace disableEveryone with disableMentions
  src/client/Client.js
  src/structures/APIMessage.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  src/util/Util.js
  test/disableMentions.js
  typings/index.d.ts
Labels: meta: refactor, semver: major, t: utility

#3838 typings(WebhookClient): client is not a client
  typings/index.d.ts
Labels: t: typings

#3846 docs(MessageEmbed): document `article` embed type
  src/structures/MessageEmbed.js
Labels: meta: documentation, semver: patch

#3836 chore(githooks): commitlint
  package.json
Labels: meta: code style, meta: tooling, type: enhancement

#3850 feat(MessageEmbed): re-introduce MessageEmbed#addField
  src/structures/MessageEmbed.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#3762 feat: backport RichEmbed#spliceFields
  src/index.js
  src/structures/RichEmbed.js
  src/util/Util.js
  typings/index.d.ts
Labels: meta: backport, semver: minor, t: utility

#3742 feat(GuildManager): Allow for more options for GuildManager.create
  src/managers/GuildManager.js
  src/structures/Guild.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, t: REST

#3562 feat(GuildMemberStore): add options.withPresences to fetch()
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: caching, t: gateway

#3799 fix(Shard): cleanup after settling spawn promise
  src/sharding/Shard.js
Labels: semver: patch, t: error handling, t: sharding

#3853 refactor(GuildChannel): change overwritePermisions to accept an array of overwrites
  src/structures/GuildChannel.js
  typings/index.d.ts
Labels: semver: major, t: REST

#3855 fix(MessageEmbed): prevent possible destructuring error
  src/structures/MessageEmbed.js
Labels: semver: patch, t: utility, type: bugfix

#3849 feat: reimplement disableEveryone into disableMentions
  src/client/Client.js
  src/structures/APIMessage.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  src/util/Util.js
  test/disableMentions.js
  typings/index.d.ts
Labels: semver: major, t: utility, type: enhancement

#3845 feat(MessageEmbed): Support EmbedFieldData[] instead of EmbedField[] in constructor
  src/structures/MessageEmbed.js
  typings/index.d.ts
Labels: semver: minor, t: utility, type: enhancement

#3857 docs(shard): add .cache to GuildManager in fetchClientValue example
  src/sharding/Shard.js
Labels: meta: cleanup, meta: documentation, semver: N/A, t: sharding

#3858 docs(TextBasedChannel): fix typo
  src/structures/interfaces/TextBasedChannel.js
Labels: meta: documentation, semver: N/A, t: REST, type: typo

#3808 typings: Refactor how channel types are done
  typings/index.d.ts
Labels: t: typings

#3844 feat: Intents bitfield
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  src/index.js
  src/util/Constants.js
  src/util/Intents.js
  typings/index.d.ts
Labels: reason: API support, semver: major, t: gateway

#3864 fix(playinterface): lazy require VoiceBroadcast to avoid circular
  src/client/voice/util/PlayInterface.js
Labels: semver: patch, t: voice, type: bugfix

#3863 docs: Bump version to 11.6.0
  docs/general/updating.md
  docs/general/welcome.md
Labels: meta: documentation, semver: N/A
