Repository discordjs/discord.js, pull requests merged in 2020-08, with the labels that each got.

#4687 fix(typings): correct spelling of APIError
  typings/index.d.ts
Labels: semver: patch, t: typings

#4680 docs(Message): add NewsChannel type to Message#channel
  src/structures/Message.js
  typings/index.d.ts
Labels: meta: documentation, semver: N/A, t: typings

#4683 docs(ReactionManager): clarify cache Collection keys type
  src/managers/ReactionManager.js
  typings/index.d.ts
Labels: meta: documentation, semver: N/A, t: typings

#4678 docs(examples): fix example img
  docs/examples/attachments.md
Labels: meta: documentation, semver: N/A

#4675 fix(Message): include MessageEmbed type
  src/structures/Message.js
  typings/index.d.ts
Labels: meta: documentation, semver: N/A, t: typings

#4667 feat(typings): TypeScript support for changing $browser
  typings/index.d.ts
Labels: semver: minor, t: typings

#4118 fix(Typings): Channel#delete returns bad type
  typings/index.d.ts
Labels: semver: patch, t: typings

#4641 fix: set #nickname to null as the default value
  src/structures/GuildMember.js
Labels: semver: patch, t: REST

#4585 fix(PresenceStatus): include invisible in typings
  typings/index.d.ts
Labels: semver: patch, t: typings

#4593 fix: consider #nsfw false if not present in data
  src/structures/StoreChannel.js
  src/structures/TextChannel.js
Labels: semver: patch, t: caching, type: bugfix

#4590 fix(Util): support empty array for flatten
  src/util/Util.js
Labels: semver: patch, t: utility, type: bugfix

#4632 fix(Message): Message#createdTimestamp uses deconstructed message id to get timestamp
  src/structures/Message.js
Labels: semver: patch, t: REST

#4588 fix(ApiMessage): respect allowedMentions with split
  src/structures/APIMessage.js
Labels: semver: patch, t: gateway, type: bugfix

#4616 fix: correctly import VoiceState
  src/client/actions/VoiceStateUpdate.js
  src/managers/VoiceStateManager.js
Labels: semver: patch, t: utility

#4594 fix(BaseManager): properly type valueOf
  typings/index.d.ts
Labels: semver: patch, t: typings

#4338 feat: add Blob support for browser
  src/util/DataResolver.js
Labels: semver: minor, t: REST, t: utility

#4370 refactor(GuildMemberManager): use data instead of query
  src/managers/GuildMemberManager.js
Labels: reason: API changes, semver: patch, t: REST

#4308 fix missing child_process silent option of Shard to allow listening to output
  src/sharding/Shard.js
Labels: semver: minor, t: sharding

#4125 docs(Guild): clarify vanity URL documentation
  src/structures/Guild.js
Labels: meta: documentation, semver: N/A

#4123 fix(Collector): support async
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Labels: semver: minor, t: utility

#3843 feat(Util): add missing colors to docs
  src/util/Util.js
  typings/index.d.ts
Labels: meta: documentation, semver: minor, t: utility

#4627 fix(GuildChannel): make lockPermissions use parent overwrites
  src/structures/GuildChannel.js
Labels: semver: patch, t: REST, type: bugfix

#4334 feat(GuildEmoji): cache the author
  src/structures/GuildEmoji.js
  typings/index.d.ts
Labels: semver: minor, t: caching

#4121 feat: deprecate GuildEmbed methods and properties in favour of GuildWidget
  src/structures/Guild.js
  typings/index.d.ts
Labels: reason: API changes, semver: minor, t: REST

#4604 feat(types): BitFieldResolvable use ReadonlyArray
  typings/index.d.ts
Labels: semver: minor, t: typings

#4693 docs(Ban): days must be 0-7
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Labels: meta: documentation, semver: N/A

#4619 feat(Guild): discovery splash
  src/structures/Guild.js
  typings/index.d.ts
Labels: reason: API support, semver: minor

#3744 docs(Constants): Improve large_threshold description
  src/util/Constants.js
Labels: meta: documentation, semver: N/A, t: gateway

#4377 feat(Guild): updates for Community guilds
  src/client/Client.js
  src/structures/Guild.js
  src/structures/GuildPreview.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST, t: utility

#4303 docs(Embeds): Added descriptions to the typedefs
  src/structures/MessageEmbed.js
Labels: meta: documentation, semver: N/A

#4617 feat(BitField): add problematic bit to error
  src/util/BitField.js
Labels: semver: minor, t: error handling, type: enhancement

#4682 fix(MessageReactionAdd): prevent double messageReactionAdd triggering
  src/client/actions/MessageReactionAdd.js
Labels: semver: patch, t: gateway

#4591 fix(APIMessage): add reply user to allowedMentions
  src/structures/APIMessage.js
Labels: semver: patch, t: REST, type: bugfix

#4636 fix(Partials): correctly set properties as nullable
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/User.js
  typings/index.d.ts
Labels: meta: refactor, semver: patch, t: caching

#4694 feat(typings): add number type for setExplicitContentFilter method
  typings/index.d.ts
Labels: semver: minor, t: typings, type: enhancement

#4136 docs(ReactionCollector): update remove and dispose events
  src/structures/ReactionCollector.js
Labels: meta: documentation, semver: N/A, t: utility

#4698 chore(Constants): update large_threshold default
  src/structures/Guild.js
  src/util/Constants.js
Labels: reason: API changes, semver: patch, t: REST, t: gateway

#4692 feat(typings): use readonly arrays in parameters
  typings/index.d.ts
Labels: semver: minor, t: typings

#4699 docs: updated applications URL
  docs/examples/attachments.md
  docs/examples/avatars.js
  docs/examples/embed.js
  docs/examples/greeting.js
  docs/examples/moderation.md
  docs/examples/ping.js
Labels: meta: documentation, semver: N/A

#4086 feat(GuildManager): adds GuildManager#fetch
  src/managers/GuildManager.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#4142 feat(GuildMemberManager#prune): roles query param
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#4701 chore(Deps): upgrade deps
  .eslintrc.json
  .gitignore
  .npmrc
  package-lock.json
  package.json
  src/client/websocket/WebSocketManager.js
  src/managers/MessageManager.js
  src/structures/GuildEmoji.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Snowflake.js
  typings/index.d.ts
  webpack.config.js
Labels: meta: dependencies, semver: N/A

#4705 chore: bump version in package-lock.json
  package-lock.json
Labels: meta: dependencies, semver: N/A

#4707 revert(Shard): "fix missing child_process silent option of Shard to allow listening to output"
  src/sharding/Shard.js
Labels: semver: patch, t: sharding, type: bugfix

#4706 fix(User): set User#bot to false if not partial
  src/structures/User.js
Labels: semver: patch, t: REST, t: gateway, type: bugfix

#4716 docs: update jsdoc type for User#bot
  src/structures/User.js
Labels: meta: documentation, semver: N/A

#4717 docs(APIMessage): fix wording on comment
  src/structures/APIMessage.js
Labels: meta: documentation, semver: N/A, type: typo

#4730 docs(ClientOptions): fix typo
  src/util/Constants.js
Labels: meta: documentation, semver: N/A, type: typo

#4719 fix(typings): bot cannot be null
  typings/index.d.ts
Labels: t: typings

#4738 types: add all types for GuildAuditLogsEntry#target
  typings/index.d.ts
Labels: t: typings, type: bugfix

#4744 fix: correctly import extendable classes
  src/structures/GuildMember.js
  src/structures/User.js
Labels: semver: patch, t: caching, type: bugfix

#4723 docs(BaseGuildEmoji): account for optional properties
  src/structures/BaseGuildEmoji.js
  typings/index.d.ts
Labels: meta: documentation, t: typings

#4736 types: don't allow any object in the first parameter if second parameter is not given in TextBasedChannel#send
  typings/index.d.ts
  typings/index.ts
Labels: t: typings

#4755 fix(Typing): change NodeJS.Timer into NodeJS.Timeout
  src/client/websocket/WebSocketShard.js
  typings/index.d.ts
Labels: semver: patch, t: typings, type: bugfix

#4761 feat(UserFlags): add renamed UserFlags
  src/util/UserFlags.js
  typings/index.d.ts
Labels: semver: minor, t: typings

#4760 fix(Guild): cache fetched widget data
  src/structures/Guild.js
Labels: semver: patch, t: caching, type: bugfix

#4762 feat(Guild): add includeApplications option for fetchIntegrations
  package.json
  src/index.js
  src/structures/ClientApplication.js
  src/structures/Guild.js
  src/structures/Integration.js
  src/structures/IntegrationApplication.js
  src/structures/interfaces/Application.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#4745 feat(Channel): add isText() type guard
  src/structures/Channel.js
  typings/index.d.ts
Labels: semver: minor, t: typings, type: enhancement
