Repository discordjs/discord.js, pull requests merged in 2020-07, with the labels that each got.

#4586 feat(Message): support pin and unpin with reason
  src/structures/Message.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#4587 chore: add relevant client options section to issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: meta: documentation, semver: N/A

#4162 fix(typings): allow custom events
  typings/index.d.ts
Labels: semver: patch, t: typings

#4372 feat(Module): add ReactionManager to exports
  src/index.js
Labels: semver: minor, t: utility

#4661 docs: make use of MessageResolvable type for bulkDelete
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Labels: meta: documentation, semver: N/A

#4663 fix(Util): Fix cleanContent mention exploit
  src/util/Util.js
Labels: semver: patch, t: REST
