Repository discordjs/discord.js, pull requests merged in 2021-03, with the labels that each got.

#5424 feat: jsdelivr default file support
  package.json
Labels: meta: tooling, semver: N/A, type: enhancement

#5352 docs(Guild): clarified description of guild.features
  src/structures/Guild.js
Labels: meta: documentation, semver: N/A, type: enhancement

#5353 test: client should destroy
  test/createGuild.js
Labels: meta: tests

#5419 fix(Guild/GuildChannel): methods reason arg usage
  src/structures/Guild.js
  src/structures/GuildChannel.js
Labels: semver: patch, t: REST, type: bugfix

#5422 docs(ChannelManager): `fetch` can return Promise<null>
  src/managers/ChannelManager.js
  typings/index.d.ts
Labels: meta: documentation, t: typings

#5251 fix(GuildChannel): regression on default channel type
  src/structures/GuildChannel.js
Labels: semver: patch, t: REST, type: bugfix

#5303 typings(MessageReaction): allow message to be partial
  typings/index.d.ts
Labels: semver: patch, t: typings, type: bugfix

#5324 fix(GuildManager): add missing toString() on Permission#resolve fns
  src/managers/GuildManager.js
Labels: semver: patch, t: REST, type: bugfix

#5320 docs(GuildMember): document owner override in permissions getter
  src/structures/GuildMember.js
Labels: meta: documentation, semver: N/A, t: utility, type: enhancement

#5302 typings(PermissionOverwrites): use correct parameter type for resolveOverwriteOptions
  typings/index.d.ts
Labels: semver: patch, t: typings, type: bugfix

#5281 fix(ReactionUserManager): remove before query option
  src/managers/ReactionUserManager.js
  typings/index.d.ts
Labels: p: low, s: Discord bug, semver: major, t: REST, t: typings, type: bugfix

#5176 chore: update d.js guide FAQ link
  docs/general/faq.md
Labels: meta: documentation, semver: N/A, type: bugfix

#5271 refactor(Collector): make endReason a getter
  src/structures/MessageCollector.js
  src/structures/ReactionCollector.js
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Labels: semver: major, t: utility, type: enhancement

#5283 feat(WebSocketManager): let identify throw on depleted limits
  src/client/websocket/WebSocketManager.js
  typings/index.d.ts
Labels: semver: major, t: gateway, type: enhancement

#5382 docs(ReactionUserManager): fetch description
  src/managers/ReactionUserManager.js
Labels: meta: documentation, semver: N/A, type: enhancement

#5323 docs: update docs and examples for #4879
  README.md
  docs/examples/attachments.md
  docs/examples/avatars.js
  docs/examples/embed.js
  docs/examples/greeting.js
  docs/examples/moderation.md
  docs/examples/ping.js
  docs/examples/webhook.js
  docs/general/welcome.md
  docs/topics/voice.md
  test/createGuild.js
  test/random.js
  test/reactionCollectorCreated.test.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
Labels: meta: documentation, semver: N/A, type: enhancement

#5327 docs(BanOptions): make days description more clear
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
Labels: meta: documentation, semver: N/A

#5147 feat(Application): application flags
  src/client/Client.js
  src/client/websocket/handlers/READY.js
  src/errors/Messages.js
  src/structures/ClientApplication.js
  src/structures/IntegrationApplication.js
  src/structures/interfaces/Application.js
  src/util/ApplicationFlags.js
  src/util/MessageFlags.js
  typings/index.d.ts
Labels: reason: API support, semver: major, t: gateway, type: enhancement

#4711 feat(Rest): better handling of global rate limit and invalid request tracking
  src/client/Client.js
  src/rest/RESTManager.js
  src/rest/RequestHandler.js
  src/util/Constants.js
  typings/index.d.ts
Labels: t: ratelimits

#5457 fix(InviteDelete): guild can be missing
  src/client/actions/InviteDelete.js
Labels: semver: patch, t: gateway, type: bugfix
