Repository discordjs/discord.js, pull requests merged in 2021-05, with the labels that each got.

#5448 feat: interactions
  docs/examples/commands.md
  docs/index.yml
  esm/discord.mjs
  package-lock.json
  package.json
  src/client/websocket/handlers/INTERACTION_CREATE.js
  src/errors/Messages.js
  src/index.js
  src/managers/ApplicationCommandManager.js
  src/managers/GuildApplicationCommandManager.js
  src/rest/RESTManager.js
  src/structures/APIMessage.js
  src/structures/ApplicationCommand.js
  src/structures/ClientApplication.js
  src/structures/CommandInteraction.js
  src/structures/Guild.js
  src/structures/Interaction.js
  src/structures/Message.js
  src/structures/Webhook.js
  src/util/Constants.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  src/util/Structures.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, type: enhancement

#5596 feat: add support for application command events
  src/client/websocket/handlers/APPLICATION_COMMAND_CREATE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_DELETE.js
  src/client/websocket/handlers/APPLICATION_COMMAND_UPDATE.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: gateway

#5603 fix(ApplicationCommandManager): fix typo in JSDoc
  src/managers/ApplicationCommandManager.js
Labels: meta: documentation, semver: N/A, type: bugfix

#5557 feat(Message): allow removing attachments
  src/structures/APIMessage.js
  src/structures/Message.js
  typings/index.d.ts
Labels: reason: API support, s: Discord, semver: minor, t: REST

#5577 feat(Message): replace referencedMessage with fetchReference
  src/errors/Messages.js
  src/structures/Message.js
  typings/index.d.ts
Labels: meta: refactor, semver: major

#5586 feat(APIRequest): support setting global headers in HTTPOptions
  src/rest/APIRequest.js
  src/util/Constants.js
  typings/index.d.ts
Labels: semver: minor, t: REST, type: enhancement

#5298 refactor(MessageOptions): move replyTo to reply#messageReference and add failIfNotExists
  src/structures/APIMessage.js
  src/structures/Message.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Labels: reason: API support, semver: major, t: REST, type: enhancement

#5314 refactor(*): return the invalid element when erroring from Array
  src/managers/GuildEmojiManager.js
  src/managers/GuildEmojiRoleManager.js
  src/managers/GuildMemberManager.js
  src/managers/GuildMemberRoleManager.js
  src/structures/Guild.js
Labels: semver: major, t: REST, t: error handling

#5466 docs(MessageEmbed): MessageEmbedOptions typedef
  src/structures/MessageEmbed.js
Labels: t: typings, type: enhancement

#5610 typings(WebhookMessageOptions): omit reply instead of replyTo
  typings/index.d.ts
Labels: semver: patch, t: typings

#5583 feat(ShardingManager): add options typings
  src/sharding/ShardingManager.js
  typings/index.d.ts
Labels: semver: minor, t: sharding, t: utility

#4872 feat(GuildMemberManager): extend API coverage
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST, type: enhancement

#5608 docs(GuildChannelManager): add stage option
  src/managers/GuildChannelManager.js
  typings/index.d.ts
Labels: meta: documentation, semver: N/A, semver: patch

#5459 feat(MessageEmbed): remove normalizeField validation
  src/errors/Messages.js
  src/structures/MessageEmbed.js
Labels: semver: major, t: error handling, type: enhancement

#5616 fix: typo in GuildMemberManager
  src/managers/GuildMemberManager.js
Labels: t: REST, type: bugfix

#5614 fix: resolve emoji in Message#react
  src/structures/Message.js
Labels: semver: patch, type: bugfix

#5618 feat(CommandInteraction): ephemeral followup messages
  src/structures/CommandInteraction.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST

#5617 fix(ApplicationCommand): return string equivalent of ApplicationCommandOptionType
  src/structures/ApplicationCommand.js
Labels: type: bugfix

#5636 docs: correct casing of `object` -> `Object` in AuditLogChange
  src/structures/GuildAuditLogs.js
Labels: meta: documentation, semver: N/A

#5645 docs(Guild): add proper punctuation to #fetchOwner jsdoc
  src/structures/Guild.js
Labels: meta: documentation, semver: N/A

#5624 chore(Colors): use new Discord colors
  src/util/Constants.js
  typings/index.d.ts
Labels: semver: major, t: utility

#5630 fix(CommandInteraction): update typings and docs for #editReply
  src/structures/CommandInteraction.js
  typings/index.d.ts
Labels: meta: documentation, semver: N/A, t: typings

#5613 fix(ApplicationCommandManager): limit permission methods to guilds
  src/errors/Messages.js
  src/managers/ApplicationCommandManager.js
  src/managers/GuildApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Labels: semver: major, t: REST, type: bugfix

#5662 refactor(Deps): use async-queue package
  package-lock.json
  package.json
  src/rest/AsyncQueue.js
  src/rest/RequestHandler.js
Labels: meta: dependencies, meta: refactor, semver: patch, t: REST

#5663 chore: set minimum npm version
  package.json
Labels: meta: tooling, semver: N/A

#5671 chore: fix husky install
  .husky/pre-commit
  package-lock.json
  package.json
Labels: meta: refactor, semver: patch

#5641 feat: InteractionDeferOptions
  src/structures/CommandInteraction.js
  typings/index.d.ts
Labels: meta: refactor, semver: major, type: enhancement

#5632 docs: add new typedef to properly doc InteractionReplyOptions
  src/structures/CommandInteraction.js
  src/structures/Message.js
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
Labels: meta: documentation, semver: N/A

#5644 fix(Message): bug in #suppressEmbeds due to #5612
  src/structures/Message.js
Labels: semver: patch, type: bugfix

#5678 fix(APIMessage): document Interaction as valid MessageTarget
  src/structures/APIMessage.js
  typings/index.d.ts
Labels: meta: documentation, semver: minor, t: typings

#5651 types(PermissionOverwriteOptions): remove unused interface
  typings/index.d.ts
Labels: meta: cleanup, t: typings

#5660 feat(Guild): add the new nsfw_level property
  src/structures/Guild.js
  src/util/Constants.js
  typings/index.d.ts
Labels: meta: refactor, reason: API changes, reason: API support, semver: major

#5676 docs(ColorResolvable): Add Fuchsia to ColorResolvable typedef
  src/util/Util.js
Labels: meta: documentation, semver: N/A

#5679 fix(ApplicationCommandOptionData): options property should be itself
  typings/index.d.ts
Labels: semver: patch, t: typings

#5666 fix(GuildEmojiRoleManager): bug in #remove
  src/managers/GuildEmojiRoleManager.js
Labels: t: REST, type: bugfix

#5694 docs: fix InteractionDeferOptions typedef
  src/structures/CommandInteraction.js
Labels: meta: documentation, semver: N/A

#5602 fix(Types): make event listeners accept async callbacks
  typings/index.d.ts
Labels: semver: patch, t: typings, type: bugfix

#5403 docs(TextChannel): warning about setRateLimitPerUser NewsChannel
  src/structures/TextChannel.js
Labels: meta: documentation, semver: N/A

#5332 docs(Message): add example for message.reply
  src/structures/Message.js
Labels: meta: documentation, semver: N/A, type: enhancement

#5642 Added Certified Moderator badge flag.
  src/util/UserFlags.js
  typings/index.d.ts
Labels: reason: API support, s: Discord, semver: minor, t: utility

#5472 feat: add support for fetching multiple guilds
  esm/discord.mjs
  src/index.js
  src/managers/GuildManager.js
  src/structures/BaseGuild.js
  src/structures/Guild.js
  src/structures/OAuth2Guild.js
  typings/index.d.ts
Labels: reason: API support, semver: major, t: REST

#5704 fix(PermissionOverwrites): fix typo in typedef jsdoc
  src/structures/PermissionOverwrites.js
Labels: meta: documentation, semver: N/A

#5710 ci(publish-dev): improve resolving of next version
  .github/workflows/publish-dev.yml
Labels: semver: N/A

#5716 feat: easier guards for channelUpdate
  src/client/actions/TypingStart.js
  src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
  typings/index.d.ts
Labels: semver: patch, t: typings, type: enhancement

#5717 types: use Snowflake type
  package-lock.json
  package.json
  typings/index.d.ts
Labels: semver: major, t: typings, type: enhancement

#5713 docs(Webhook): update typings and docs for #editMessage
  src/structures/Webhook.js
  typings/index.d.ts
Labels: meta: documentation, t: typings

#5718 feat(Message): allow editing files into messages
  src/managers/MessageManager.js
  src/structures/Message.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, t: REST
