Repository discordjs/discord.js, pull requests merged in 2021-08, with the labels that each got.

#6258 chore(Deps): update `discord-api-type`
  package-lock.json
  package.json
Labels: meta: dependencies, semver: patch

#6256 fix(Util): fix collection import
  src/util/Util.js
Labels: semver: patch, type: bugfix

#6259 chore(Deps): update `@discordjs/builders`
  package-lock.json
  package.json
  src/util/Formatters.js
  typings/index.d.ts
Labels: meta: dependencies, semver: patch

#6257 docs(InteractionResponses): Correct `@returns` on responses
  src/structures/interfaces/InteractionResponses.js
Labels: meta: documentation, semver: N/A

#6263 fix(ChannelUpdate): restore accidentally removed line
  src/client/actions/ChannelUpdate.js
Labels: semver: patch, t: gateway, type: bugfix

#6253 refactor(GuildChannel): use filter method for #members
  src/structures/GuildChannel.js
Labels: meta: refactor, semver: patch

#6250 docs: change example in readme to slash command
  README.md
Labels: meta: documentation, semver: N/A

#6210 refactor(*): use async functions
  src/client/Client.js
  src/managers/GuildEmojiManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/GuildStickerManager.js
  src/managers/MessageManager.js
  src/managers/PermissionOverwriteManager.js
  src/managers/ReactionManager.js
  src/managers/ReactionUserManager.js
  src/managers/RoleManager.js
  src/managers/ThreadMemberManager.js
  src/sharding/Shard.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/GuildEmoji.js
  src/structures/GuildPreview.js
  src/structures/GuildTemplate.js
  src/structures/Integration.js
  src/structures/Invite.js
  src/structures/Message.js
  src/structures/Role.js
  src/structures/TextChannel.js
  src/structures/ThreadChannel.js
  src/structures/ThreadMember.js
  src/structures/Webhook.js
  src/structures/interfaces/Application.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Util.js
Labels: meta: code style, meta: refactor, semver: patch

#6270 docs: add missing semicolon to readme
  README.md
Labels: meta: documentation, semver: N/A

#6273 docs: update link of the guide to v13 changes
  README.md
Labels: meta: documentation, semver: N/A

#6276 fix(GuildChannel): setParent not working
  src/structures/GuildChannel.js
Labels: semver: patch, t: REST, type: bugfix

#6268 types(Caches): add GuildStickerManager and GuildInviteManager
  typings/index.d.ts
Labels: semver: minor, t: typings

#6281 docs(Client): mark _finalize as private
  src/client/Client.js
Labels: meta: documentation, semver: N/A

#6279 refactor(MessageComponents): default setDisabled to true
  src/structures/MessageButton.js
  src/structures/MessageSelectMenu.js
  typings/index.d.ts
Labels: semver: major, t: REST, type: enhancement

#6280 fix(Action): getChannel interaction DM
  src/client/actions/Action.js
Labels: semver: patch, type: bugfix

#6286 refactor: added `TextBasedChannels` type
  src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
  src/managers/MessageManager.js
  src/structures/Channel.js
  src/structures/CommandInteraction.js
  src/structures/Interaction.js
  src/structures/InteractionCollector.js
  src/structures/Message.js
  src/structures/MessageCollector.js
  src/structures/Typing.js
  src/util/Constants.js
  typings/index.d.ts
  typings/tests.ts
Labels: meta: cleanup, meta: refactor, semver: major, t: typings

#6284 fix(WebSocketShard): mark shard ready if no guilds intent
  src/client/websocket/WebSocketShard.js
Labels: semver: major, type: enhancement

#6234 feat(Constants): added more error codes
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: minor, type: enhancement

#6292 Fixed typos in the slash command register example
  README.md
Labels: meta: documentation, semver: N/A, type: typo

#6294 docs: grammar fix
  src/managers/GuildStickerManager.js
Labels: meta: documentation, semver: N/A, type: typo

#6296 types: make MessageTarget extend on TextBasedChannels
  typings/index.d.ts
Labels: semver: patch, t: typings, type: bugfix

#6271 fix(Message): make #channel and #guild getters
  src/managers/MessageManager.js
  src/managers/ReactionManager.js
  src/managers/ReactionUserManager.js
  src/structures/Message.js
  src/structures/MessageCollector.js
  src/structures/MessageMentions.js
  src/structures/MessagePayload.js
  src/structures/MessageReaction.js
  src/structures/ReactionCollector.js
  test/random.js
  typings/index.d.ts
Labels: semver: major, t: caching, type: bugfix

#6291 types(MessageButtonOptions): Clean up and export some button option type definitions
  typings/index.d.ts
Labels: meta: refactor, semver: minor, t: typings

#6262 refactor(Channels): fix incorrectly shared properties
  src/structures/BaseGuildTextChannel.js
  src/structures/BaseGuildVoiceChannel.js
  src/structures/GuildChannel.js
  src/structures/NewsChannel.js
  src/structures/StageChannel.js
  src/structures/StoreChannel.js
  src/structures/TextChannel.js
  typings/index.d.ts
Labels: meta: refactor, semver: major

#6282 fix: remove support for overriding caches that break functionality
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildManager.js
  src/managers/PermissionOverwriteManager.js
  src/managers/RoleManager.js
  src/util/Options.js
  typings/index.d.ts
Labels: meta: documentation, semver: major, type: bugfix

#6298 fix(BaseGuildTextChannel): call patch
  src/structures/BaseGuildTextChannel.js
Labels: semver: patch, t: gateway, type: bugfix

#6084 refactor(InteractionCollector): only keep Ids of objects
  src/structures/InteractionCollector.js
  typings/index.d.ts
Labels: type: enhancement, semver: major, t: typings

#6305 docs: typo in ClientOptions
  src/util/Options.js
Labels: type: typo, meta: documentation, semver: N/A

#6297 feat(Channel): add isVoice()
  src/structures/Channel.js
  typings/index.d.ts
Labels: type: enhancement, t: utility, semver: minor

#6306 refactor(Interaction): rename defer to deferReply
  src/errors/Messages.js
  src/structures/CommandInteraction.js
  src/structures/MessageComponentInteraction.js
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Labels: type: enhancement, semver: major

#6299 docs: general cleanup and improvements
  src/client/Client.js
  src/client/websocket/WebSocketManager.js
  src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
  src/managers/ApplicationCommandPermissionsManager.js
  src/managers/GuildBanManager.js
  src/managers/GuildManager.js
  src/managers/GuildMemberManager.js
  src/managers/GuildStickerManager.js
  src/managers/MessageManager.js
  src/managers/ThreadManager.js
  src/sharding/ShardClientUtil.js
  src/sharding/ShardingManager.js
  src/structures/BaseMessageComponent.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildBan.js
  src/structures/InteractionCollector.js
  src/structures/Invite.js
  src/structures/Message.js
  src/structures/MessageEmbed.js
  src/structures/MessageMentions.js
  src/structures/MessagePayload.js
  src/structures/MessageReaction.js
  src/structures/PermissionOverwrites.js
  src/structures/Presence.js
  src/structures/Team.js
  src/structures/ThreadChannel.js
  src/structures/VoiceState.js
  src/structures/interfaces/Application.js
  src/util/ApplicationFlags.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/LimitedCollection.js
  src/util/Permissions.js
  src/util/SnowflakeUtil.js
  src/util/SystemChannelFlags.js
  typings/enums.d.ts
  typings/index.d.ts
Labels: type: enhancement, meta: documentation, semver: major

#6289 feat(Collector): return a boolean on checkEnd
  src/structures/interfaces/Collector.js
  typings/index.d.ts
Labels: type: enhancement, t: utility, semver: major

#6309 fix(Message): fix thread getter
  src/structures/Message.js
Labels: type: bugfix, semver: patch

#6308 docs: grammar fixes
  src/rest/HTTPError.js
  src/util/DataResolver.js
Labels: type: typo, meta: documentation, semver: N/A

#6311 docs: grammatical fix
  src/structures/InteractionCollector.js
Labels: type: typo, meta: documentation, semver: N/A

#6310 refactor: replace dependency with initial implementation
  package-lock.json
  package.json
  src/rest/APIRequest.js
Labels: semver: minor, meta: dependencies

#6315 ci: update to node 16
  .github/workflows/deploy.yml
  .github/workflows/publish-dev.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
Labels: semver: N/A

#6312 fix(Caching): sweep archived threads in all channel caches
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/util/LimitedCollection.js
  src/util/Options.js
  src/util/Util.js
  typings/index.d.ts
Labels: type: enhancement, t: utility, semver: minor

#6314 fix(GuildMemberManager): fetchMany fixes
  src/managers/GuildMemberManager.js
Labels: type: bugfix, semver: patch

#6313 fix(MessageMentions): check guild exists before adding roles
  src/structures/Message.js
  src/structures/MessageMentions.js
Labels: type: bugfix, semver: patch

#6316 docs: fix bad indentation
  README.md
Labels: meta: documentation, semver: N/A

#6329 chore: add other maintainers to GH Sponsors config
  .github/FUNDING.yml
Labels: type: enhancement, meta: documentation

#6321 types(Util): fix cleanContent parameter type
  typings/index.d.ts
Labels: type: bugfix, semver: patch, t: typings

#6325 fix(Message): handle fetched messages
  src/structures/Message.js
Labels: t: caching, type: bugfix, semver: patch

#6328 fix(GuildMemberManager): refactor fetchMany
  src/managers/GuildMemberManager.js
Labels: t: gateway, type: bugfix, semver: patch

#6330 refactor(Options): separate default settings for make cache
  src/util/Options.js
  typings/index.d.ts
Labels: caching, refactor, semver:minor

#6335 fix(GuildMemberRoleManager): typo
  src/managers/GuildMemberRoleManager.js
Labels: error handling, semver:patch

#6304 feat(Threads): max autoArchiveDuration option
  src/managers/ThreadManager.js
  src/structures/ThreadChannel.js
  typings/index.d.ts
Labels: semver:minor, threads

#6338 fix(Managers): fix typo in unsupported warning
  src/managers/ChannelManager.js
  src/managers/GuildChannelManager.js
  src/managers/GuildManager.js
  src/managers/PermissionOverwriteManager.js
  src/managers/RoleManager.js
Labels: error handling, semver:patch

#6238 ci(PublishDev): remove t and hardcoded dev version
  .github/workflows/publish-dev.yml
Labels: chore, ci

#6343 chore: Rename various stuff to "main"
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  src/client/Client.js
  src/util/LimitedCollection.js
Labels: chore, documentation

#6345 docs: grammar fixes
  src/structures/GuildTemplate.js
  src/structures/Team.js
  src/structures/TeamMember.js
  src/util/Constants.js
Labels: documentation

#6332 fix(Constants): fix CDN endpoint typings
  src/util/Constants.js
  typings/index.d.ts
Labels: semver:patch, typings

#6342 types(ImageURLOptions): allow 'gif' format
  typings/index.d.ts
Labels: regression, semver:patch, typings

#6347 types(ApplicationCommandOptionData) changed options type
  typings/index.d.ts
Labels: semver:patch, typings

#6351 chore: update conventional commit URL
  .github/CONTRIBUTING.md
Labels: chore, documentation

#6365 docs(Options): defaultMakeCacheSettings typo
  src/util/Options.js
Labels: documentation

#6361 docs(Invite): `MANAGE_CHANNELS` instead of `MANAGE_CHANNEL`
  src/client/actions/InviteCreate.js
  src/client/actions/InviteDelete.js
Labels: documentation

#6354 chore(README): more explanation in `README.md`
  README.md
Labels: chore, documentation

#6371 typings(Events): renamed `messageReactionAdd`'s reaction parameter
  typings/index.d.ts
Labels: semver:patch, typings

#6376 typings(Options): createDefaultOptions => createDefault
  typings/index.d.ts
Labels: semver:patch, typings

#6358 fix(Util): remove truthy check before isNaN check
  src/util/Util.js
Labels: error handling, semver:patch

#6274 docs: Correct wrong interaction links
  src/managers/ApplicationCommandPermissionsManager.js
  src/structures/ApplicationCommand.js
  src/structures/CommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
Labels: documentation

#6378 docs: switch urls from upstream rearranging
  src/util/Constants.js
Labels: documentation

#6380 docs: update links for api-docs
  src/managers/ApplicationCommandPermissionsManager.js
  src/structures/ApplicationCommand.js
  src/util/Constants.js
Labels: documentation

#6176 feat: right-clickybois (context menu support for ApplicationCommand and CommandInteraction)
  src/client/actions/InteractionCreate.js
  src/managers/ApplicationCommandManager.js
  src/structures/ApplicationCommand.js
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  src/structures/ContextMenuInteraction.js
  src/structures/Interaction.js
  src/util/Constants.js
  typings/enums.d.ts
  typings/index.d.ts
  typings/tests.ts
Labels: api support, interactions, semver:minor

#6385 docs(ApplicationCommandData): fix type property
  src/structures/ApplicationCommand.js
Labels: documentation

#6382 types(ApplicationCommandData): Stronger typings for `ApplicationCommandData` variants.
  typings/index.d.ts
Labels: interactions, semver:patch, typings

#6388 feat(Utils): add additional formatters
  package-lock.json
  package.json
  src/util/Formatters.js
  typings/index.d.ts
Labels: semver:minor, utility

#6400 fix(ContextMenuInteractin): store message as raw value
  src/structures/ContextMenuInteraction.js
Labels: interactions, semver:patch

#6384 feat(CommandInteractionResolvedData): access to "raw" resolved data
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  src/structures/ContextMenuInteraction.js
  typings/index.d.ts
Labels: interactions, semver:minor

#6247 typings(ApplicationCommandOptionData): Align command data options types more with discord API
  typings/index.d.ts
  typings/tests.ts
Labels: interactions, semver:minor, typings

#6402 fix(Guild): `preferredLocale` to always be a string
  src/structures/Guild.js
  typings/index.d.ts
Labels: semver:patch, typings

#6399 fix(WidgetMember): Default to `null` and not `undefined`
  src/structures/WidgetMember.js
  typings/index.d.ts
Labels: semver:patch, typings

#6395 fix(StageInstance): Ensure `discoverableDisabled` is not `undefined`
  src/structures/StageInstance.js
  typings/index.d.ts
Labels: semver:patch

#6367 chore(exports): allow imports of specific paths
  package.json
Labels: semver:patch

#6406 docs(GuildManager): increase fetch limit to 200
  src/managers/GuildManager.js
Labels: documentation

#6404 docs: remove unparsed examples
  src/client/WebhookClient.js
  src/structures/Guild.js
Labels: documentation

#6407 feat(GuildManager): allow setting with_counts to false
  src/managers/GuildManager.js
  typings/index.d.ts
Labels: semver:minor, REST

#6405 typings(ApplicationCommandData): make `type` field optional
  typings/index.d.ts
Labels: semver:patch, typings

#6403 feat(GuildMemberManager): add 'list' method
  src/managers/GuildMemberManager.js
  typings/index.d.ts
Labels: semver:minor, REST

#6412 docs: rename implementation of deferReply
  src/structures/BaseCommandInteraction.js
Labels: documentation, interactions

#6416 docs(RoleManager): error in examples
  src/managers/RoleManager.js
Labels: documentation

#6417 refactor(Channel): make delete async
  src/structures/Channel.js
Labels: refactor, semver:patch

#6439 docs(Formatters): Use id over ID
  src/util/Formatters.js
Labels: documentation

#6438 chore: Ignore .DS_Store
  .gitignore
Labels: chore

#6435 fix(Message): fix typo
  src/structures/Message.js
Labels: priority:high, regression, semver:patch

#6434 feat: export ContextMenuInteraction
  src/index.js
Labels: interactions, semver:minor

#6433 typings: Message#_patch typings return type
  typings/index.d.ts
Labels: semver:patch, typings

#6421 fix(Sticker): Rename method correctly to _add
  src/structures/Sticker.js
Labels: regression, semver:patch

#6426 feat(InteractionReponses): allow fetching of ephemeral messages
  src/errors/Messages.js
  src/structures/interfaces/InteractionResponses.js
Labels: api changes, semver:minor

#6429 fix(BaseClient): Remove selfbot ability
  src/client/BaseClient.js
  src/client/Client.js
  src/rest/RESTManager.js
Labels: semver:patch, REST

#6454 typings(GuildChannel): Added missing typing
  typings/index.d.ts
Labels: semver:patch, typings

#6451 docs(BufferResolvable): add warning for URL input
  src/util/DataResolver.js
Labels: documentation

#6177 feat(Rest): expose https.Agent options
  src/rest/APIRequest.js
  src/util/Options.js
  typings/index.d.ts
Labels: semver:minor

#6427 feat: add maximum prune requests reached api error
  src/util/Constants.js
  typings/index.d.ts
Labels: api support, semver:minor

#6430 chore(Typings): fix WebhookEditMessageOptions not having attachments
  src/structures/Webhook.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Labels: semver:patch, typings

#6450 types(ClientPresence): add type declarations and docs
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  typings/index.d.ts
Labels: documentation, semver:patch, typings

#6463 docs(ApplicationCommandType): add DAPI link
  src/util/Constants.js
Labels: documentation

#6464 docs(MessageReference): add possible message types
  src/structures/Message.js
Labels: documentation

#6437 fix(Util): allow empty strings in splitMessage
  src/util/Util.js
Labels: semver:patch, utility

#6482 docs(MessageManager): fix typo
  src/managers/MessageManager.js
Labels: documentation

#6468 feat(Message): prevent fetching an interaction webhook.
  src/errors/Messages.js
  src/structures/Message.js
Labels: error handling, semver:minor

#6455 feat(Guild): Add `Guild#maximumBitrate` getter.
  src/structures/Guild.js
  typings/index.d.ts
Labels: semver:minor, utility

#6478 feat: export BaseCommandInteraction
  src/index.js
Labels: interactions, semver:minor

#6497 typings(CommandInteractionOptionResolver): add missing parameter
  typings/index.d.ts
Labels: interactions, semver:patch, typings

#6452 typings: require component type in raw object formats
  typings/index.d.ts
Labels: semver:patch, typings

#6514 typings(MessageEmbed): allow `null` for `setTimestamp`
  src/structures/MessageEmbed.js
  typings/index.d.ts
Labels: semver:minor, utility

#6490 feat: set methods for MessageActionRow and MessageSelectMenu
  src/structures/MessageActionRow.js
  src/structures/MessageSelectMenu.js
  typings/index.d.ts
Labels: interactions, semver:minor

#6504 docs: fix wrong type being displayed in docs
  src/structures/interfaces/InteractionResponses.js
Labels: documentation

#6484 feat(Message): Add method to resolve a component by id
  src/structures/Message.js
  typings/index.d.ts
Labels: interactions, semver:minor

#6511 fix(UserUpdateAction): rely on client.user when ids match
  src/client/actions/UserUpdate.js
Labels: caching, semver:patch

#6485 docs(ThreadManager): Fix typo
  src/managers/ThreadManager.js
Labels: documentation, threads

#6502 docs(GuildChannelCreateOptions): fix #type type
  src/managers/GuildChannelManager.js
Labels: documentation

#6488 feat(ThreadChannel): add fetchStarterMessage
  src/structures/ThreadChannel.js
  typings/index.d.ts
Labels: semver:minor, threads

#6394 typings: mark enums as const enums
  typings/enums.d.ts
  typings/index.d.ts
Labels: semver:minor, typings

#6117 feat(User): banners and accent colors
  src/structures/User.js
  src/util/Constants.js
  typings/index.d.ts
Labels: api support, semver:minor

#6518 fix(MessageAttachment): re-assign name
  src/structures/MessageAttachment.js
Labels: semver:patch, utility

#6523 docs(Formatters): fix typo of TimestampStyles
  src/util/Formatters.js
Labels: documentation

#6536 types(MessageComponentInteraction): fix componentType
  typings/index.d.ts
Labels: interactions, semver:patch, typings

#6501 feat(Threads): add support for invitable in private threads
  src/errors/Messages.js
  src/managers/ThreadManager.js
  src/structures/ThreadChannel.js
  typings/index.d.ts
Labels: api support, semver:minor, REST, threads, discord

#6521 typings(CommandInteractionOptionResolver): Document & type thread channels
  src/structures/BaseCommandInteraction.js
  src/structures/CommandInteractionOptionResolver.js
  typings/index.d.ts
Labels: documentation, semver:patch, typings

#6476 typings: Allow message component interaction collectors to infer collected interaction types
  typings/index.d.ts
  typings/tests.ts
Labels: interactions, semver:minor, typings

#6447 fix(GuildChannel): Fix manageable method for voice-channels
  src/structures/GuildChannel.js
Labels: semver:patch, permissions

#6554 docs: Fix JSDoc for `ClientUser#edit`
  src/structures/ClientUser.js
Labels: documentation

#6558 docs(Constants): Fix interaction type link
  src/util/Constants.js
Labels: documentation

#6564 docs(WidgetMember): fix typo for deaf
  src/structures/WidgetMember.js
Labels: documentation

#6560 workflow: issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: chore

#6562 fix: await message component collectors should return component interactions not collectors
  typings/index.d.ts
  typings/tests.ts
Labels: semver:patch, typings

#6414 feat(ApplicationCommand): add #equals
  src/structures/ApplicationCommand.js
  typings/index.d.ts
Labels: interactions, semver:minor

#6568 types: `@typedef` for `StageChannelResolvable`
  src/managers/StageInstanceManager.js
  typings/index.d.ts
Labels: documentation

#6563 typings(MessageReference): correctly add undefined type
  typings/index.d.ts
Labels: semver:patch, typings

#6566 feat: add api error code 160002
  src/util/Constants.js
  typings/index.d.ts
Labels: api support, semver:minor
