Repository discordjs/discord.js, pull requests merged in 2021-02, with the labels that each got.

#5304 fix(WebSocketShard): key name in WebSocketShard#_send.
  src/client/websocket/WebSocketShard.js
Labels: semver: patch, t: sharding, type: bugfix

#5215 feat(Client): add InviteGenerationOptions#additionalScopes
  src/client/Client.js
  src/errors/Messages.js
  src/util/Constants.js
  typings/index.d.ts
Labels: reason: API support, semver: patch, t: gateway, type: enhancement

#4879 refactor: switch api and gateway to V8
  src/client/Client.js
  src/client/actions/ChannelCreate.js
  src/client/actions/MessageCreate.js
  src/client/actions/PresenceUpdate.js
  src/client/websocket/WebSocketShard.js
  src/errors/Messages.js
  src/managers/GuildManager.js
  src/managers/RoleManager.js
  src/rest/RequestHandler.js
  src/structures/ClientPresence.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildAuditLogs.js
  src/structures/GuildChannel.js
  src/structures/PermissionOverwrites.js
  src/structures/Role.js
  src/structures/User.js
  src/util/BitField.js
  src/util/Constants.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  src/util/Speaking.js
  src/util/SystemChannelFlags.js
  src/util/UserFlags.js
  test/createGuild.js
  test/random.js
  test/sendtest.js
  test/shard.js
  test/tester1000.js
  test/voice.js
  test/webhooktest.js
  typings/index.d.ts
  typings/index.ts
Labels: reason: API support, semver: major, t: REST, t: gateway, type: enhancement

#5321 fix(Role): pass Permissions class, not the bitfield
  src/structures/Role.js
Labels: p: medium, semver: patch, t: REST, type: bugfix
