Repository discordjs/discord.js, pull requests merged in 2022-10, with the labels that each got.

#8685 chore(deps): bump discord-api-types
  packages/builders/package.json
  packages/discord.js/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  yarn.lock
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws

#8692 chore(proxy-container): update README for proper request forwarding
  packages/proxy-container/README.md
Labels: documentation, packages:proxy-container

#8691 fix(proxyRequests): forward query parameters
  packages/proxy/src/handlers/proxyRequests.ts
Labels: semver:patch, packages:proxy

#8690 types(ModalBuilder): fix constructor typings
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8633 feat(ForumChannel): add `defaultSortOrder`
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/ForumChannel.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#8694 fix(SequentialHandler): throw http error with proper name and more useful message
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Labels: semver:patch, packages:rest

#8591 feat: add `@discordjs/util`
  .github/labeler.yml
  .github/labels.yml
  packages/actions/src/uploadCoverage/action.yml
  packages/builders/__tests__/util.test.ts
  packages/builders/package.json
  packages/builders/src/components/Component.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/discord.js/package.json
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/proxy/package.json
  packages/proxy/src/util/util.ts
  packages/rest/package.json
  packages/rest/src/lib/RequestManager.ts
  packages/util/.eslintrc.json
  packages/util/.gitignore
  packages/util/.lintstagedrc.js
  packages/util/.prettierignore
  packages/util/.prettierrc.js
  packages/util/LICENSE
  packages/util/README.md
  packages/util/__tests__/Equatable.test.ts
  packages/util/__tests__/JSONEncodable.test.ts
  packages/util/__tests__/lazy.test.ts
  packages/util/__tests__/range.test.ts
  packages/util/__tests__/types/Equatable.test-d.ts
  packages/util/__tests__/types/JSONEncodable.test-d.ts
  packages/util/package.json
  packages/util/src/Equatable.ts
  packages/util/src/JSONEncodable.ts
  packages/util/src/functions/index.ts
  packages/util/src/functions/lazy.ts
  packages/util/src/functions/range.ts
  packages/util/src/index.ts
  packages/util/src/types.ts
  packages/util/tsconfig.eslint.json
  packages/util/tsconfig.json
  packages/util/tsup.config.js
  packages/ws/package.json
  packages/ws/src/index.ts
  packages/ws/src/strategies/context/IContextFetchingStrategy.ts
  packages/ws/src/strategies/sharding/IShardingStrategy.ts
  packages/ws/src/utils/constants.ts
  packages/ws/src/utils/utils.ts
  packages/ws/src/ws/WebSocketManager.ts
  packages/ws/src/ws/WebSocketShard.ts
  yarn.lock
Labels: packages:builders, packages:discord.js, packages:rest, packages:ws, packages:proxy

#8697 fix: Throw discord.js errors correctly
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/src/structures/InteractionResponse.js
  packages/discord.js/src/structures/Sticker.js
Labels: error handling, semver:patch, packages:discord.js

#8705 fix(WebSocketShard): add ready data parameter to ready event
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:minor, packages:ws

#8704 types(Message): remove `& this` from `#inGuild` typeguard
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8699 fix: re-export util
  packages/discord.js/src/index.js
Labels: semver:patch, packages:discord.js

#8693 feat(GuildChannelManager): allow creating channels with a default auto archive duration
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, REST, packages:discord.js

#8696 docs: fix `AwaitMessageComponentOptions` typedef
  packages/discord.js/src/structures/Message.js
Labels: documentation, semver:patch, packages:discord.js

#8707 chore(util): add missing cliff-jumper config file
  packages/util/.cliff-jumperrc.json
Labels: chore, semver:patch, packages:util

#8709 fix(Client): don't auth for webhook fetches with token
  packages/discord.js/src/client/Client.js
Labels: semver:patch, packages:discord.js

#8715 feat: web-components
  .github/labeler.yml
  .github/labels.yml
  .lintstagedrc.json
  .vscode/settings.json
  packages/actions/package.json
  packages/api-extractor-utils/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/guide/astro.config.ts
  packages/guide/package.json
  packages/guide/src/components/Section.tsx
  packages/guide/src/components/SidebarItems.tsx
  packages/guide/src/pages/creating-your-bot/index.mdx
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/ui/.cliff-jumperrc.json
  packages/ui/.eslintrc.json
  packages/ui/.gitignore
  packages/ui/.ladle/components.tsx
  packages/ui/.lintstagedrc.cjs
  packages/ui/.prettierignore
  packages/ui/.prettierrc.cjs
  packages/ui/LICENSE
  packages/ui/api-extractor.json
  packages/ui/cliff.toml
  packages/ui/package.json
  packages/ui/src/lib/components/Section.stories.tsx
  packages/ui/src/lib/components/Section.tsx
  packages/ui/src/lib/index.ts
  packages/ui/tsconfig.eslint.json
  packages/ui/tsconfig.json
  packages/ui/unocss.config.ts
  packages/ui/vite.config.ts
  packages/util/package.json
  packages/voice/package.json
  packages/website/package.json
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/Sections.tsx
  packages/website/src/components/SidebarItems.tsx
  packages/website/src/components/model/Enum.tsx
  packages/website/unocss.config.ts
  packages/ws/package.json
  yarn.lock
Labels: packages:builders, packages:collection, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:website, packages:proxy-container, packages:util, packages:guide

#8720 fix: ws package.json path
  packages/ws/src/utils/constants.ts
Labels: semver:patch, packages:ws

#8723 build: switch to `esbuild-plugin-version-injector` for injecting version strings
  packages/builders/package.json
  packages/builders/src/index.ts
  packages/builders/tsup.config.js
  packages/collection/package.json
  packages/collection/src/index.ts
  packages/collection/tsup.config.js
  packages/rest/package.json
  packages/rest/src/index.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/tsup.config.js
  packages/voice/package.json
  packages/voice/src/index.ts
  packages/voice/src/util/generateDependencyReport.ts
  packages/voice/tsup.config.js
  packages/ws/package.json
  packages/ws/src/index.ts
  packages/ws/src/utils/constants.ts
  packages/ws/tsup.config.js
  tsup.config.js
  yarn.lock
Labels: packages:builders, packages:collection, packages:rest, packages:voice, packages:ws

#8722 feat(guide): add outline for pages
  packages/guide/src/components/Outline.tsx
  packages/guide/src/components/SidebarItems.tsx
  packages/guide/src/components/SidebarLayout.astro
  packages/guide/src/layouts/SidebarLayout.astro
  packages/ui/unocss.config.ts
Labels: packages:guide

#8725 feat(guide): add github links for pages
  packages/guide/astro.config.ts
  packages/guide/src/components/ExternalLink.tsx
  packages/guide/src/components/SidebarLayout.astro
  packages/guide/src/util/constants.ts
  packages/guide/src/util/url.ts
Labels: semver:minor, packages:guide

#8724 fix(Components): error with unknown components
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/util/Components.js
Labels: packages:discord.js

#8727 fix: correctly construct a builder
  packages/discord.js/src/util/Components.js
Labels: semver:patch, packages:discord.js

#8617 fix(ClientOptions): make `ClientOptions#intents` returns an IntentsBitField
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#8717 docs: update UserContextMenuCommandInteraction documentation
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/UserContextMenuCommandInteraction.js
Labels: documentation, semver:patch, packages:discord.js

#8721 docs: update UserContextMenu documentation v13
  src/structures/ContextMenuInteraction.js
  src/structures/UserContextMenuInteraction.js
Labels: documentation, semver:patch, packages:discord.js

#8718 docs(Utils): remove `private` from `parseEmoji`
  packages/discord.js/src/util/Util.js
Labels: documentation, semver:patch, utility, packages:discord.js

#8688 chore: change token in readme to constant
  README.md
  packages/discord.js/README.md
  packages/rest/README.md
  packages/website/src/util/constants.ts
Labels: documentation, semver:patch, packages:discord.js, packages:rest, packages:website

#8701 feat(Util): escape more markdown characters
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/escapeMarkdown.test.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, utility, packages:discord.js

#8729 fix: app paths
  apps/guide/src/util/constants.ts
  apps/website/src/pages/docs/[...slug].tsx
  packages/actions/src/uploadCoverage/action.yml
Labels: apps:guide, apps:website

#8730 chore: make 'Note to developers' on version constant a regular comment
  packages/builders/src/index.ts
  packages/collection/src/index.ts
  packages/rest/src/index.ts
  packages/voice/src/index.ts
  packages/ws/src/index.ts
Labels: packages:builders, packages:collection, packages:rest, packages:voice, packages:ws

#8703 feat(Util): backport `escapeMarkdown` PRs to v13
  src/util/Util.js
  test/escapeMarkdown.test.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js

#8681 types: fix events augmentation
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8731 fix(WebSocketShard): dispatch race condition
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#8732 chore: use `@link` instead of markdown link in tsdocs
  packages/builders/src/index.ts
  packages/collection/src/index.ts
  packages/rest/src/index.ts
  packages/voice/src/index.ts
  packages/ws/src/index.ts
Labels: documentation, packages:builders, packages:collection, packages:rest, packages:voice, packages:ws

#8734 feat(website): Add utility for resolving summaries for json items
  apps/website/src/util/summary.ts
Labels: apps:website

#8741 fix: voice postbuild script
  packages/voice/package.json
Labels: semver:patch, packages:voice

#8739 fix: extract text from link tags for descriptions
  apps/website/src/util/summary.ts
Labels: apps:website

#8738 chore: update api-extractor configurations
  api-extractor.json
  packages/builders/api-extractor.json
  packages/builders/package.json
  packages/collection/api-extractor.json
  packages/collection/package.json
  packages/proxy/api-extractor.json
  packages/proxy/package.json
  packages/rest/api-extractor.json
  packages/rest/package.json
  packages/scripts/src/template/default/api-extractor.json
  packages/scripts/src/template/template.package.json
  packages/ui/api-extractor.json
  packages/util/api-extractor.json
  packages/util/package.json
  packages/voice/api-extractor.json
  packages/voice/package.json
  packages/ws/api-extractor.json
  packages/ws/package.json
  yarn.lock
Labels: chore, packages:builders, packages:collection, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util

#8735 refactor(Embed): use `embedLength` function from builders
  packages/discord.js/src/structures/Embed.js
Labels: refactor, semver:patch, packages:discord.js

#8737 chore: Redirect voice examples to the new repository
  packages/voice/.eslintignore
  packages/voice/README.md
  packages/voice/examples/README.md
  packages/voice/examples/UNLICENSE
  packages/voice/examples/basic/README.md
  packages/voice/examples/basic/adapter.ts
  packages/voice/examples/basic/basic-example.ts
  packages/voice/examples/radio-bot/.gitignore
  packages/voice/examples/radio-bot/README.md
  packages/voice/examples/radio-bot/config.example.json
  packages/voice/examples/radio-bot/index.js
  packages/voice/examples/radio-bot/package.json
  packages/voice/examples/recorder/.eslintrc.json
  packages/voice/examples/recorder/.gitignore
  packages/voice/examples/recorder/README.md
  packages/voice/examples/recorder/auth.example.json
  packages/voice/examples/recorder/package.json
  packages/voice/examples/recorder/recordings/.gitkeep
  packages/voice/examples/recorder/src/bot.ts
  packages/voice/examples/recorder/src/createListeningStream.ts
  packages/voice/examples/recorder/src/deploy.ts
  packages/voice/examples/recorder/src/interactions.ts
  packages/voice/examples/recorder/tsconfig.eslint.json
  packages/voice/examples/recorder/tsconfig.json
Labels: chore, packages:voice

#8743 chore: remove downlevel-dts dependency from template
  packages/scripts/src/template/template.package.json
Labels: chore

#8744 docs: Remove unused imports
  packages/ws/README.md
Labels: documentation, semver:patch, packages:ws

#8548 feat: @discordjs/brokers
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/documentation.yml
  .github/workflows/npm-auto-deprecate.yml
  .github/workflows/publish-dev.yml
  apps/website/src/util/constants.ts
  packages/actions/src/uploadCoverage/action.yml
  packages/brokers/.cliff-jumperrc.json
  packages/brokers/.eslintrc.json
  packages/brokers/.gitignore
  packages/brokers/.lintstagedrc.js
  packages/brokers/.prettierignore
  packages/brokers/.prettierrc.js
  packages/brokers/LICENSE
  packages/brokers/README.md
  packages/brokers/__tests__/index.test.ts
  packages/brokers/api-extractor.json
  packages/brokers/cliff.toml
  packages/brokers/docs/README.md
  packages/brokers/docs/index.json
  packages/brokers/package.json
  packages/brokers/scripts/xcleangroup.lua
  packages/brokers/src/brokers/Broker.ts
  packages/brokers/src/brokers/redis/BaseRedis.ts
  packages/brokers/src/brokers/redis/PubSubRedis.ts
  packages/brokers/src/brokers/redis/RPCRedis.ts
  packages/brokers/src/index.ts
  packages/brokers/tsconfig.eslint.json
  packages/brokers/tsconfig.json
  packages/brokers/tsup.config.js
  yarn.lock
Labels: apps:website

#8752 chore: Bump discord-api-types
  packages/builders/package.json
  packages/discord.js/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  yarn.lock
Labels: chore, dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws

#8567 feat(GuildChannelManager): add `.addFollower()` method
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, REST, packages:discord.js

#8779 fix: make ratelimit timeout require event loop to be active
  packages/rest/src/lib/handlers/SequentialHandler.ts
Labels: semver:patch, packages:rest

#8774 feat: allow deletion of ephemeral messages
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Labels: interactions, semver:patch, packages:discord.js

#8764 fix: censor token in debug output
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#8776 fix(BaseRedisBroker): proper import path to lua script
  packages/brokers/__tests__/index.test.ts
  packages/brokers/src/brokers/redis/BaseRedis.ts
Labels: semver:patch, packages:brokers

#8766 docs(MessageReplyOptions): remove duplicate stickers field
  packages/discord.js/src/structures/Message.js
Labels: documentation, semver:patch, packages:discord.js

#8783 feat: allow punctuation characters in context menus
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
Labels: semver:patch, packages:builders

#8799 fix(escapeMarkdown): fix double escaping (v13)
  src/util/Util.js
Labels: semver:patch, utility, packages:discord.js

#8794 fix(brokers): publish the scripts folder
  packages/brokers/package.json
Labels: semver:patch, packages:brokers

#8784 feat: support resume urls
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/typings/index.d.ts
Labels: gateway, semver:minor, packages:discord.js
