Repository discordjs/discord.js, pull requests merged in 2022-11, with the labels that each got.

#8793 feat: new select menus
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/components.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/package.json
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/selectMenu/BaseSelectMenu.ts
  packages/builders/src/components/selectMenu/ChannelSelectMenu.ts
  packages/builders/src/components/selectMenu/MentionableSelectMenu.ts
  packages/builders/src/components/selectMenu/RoleSelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/StringSelectMenu.ts
  packages/builders/src/components/selectMenu/StringSelectMenuOption.ts
  packages/builders/src/components/selectMenu/UserSelectMenu.ts
  packages/builders/src/index.ts
  packages/discord.js/package.json
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/src/structures/BaseSelectMenuComponent.js
  packages/discord.js/src/structures/ChannelSelectMenuBuilder.js
  packages/discord.js/src/structures/ChannelSelectMenuComponent.js
  packages/discord.js/src/structures/ChannelSelectMenuInteraction.js
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/MentionableSelectMenuBuilder.js
  packages/discord.js/src/structures/MentionableSelectMenuComponent.js
  packages/discord.js/src/structures/MentionableSelectMenuInteraction.js
  packages/discord.js/src/structures/RoleSelectMenuBuilder.js
  packages/discord.js/src/structures/RoleSelectMenuComponent.js
  packages/discord.js/src/structures/RoleSelectMenuInteraction.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuComponent.js
  packages/discord.js/src/structures/SelectMenuInteraction.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/src/structures/StringSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuComponent.js
  packages/discord.js/src/structures/StringSelectMenuInteraction.js
  packages/discord.js/src/structures/StringSelectMenuOptionBuilder.js
  packages/discord.js/src/structures/UserSelectMenuBuilder.js
  packages/discord.js/src/structures/UserSelectMenuComponent.js
  packages/discord.js/src/structures/UserSelectMenuInteraction.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  yarn.lock
Labels: api support, semver:minor, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws

#8768 docs: make WebSocketShard.lastPingTimestamp public
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, sharding, packages:discord.js

#8760 feat: add `Message#bulkDeletable`
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, REST, packages:discord.js

#8786 feat(ThreadChannel): add a helper for pin and unpin
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#8790 fix(Transfomers): call `.toJSON` in `toSnakeCase`
  packages/discord.js/src/util/Transformers.js
Labels: semver:patch, packages:discord.js

#8798 fix(escapeMarkdown): fix double escaping
  packages/discord.js/src/util/Util.js
Labels: semver:patch, utility, packages:discord.js

#8802 docs: add section on testing local changes
  .github/CONTRIBUTING.md
Labels: documentation

#8805 feat(SelectMenuInteractions): add `values` property
  packages/discord.js/src/structures/ChannelSelectMenuInteraction.js
  packages/discord.js/src/structures/MentionableSelectMenuInteraction.js
  packages/discord.js/src/structures/RoleSelectMenuInteraction.js
  packages/discord.js/src/structures/UserSelectMenuInteraction.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, typings, packages:discord.js

#8393 feat: add `Collection#subtract()`
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:minor, packages:collection

#8824 docs: add `@extends` for select menu classes
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuComponent.js
  packages/discord.js/src/structures/SelectMenuInteraction.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
Labels: documentation, semver:patch, packages:discord.js

#8834 docs: Specify `ActionRowBuilder` for `components`
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js

#8836 chore: turbo cache coverage
  turbo.json
Labels: chore

#7938 feat: Auto Moderation
  .github/ISSUE_TEMPLATE/bug_report.yml
  packages/discord.js/src/client/actions/ActionsManager.js
  packages/discord.js/src/client/actions/AutoModerationActionExecution.js
  packages/discord.js/src/client/actions/AutoModerationRuleCreate.js
  packages/discord.js/src/client/actions/AutoModerationRuleDelete.js
  packages/discord.js/src/client/actions/AutoModerationRuleUpdate.js
  packages/discord.js/src/client/websocket/handlers/AUTO_MODERATION_ACTION_EXECUTION.js
  packages/discord.js/src/client/websocket/handlers/AUTO_MODERATION_RULE_CREATE.js
  packages/discord.js/src/client/websocket/handlers/AUTO_MODERATION_RULE_DELETE.js
  packages/discord.js/src/client/websocket/handlers/AUTO_MODERATION_RULE_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/AutoModerationRuleManager.js
  packages/discord.js/src/structures/AutoModerationActionExecution.js
  packages/discord.js/src/structures/AutoModerationRule.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/src/util/Sweepers.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js

#8819 docs: Fix message action row components
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/util/APITypes.js
Labels: documentation, semver:patch, packages:discord.js

#8861 fix: fixed react/astro/guide/discord.js build, updated dependencies, fix crawlvatar
  apps/guide/astro.config.ts
  apps/guide/package.json
  apps/guide/src/pages/creating-your-bot/creating-commands.mdx
  apps/guide/src/pages/test.mdx
  apps/guide/src/pages/whats-new.mdx
  apps/website/package.json
  packages/discord.js/typings/index.d.ts
  yarn.lock
Labels: packages:discord.js, apps:guide, apps:website

#8848 docs(AutoModerationRuleManager): Describe cache
  packages/discord.js/src/managers/AutoModerationRuleManager.js
Labels: documentation, semver:patch, packages:discord.js

#8842 fix(Activity): Fix equals() not checking for differing emoji (v13)
  src/structures/Presence.js
Labels: semver:patch, packages:discord.js

#8841 fix(Activity): Fix equals() not checking for differing emoji
  packages/discord.js/src/structures/Presence.js
Labels: semver:patch, packages:discord.js

#8838 feat(InteractionResponses): add message parameter (v13)
  src/structures/interfaces/InteractionResponses.js
  typings/index.d.ts
Labels: interactions, semver:minor, REST, packages:discord.js

#8840 docs: describe InteractionEditReplyOptions
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Labels: documentation, semver:patch, packages:discord.js

#8811 fix: backport allow deletion of ephemeral messages to v13
  src/errors/Messages.js
  src/structures/interfaces/InteractionResponses.js
Labels: interactions, semver:patch, packages:discord.js

#8828 fix(MessageMentions): add `InGuild` generic
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8761 feat: add `Message#bulkDeletable` (v13)
  src/structures/Message.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/Constants.js
  typings/index.d.ts
Labels: semver:minor, REST, packages:discord.js

#8823 types(Formatters): allow boolean in `formatEmoji`
  packages/builders/src/messages/formatters.ts
Labels: semver:patch, packages:builders

#8777 feat(guide): add next and previous page buttons
  apps/guide/src/components/PageButton.tsx
  apps/guide/src/components/SidebarLayout.astro
Labels: apps:guide

#8812 feat(Webhook): add `channel` property
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#8869 feat(website): add `app` dir
  apps/website/.gitignore
  apps/website/next.config.js
  apps/website/src/app/docs/[...slug]/layout.tsx
  apps/website/src/app/docs/[...slug]/not-found.tsx
  apps/website/src/app/docs/[...slug]/page.tsx
  apps/website/src/app/docs/[...slug]/providers.tsx
  apps/website/src/app/docs/packages/[package]/page.tsx
  apps/website/src/app/docs/packages/page.tsx
  apps/website/src/app/head.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/src/app/providers.tsx
  apps/website/src/components/CmdK.tsx
  apps/website/src/components/CodeListing.tsx
  apps/website/src/components/DocContainer.tsx
  apps/website/src/components/Header.tsx
  apps/website/src/components/HyperlinkedText.tsx
  apps/website/src/components/InheritanceText.tsx
  apps/website/src/components/MDXRemote.tsx
  apps/website/src/components/MethodItem.tsx
  apps/website/src/components/MethodList.tsx
  apps/website/src/components/Nav.tsx
  apps/website/src/components/PackageSelect.tsx
  apps/website/src/components/ParameterTable.tsx
  apps/website/src/components/PropertyList.tsx
  apps/website/src/components/Sections.tsx
  apps/website/src/components/SidebarItems.tsx
  apps/website/src/components/SidebarLayout.tsx
  apps/website/src/components/SyntaxHighlighter.tsx
  apps/website/src/components/Table.tsx
  apps/website/src/components/TableOfContentItems.tsx
  apps/website/src/components/TypeParamTable.tsx
  apps/website/src/components/VersionSelect.tsx
  apps/website/src/components/model/Class.tsx
  apps/website/src/components/model/Enum.tsx
  apps/website/src/components/model/Function.tsx
  apps/website/src/components/model/Interface.tsx
  apps/website/src/components/model/TypeAlias.tsx
  apps/website/src/components/model/Variable.tsx
  apps/website/src/components/tsdoc/BlockComment.tsx
  apps/website/src/components/tsdoc/TSDoc.tsx
  apps/website/src/contexts/cmdK.tsx
  apps/website/src/contexts/member.tsx
  apps/website/src/contexts/nav.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/_document.tsx
  apps/website/src/pages/docs/[...slug].tsx
  apps/website/src/styles/main.css
  apps/website/tsconfig.json
Labels: apps:website

#8736 feat: Add `@discordjs/core`
  .github/labeler.yml
  .github/labels.yml
  packages/core/.cliff-jumperrc.json
  packages/core/.eslintrc.json
  packages/core/.gitignore
  packages/core/.lintstagedrc.js
  packages/core/.prettierignore
  packages/core/.prettierrc.js
  packages/core/LICENSE
  packages/core/README.md
  packages/core/api-extractor.json
  packages/core/cliff.toml
  packages/core/package.json
  packages/core/src/api/applicationCommands.ts
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
  packages/core/src/api/index.ts
  packages/core/src/api/interactions.ts
  packages/core/src/api/invite.ts
  packages/core/src/api/sticker.ts
  packages/core/src/api/thread.ts
  packages/core/src/api/user.ts
  packages/core/src/api/voice.ts
  packages/core/src/api/webhook.ts
  packages/core/src/client.ts
  packages/core/src/index.ts
  packages/core/src/util/files.ts
  packages/core/src/util/index.ts
  packages/core/tsconfig.eslint.json
  packages/core/tsconfig.json
  packages/core/tsup.config.js
  packages/rest/src/lib/RequestManager.ts
  yarn.lock
Labels: packages:rest

#8874 chore: Update /core constants
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/documentation.yml
  .github/workflows/npm-auto-deprecate.yml
  .github/workflows/publish-dev.yml
  apps/website/src/app/docs/[...slug]/page.tsx
  apps/website/src/util/constants.ts
  packages/scripts/src/generateIndex.ts
Labels: chore, apps:website

#8868 refactor: update `makeURLSearchParams` to accept readonly non-`Record`s
  packages/rest/__tests__/utils.test.ts
  packages/rest/src/lib/utils/utils.ts
Labels: typings, packages:rest

#8878 ci: Fix typo for /core labels
  .github/labeler.yml
Labels: ci

#8866 feat(website): add link to discord-api-types
  apps/website/src/app/docs/packages/page.tsx
Labels: apps:website

#8877 fix: remove casts when using `makeURLSearchParams()`
  packages/core/src/api/applicationCommands.ts
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
  packages/core/src/api/invite.ts
  packages/core/src/api/user.ts
  packages/core/src/api/webhook.ts
Labels: semver:patch, packages:core
