Repository discordjs/discord.js, pull requests merged in 2022-03, with the labels that each got.

#7542 fix: Handle partial data for `Typing#user`
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, packages:discord.js

#7554 feat(GuildPreview): Add stickers to version 13
  src/structures/GuildPreview.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7555 fix(ThreadChannel): Require `sendable` for `unarchivable`
  src/structures/ThreadChannel.js
Labels: semver:minor, packages:discord.js

#7559 feat(ThreadChannel): Backport creation timestamp
  src/structures/ThreadChannel.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7560 feat: Backport sending message flags
  src/structures/MessagePayload.js
  src/structures/Webhook.js
  src/structures/interfaces/InteractionResponses.js
  src/structures/interfaces/TextBasedChannel.js
  typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7561 feat: Backport cache types resolving to `never`
  typings/index.d.ts
  typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#7562 feat: Backport `MessageMentions` channel type fixes
  typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7573 types: allow raw components for reply and message options
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#7522 refactor(Embed): remove add field
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Labels: semver:major, packages:builders

#7578 fix: check if member has admininistrator on `moderatable` (v13)
  src/structures/GuildMember.js
Labels: api changes, semver:patch, packages:discord.js

#7023 feat: Add Modals and Text Inputs
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/textInput.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/package.json
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/discord.js/package.json
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/Modal.js
  packages/discord.js/src/structures/ModalSubmitFieldsResolver.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/TextInputComponent.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Embeds.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  yarn.lock
Labels: api support, semver:minor, discord, packages:builders, packages:discord.js

#7568 chore: bump turborepo
  package.json
  turbo.json
  yarn.lock
Labels: chore

#7610 fix(MessageManager): pin route
  packages/discord.js/src/managers/MessageManager.js
Labels: semver:patch, packages:discord.js

#7608 types: modals type and doc fixes
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
Labels: documentation, semver:patch, typings, packages:discord.js

#7605 fix(GuildStickerManager): correctly access guild ID
  packages/discord.js/src/managers/GuildStickerManager.js
Labels: semver:patch, packages:discord.js

#7599 refactor(InteractionResponses): use ClientOptions.jsonTransformer
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Labels: semver:patch, packages:discord.js

#7600 types(showModal): align types with the documentation
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#7598 feat: add support for module: NodeNext in TS and ESM
  packages/builders/package.json
  packages/collection/package.json
  packages/rest/package.json
  packages/voice/package.json
Labels: chore, packages:builders, packages:collection, packages:rest, packages:voice

#7596 feat(ModalSubmitInteraction): add boolean properties
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7593 refactor(embed): allow hex strings in `setColor()`
  packages/discord.js/src/structures/Embed.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:minor, packages:discord.js

#7591 fix(messagementions): fix `has` method for v13
  src/structures/MessageMentions.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7590 refactor: remove obsolete builder methods
  packages/builders/__tests__/interactions/SlashCommands/Options.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/docs/examples/Slash Command Builders.md
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/SharedSlashCommandOptions.ts
Labels: refactor, semver:major, packages:builders

#7587 fix(Util): escapeInlineCode properly
  packages/discord.js/src/util/Util.js
Labels: semver:patch, packages:discord.js

#7531 types(ActionRow): allow components to be passed to constructors
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7539 fix(ThreadMembersUpdate): Only emit added & removed thread members
  .github/ISSUE_TEMPLATE/bug_report.yml
  packages/discord.js/src/client/actions/Action.js
  packages/discord.js/src/client/actions/ThreadMembersUpdate.js
  packages/discord.js/src/structures/ThreadMember.js
  packages/discord.js/src/util/Partials.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, packages:discord.js

#7508 fix(RequestHandler): only reset tokens for authenticated 401s
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Labels: semver:patch, packages:rest

#7569 feat(VoiceState): add edit method
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7613 feat(scheduledevents): Event cover images for v13
  src/structures/GuildScheduledEvent.js
  src/util/Constants.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#7551 docs(InteractionCollector): Document channel option type
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/util/Constants.js
Labels: documentation, regression, packages:discord.js

#7615 fix(Embed): fix incorrect destructuring import
  packages/discord.js/src/structures/Embed.js
Labels: regression, semver:patch, packages:discord.js

#7576 feat(StageInstance): Add support for associated guild event
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7538 fix(SelectMenu): set `placeholder` max to 150
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/Assertions.ts
Labels: api changes, packages:builders

#7624 types(InteractionCollector): Fix guild and channel types
  src/structures/InteractionCollector.js
  src/util/Constants.js
  typings/index.d.ts
Labels: documentation, semver:patch, typings, packages:discord.js

#7614 types: allow component classes in action row data
  packages/discord.js/typings/index.d.ts
Labels: regression, semver:patch, typings, packages:discord.js

#7584 refactor: Don't return builders from API data
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/button.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/components/textInput.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenuOption.ts
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/components/textInput/UnsafeTextInput.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/builders/src/interactions/modals/UnsafeModal.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/builders/src/util/componentUtil.ts
  packages/discord.js/package.json
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/ButtonComponent.js
  packages/discord.js/src/structures/Component.js
  packages/discord.js/src/structures/Embed.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Modal.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuComponent.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/TextInputComponent.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  yarn.lock
Labels: refactor, semver:major, packages:builders, packages:discord.js

#7654 fix: Remove Modal export
  packages/discord.js/src/index.js
Labels: semver:patch, packages:discord.js

#7643 types(ColorResolvable): simplify string types
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7673 refactor(EmbedBuilder): allow hex strings in setColor
  packages/discord.js/src/structures/EmbedBuilder.js
Labels: regression, semver:patch, packages:discord.js

#7665 types(Embed): add forgotten `footer` type
  packages/discord.js/typings/index.d.ts
Labels: regression, semver:patch, typings, packages:discord.js

#7662 feat(embed): remove Embed.setColor
  packages/discord.js/src/structures/Embed.js
Labels: regression, semver:patch, packages:discord.js

#7701 refactor: use `static` fields
  packages/discord.js/.eslintrc.json
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/util/ActivityFlagsBitField.js
  packages/discord.js/src/util/ApplicationFlagsBitField.js
  packages/discord.js/src/util/BitField.js
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/src/util/Formatters.js
  packages/discord.js/src/util/IntentsBitField.js
  packages/discord.js/src/util/MessageFlagsBitField.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/src/util/PermissionsBitField.js
  packages/discord.js/src/util/SystemChannelFlagsBitField.js
  packages/discord.js/src/util/ThreadMemberFlagsBitField.js
  packages/discord.js/src/util/UserFlagsBitField.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, utility, packages:discord.js

#7694 chore(ci): fix dev deploy workflow
  .github/workflows/publish-dev.yml
Labels: chore, ci

#7566 fix: Validate select menu options
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
Labels: semver:patch, packages:builders

#7575 fix(guild): throw if ownerId falsey
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/structures/Guild.js
Labels: semver:major, packages:discord.js

#7597 types(InteractionResponseFields): add webhook
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7616 refactor: allow builders to accept emoji strings
  packages/builders/src/components/selectMenu/UnsafeSelectMenuOption.ts
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:minor, packages:builders, packages:discord.js

#7625 fix(GuildScheduledEvent): handle missing `image`
  packages/discord.js/src/structures/GuildScheduledEvent.js
Labels: semver:patch, packages:discord.js

#7627 fix(GuildScheduledEvent): handle missing `image` for v13
  src/structures/GuildScheduledEvent.js
Labels: semver:patch, packages:discord.js

#7630 fix: `AuthenticationFailed` error not thrown at login with invalid token
  packages/discord.js/src/client/websocket/WebSocketManager.js
Labels: semver:patch, packages:discord.js

#7632 fix(GuildEditData): some fields can be null
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7637 refactor(RichPresenceAssets): Remove undocumented checks
  packages/discord.js/src/structures/Presence.js
Labels: semver:major, packages:discord.js

#7638 fix(util): allow `escapeInlineCode` to escape double backtics
  packages/discord.js/src/util/Util.js
Labels: semver:patch, packages:discord.js

#7641 fix(AnonymousGuild): Handle possibly missing `premium_subscription_count`
  packages/discord.js/src/structures/AnonymousGuild.js
Labels: semver:patch, packages:discord.js

#7667 refactor(InteractionCollector): simplify constructor logic
  packages/discord.js/src/structures/InteractionCollector.js
Labels: refactor, semver:patch, packages:discord.js

#7703 fix: Audit log static reference
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#7704 refactor(GuildAuditLogs): Remove static build method
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#7689 fix(gateway): use version 10
  README.md
  packages/discord.js/README.md
  packages/discord.js/src/util/Options.js
  packages/rest/src/lib/REST.ts
Labels: packages:discord.js, packages:rest

#7688 types: Fix auto archive duration type
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7680 fix(GuildMemberManager): return type can be null
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/typings/index.d.ts
Labels: typings, packages:discord.js

#7678 types(Constants): add `NonSystemMessageTypes` property
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7709 ci: Resolve potentially invalid version
  .github/workflows/publish-dev.yml
Labels: chore, ci

#7706 docs: Add back static properties and methods
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/util/ActivityFlagsBitField.js
  packages/discord.js/src/util/ApplicationFlagsBitField.js
  packages/discord.js/src/util/BitField.js
  packages/discord.js/src/util/Formatters.js
  packages/discord.js/src/util/IntentsBitField.js
  packages/discord.js/src/util/MessageFlagsBitField.js
  packages/discord.js/src/util/PermissionsBitField.js
  packages/discord.js/src/util/SystemChannelFlagsBitField.js
  packages/discord.js/src/util/ThreadMemberFlagsBitField.js
Labels: documentation, semver:patch, packages:discord.js

#7725 chore(build): disable tsup minification & add `"use strict";` banner to CJS bundles
  packages/builders/tsup.config.ts
  packages/collection/tsup.config.ts
  packages/rest/tsup.config.ts
  packages/voice/tsup.config.ts
Labels: packages:builders, packages:collection, packages:rest, packages:voice
