Repository discordjs/discord.js, pull requests merged in 2022-05, with the labels that each got.

#7864 types(discord.js): export missing enums
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, typings, packages:discord.js

#7863 docs(shardingmanager): fix type of `execArgv` option (v13)
  src/sharding/ShardingManager.js
Labels: documentation, semver:patch, packages:discord.js

#6921 feat(VoiceChannel): add support for text in voice
  packages/discord.js/src/client/actions/WebhooksUpdate.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7906 fix(MessageEmbed): fix a typo
  src/structures/MessageEmbed.js
Labels: semver:patch, packages:discord.js

#7880 fix(AuditLog): default changes to empty array
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7846 refactor(ThreadChannel): Remove `MAX` helper from threads
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:major, packages:discord.js

#7875 docs(InteractionResponses): replace outdated Embed example for reply
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Labels: documentation, semver:patch, packages:discord.js

#7908 types(guildScheduledEvent): Mark `entityMetadata` as nullable
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7862 fix: add localizations for subcommand builders and option choices
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandSubcommands.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionBase.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
Labels: semver:patch, packages:builders

#7914 chore: bump shapeshift for faster object validation
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/package.json
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/messages/embed/Assertions.ts
  yarn.lock
Labels: semver:patch, packages:builders

#7747 feat(rest): use undici
  .vscode/settings.json
  packages/discord.js/package.json
  packages/rest/__tests__/CDN.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/__tests__/RequestManager.test.ts
  packages/rest/__tests__/Util.test.ts
  packages/rest/__tests__/util.ts
  packages/rest/jest.config.js
  packages/rest/jest.setup.js
  packages/rest/package.json
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/src/lib/utils/utils.ts
  yarn.lock
Labels: refactor, semver:major, packages:discord.js, packages:rest

#7868 types: make `CacheType` generic more accurate for return values
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7669 feat: move `me` to `GuildMemberManager` manager
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7861 feat(builders): add new command permissions v2
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Labels: api support, semver:major, packages:builders

#7876 feat(EnumResolvers): remove Enumresolvers
  packages/discord.js/src/index.js
  packages/discord.js/src/util/EnumResolvers.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7923 chore: Bump discord-api-types
  packages/builders/package.json
  packages/discord.js/package.json
  packages/rest/package.json
  packages/voice/package.json
  yarn.lock
Labels: packages:builders, packages:discord.js, packages:rest, packages:voice

#7919 fix: ok statusCode can be 200..299
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Labels: semver:patch, packages:rest

#7922 fix(REST): remove dom types
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/index.ts
Labels: semver:patch, packages:rest

#7921 fix(SlashCommandBuilder): import `Permissions` correctly
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Labels: semver:patch, packages:builders

#7928 fix(DataResolver): fix check for readable streams
  packages/discord.js/src/util/DataResolver.js
Labels: refactor, semver:patch, utility, packages:discord.js

#7932 fix: Remove trailing invites on channel deletion
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
Labels: caching, semver:patch, packages:discord.js

#7934 chore(deps): update `discord-api-types` and /voice
  packages/builders/package.json
  packages/discord.js/package.json
  packages/discord.js/test/random.js
  packages/rest/package.json
  packages/voice/examples/basic/adapter.ts
  packages/voice/examples/basic/basic-example.ts
  packages/voice/examples/music-bot/.eslintrc.json
  packages/voice/examples/music-bot/.gitignore
  packages/voice/examples/music-bot/README.md
  packages/voice/examples/music-bot/auth.example.json
  packages/voice/examples/music-bot/package.json
  packages/voice/examples/music-bot/src/bot.ts
  packages/voice/examples/music-bot/src/music/subscription.ts
  packages/voice/examples/music-bot/src/music/track.ts
  packages/voice/examples/music-bot/tsconfig.eslint.json
  packages/voice/examples/music-bot/tsconfig.json
  packages/voice/examples/radio-bot/package.json
  packages/voice/examples/recorder/package.json
  packages/voice/examples/recorder/src/bot.ts
  packages/voice/examples/recorder/src/createListeningStream.ts
  packages/voice/examples/recorder/src/deploy.ts
  packages/voice/examples/recorder/src/interactions.ts
  packages/voice/package.json
  yarn.lock
Labels: dependencies, semver:major, packages:builders, packages:discord.js, packages:rest, packages:voice

#7931 chore: enable noUncheckedIndexAccess
  packages/collection/src/index.ts
  packages/rest/src/lib/RequestManager.ts
  packages/voice/src/audio/AudioResource.ts
  packages/voice/src/networking/VoiceUDPSocket.ts
  packages/voice/src/receive/VoiceReceiver.ts
  tsconfig.json
Labels: packages:collection, packages:rest, packages:voice

#7943 fix(TextBasedChannel#bulkDelete): return deleted message
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: semver:patch, packages:discord.js

#7945 fix: make sure action row builders create djs builders
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js

#7955 types: nullify `guildScheduledEventUpdate`'s old parameter
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7948 chore: fix git cliff configs
  packages/builders/cliff.toml
  packages/collection/cliff.toml
  packages/discord.js/cliff.toml
  packages/rest/cliff.toml
  packages/voice/cliff.toml
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice

#7909 chore: reexport all dapi-types
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, typings, packages:discord.js

#7942 feat: Export types from `interactions/slashCommands/mixins`
  packages/builders/src/index.ts
Labels: semver:minor, packages:builders
