Repository discordjs/discord.js, pull requests merged in 2022-02, with the labels that each got.

#7382 chore: Specify new root
  packages/discord.js/package.json
Labels: documentation, packages:discord.js

#7385 chore: add keepNames tsup option
  packages/builders/tsup.config.ts
  packages/rest/tsup.config.ts
  packages/voice/tsup.config.ts
Labels: chore, packages:builders, packages:rest, packages:voice

#7391 fix(builders): make type optional in constructor
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Button.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
Labels: semver:patch, packages:builders

#7390 docs: add external builder docs links
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js

#7393 fix: fix some typos
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/discord.js/typings/index.d.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/voice/src/networking/VoiceWebSocket.ts
Labels: packages:builders, packages:discord.js, packages:rest, packages:voice

#7386 feat(thread): add `newlyCreated` to `threadCreate` event
  packages/discord.js/src/client/actions/ThreadCreate.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7378 fix: messageReaction.me being false when it shouldn't
  packages/discord.js/src/structures/MessageReaction.js
Labels: semver:patch, packages:discord.js

#7387 feat(components): Add unsafe message component builders
  packages/builders/__tests__/components/button.test.ts
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenuOption.ts
  packages/builders/src/index.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:builders, packages:discord.js

#7397 types: use `GuildFeature` enum from `discord-api-types`
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/BaseGuild.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildPreview.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#7366 fix(rest): sublimit all requests on unhandled routes
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/utils/utils.ts
Labels: semver:minor, packages:rest

#7368 docs: add supported option types for autocomplete
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/CommandInteraction.js
Labels: documentation, semver:patch, packages:discord.js

#7403 chore(CONTRIBUTING.md): update to yarn instructions
  .github/CONTRIBUTING.md
Labels: chore

#7413 docs(messageattachment): fix `contentType` docs
  packages/discord.js/src/structures/MessageAttachment.js
Labels: documentation, semver:patch, packages:discord.js

#7411 docs(channel): fix `isDMBased` docs
  packages/discord.js/src/structures/Channel.js
Labels: documentation, semver:patch, packages:discord.js

#7414 fix: use png as extension for defaultAvatarURL
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: regression, semver:patch, packages:rest

#7421 fix: correctly export UnsafeSelectMenuComponent from builders
  packages/discord.js/src/index.js
Labels: semver:patch, packages:discord.js

#7415 fix(clientpresence): fix used opcodes
  packages/discord.js/src/structures/ClientPresence.js
Labels: gateway, semver:patch, packages:discord.js

#7418 fix: unsafe embed builder field normalization
  packages/builders/src/components/Component.ts
  packages/builders/src/index.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/builders/src/util/jsonEncodable.ts
Labels: semver:patch, packages:builders

#7428 types: Remove duplicate `GuildChannelOverwriteOptions` interface
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7423 types: fix `GuildAuditLogsTypes` keys & typos
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7396 refactor: remove conditional autocomplete option return types
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
Labels: refactor, semver:patch, packages:builders

#7402 feat(channel): add .url getter
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7300 feat: add methods to managers
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:minor, packages:discord.js

#7401 fix(guildmember): make `pending` nullable
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7446 fix(guildchannelmanager): edit always sets parent to null
  packages/discord.js/src/managers/GuildChannelManager.js
Labels: semver:patch, REST, packages:discord.js

#7436 feat(scheduledevents): add image option
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7440 fix(guild): remove `maximumPresences` default value
  packages/discord.js/src/structures/Guild.js
Labels: api changes, refactor, semver:major, packages:discord.js

#7442 voice: pass joinConfig.group to getVoiceConnection
  packages/voice/__tests__/VoiceConnection.test.ts
  packages/voice/src/VoiceConnection.ts
Labels: regression, semver:patch, packages:voice

#7384 fix(guildmember): check if member has administrator permission
  packages/discord.js/src/structures/GuildMember.js
Labels: api changes, semver:major, discord, packages:discord.js

#7424 refactor: allow discord.js builders to accept camelCase
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/ButtonComponent.js
  packages/discord.js/src/structures/Embed.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/SelectMenuComponent.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Embeds.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:minor, packages:discord.js

#7449 refactor!: remove redundant API defaults
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: semver:major, packages:discord.js

#7452 typings: correct types for InteractionCollector guild and channel
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7339 docs: add slash command builders example, fixes #7338
  packages/builders/.gitignore
  packages/builders/docs/examples/Slash Command Builders.md
Labels: documentation, packages:builders

#7358 fix(MessageEmbed): set footer to undefined
  src/structures/MessageEmbed.js
Labels: semver:patch, packages:discord.js

#7422 refactor: make public builder props getters
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenuOption.ts
  packages/builders/src/messages/embed/Assertions.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/discord.js/typings/index.test-d.ts
Labels: packages:builders, packages:discord.js

#7454 fix(ci): ci error
  packages/discord.js/typings/index.test-d.ts
  packages/rest/__tests__/util.ts
Labels: semver:patch, packages:discord.js, packages:rest

#7203 feat(builders): add attachment command option type
  package.json
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/package.json
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/slashCommands/mixins/SharedSlashCommandOptions.ts
  packages/builders/src/interactions/slashCommands/options/attachment.ts
  packages/collection/package.json
  packages/discord.js/package.json
  packages/discord.js/typings/index.d.ts
  packages/rest/package.json
  packages/voice/package.json
  yarn.lock
Labels: api support, semver:minor, discord, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice

#7447 refactor(guildbanmanager)!: rename days option to deleteMessageDays
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#7200 feat: attachment application command option type
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7461 fix(components): setX should take rest parameters
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
Labels: regression, semver:patch, packages:builders

#7460 refactor(actions): use optional chaining
  packages/discord.js/src/client/actions/MessageReactionAdd.js
  packages/discord.js/src/client/actions/MessageReactionRemove.js
  packages/discord.js/src/client/actions/MessageReactionRemoveAll.js
  packages/discord.js/src/client/actions/MessageReactionRemoveEmoji.js
Labels: semver:patch, packages:discord.js

#7465 types: Remove duplicate rate limit for thread creation
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7459 refactor(requestmanager): use timestampfrom
  packages/rest/src/lib/RequestManager.ts
Labels: semver:patch, packages:rest

#7451 refactor(guild): move `premiumSubscriptionCount` to `AnonymousGuild`
  packages/discord.js/src/structures/AnonymousGuild.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: api support, refactor, semver:minor, packages:discord.js

#7457 fix(dataresolver): ensure fetched file is convert to a buffer
  packages/discord.js/src/util/DataResolver.js
Labels: semver:patch, REST, packages:discord.js

#7318 rest: prefer arrayBuffer over buffer
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/utils/utils.ts
Labels: semver:major, packages:rest

#7437 refactor: deprecate invite stage instance
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/InviteStageInstance.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, documentation, typings, packages:discord.js

#7470 types(embed): fix timestamp allowed types
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7464 fix: use case converter for json component serialization
  packages/discord.js/package.json
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/ButtonComponent.js
  packages/discord.js/src/structures/Embed.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/SelectMenuComponent.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Embeds.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
  yarn.lock
Labels: semver:minor, packages:discord.js

#7320 feat!: add CategoryChannelChildManager
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/structures/CategoryChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:major, packages:discord.js

#7389 docs: ApplicationCommandData typedef
  packages/discord.js/src/structures/ApplicationCommand.js
Labels: documentation, semver:patch, packages:discord.js

#7476 feat(options): Add support for custom JSON transformers
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7466 feat: add missing `v13` component methods
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/button.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/package.json
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/messages/embed/Assertions.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
  packages/builders/src/util/equatable.ts
  yarn.lock
Labels: semver:minor, packages:builders

#7491 types: Remove `ApplicationCommandInteractionOptionResolver`
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7502 refactor(components): default set boolean methods to true
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/button/UnsafeButton.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenuOption.ts
Labels: semver:minor, packages:builders

#7507 chore: disable scope-case rule for commitlint
  .commitlintrc.json
Labels: chore

#7500 docs: correctly type getters
  packages/discord.js/src/structures/GuildPreview.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/typings/index.d.ts
Labels: documentation, refactor, semver:patch, typings, packages:discord.js

#7498 refactor(embed): remove array support in favor of rest params
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Labels: refactor, semver:major, packages:builders

#7480 types: V13 channel create overloads fix
  typings/index.d.ts
  typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#7494 fix: allow unsafe embeds to be serialized
  packages/discord.js/src/structures/MessagePayload.js
Labels: regression, semver:patch, packages:discord.js

#7497 fix: properly serialize `undefined` values
  packages/discord.js/src/util/Transformers.js
Labels: regression, semver:patch, packages:discord.js

#7481 feat(thread): v13 add `newlyCreated` to `threadCreate` event
  src/client/actions/ThreadCreate.js
  typings/index.d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7486 refactor: make `data` public in builders
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/selectMenu/UnsafeSelectMenu.ts
  packages/builders/src/messages/embed/UnsafeEmbed.ts
Labels: refactor, semver:minor, packages:builders

#7484 fix(builders): allow negative min/max value of number/integer option
  packages/builders/__tests__/interactions/SlashCommands/Options.test.ts
  packages/builders/src/interactions/slashCommands/options/integer.ts
  packages/builders/src/interactions/slashCommands/options/number.ts
Labels: semver:minor, packages:builders

#7501 fix(invite): add back channelId property
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7532 chore: Correct gateway intent on issue form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: chore

#7528 feat: re-export AuditLogEvent enum
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7514 fix(MessagePayload): don't set reply flags to target flags
  packages/discord.js/src/structures/MessagePayload.js
Labels: semver:patch, packages:discord.js

#7515 fix(MessagePayload): v13 don't set reply flags to target flags
  src/structures/MessagePayload.js
Labels: semver:patch, packages:discord.js

#7520 feat(message): add `reason` on pin and unpin
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7521 fix(typings): sweepStageInstances typo
  typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7523 fix(test): `MessageActionRow` to `ActionRow`
  packages/discord.js/typings/index.test-d.ts
Labels: tests, typings, packages:discord.js

#7472 types(anychannel): add PartialGroupDMChannel
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7482 feat(discord.js): partial transition to undici
  packages/discord.js/package.json
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/sendtest.js
  packages/discord.js/test/webhooktest.js
  yarn.lock
Labels: semver:minor, packages:discord.js

#7537 fix(guild): fix typo accessing user instead of users
  packages/discord.js/src/structures/Guild.js
Labels: semver:patch, packages:discord.js

#7541 types: use discord-api-types `Locale`
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:minor, typings, packages:discord.js

#7546 fix: only check `instanceof Component` once
  packages/builders/src/components/Components.ts
Labels: semver:patch, packages:builders

#7550 revert: chore: commit scope name in lowercase
  .github/COMMIT_CONVENTION.md
Labels: chore

#7549 feat(scheduledevents): add image option (v13)
  src/managers/GuildScheduledEventManager.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7543 docs: Completely fix builders example link
  packages/builders/README.md
Labels: documentation, packages:builders

#7536 types: fix component *Data types
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js
