Repository discordjs/discord.js, pull requests merged in 2022-09, with the labels that each got.

#8582 fix: docgen
  packages/docgen/src/types/item.ts
Labels: semver:patch, packages:docgen

#8576 chore(website): put seperators between properties
  packages/website/src/components/PropertyList.tsx
Labels: packages:website

#8575 feat(GuildBanManager): Add `deleteMessageSeconds`
  src/managers/GuildBanManager.js
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#8580 add MESSAGE_CONTENT intent (v13)
  src/util/Intents.js
  typings/index.d.ts
Labels: api support, gateway, semver:minor, packages:discord.js

#8541 types(webhook): avatar can be null
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8560 types(ThreadChannel): `fetchStarterMessage` must return a `Message<true>`
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8584 chore(website): bump api-extractor-model
  packages/api-extractor-utils/package.json
  packages/api-extractor-utils/src/ApiNodeJSONEncoder.ts
  packages/scripts/package.json
  packages/website/package.json
  yarn.lock
Labels: packages:website

#8546 feat: add `chatInputApplicationCommandMention` formatter
  packages/builders/__tests__/messages/formatters.test.ts
  packages/builders/src/messages/formatters.ts
  packages/discord.js/src/util/Formatters.js
Labels: semver:minor, packages:builders, packages:discord.js

#8483 feat(Integration): add `scopes`
  packages/discord.js/src/structures/Integration.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#8597 docs: use remarks instead of `Note` in descriptions
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Labels: documentation, semver:patch, packages:builders

#8600 refactor: website components
  packages/actions/package.json
  packages/api-extractor-utils/package.json
  packages/api-extractor-utils/src/ApiNodeJSONEncoder.ts
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/package.json
  packages/website/next.config.js
  packages/website/package.json
  packages/website/src/assets/code-sample.png
  packages/website/src/assets/djs_logo_rainbow_400x400.png
  packages/website/src/assets/powered-by-vercel.svg
  packages/website/src/components/CodeListing.tsx
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/HyperlinkedText.tsx
  packages/website/src/components/InheritanceText.tsx
  packages/website/src/components/MethodItem.tsx
  packages/website/src/components/MethodList.tsx
  packages/website/src/components/ParameterTable.tsx
  packages/website/src/components/PropertyList.tsx
  packages/website/src/components/RouterTransition.tsx
  packages/website/src/components/Section.tsx
  packages/website/src/components/Sections.tsx
  packages/website/src/components/SidebarItems.tsx
  packages/website/src/components/SidebarLayout.tsx
  packages/website/src/components/SyntaxHighlighter.tsx
  packages/website/src/components/Table.tsx
  packages/website/src/components/TableOfContentItems.tsx
  packages/website/src/components/TypeParamTable.tsx
  packages/website/src/components/model/Class.tsx
  packages/website/src/components/model/Enum.tsx
  packages/website/src/components/model/Function.tsx
  packages/website/src/components/model/Interface.tsx
  packages/website/src/components/tsdoc/BlockComment.tsx
  packages/website/src/components/tsdoc/TSDoc.tsx
  packages/website/src/middleware.ts
  packages/website/src/pages/404.tsx
  packages/website/src/pages/_app.tsx
  packages/website/src/pages/_document.tsx
  packages/website/src/pages/docs/[...slug].tsx
  packages/website/src/pages/docs/packages/[package]/index.tsx
  packages/website/src/pages/docs/packages/index.tsx
  packages/website/src/pages/index.tsx
  packages/website/src/styles/main.css
  packages/website/src/util/constants.ts
  packages/website/src/util/packages.ts
  packages/website/src/util/search.ts
  packages/website/unocss.config.ts
  packages/ws/package.json
  yarn.lock
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:website, packages:proxy-container

#8604 docs: change name
  package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/discord.js/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/LICENSE
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:proxy-container

#8601 fix: fixed TS 4.8 compatibility
  package-lock.json
  package.json
  typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8595 chore: remove unused eslint disable comments
  packages/collection/src/collection.ts
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/InteractionWebhook.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/voice/src/DataStore.ts
  packages/voice/src/networking/Networking.ts
  packages/voice/src/networking/VoiceUDPSocket.ts
  packages/voice/src/networking/VoiceWebSocket.ts
  packages/voice/src/receive/SSRCMap.ts
  packages/voice/src/receive/SpeakingMap.ts
  packages/voice/src/util/Secretbox.ts
  packages/ws/src/strategies/context/WorkerContextFetchingStrategy.ts
  packages/ws/src/strategies/sharding/WorkerShardingStrategy.ts
  packages/ws/src/strategies/sharding/worker.ts
  packages/ws/src/ws/WebSocketShard.ts
Labels: chore, packages:collection, packages:discord.js, packages:voice, packages:ws

#8596 test: rename incorrect test
  packages/builders/__tests__/components/button.test.ts
Labels: semver:patch, tests, packages:builders

#8585 docs(Options): update DefaultMakeCacheSettings
  packages/discord.js/src/util/Options.js
Labels: documentation, semver:patch, packages:discord.js

#8590 refactor: Split message send/edit types/documentation
  packages/discord.js/src/client/WebhookClient.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:patch, packages:discord.js

#8549 types(GuildChannelManager): correct `fetch` return type
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8612 types: Ensure events possess `Client<true>`
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8551 types(GuildChannelManager): correct fetch return type (v13)
  src/managers/GuildChannelManager.js
  typings/index.d.ts
  typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8626 docs: update misleading `Client#guildMemberAvailable` event description
  packages/discord.js/src/client/actions/GuildMemberUpdate.js
Labels: documentation, semver:patch, packages:discord.js

#8624 docs: fix regexps incorrectly being called global
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/Invite.js
Labels: documentation, semver:patch, packages:discord.js

#8619 types(interactions): pass `Cached` type to return type of methods
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8583 fix(SlashCommandBuilder): missing methods in subcommand builder
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Labels: semver:patch, packages:builders

#8630 feat(website): use dropdowns for overloads
  packages/api-extractor-utils/src/ApiNodeJSONEncoder.ts
  packages/website/src/components/DocContainer.tsx
  packages/website/src/components/MethodItem.tsx
  packages/website/src/components/MethodList.tsx
  packages/website/src/components/SidebarLayout.tsx
  packages/website/src/components/TableOfContentItems.tsx
  packages/website/src/components/model/Function.tsx
  packages/website/src/pages/docs/[...slug].tsx
Labels: packages:website

#8625 refactor: replace usage of deprecated `ChannelType`s
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/NewsChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, packages:builders, packages:discord.js

#7791 feat: add support for guild forums
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildForumThreadManager.js
  packages/discord.js/src/managers/GuildTextThreadManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/BaseChannel.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/ForumChannel.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/PartialGroupDMChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/ChannelFlagsBitField.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js

#8636 docs(builders/components): document constructors
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/components/textInput/TextInput.ts
Labels: documentation, semver:patch, packages:builders

#8635 fix: update `messageCount`/`totalMessageSent` on message events
  packages/discord.js/src/client/actions/MessageCreate.js
  packages/discord.js/src/client/actions/MessageDelete.js
  packages/discord.js/src/client/actions/MessageDeleteBulk.js
Labels: semver:patch, packages:discord.js

#8639 docs(GuildTextThreadManager): Document correct `@extend`
  packages/discord.js/src/managers/GuildTextThreadManager.js
Labels: documentation, semver:patch, packages:discord.js

#8638 fix(ThreadChannel): Make `fetchStarterMessage()` work in forum posts
  packages/discord.js/src/structures/ThreadChannel.js
Labels: semver:patch, packages:discord.js

#8640 types: Narrow channel type in thread managers
  packages/discord.js/src/managers/GuildForumThreadManager.js
  packages/discord.js/src/managers/GuildTextThreadManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8641 fix: Correct applied tags type
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#8648 chore: fix proxy-container Dockerfile
  packages/proxy-container/Dockerfile
Labels: packages:proxy-container

#8643 feat(WelcomeChannel): Add forum channel as a type
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/WelcomeChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#8645 feat(Widget): Allow forum channels
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#8637 feat(GuildChannelManager): allow editing `flags`
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/util/ChannelFlagsBitField.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, REST, packages:discord.js

#8669 fix(GuildChannelManager): typo in `flags` property name when editing
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8658 fix: allow adding forums to `channelTypes`
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
Labels: semver:patch, packages:builders

#8671 fix(ThreadChannel): Allow editing flags
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#8667 fix: RepliableInteraction respect cached generic
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8665 types(Caches): Allow `GuildForumThreadManager` and `GuildTextThreadManager`
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8662 fix(ForumChannel): Implement missing properties and methods
  packages/discord.js/src/structures/ForumChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#8661 fix(GuildChannelManager): allow creating webhooks on forums
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#8660 types(GuildChannelManager): Handle forum channel overload
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8659 refactor(GuildBanManager): Add deprecation warning for `deleteMessageDays`
  packages/discord.js/src/managers/GuildBanManager.js
Labels: semver:patch, packages:discord.js

#8664 fix(ThreadChannel): Add forum channel to parent
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, packages:discord.js

#8678 docs(ForumChannel): Add `@implements`
  packages/discord.js/src/structures/ForumChannel.js
Labels: documentation, semver:patch, packages:discord.js

#8676 types(Collection): make fn return type unknown
  packages/collection/src/collection.ts
Labels: packages:collection

#8677 docs: fix duplicate typedefs
  packages/discord.js/src/managers/GuildForumThreadManager.js
Labels: documentation, semver:patch, packages:discord.js

#8679 feat(rest): use Agent with higher connect timeout
  packages/rest/src/lib/utils/constants.ts
Labels: packages:rest

#8672 feat: add `AbortSignal` support
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Labels: semver:minor, REST, packages:rest
