Repository discordjs/discord.js, pull requests merged in 2022-12, with the labels that each got.

#8893 chore: Add brokers to package list and labels in issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  packages/scripts/src/generateIndex.ts
Labels: chore

#8881 fix: Prevent crash on no select menu option
  packages/discord.js/src/structures/ChannelSelectMenuInteraction.js
  packages/discord.js/src/structures/MentionableSelectMenuInteraction.js
  packages/discord.js/src/structures/RoleSelectMenuInteraction.js
  packages/discord.js/src/structures/UserSelectMenuInteraction.js
Labels: interactions, semver:patch, packages:discord.js

#8887 fix(WebSocketShard): send ratelimit handling
  packages/ws/src/utils/constants.ts
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:minor, packages:ws

#8888 refactor(WebSocketShard): identify throttling
  packages/ws/__tests__/strategy/WorkerShardingStrategy.test.ts
  packages/ws/src/strategies/context/IContextFetchingStrategy.ts
  packages/ws/src/strategies/context/SimpleContextFetchingStrategy.ts
  packages/ws/src/strategies/context/WorkerContextFetchingStrategy.ts
  packages/ws/src/strategies/sharding/SimpleShardingStrategy.ts
  packages/ws/src/strategies/sharding/WorkerShardingStrategy.ts
  packages/ws/src/strategies/sharding/worker.ts
  packages/ws/src/utils/IdentifyThrottler.ts
  packages/ws/src/ws/WebSocketShard.ts
Labels: refactor, semver:minor, packages:ws

#8801 feat(Guild): add disableInvites method
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#8903 fix: Deprecate workflow fix
  package.json
  yarn.lock
Labels: ci

#8907 docs: Fix deprecated links
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/typings/index.d.ts
Labels: documentation, semver:patch, packages:discord.js

#8896 feat(interactions): add `messageId` parameter to `deleteReply()`
  packages/core/src/api/interactions.ts
Labels: semver:minor, packages:core

#8897 fix(thread): `get()` route
  packages/core/src/api/thread.ts
Labels: semver:major, packages:core

#8898 feat: add links to each routes documentation
  packages/core/src/api/applicationCommands.ts
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
  packages/core/src/api/interactions.ts
  packages/core/src/api/invite.ts
  packages/core/src/api/sticker.ts
  packages/core/src/api/thread.ts
  packages/core/src/api/user.ts
  packages/core/src/api/voice.ts
  packages/core/src/api/webhook.ts
Labels: documentation, semver:patch, packages:core

#8909 fix: re-export formatters
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#8927 fix(WebSocketShard): clear listeners on reconnect
  packages/discord.js/src/client/websocket/WebSocketShard.js
Labels: semver:patch, sharding, packages:discord.js

#8910 refactor(CommandInteractionOptionResolver): Loosen mentionable checks
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
Labels: interactions, semver:patch, packages:discord.js

#8901 refactor: use consistent naming for options
  packages/discord.js/src/client/WebhookClient.js
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/ClientUser.js
  packages/discord.js/src/structures/ForumChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/InteractionWebhook.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
Labels: documentation, refactor, semver:patch, packages:discord.js

#8917 feat(InteractionResponse): createdTimestamp
  packages/discord.js/src/structures/InteractionResponse.js
  packages/discord.js/typings/index.d.ts
Labels: interactions, semver:minor, packages:discord.js

#8928 refactor(sharding): use switch statement
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
Labels: refactor, semver:patch, sharding, packages:discord.js

#7976 feat: add support for nsfw commands
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:builders, packages:discord.js

#8884 chore: use `satisfies` where applicable
  packages/brokers/src/brokers/Broker.ts
  packages/brokers/src/brokers/redis/RPCRedis.ts
  packages/formatters/src/formatters.ts
  packages/rest/src/lib/utils/constants.ts
  packages/ws/src/utils/constants.ts
Labels: packages:rest, packages:ws, packages:brokers, packages:formatters

#8895 feat(ForumChannel): add `defaultForumLayout`
  packages/discord.js/package.json
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/ForumChannel.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
  yarn.lock
Labels: api support, semver:minor, packages:discord.js

#8933 fix(resolveColor): invalid colors
  packages/discord.js/src/util/Util.js
Labels: semver:patch, utility, packages:discord.js

#8939 fix: add `@discordjs/formatters` to dependency list
  packages/discord.js/package.json
  yarn.lock
Labels: semver:patch, packages:discord.js

#8942 chore: Add backport label
  .github/labels.yml
Labels: chore

#8940 docs(GuildForumThreadManager): Fix `sticker` type
  packages/discord.js/src/managers/GuildForumThreadManager.js
Labels: documentation, semver:patch, threads, packages:discord.js

#8946 fix(WebSocketShard): only cleanup the connection if a connection still exists
  packages/discord.js/src/client/websocket/WebSocketShard.js
Labels: semver:patch, sharding, packages:discord.js

#8944 fix: export missing `escapeX()` functions
  packages/discord.js/src/util/Util.js
Labels: semver:patch, utility, packages:discord.js

#8934 feat(CommandInteractionOptionResolver): add `channelTypes` option to `getChannel`
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:minor, typings, packages:discord.js

#8414 types: add generic to `ActionRowBuilder.from()`
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8965 fix: return only boolean for `disabled`
  packages/discord.js/src/structures/BaseSelectMenuComponent.js
  packages/discord.js/src/structures/ButtonComponent.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#8954 docs: Fix malformed overridden documentation
  packages/discord.js/src/managers/AutoModerationRuleManager.js
  packages/discord.js/src/structures/CategoryChannel.js
Labels: documentation, semver:patch, packages:discord.js

#8950 fix(DMChannel): `recipientId` edge case
  packages/discord.js/src/structures/DMChannel.js
Labels: semver:patch, packages:discord.js

#8855 feat(ClientApplication): add role connections
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ApplicationRoleConnectionMetadata.js
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#8956 fix(WebSocketShard): either start close timeout or emit destroyed but never both
  packages/discord.js/src/client/websocket/WebSocketShard.js
Labels: semver:patch, packages:discord.js

#8938 feat(core): add oauth2 api support
  packages/core/src/api/index.ts
  packages/core/src/api/oauth2.ts
Labels: semver:minor, packages:core

#8945 fix(escapeX): emojis with underlines
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/escapeMarkdown.test.js
Labels: semver:patch, utility, packages:discord.js

#8966 types: subcommand group `options` is required
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#8962 types: fix actions type in automod
  packages/discord.js/src/structures/AutoModerationRule.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8949 types: use StringSelectMenuOptionBuilder
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8937 feat(StringSelectMenu): add `spliceOptions()`
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/selectMenu/StringSelectMenu.ts
Labels: semver:minor, packages:builders

#8825 chore: use generator for range utility
  packages/util/__tests__/range.test.ts
  packages/util/src/functions/range.ts
  packages/ws/src/ws/WebSocketManager.ts
Labels: packages:ws, packages:util

#8977 fix: keep other properties in triggerMetadata
  packages/discord.js/src/structures/AutoModerationRule.js
Labels: semver:patch, packages:discord.js

#8973 docs: updated @discordjs/ws README.md to include optional packages
  packages/ws/README.md
Labels: documentation, semver:patch, packages:ws

#8953 fix(website): package selector page height on small devices
  apps/website/src/app/docs/packages/page.tsx
Labels: apps:website

#8976 docs(ApplicationRoleConnectionMetadata): Add documentation
  packages/discord.js/src/structures/ApplicationRoleConnectionMetadata.js
Labels: documentation, semver:patch, packages:discord.js

#8974 refactor(GuildManager): Better handling of creation code
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:patch, packages:discord.js

#8969 types: Swap message reaction and emoji identifier types
  packages/discord.js/src/managers/BaseGuildEmojiManager.js
  packages/discord.js/src/managers/ReactionManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8971 refactor(Guild): Destructure object in guild editing
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:patch, packages:discord.js
