Repository discordjs/discord.js, pull requests merged in 2022-01, with the labels that each got.

#7035 chore: bump Node.js to 16.9.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  package.json
  packages/builders/README.md
  packages/builders/package.json
  packages/collection/README.md
  packages/collection/package.json
  packages/discord.js/README.md
  packages/discord.js/package.json
  packages/discord.js/src/util/Util.js
  packages/rest/package.json
  packages/voice/README.md
  packages/voice/package.json
  tsconfig.json
Labels: semver:major, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice

#6938 refactor(UserFlags): update flag names
  packages/discord.js/src/util/UserFlags.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#6897 refactor(Guild): remove deprecated setXPositions methods
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7198 chore: issue template changes for monorepo
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: chore

#7182 fix(sweepers): provide default for object param
  packages/discord.js/src/util/Sweepers.js
Labels: semver:patch, packages:discord.js

#7174 docs(RoleManager): fix incorrect example
  packages/discord.js/src/managers/RoleManager.js
Labels: chore, documentation, semver:patch, packages:discord.js

#7170 docs: fixes the examples for kick and ban
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: documentation, semver:patch, packages:discord.js

#7168 docs(TextBasedChannel): fix #createMessageComponentCollector description
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js

#7164 types: fix cache types resolving to `never`
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#7163 docs(TextBasedChannel): fixed syntax error in examples
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js

#7073 feat(Collector): yield all collected values
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:major, utility, packages:discord.js

#7018 refactor(Constants): change APPLICATION_COMMAND -> CHAT_INPUT_COMMAND
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/enums.d.ts
  packages/discord.js/typings/index.d.ts
Labels: semver:major, utility, packages:discord.js

#6492 refactor(Client): remove applicationCommand events
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_CREATE.js
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_DELETE.js
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_UPDATE.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:major, discord, packages:discord.js

#7076 refactor(Actions): remove deleted maps
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/actions/ChannelDelete.js
  packages/discord.js/src/client/actions/GuildDelete.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#7197 refactor: Better Command Terminology
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/BaseCommandInteraction.js
  packages/discord.js/src/structures/ChatInputCommandInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/MessageContextMenuCommandInteraction.js
  packages/discord.js/src/structures/UserContextMenuCommandInteraction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:major, packages:discord.js

#7196 types(Collection): union types on `intersect` and `difference`
  packages/collection/src/index.ts
Labels: semver:minor, packages:collection

#7118 chore(Caching): clean up deprecated cache sweeping
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/managers/CachedManager.js
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/LimitedCollection.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: caching, refactor, semver:major, packages:discord.js

#6789 fix(User): `bannerURL()` should not throw when not present
  packages/discord.js/src/structures/User.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7199 refactor(rest): rename attachment to file
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Labels: semver:major, packages:rest

#6666 chore(VSCode): add extension recommendations
  .gitignore
  .vscode/extensions.json
Labels: chore

#7202 fix(WebSocket): Remove application command handler
  packages/discord.js/src/client/websocket/handlers/index.js
Labels: semver:major, packages:discord.js

#7206 chore: add myself to contributors
  packages/builders/package.json
  packages/collection/package.json
Labels: chore, packages:builders, packages:collection

#7205 ci(documentation): add repository_owner check
  .github/workflows/documentation.yml
Labels: chore

#7201 refactor(RoleManager): Remove `comparePositions()`
  packages/discord.js/src/structures/Role.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7207 fix(Structues): rename old module's name
  packages/discord.js/src/structures/MessageContextMenuCommandInteraction.js
  packages/discord.js/src/structures/UserContextMenuCommandInteraction.js
Labels: semver:patch, packages:discord.js

#7210 fix(InteractionCreate): use ChatInputCommandInteraction instead
  packages/discord.js/src/client/actions/InteractionCreate.js
Labels: semver:patch, packages:discord.js

#7212 docs: fix command interaction docs
  packages/discord.js/src/structures/ChatInputCommandInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
Labels: documentation, semver:patch, packages:discord.js

#7213 fix(Sweepers): add sweepStickers function
  packages/discord.js/src/util/Sweepers.js
Labels: semver:patch, packages:discord.js

#7184 feat(RichPresenceAssets): add YouTube and custom image support
  packages/discord.js/src/structures/Presence.js
Labels: semver:minor, packages:discord.js

#7108 refactor(Dates): save timestamps everywhere and use Date.parse
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
  packages/discord.js/src/rest/RequestHandler.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageEmbed.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/ThreadMember.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#7092 refactor: remove `deleted` field
  packages/discord.js/src/client/actions/ChannelDelete.js
  packages/discord.js/src/client/actions/GuildDelete.js
  packages/discord.js/src/client/actions/GuildEmojiDelete.js
  packages/discord.js/src/client/actions/GuildMemberRemove.js
  packages/discord.js/src/client/actions/GuildRoleDelete.js
  packages/discord.js/src/client/actions/GuildStickerDelete.js
  packages/discord.js/src/client/actions/MessageDelete.js
  packages/discord.js/src/client/actions/MessageDeleteBulk.js
  packages/discord.js/src/client/actions/StageInstanceDelete.js
  packages/discord.js/src/client/actions/ThreadDelete.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:major, performance, packages:discord.js

#6997 chore(ThreadMemberManager): make `#fetch` only take one object parameter
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:major, packages:discord.js

#6804 fix(WebhookClient): Updated webhook url regex
  packages/discord.js/src/client/WebhookClient.js
Labels: semver:major, packages:discord.js

#7209 refactor(integration): turn undefined into null and consistency
  packages/discord.js/src/structures/Integration.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7215 fix(Role): remove unused process
  packages/discord.js/src/structures/Role.js
Labels: semver:patch, packages:discord.js

#6324 refactor(MessageCreate): remove message event
  packages/discord.js/src/client/actions/MessageCreate.js
  packages/discord.js/test/tester2000.js
  packages/discord.js/typings/index.d.ts
Labels: gateway, semver:major, packages:discord.js

#6326 refactor(InteractionCreate): remove interaction event
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: gateway, semver:major, packages:discord.js

#7079 refactor(SnowflakeUtil): switch to `@sapphire/snowflake`
  packages/discord.js/package.json
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/BaseGuild.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildPreview.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/StickerPack.js
  packages/discord.js/src/structures/Team.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/Application.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/SnowflakeUtil.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, utility, packages:discord.js

#7219 fix: SnowflakeUtil import
  packages/discord.js/src/structures/GuildScheduledEvent.js
Labels: regression, semver:patch, packages:discord.js

#7220 types(interaction): remove renamed typeguards
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#6759 feat(VoiceRegion): remove the unsent vip field
  packages/discord.js/src/structures/VoiceRegion.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:major, discord, packages:discord.js

#6453 fix(BaseClient): produce an error for non object options
  packages/discord.js/src/client/BaseClient.js
Labels: error handling, semver:major, packages:discord.js

#6755 feat(Permissions): remove deprecated thread-related permissions
  packages/discord.js/src/util/Permissions.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:major, discord, packages:discord.js

#7137 refactor(GuildMember): throw better errors on #kickable and #bannable
  packages/discord.js/src/structures/GuildMember.js
Labels: error handling, refactor, semver:major, packages:discord.js

#7218 fix(MessageEmbed): createdAt field can be zero
  packages/discord.js/src/structures/MessageEmbed.js
Labels: semver:patch, packages:discord.js

#7224 docs(SlashCommandSubcommands): updating old links from Discord developer portal
  packages/builders/src/interactions/slashCommands/SlashCommandSubcommands.ts
Labels: documentation, semver:patch, packages:builders

#7223 chore: license for REST module
  packages/rest/LICENSE
Labels: chore, packages:rest

#7222 chore: allow typescript to typecheck .d.ts files
  tsconfig.json
Labels: chore

#7227 refactor(embeds): don't create new embed instances when unnecessary
  packages/discord.js/src/structures/MessagePayload.js
Labels: semver:patch, packages:discord.js

#7229 chore: update readme links
  README.md
  packages/builders/README.md
  packages/collection/README.md
  packages/discord.js/README.md
  packages/voice/README.md
Labels: chore, packages:discord.js, packages:voice

#7233 chore: format all supported Prettier files
  packages/builders/.prettierignore
  packages/builders/package.json
  packages/collection/.prettierignore
  packages/collection/package.json
  packages/discord.js/.prettierignore
  packages/discord.js/package.json
  packages/rest/.prettierignore
  packages/rest/package.json
  packages/voice/.prettierignore
  packages/voice/examples/music-bot/package.json
  packages/voice/examples/recorder/package.json
  packages/voice/package.json
Labels: chore, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice

#7226 fix(timestamps): account for timestamps of 0 when creating Dates
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/MessageEmbed.js
Labels: semver:patch, packages:discord.js

#7236 chore: optimize Turbo pipelines
  package.json
  packages/rest/package.json
  packages/voice/package.json
  yarn.lock
Labels: chore, packages:rest, packages:voice

#7237 revert "chore: optimize Turbo pipelines"
  package.json
Labels: chore

#7246 chore: commit scope name in lowercase
  .github/COMMIT_CONVENTION.md
Labels: chore

#7131 feat: Add Locales to Interactions
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7211 refactor: make `intersect` perform a true intersection
  packages/collection/src/index.ts
Labels: semver:major, packages:collection

#7238 refactor(files): file data can be much more than buffer
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Labels: semver:minor, packages:rest

#7240 fix(Shard): EventEmitter listener warning
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, sharding, packages:discord.js

#7244 chore: improve linting
  .vscode/settings.json
  package.json
  packages/builders/.eslintrc.json
  packages/builders/.prettierignore
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/package.json
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandSubcommands.ts
  packages/collection/.eslintrc.json
  packages/collection/.prettierignore
  packages/collection/package.json
  packages/collection/src/index.ts
  packages/discord.js/.prettierignore
  packages/discord.js/package.json
  packages/discord.js/test/sendtest.js
  packages/discord.js/test/webhooktest.js
  packages/rest/.eslintrc.json
  packages/rest/.prettierignore
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/package.json
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
  packages/voice/.eslintrc.json
  packages/voice/.prettierignore
  packages/voice/__tests__/DataStore.test.ts
  packages/voice/__tests__/VoiceConnection.test.ts
  packages/voice/__tests__/joinVoiceChannel.test.ts
  packages/voice/package.json
  packages/voice/src/DataStore.ts
  packages/voice/src/VoiceConnection.ts
  packages/voice/src/audio/AudioPlayer.ts
  packages/voice/src/audio/AudioResource.ts
  packages/voice/src/audio/__tests__/AudioPlayer.test.ts
  packages/voice/src/audio/__tests__/AudioResource.test.ts
  packages/voice/src/networking/Networking.ts
  packages/voice/src/networking/VoiceUDPSocket.ts
  packages/voice/src/networking/VoiceWebSocket.ts
  packages/voice/src/networking/__tests__/VoiceUDPSocket.test.ts
  packages/voice/src/networking/__tests__/VoiceWebSocket.test.ts
  packages/voice/src/receive/VoiceReceiver.ts
  packages/voice/src/receive/__tests__/SSRCMap.test.ts
  packages/voice/src/receive/__tests__/VoiceReceiver.test.ts
  packages/voice/src/util/Secretbox.ts
  packages/voice/src/util/__tests__/demuxProbe.test.ts
  packages/voice/src/util/__tests__/entersState.test.ts
  packages/voice/src/util/abortAfter.ts
  packages/voice/src/util/adapter.ts
  packages/voice/src/util/demuxProbe.ts
  packages/voice/src/util/generateDependencyReport.ts
  packages/voice/tsconfig.json
  yarn.lock
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice

#7245 types: add `ReadonlyCollection`
  packages/collection/src/index.ts
Labels: packages:collection

#7248 refactor: PresenceUpdate and demuxProbe
  packages/discord.js/src/client/actions/PresenceUpdate.js
  packages/voice/src/util/demuxProbe.ts
Labels: packages:discord.js, packages:voice

#7250 refactor(application): remove fetchAssets
  packages/discord.js/src/structures/interfaces/Application.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:major, REST, packages:discord.js

#7077 refactor: remove discord.js enums and use discord-api-types enums instead
  packages/discord.js/src/client/actions/ChannelUpdate.js
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/PermissionOverwriteManager.js
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/AnonymousGuild.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/TeamMember.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/enums.d.ts
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:major, packages:discord.js

#7256 fix(exports): export ApplicationCommandType properly
  packages/discord.js/src/index.js
Labels: regression, semver:patch, packages:discord.js

#6957 feat(Channel): improve typeguards
  packages/discord.js/src/client/actions/MessageCreate.js
  packages/discord.js/src/client/actions/MessageDelete.js
  packages/discord.js/src/client/actions/MessageDeleteBulk.js
  packages/discord.js/src/client/actions/MessageReactionAdd.js
  packages/discord.js/src/client/actions/MessageReactionRemove.js
  packages/discord.js/src/client/actions/MessageReactionRemoveAll.js
  packages/discord.js/src/client/actions/MessageReactionRemoveEmoji.js
  packages/discord.js/src/client/actions/MessageUpdate.js
  packages/discord.js/src/client/actions/TypingStart.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/util/Sweepers.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, typings, utility, packages:discord.js

#7195 feat: add components to /builders
  packages/builders/__tests__/components/actionRow.test.ts
  packages/builders/__tests__/components/button.test.ts
  packages/builders/__tests__/components/selectMenu.test.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/Button.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/selectMenu/SelectMenu.ts
  packages/builders/src/components/selectMenu/SelectMenuOption.ts
  packages/builders/src/index.ts
Labels: semver:minor, packages:builders

#7264 chore: Add `prefer-object-has-own` rule
  packages/discord.js/.eslintrc.json
Labels: chore, semver:patch, packages:discord.js

#7251 docs: fix a typo and use milliseconds instead of ms
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/rest/RateLimitError.js
  packages/discord.js/src/rest/RequestHandler.js
  packages/discord.js/src/util/Options.js
  packages/rest/src/lib/REST.ts
Labels: documentation, packages:discord.js, packages:rest

#7262 refactor: don't disable import order lint
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: semver:patch, packages:discord.js

#7261 docs(interaction): add locale list link
  packages/discord.js/src/structures/Interaction.js
Labels: documentation, semver:patch, packages:discord.js

#7258 fix: use enums from discord-api-types
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/typings/index.d.ts
Labels: regression, semver:patch, packages:discord.js

#7263 refactor: use setPosition inside edit
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/GuildChannel.js
Labels: refactor, semver:patch, packages:discord.js

#7269 fix: import `clear{Timeout,Interval}` from `node:timers`
  packages/discord.js/.eslintrc.json
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/rest/APIRequest.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/src/util/Sweepers.js
Labels: semver:patch, packages:discord.js

#7149 refactor: Default *URL methods to animated hash
  packages/discord.js/src/structures/AnonymousGuild.js
  packages/discord.js/src/structures/BaseGuild.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/GuildPreview.js
  packages/discord.js/src/structures/PartialGroupDMChannel.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/StickerPack.js
  packages/discord.js/src/structures/Team.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/Application.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#7279 ci: dont run auto-deprecated and publish-dev on forks
  .github/workflows/auto-deprecate.yml
  .github/workflows/publish-dev.yml
Labels: ci

#7281 feat: rest docs
  .github/workflows/documentation.yml
  packages/rest/.gitignore
  packages/rest/docs/README.md
  packages/rest/docs/index.yml
  packages/rest/package.json
  packages/rest/scripts/docs.mjs
Labels: documentation, packages:rest

#7287 ci: fix docs workflow
  package.json
Labels: chore

#7252 refactor: remove djs components and use /builders components instead
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/BaseMessageComponent.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageActionRow.js
  packages/discord.js/src/structures/MessageButton.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/MessageSelectMenu.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:major, packages:discord.js

#7265 chore(cdn): default to animated images
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: semver:major, packages:rest

#7284 docs(shardingmanager): fix type of `execArgv` option
  packages/discord.js/src/sharding/ShardingManager.js
Labels: documentation, packages:discord.js

#7255 feat: rest hash and handler sweeping
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
Labels: semver:minor, REST, packages:rest

#7188 refactor: remove required from getMember
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: interactions, semver:major, packages:discord.js

#7278 refactor(invite): make `channel` and `inviter` getters
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7260 types: fix regressions and inconsistencies
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, packages:discord.js

#7217 refactor(subcommandgroup): required default to false
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:major, packages:discord.js

#7259 feat(interaction): add `isRepliable` type guard
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:minor, utility, packages:discord.js

#7289 fix(builders): dont export `Button` component stuff twice
  packages/builders/src/index.ts
Labels: semver:patch, packages:builders

#7286 feat(guildemojimanager): add `delete` and `edit` methods
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:minor, packages:discord.js

#7288 BaseClient: pass `captureRejections` option
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/sharding/ShardClientUtil.js
Labels: semver:patch, packages:discord.js

#7293 refactor: Remove boolean option for `Webhook#fetchMessage`
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7291 refactor: Remove VoiceChannel#editable
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#7290 feat: Enum resolvers & internal enum string removal
  packages/discord.js/src/client/actions/ChannelUpdate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/AnonymousGuild.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/src/structures/CategoryChannel.js
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/structures/ClientUser.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/structures/NewsChannel.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/TeamMember.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/EnumResolvers.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/createGuild.js
  packages/discord.js/test/random.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:minor, packages:discord.js

#7302 ci(publish-dev): only build dependencies when releasing
  .github/workflows/publish-dev.yml
Labels: chore, ci

#7152 feat(GuildPreview): Add stickers
  packages/discord.js/src/structures/GuildPreview.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7179 docs(StageInstance): deprecate discoverableDisabled
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:patch, discord, packages:discord.js

#7304 fix(guildchannelmanager): remove reverse enum lookup
  packages/discord.js/src/managers/GuildChannelManager.js
Labels: regression, semver:patch, packages:discord.js

#7294 types: Fix channel create overloads
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#7309 fix(rest): use http agent when protocol is not https
  packages/rest/src/lib/RequestManager.ts
Labels: semver:minor, packages:rest

#7308 fix(rest): don't add empty query
  packages/rest/src/lib/RequestManager.ts
Labels: semver:patch, packages:rest

#7307 types: make `required` a boolean
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionBase.ts
Labels: semver:patch, typings, packages:builders

#7067 refactor: switch to /builders `Embed`
  .github/COMMIT_CONVENTION.md
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageEmbed.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/test/sendtest.js
  packages/discord.js/test/webhooktest.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:major, utility, packages:discord.js

#7322 feat(embed): add setFields
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/messages/embed/Embed.ts
Labels: semver:minor, packages:builders

#7332 refactor(embed): mark properties as readonly
  packages/builders/src/messages/embed/Embed.ts
Labels: semver:minor, packages:builders

#7316 types: fix MessageMentions channel types
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7306 feat(threadchannel): add `createdTimestamp` field
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#7317 feat(minor): add application_id to Webhook
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7340 refactor(files): remove redundant file property names
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Labels: refactor, semver:major, packages:rest

#7331 fix: missed enums and typings from #7290
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/CategoryChannel.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/EnumResolvers.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, packages:discord.js

#7312 feat: allow setting message flags when sending
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7266 docs(locales): update Discord API docs link
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/Interaction.js
Labels: documentation, semver:patch, packages:discord.js

#7343 fix: don't create new instances of builders classes
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Components.ts
Labels: semver:patch, packages:builders

#7344 feat(enumResolvers): strengthen typings
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/structures/Integration.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/EnumResolvers.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:minor, typings, utility, packages:discord.js

#7346 fix(thread): don't assign directly to getters
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7335 feat(cdn): add support for scheduled event image covers
  packages/rest/src/lib/CDN.ts
Labels: api support, semver:minor, packages:rest

#7348 fix(Webhook): use correct method name
  packages/discord.js/src/structures/Webhook.js
Labels: semver:patch, packages:discord.js

#7349 fix(typings): mark `RESTOptions` as Partial in `ClientOptions`
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7299 feat(Collection): add merging functions
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/index.ts
Labels: semver:minor, packages:collection

#7337 feat(scheduledevent): add support for event cover images
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, discord, packages:discord.js

#7354 chore: use `performance.now` for time-based unit tests
  packages/rest/__tests__/RequestHandler.test.ts
Labels: semver:patch, tests, packages:rest

#7353 docs: add EnumResolvers
  packages/discord.js/src/util/EnumResolvers.js
Labels: documentation, semver:patch, packages:discord.js

#7356 fix(guildmembermanager): use rest in edit
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: regression, semver:patch, packages:discord.js

#7292 fix(messagementions): fix `has` method
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#7350 chore: make `@types/node-fetch` a regular dependency
  packages/rest/package.json
Labels: dependencies, semver:patch, packages:rest

#7357 feat(`Interaction`): add `.commandType` property to `CommandInteraction` and `AutocompleteInteraction`
  packages/discord.js/src/structures/AutocompleteInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Interaction.js
  packages/discord.js/typings/index.d.ts
Labels: interactions, semver:major, packages:discord.js

#7362 feat(channel): add isDMBased typeguard
  packages/discord.js/src/structures/Channel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#7363 types: fix *BitField.Flags properties
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#7365 revert: refactor(invite): make `channel` a getter
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, regression, semver:major, packages:discord.js

#7369 chore: bump turborepo
  package.json
  turbo.json
  yarn.lock
Labels: chore
