Repository discordjs/discord.js, pull requests merged in 2023-02, with the labels that each got.

#9097 docs: no `@type` description and reveal info block
  packages/discord.js/src/structures/AutoModerationActionExecution.js
  packages/discord.js/src/structures/ModalSubmitFields.js
Labels: documentation, semver:patch, packages:discord.js

#9113 ci: don't run issue triage on edit
  .github/workflows/issue-triage.yml
Labels: ci

#9140 chore: bump discord-api-types and undici
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/discord.js/typings/index.d.ts
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/voice/package.json
  packages/ws/package.json
  yarn.lock
Labels: chore, dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:core, packages:formatters, packages:next

#9076 fix(ApplicationRoleConnectionMetadata): export the class correctly
  packages/discord.js/src/index.js
Labels: semver:patch, packages:discord.js

#9116 chore: fix \n breaks
  .github/issue-labeler.yml
Labels: chore

#9118 refactor(BitField): reverse iterator/toArray responsibilities
  packages/discord.js/src/util/BitField.js
Labels: refactor, semver:patch, packages:discord.js

#9100 fix(ThreadChannel): insert starter message from threads created in forum channels
  packages/discord.js/src/structures/ThreadChannel.js
Labels: semver:patch, threads, packages:discord.js

#9025 feat: Add role subscription data
  packages/discord.js/src/structures/Message.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9070 fix(MessageReaction): `toJSON()` infinite recursion
  packages/discord.js/src/structures/MessageReaction.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#9091 docs(chatInputApplicationCommandMention): parameters are not nullable
  packages/discord.js/src/util/Formatters.js
Labels: documentation, semver:patch, packages:discord.js

#9127 docs: fix typos
  apps/website/package.json
  apps/website/scripts/generateAllIndices.js
  apps/website/scripts/generateAllIndicies.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/proxy/src/handlers/proxyRequests.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/scripts/src/generateIndex.ts
  packages/ws/src/utils/WorkerBootstrapper.ts
  packages/ws/src/ws/WebSocketShard.ts
Labels: packages:discord.js, packages:rest, packages:ws, packages:proxy, apps:website

#9058 feat(Client): `guildAuditLogEntryCreate` event
  .github/ISSUE_TEMPLATE/bug_report.yml
  packages/discord.js/src/client/actions/ActionsManager.js
  packages/discord.js/src/client/actions/GuildAuditLogEntryCreate.js
  packages/discord.js/src/client/websocket/handlers/GUILD_AUDIT_LOG_ENTRY_CREATE.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/structures/GuildAuditLogs.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js

#9111 fix(AutoModerationActionExecution): transform `action`
  packages/discord.js/src/structures/AutoModerationActionExecution.js
  packages/discord.js/src/structures/AutoModerationRule.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Transformers.js
Labels: semver:patch, packages:discord.js

#9106 fix(oauth2): pass through body
  packages/core/src/api/oauth2.ts
Labels: semver:patch, packages:core

#9101 types: fix type of Attachment#name
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9121 feat: v13 `applicationCommandPermissionsUpdate` event
  src/client/actions/ActionsManager.js
  src/client/actions/ApplicationCommandPermissionsUpdate.js
  src/client/websocket/handlers/APPLICATION_COMMAND_PERMISSIONS_UPDATE.js
  src/client/websocket/handlers/index.js
  src/structures/GuildAuditLogs.js
  src/util/Constants.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9087 feat(GuildMember): add `flags`
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/GuildMemberFlagsBitField.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js

#9098 feat(GuildMember): v13 add `flags`
  src/index.js
  src/managers/GuildMemberManager.js
  src/structures/GuildMember.js
  src/util/GuildMemberFlags.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9080 chore: Fix typos
  src/structures/interfaces/InteractionResponses.js
  src/util/Util.js
Labels: chore, documentation, semver:patch, packages:discord.js

#9074 feat (Webhook): v13 add `channel` prop
  src/structures/Webhook.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js, backport

#9072 feat(ClientApplication): v13 add role connections
  src/index.js
  src/structures/ApplicationRoleConnectionMetadata.js
  src/structures/ClientApplication.js
  src/structures/interfaces/Application.js
  src/util/Constants.js
  typings/enums.d.ts
  typings/index.d.ts
  typings/rawDataTypes.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9051 feat v13: add `INVITES_DISABLED` guild feature
  src/structures/Guild.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js, backport

#9050 feat v13: add `addFollower` on GuildChannelManager
  src/managers/GuildChannelManager.js
  src/structures/NewsChannel.js
  typings/index.d.ts
Labels: semver:minor, REST, packages:discord.js, backport

#8982 typings(Attachment): make `attachment` private
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9132 feat(InteractionResponse): add new methods
  packages/discord.js/src/structures/InteractionResponse.js
  packages/discord.js/typings/index.d.ts
Labels: interactions, semver:minor, packages:discord.js

#9033 fix: Minor forums cleanup
  src/managers/GuildChannelManager.js
  src/structures/ThreadChannel.js
  src/structures/Webhook.js
  src/util/ChannelFlags.js
  typings/index.d.ts
Labels: semver:patch, threads, packages:discord.js

#9040 feat: Role subscriptions
  src/structures/Guild.js
  src/structures/Integration.js
  src/structures/Role.js
  src/util/Constants.js
  typings/enums.d.ts
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9035 feat(ThreadMemberManager): Support pagination fetching
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/src/structures/ThreadMember.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, REST, threads, packages:discord.js

#9102 fix: v13 add automoderation events to WSEvents
  src/util/Constants.js
  typings/index.d.ts
Labels: api support, gateway, semver:minor, packages:discord.js

#9109 ci: Add pull request triage and Kodiak merge workflow
  .github/.kodiak.toml
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/pr-triage.yml
Labels: ci

#9092 feat: v13 `guildAuditLogEntryCreate` event
  src/client/actions/ActionsManager.js
  src/client/actions/GuildAuditLogEntryCreate.js
  src/client/websocket/handlers/GUILD_AUDIT_LOG_ENTRY_CREATE.js
  src/client/websocket/handlers/index.js
  src/structures/GuildAuditLogs.js
  src/util/Constants.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9078 feat(WebSocketShard): v13 add resume url
  src/client/websocket/WebSocketShard.js
  typings/index.d.ts
Labels: gateway, semver:minor, packages:discord.js, backport

#9043 feat(core): Adds `getWebhooks()` function for the channel API and for the guild API
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
Labels: semver:minor, packages:core

#9122 refactor(WebSocketManager): passing in strategy
  packages/ws/README.md
  packages/ws/__tests__/strategy/WorkerShardingStrategy.test.ts
  packages/ws/__tests__/ws/WebSocketManager.test.ts
  packages/ws/src/utils/constants.ts
  packages/ws/src/ws/WebSocketManager.ts
Labels: refactor, semver:major, packages:ws

#9148 test: fix coverage reporting
  .github/workflows/tests.yml
  codecov.yml
  vitest.config.ts
Labels: ci, tests

#9119 fix(WebSocketShard): proper error bubbling
  packages/brokers/package.json
  packages/core/package.json
  packages/ws/package.json
  packages/ws/src/ws/WebSocketShard.ts
  yarn.lock
Labels: semver:patch, packages:ws, packages:brokers, packages:core

#9151 ci: create publish release workflow v13
  .github/workflows/publish-release.yml
Labels: ci, backport

#9153 types: remove `EscapeMarkdownOptions`
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9150 ci: create publish release workflow
  .github/workflows/publish-release.yml
  packages/actions/__tests__/formatTag.test.ts
  packages/actions/src/formatTag/formatTag.ts
  packages/actions/src/formatTag/index.ts
Labels: ci

#8972 refactor(GuildMemberManager): Tidy up fetching guild members
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:patch, packages:discord.js

#9154 chore(discord.js): release discord.js@13.13.0
  CHANGELOG.md
  package.json
Labels: packages:discord.js

#9155 fix(Constants): enum creation error
  src/util/Constants.js
Labels: priority:high, semver:patch, packages:discord.js

#9156 chore(discord.js): release discord.js@13.13.1
  CHANGELOG.md
  package.json
Labels: packages:discord.js

#9146 fix(Message): `bulkDeletable` permissions should be retrieved later for DMs
  packages/discord.js/src/structures/Message.js
Labels: semver:patch, packages:discord.js

#9171 feat(AutoModeration): Support `custom_message`
  packages/discord.js/src/managers/AutoModerationRuleManager.js
  packages/discord.js/src/structures/AutoModerationRule.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9168 fix(Message#deletable): add check for deletable message types
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#9142 feat(AutoModerationActionExecution): add `channel`, `user` and `member` getters
  packages/discord.js/src/structures/AutoModerationActionExecution.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#9134 feat(StageChannel): add messages
  packages/discord.js/src/client/actions/WebhooksUpdate.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/StageChannel.js
  packages/discord.js/src/structures/VoiceChannel.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js

#9179 docs: make interactionResponse as optional
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/Message.js
Labels: packages:discord.js

#9177 types: allow sending messages with `SuppressNotifications` flag
  packages/discord.js/src/managers/GuildForumThreadManager.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js
