Repository discordjs/discord.js, pull requests merged in 2023-10, with the labels that each got.

#9740 ci: Disable publishing multiple dev versions under the same commit
  .github/workflows/publish-dev.yml
Labels: ci

#9854 build: Bump discord-api-types to 0.37.59
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#9024 feat(StageInstanceManager): add `guildScheduledEvent` to `create()`
  src/managers/StageInstanceManager.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9849 build: Disable import/extensions
  apps/guide/package.json
  apps/website/package.json
  eslint.config.js
  package.json
  packages/actions/package.json
  packages/api-extractor-utils/package.json
  packages/brokers/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/docgen/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/ui/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:collection, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:guide, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#9848 chore: No identifier base in development versions
  package.json
  packages/brokers/.cliff-jumperrc.json
  packages/brokers/package.json
  packages/builders/.cliff-jumperrc.json
  packages/builders/package.json
  packages/collection/.cliff-jumperrc.json
  packages/collection/package.json
  packages/core/.cliff-jumperrc.json
  packages/core/package.json
  packages/create-discord-bot/.cliff-jumperrc.json
  packages/create-discord-bot/package.json
  packages/discord.js/.cliff-jumperrc.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/.cliff-jumperrc.json
  packages/formatters/package.json
  packages/next/.cliff-jumperrc.json
  packages/next/package.json
  packages/proxy/.cliff-jumperrc.json
  packages/proxy/package.json
  packages/rest/.cliff-jumperrc.json
  packages/rest/package.json
  packages/scripts/turbo/generators/templates/.cliff-jumperrc.json.hbs
  packages/ui/.cliff-jumperrc.json
  packages/ui/package.json
  packages/util/.cliff-jumperrc.json
  packages/util/package.json
  packages/voice/.cliff-jumperrc.json
  packages/voice/package.json
  packages/ws/.cliff-jumperrc.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: chore, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:util, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#9868 docs(collection): Minor article additions
  packages/collection/src/collection.ts
Labels: documentation, semver:patch, packages:collection

#9875 fix: update module to `NodeNext` in tsconfig.json
  packages/create-discord-bot/template/TypeScript/tsconfig.json
Labels: semver:patch, packages:create-discord-bot

#9871 fix(Role): calculate position correctly when rawPositions are equal
  packages/discord.js/src/structures/Role.js
Labels: priority:high, regression, semver:patch, packages:discord.js

#9876 build: Bump discord-api-types to 0.37.60
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#9878 ci: Use non-deprecated output parameters
  .github/workflows/publish-dev.yml
Labels: ci

#9874 types(MessageEditOptions): Correct `attachments` type
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9872 fix(Role): calculate position correctly when rawPositions are equal
  src/structures/Role.js
Labels: priority:high, regression, semver:patch, packages:discord.js, backport

#9840 refactor: use proper variable names in callbacks
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/ChatInputCommandInteraction.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageMentions.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/ModalBuilder.js
  packages/discord.js/src/structures/ModalSubmitFields.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/ReactionCollector.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/StickerPack.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/BitField.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:patch, packages:discord.js

#9847 feat(BaseChannel): Add `isThreadOnly()`
  packages/discord.js/src/structures/BaseChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#9870 docs(stickers): Reveal link in the website
  packages/core/src/api/sticker.ts
Labels: documentation, semver:patch, packages:core

#9881 docs: Consolidate API types
  packages/discord.js/src/managers/ApplicationCommandPermissionsManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/util/APITypes.js
Labels: documentation, semver:patch, utility, packages:discord.js

#9709 feat: Support new application properties and patch endpoint
  packages/core/src/api/applications.ts
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/util/ApplicationFlagsBitField.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, packages:core

#9869 build: Fix search_indices script
  apps/website/package.json
Labels: apps:website

#9865 fix(website): generate right dapi-types URLs for enum members
  apps/website/src/components/ExcerptText.tsx
Labels: apps:website

#9889 fix: forward x-audit-log-reason header
  packages/proxy/src/handlers/proxyRequests.ts
Labels: semver:patch, packages:proxy

#9891 docs(GuildMember): clarify display color
  packages/discord.js/src/structures/GuildMember.js
Labels: documentation, semver:patch, packages:discord.js

#9883 ci(labels): Use strings in values
  .github/labels.yml
Labels: ci

#9647 feat: onboarding mode and edit method
  packages/core/src/api/guild.ts
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildOnboarding.js
  packages/discord.js/src/structures/GuildOnboardingPromptOption.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js, packages:core

#9846 fix: prevent 'undefined' debug message on intentional shard closure
  packages/discord.js/src/client/websocket/WebSocketManager.js
Labels: gateway, semver:patch, packages:discord.js

#9908 build: bump discord-api-types
  .prettierignore
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next
