Repository discordjs/discord.js, pull requests merged in 2023-06, with the labels that each got.

#9512 feat: support new username system
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/typings/index.d.ts
  packages/rest/src/index.ts
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/utils/utils.ts
Labels: api support, semver:minor, packages:discord.js, packages:rest

#9591 docs(ClientOptions): change default value of sweepers in docs
  packages/discord.js/src/util/Options.js
Labels: documentation, semver:patch, packages:discord.js

#9586 docs: Define /core token in example
  packages/core/README.md
Labels: documentation, semver:patch, packages:core

#9519 fix(WebSocketManager): await WebSocket destroy
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/test/createGuild.js
  packages/discord.js/test/shard.js
  packages/discord.js/test/templateCreateGuild.js
  packages/discord.js/typings/index.d.ts
Labels: gateway, semver:patch, packages:discord.js

#9601 types(BaseInteraction): `appPermissions` not `null` in guilds
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9406 types(ModalSubmitFields): components is an array
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9614 fix(website): Overload switcher duplicates reference links
  apps/website/src/components/ExcerptText.tsx
Labels: apps:website

#9632 chore: unpin rest, unbump node version req
  packages/core/README.md
  packages/core/package.json
  packages/discord.js/package.json
  packages/proxy-container/package.json
  packages/proxy/README.md
  packages/proxy/package.json
  packages/rest/README.md
  packages/rest/package.json
  packages/ws/README.md
  packages/ws/package.json
  yarn.lock
Labels: packages:discord.js, packages:rest, packages:ws, packages:proxy, packages:proxy-container, packages:core

#9631 fix(User): check global name in equals
  packages/discord.js/src/structures/User.js
Labels: api support, semver:patch, packages:discord.js

#9626 feat: Add message to send resume event to shard
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
Labels: gateway, semver:patch, sharding, packages:discord.js

#9638 feat(presence): feature parity in image resolve
  src/structures/Presence.js
Labels: semver:patch, packages:discord.js, backport

#9637 feat(presence): re-introduce image resolving for other platforms
  packages/discord.js/src/structures/Presence.js
Labels: semver:patch, packages:discord.js

#9639 fix(client): Add missing application command permissions update event
  packages/core/src/client.ts
Labels: semver:patch, packages:core

#9623 types(AutoModerationActionExecution): Add forum channels as a possible type in `channel()`
  packages/discord.js/src/structures/AutoModerationActionExecution.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#8598 fix: `awaitMessageComponent` with `MessageComponentInteraction`s
  packages/discord.js/src/structures/InteractionCollector.js
Labels: semver:patch, packages:discord.js

#9654 chore: bump discord-api-types to 0.37.45
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  yarn.lock
Labels: chore, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#9656 setNameLocalization typo
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
Labels: documentation, semver:patch, packages:builders
