Repository discordjs/discord.js, pull requests merged in 2023-11, with the labels that each got.

#9919 fix(readme): test badge svg
  README.md
Labels: documentation, semver:patch, packages:discord.js

#9921 fix(GuildManager#fetch): inject shard id
  packages/discord.js/src/managers/GuildManager.js
Labels: semver:patch, packages:discord.js

#9923 docs(Message): remove duplicated word 'of' in description
  packages/discord.js/src/structures/Message.js
Labels: documentation, semver:patch, packages:discord.js

#9788 feat(Emoji): Add `imageURL()`
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9925 fix(Action): Conditionally add recipient
  src/client/actions/Action.js
Labels: semver:patch, packages:discord.js, backport

#9924 fix: Export `AttachmentFlags` and `RoleFlags`
  src/index.js
Labels: semver:patch, packages:discord.js

#9914 docs: remove markdown
  packages/formatters/src/formatters.ts
Labels: documentation, semver:patch, packages:formatters

#9786 fix(Webhook): do not call `client.deleteWebhook` in `delete`
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/Client.js
Labels: semver:patch, packages:discord.js

#9809 feat(cleanContent): add slash commands and emojis
  packages/discord.js/src/util/Util.js
Labels: semver:minor, utility, packages:discord.js

#9877 feat: add guild member
  packages/core/src/api/guild.ts
Labels: api support, semver:minor, packages:core

#9573 feat: support `findLast` and `reduceRight` methods
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:minor, packages:collection

#9918 refactor: Move `getNode`/`canEnableFFmpegOptimizations` into a lazy loaded call
  packages/voice/src/audio/TransformerGraph.ts
Labels: refactor, semver:patch, performance, packages:voice

#9926 fix: update broken links
  apps/guide/src/content/01-home/01-introduction.mdx
  apps/guide/src/content/01-home/02-whats-new.mdx
  apps/guide/src/content/03-creating-your-bot/01-configuration-files.mdx
  apps/guide/src/content/03-creating-your-bot/03-adding-commands.mdx
  apps/guide/src/content/03-creating-your-bot/04-handling-command-interactions.mdx
  apps/guide/src/content/03-creating-your-bot/05-registering-slash-commands.mdx
Labels: apps:guide

#8890 feat: align some methods with the Set Methods proposal
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:major, packages:collection

#9207 feat: align some methods with the Change By Copy proposal
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:major, packages:collection

#9929 chore: pin `@discordjs/collection` version in discord.js
  packages/discord.js/package.json
  pnpm-lock.yaml
Labels: chore, packages:discord.js

#9345 feat: return entries instead of values in toJSON method
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:major, packages:collection

#9771 feat(Client): AsyncIterator-returning method for fetching members
  packages/core/src/client.ts
Labels: gateway, semver:minor, packages:core

#9932 fix: treat primitives as references instead of content
  packages/api-extractor/src/generators/ExcerptBuilder.ts
Labels: packages:api-extractor

#9933 chore: remove parameter list from events
  apps/website/src/components/model/Event.tsx
Labels: apps:website

#9913 feat: link basic types to MDN/TS documentation
  apps/website/src/components/DocumentationLink.tsx
  apps/website/src/components/ExcerptText.tsx
  apps/website/src/util/builtinDocumentationLinks.ts
Labels: apps:website

#9934 fix: properly support multiple extends/implements
  apps/website/src/components/documentation/HierarchyText.tsx
Labels: apps:website

#9938 refactor(utils): remove `mergeDefault`
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:patch, utility, packages:discord.js

#9939 feat(api-extractor): replace type parameters with their actual values on inherited members
  apps/website/src/components/ExcerptText.tsx
  apps/website/src/components/TableOfContentItems.tsx
  packages/api-extractor-model/src/mixins/ApiItemContainerMixin.ts
  packages/api-extractor-model/src/model/ApiClass.ts
  packages/api-extractor-model/src/model/DeserializerContext.ts
  packages/api-extractor-model/src/model/HeritageType.ts
  packages/api-extractor/src/generators/ApiModelGenerator.ts
  packages/api-extractor/src/generators/ExcerptBuilder.ts
Labels: apps:website, packages:api-extractor, packages:api-extractor-model

#9723 fix(REST): strip webhook tokens
  packages/rest/src/lib/REST.ts
Labels: semver:patch, packages:rest

#9864 feat: expose Retry-After and sublimit timeouts in RatelimitData
  packages/rest/src/lib/errors/RateLimitError.ts
  packages/rest/src/lib/handlers/BurstHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/types.ts
Labels: ratelimits, semver:minor, packages:rest

#9942 fix(Client): Ensure destroyed connections are not ready
  packages/discord.js/src/client/Client.js
Labels: semver:patch, packages:discord.js

#9867 feat: default select menu values
  packages/builders/src/components/selectMenu/ChannelSelectMenu.ts
  packages/builders/src/components/selectMenu/MentionableSelectMenu.ts
  packages/builders/src/components/selectMenu/RoleSelectMenu.ts
  packages/builders/src/components/selectMenu/UserSelectMenu.ts
  packages/discord.js/src/structures/ChatInputCommandInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/ContextMenuCommandInteraction.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:builders, packages:discord.js

#9937 chore: use descriptive type parameter names
  apps/website/src/components/ItemLink.tsx
  apps/website/src/util/members.ts
  eslint.config.js
  packages/brokers/src/brokers/Broker.ts
  packages/brokers/src/brokers/redis/PubSubRedis.ts
  packages/brokers/src/brokers/redis/RPCRedis.ts
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/SharedSlashCommandOptions.ts
  packages/builders/src/util/normalizeArray.ts
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
  packages/core/src/client.ts
  packages/discord.js/.eslintignore
  packages/discord.js/.eslintrc.json
  packages/discord.js/package.json
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  packages/docgen/src/types/item.ts
  packages/formatters/src/formatters.ts
  packages/rest/src/lib/utils/utils.ts
  packages/util/src/Equatable.ts
  packages/util/src/JSONEncodable.ts
  packages/util/src/functions/lazy.ts
  packages/util/src/types.ts
  packages/voice/__tests__/SSRCMap.test.ts
  packages/voice/__tests__/VoiceWebSocket.test.ts
  packages/voice/src/VoiceConnection.ts
  packages/voice/src/audio/AudioPlayer.ts
  packages/voice/src/audio/AudioResource.ts
  packages/voice/src/util/entersState.ts
  pnpm-lock.yaml
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:docgen, packages:util, apps:website, packages:brokers, packages:core, packages:formatters

#9944 chore(discord.js): release discord.js@13.17.0
  CHANGELOG.md
  package.json
Labels: chore, packages:discord.js

#9943 chore(releases): release party
  packages/brokers/package.json
  packages/builders/CHANGELOG.md
  packages/builders/package.json
  packages/collection/CHANGELOG.md
  packages/collection/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/create-discord-bot/CHANGELOG.md
  packages/create-discord-bot/package.json
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
  packages/formatters/CHANGELOG.md
  packages/formatters/package.json
  packages/proxy/CHANGELOG.md
  packages/proxy/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/voice/CHANGELOG.md
  packages/voice/package.json
  packages/ws/CHANGELOG.md
  packages/ws/package.json
Labels: chore, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, packages:brokers, packages:core, packages:formatters, packages:create-discord-bot

#9947 chore(ci): fix release workflow
  .github/workflows/publish-release.yml
Labels: ci

#9949 fix: import picocolors as default
  packages/create-discord-bot/bin/index.ts
Labels: semver:patch, packages:create-discord-bot

#9951 feat: bump package versions
  packages/create-discord-bot/CHANGELOG.md
  packages/create-discord-bot/package.json
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Deno/src/commands/index.ts
  packages/create-discord-bot/template/Deno/src/events/index.ts
  packages/create-discord-bot/template/Deno/src/events/ready.ts
  packages/create-discord-bot/template/Deno/src/index.ts
  packages/create-discord-bot/template/Deno/src/util/deploy.ts
  packages/create-discord-bot/template/Deno/src/util/registerEvents.ts
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
Labels: semver:minor, packages:create-discord-bot

#9952 fix(BaseClient): Default in objects properly
  packages/discord.js/src/client/BaseClient.js
Labels: semver:patch, packages:discord.js

#9953 fix(Emoji): `id` set as `undefined` edge case
  packages/discord.js/src/structures/Emoji.js
Labels: semver:patch, packages:discord.js

#9954 fix(ClientPresence): correctly set activity state on CUSTOM activity type
  src/structures/ClientPresence.js
Labels: semver:patch, packages:discord.js

#9955 chore(discord.js): release discord.js@13.17.1
  CHANGELOG.md
  package.json
Labels: chore, packages:discord.js

#9945 types: use wrapper utilities
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  packages/rest/src/lib/utils/types.ts
Labels: semver:patch, typings, packages:discord.js, packages:rest

#9946 docs: use preferred nullable syntax (`?T` over `T | null`)
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/Sweepers.js
Labels: documentation, semver:patch, packages:discord.js

#9956 refactor: use formatters
  packages/discord.js/src/structures/BaseChannel.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/util/Formatters.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:patch, packages:discord.js

#9957 chore(discord.js): release discord.js@14.14.1
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
Labels: chore, semver:patch, packages:discord.js

#9940 fix(website): misc improvements
  api-extractor.json
  apps/website/src/components/documentation/tsdoc/TSDoc.tsx
  packages/api-extractor/config/api-extractor.json
  packages/api-extractor/src/collector/Collector.ts
  packages/api-extractor/src/generators/ApiModelGenerator.ts
  packages/api-extractor/src/generators/ExcerptBuilder.ts
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js, apps:website, packages:api-extractor

#9963 fix: minify mainlib docs json
  packages/api-extractor-model/src/model/ApiPackage.ts
  packages/api-extractor/src/api/Extractor.ts
  packages/api-extractor/src/cli/RunAction.ts
  packages/brokers/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, packages:brokers, packages:core, packages:formatters, packages:next, packages:api-extractor, packages:api-extractor-model

#9969 fix: type mapping for docgen methods/props
  packages/api-extractor/src/generators/ApiModelGenerator.ts
Labels: packages:api-extractor

#9970 fix: replace Object< with Record<
  packages/api-extractor/src/generators/ApiModelGenerator.ts
Labels: packages:api-extractor

#9973 feat: present x-ratelimit-scope for 429s hit
  packages/rest/src/lib/errors/RateLimitError.ts
  packages/rest/src/lib/handlers/BurstHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/types.ts
Labels: semver:minor, packages:rest

#9976 docs: fix links in @deprecated tags
  packages/discord.js/typings/index.d.ts
Labels: documentation, semver:patch, packages:discord.js

#9971 refactor: minify api.json by shortening keys
  apps/website/src/components/ExcerptText.tsx
  apps/website/src/components/ParameterTable.tsx
  apps/website/src/components/Property.tsx
  apps/website/src/components/SignatureText.tsx
  apps/website/src/components/TypeParamTable.tsx
  apps/website/src/components/documentation/HierarchyText.tsx
  apps/website/src/components/documentation/util.ts
  apps/website/src/components/model/enum/EnumMember.tsx
  apps/website/src/components/model/method/MethodHeader.tsx
  apps/website/src/util/addPackageToModel.ts
  packages/api-extractor-model/src/model/ApiPackage.ts
  packages/api-extractor-model/src/model/DeserializerContext.ts
  packages/api-extractor/src/generators/ApiModelGenerator.ts
Labels: apps:website, packages:api-extractor, packages:api-extractor-model

#9975 fix(route): Conditionally prefix package names
  apps/website/src/app/api/dynamic-open-graph.png/route.tsx
  apps/website/src/util/model.ts
  apps/website/src/util/resolvePackageName.ts
Labels: apps:website

#9978 chore: release @discordjs/rest@2.2.0 & @discordjs/core@1.1.1
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
Labels: chore, packages:rest, packages:core

#9980 fix(website): search index generation
  apps/website/src/util/addPackageToModel.ts
  packages/scripts/src/generateIndex.ts
Labels: apps:website

#9981 fix(website): cross package deprecated links
  apps/website/src/components/documentation/tsdoc/TSDoc.tsx
  apps/website/src/components/documentation/util.ts
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js, apps:website

#9987 fix(Bun): Fix typo for Bun template
  packages/create-discord-bot/src/create-discord-bot.ts
Labels: semver:patch, packages:create-discord-bot

#9983 refactor(website): remove unneccessary addPackageToModel function
  apps/website/src/app/docs/packages/[package]/[version]/[item]/page.tsx
  apps/website/src/app/docs/packages/[package]/[version]/layout.tsx
  apps/website/src/util/addPackageToModel.ts
  apps/website/src/util/fetchMember.ts
  packages/api-extractor-utils/src/parse.ts
  packages/scripts/src/generateIndex.ts
Labels: apps:website

#9989 docs: Remove hyphen after `@returns`
  packages/proxy/src/util/responseHelpers.ts
  packages/rest/src/lib/handlers/Shared.ts
Labels: documentation, semver:patch, packages:rest, packages:proxy

#9990 fix(website): discord-api-types links, URL links and some minor doc issues
  apps/website/src/components/ExcerptText.tsx
  apps/website/src/components/documentation/tsdoc/TSDoc.tsx
  apps/website/src/components/documentation/util.ts
  packages/api-extractor/src/generators/ApiModelGenerator.ts
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/voice/ClientVoiceManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/Sweepers.js
Labels: packages:discord.js, apps:website, packages:api-extractor

#9994 fix(website): doc links to other packages
  apps/website/src/components/ExcerptText.tsx
  apps/website/src/components/ItemLink.tsx
  apps/website/src/components/ParameterTable.tsx
  apps/website/src/components/Property.tsx
  apps/website/src/components/SignatureText.tsx
  apps/website/src/components/TypeParamTable.tsx
  apps/website/src/components/documentation/HierarchyText.tsx
  apps/website/src/components/documentation/tsdoc/TSDoc.tsx
  apps/website/src/components/documentation/util.ts
  apps/website/src/components/model/enum/EnumMember.tsx
  apps/website/src/components/model/method/MethodHeader.tsx
  packages/api-extractor/src/generators/ApiModelGenerator.ts
Labels: apps:website, packages:api-extractor

#9995 fix: cross package links again
  packages/api-extractor/src/generators/ApiModelGenerator.ts
Labels: packages:api-extractor

#10007 ci: fix documentation manual dispatch run on tag
  .github/workflows/documentation.yml
Labels: ci

#10009 fix: export "ESM" types when discord.js is imported in ESM land
  packages/discord.js/.eslintrc.json
  packages/discord.js/.gitignore
  packages/discord.js/package.json
  packages/discord.js/scripts/esmDts.mjs
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/rawDataTypes.d.ts
Labels: semver:patch, packages:discord.js
