Repository discordjs/discord.js, pull requests merged in 2023-12, with the labels that each got.

#10000 refactor(ThreadMemberManager): #remove accepts UserResolvable
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, threads, packages:discord.js

#9998 feat(website): type parameters on methods and overloads
  apps/website/src/components/model/method/MethodDocumentation.tsx
  apps/website/src/util/model.ts
Labels: apps:website

#10008 ci: documentation.yml refactor branch/tag check to one place only
  .github/workflows/documentation.yml
Labels: ci

#10001 feat(website): show union members of type aliases
  apps/website/src/components/documentation/section/UnionMembersSection.tsx
  apps/website/src/components/model/TypeAlias.tsx
  packages/discord.js/typings/index.d.ts
Labels: packages:discord.js, apps:website

#10003 types: omit unnecessary methods from <ContextMenuCommandInteraction>.options
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#10012 chore(uploadDocumentation): Expose full error
  packages/actions/src/uploadDocumentation/index.ts
Labels: chore

#10025 fix: replace internal calls to Emoji#url
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Emoji.js
Labels: semver:patch, packages:discord.js

#9974 refactor: Document relevant types as `@internal`
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/structures/ClientUser.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/src/util/DataResolver.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/resolveGuildTemplateCode.test.js
  packages/discord.js/typings/index.d.ts
Labels: documentation, refactor, semver:patch, typings, packages:discord.js

#10033 docs(resolvePartialEmoji): Add `@internal` to all overloads
  packages/discord.js/typings/index.d.ts
Labels: documentation, semver:patch, packages:discord.js

#10031 docs(CategoryCreateChannelOptions): Update reference
  packages/discord.js/src/managers/CategoryChannelChildManager.js
Labels: documentation, semver:patch, packages:discord.js

#10042 feat: use globally available WebSocket client in runtimes that have it
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:minor, packages:ws

#10030 feat(website): more builtin docs links
  apps/website/src/util/builtinDocumentationLinks.ts
Labels: apps:website

#10037 ci: always generate docs with latest main ae
  .github/workflows/documentation.yml
Labels: ci

#10044 refactor: use interfaces for AsyncEventEmitter event maps
  packages/brokers/package.json
  packages/core/package.json
  packages/core/src/client.ts
  packages/rest/package.json
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/utils/types.ts
  packages/ws/__tests__/types/WebSocketManager.test-d.ts
  packages/ws/package.json
  packages/ws/src/ws/WebSocketManager.ts
  packages/ws/src/ws/WebSocketShard.ts
  pnpm-lock.yaml
Labels: refactor, semver:patch, packages:rest, packages:ws, packages:brokers, packages:core

#10013 feat: Utilise create-discord-bot
  apps/guide/public/assets/bot-auth-page.png
  apps/guide/public/assets/bot-authorized.png
  apps/guide/public/assets/bot-in-memberlist.png
  apps/guide/public/assets/bot-user.png
  apps/guide/public/assets/create-app.png
  apps/guide/src/content/01-home/01-introduction.mdx
  apps/guide/src/content/01-home/02-whats-new.mdx
  apps/guide/src/content/01-home/03-how-to-contribute.mdx
  apps/guide/src/content/02-getting-started/01-starting-out.mdx
  apps/guide/src/content/02-getting-started/02-setting-up-an-application.mdx
  apps/guide/src/content/02-getting-started/03-adding-your-bot-to-a-server.mdx
  apps/guide/src/content/02-installations-and-preparations/01-installing-node-discordjs.mdx
  apps/guide/src/content/02-installations-and-preparations/02-setting-up-a-linter.mdx
  apps/guide/src/content/02-installations-and-preparations/04-adding-your-bot-to-servers.mdx
  apps/guide/src/content/03-creating-your-bot/01-configuration-files.mdx
  apps/guide/src/content/03-creating-your-bot/02-creating-the-main-file.mdx
  apps/guide/src/content/03-creating-your-bot/03-adding-commands.mdx
  apps/guide/src/content/03-creating-your-bot/04-handling-command-interactions.mdx
  apps/guide/src/content/03-creating-your-bot/05-registering-slash-commands.mdx
  apps/guide/src/content/03-creating-your-bot/06-event-handling.mdx
  apps/guide/src/content/03-topics/01-frequently-asked-questions.mdx
  apps/guide/src/content/03-topics/02-audit-logs.mdx
  apps/guide/src/content/03-topics/03-collectors.mdx
  apps/guide/src/content/03-topics/04-formatters.mdx
  apps/guide/src/content/03-topics/05-intents.mdx
  apps/guide/src/content/03-topics/06-threads.mdx
  apps/guide/src/content/03-topics/07-webhooks.mdx
  apps/guide/src/content/04-additional-info/01-understanding-async-await.mdx
  apps/guide/src/content/04-additional-info/02-collections.mdx
  apps/guide/src/content/04-additional-info/03-updating-to-v14.mdx
Labels: apps:guide

#10017 types: change Awaitable<void> to void
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10054 fix: deprecate `underscore` in favor of `underline`
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: packages:formatters

#10048 ci: always use the workflows from main branch
  .github/workflows/documentation.yml
Labels: ci

#10032 chore: use double quotes for globs in scripts
  apps/website/package.json
  packages/api-extractor/package.json
  packages/discord.js/package.json
Labels: chore, packages:discord.js, apps:website, packages:api-extractor

#10043 types(DirectoryChannel): Ensure directory channels cannot contain user mentions when stringified
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#9907 feat: premium application subscriptions
  packages/core/src/api/index.ts
  packages/core/src/api/interactions.ts
  packages/core/src/api/monetization.ts
  packages/core/src/client.ts
  packages/discord.js/src/client/actions/ActionsManager.js
  packages/discord.js/src/client/actions/EntitlementCreate.js
  packages/discord.js/src/client/actions/EntitlementDelete.js
  packages/discord.js/src/client/actions/EntitlementUpdate.js
  packages/discord.js/src/client/websocket/handlers/ENTITLEMENT_CREATE.js
  packages/discord.js/src/client/websocket/handlers/ENTITLEMENT_DELETE.js
  packages/discord.js/src/client/websocket/handlers/ENTITLEMENT_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/EntitlementManager.js
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Entitlement.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/SKU.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/src/util/SKUFlagsBitField.js
  packages/discord.js/src/util/Sweepers.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/test/monetization.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js, packages:core

#9958 fix(escape*): dont escape urls
  packages/formatters/__tests__/escapers.test.ts
  packages/formatters/src/escapers.ts
Labels: semver:patch, packages:formatters

#10058 docs(ThreadMember): fix docblock async return type
  packages/discord.js/src/structures/ThreadMember.js
Labels: documentation, semver:patch, packages:discord.js

#10060 fix(Gateway): Export interface
  packages/core/src/Gateway.ts
  packages/core/src/index.ts
Labels: semver:patch, packages:core

#9986 build: Bump versions
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Deno/src/commands/index.ts
  packages/create-discord-bot/template/Deno/src/events/index.ts
  packages/create-discord-bot/template/Deno/src/events/ready.ts
  packages/create-discord-bot/template/Deno/src/index.ts
  packages/create-discord-bot/template/Deno/src/util/deploy.ts
  packages/create-discord-bot/template/Deno/src/util/registerEvents.ts
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
Labels: semver:patch, packages:create-discord-bot
