Repository discordjs/discord.js, pull requests merged in 2023-04, with the labels that each got.

#9277 chore: overhaul readmes
  README.md
  apps/guide/README.md
  apps/website/README.md
  packages/actions/README.md
  packages/api-extractor-utils/README.md
  packages/brokers/README.md
  packages/builders/README.md
  packages/collection/README.md
  packages/core/README.md
  packages/discord.js/README.md
  packages/docgen/README.md
  packages/formatters/README.md
  packages/next/README.md
  packages/proxy-container/README.md
  packages/proxy/README.md
  packages/rest/README.md
  packages/scripts/README.md
  packages/ui/README.md
  packages/util/README.md
  packages/voice/README.md
  packages/ws/README.md
Labels: documentation, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:guide, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next

#9042 feat(core): Add `AbortSignal` support.
  packages/core/src/api/applicationCommands.ts
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
  packages/core/src/api/interactions.ts
  packages/core/src/api/invite.ts
  packages/core/src/api/oauth2.ts
  packages/core/src/api/roleConnections.ts
  packages/core/src/api/sticker.ts
  packages/core/src/api/thread.ts
  packages/core/src/api/user.ts
  packages/core/src/api/voice.ts
  packages/core/src/api/webhook.ts
Labels: semver:major, packages:core

#9263 refactor: call `GuildBanManager#create()` directly
  packages/discord.js/src/structures/GuildMember.js
Labels: refactor, semver:patch, packages:discord.js

#9238 fix(AutocompleteInteraction): Send `name_localizations` correctly
  packages/discord.js/src/structures/AutocompleteInteraction.js
Labels: interactions, semver:patch, packages:discord.js

#9267 chore: Include discord.js in the user agent string
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/utils/constants.ts
Labels: chore, semver:patch, packages:discord.js, packages:rest

#9262 fix: resolving string bitfield
  packages/discord.js/src/util/BitField.js
Labels: semver:patch, packages:discord.js

#9219 fix: add support for new guild feature `GUILD_WEB_PAGE_VANITY_URL`
  packages/discord.js/src/structures/Guild.js
Labels: semver:patch, packages:discord.js

#9272 docs: fix compare position example
  packages/discord.js/src/structures/Role.js
Labels: documentation, semver:patch, packages:discord.js

#9251 docs: differ `User#send`
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js

#8879 docs: describe private properties
  packages/discord.js/src/managers/CachedManager.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Presence.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9284 fix(core): include data for defer
  packages/core/src/api/interactions.ts
Labels: semver:patch, packages:core

#9271 chore: Miscellaneous fixes
  scripts/generateRequires.mjs
  src/client/actions/ActionsManager.js
  src/client/websocket/handlers/index.js
  src/managers/CachedManager.js
  src/managers/ThreadManager.js
  src/structures/AutocompleteInteraction.js
  src/structures/ClientUser.js
  src/structures/Guild.js
  src/structures/GuildMember.js
  src/structures/Message.js
  src/structures/Presence.js
  src/structures/Role.js
  src/structures/User.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/BitField.js
  typings/index.d.ts
Labels: chore, semver:patch, packages:discord.js, backport

#9315 fix(AutocompleteInteraction): Fix responding
  src/structures/AutocompleteInteraction.js
Labels: interactions, regression, semver:patch, packages:discord.js

#9312 fix: Typo in `src/util/MessageFlags.js`
  src/util/MessageFlags.js
Labels: semver:patch, utility, packages:discord.js

#9311 fix(core): missed optional options
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
  packages/core/src/api/interactions.ts
  packages/core/src/api/webhook.ts
Labels: semver:patch, packages:core

#9331 fix(website): dont crash when serviceWorker is not available
  apps/website/src/hooks/useUnregisterServiceWorker.ts
Labels: apps:website

#9330 refactor(ui): add 'use client' directives to client-only components
  packages/ui/src/lib/components/Alert.tsx
  packages/ui/src/lib/components/Section.tsx
Labels: packages:ui

#9313 fix: fix external links
  packages/brokers/docs/README.md
  packages/builders/docs/README.md
  packages/collection/docs/README.md
  packages/discord.js/docs/README.md
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/ChannelSelectMenuBuilder.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/MentionableSelectMenuBuilder.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/ModalBuilder.js
  packages/discord.js/src/structures/RoleSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuOptionBuilder.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/UserSelectMenuBuilder.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/src/util/Sweepers.js
  packages/proxy/docs/README.md
  packages/rest/docs/README.md
  packages/util/docs/README.md
  packages/voice/docs/README.md
  packages/ws/docs/README.md
Labels: documentation, semver:patch, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, packages:brokers

#9334 refactor: Use description constant in landing page
  apps/website/src/app/page.tsx
  apps/website/src/util/constants.ts
Labels: refactor, apps:website

#9318 fix(ClientUser): Fix modifying self
  src/structures/ClientUser.js
Labels: regression, semver:patch, packages:discord.js

#9338 fix(Message): Fix permissions check in locked threads
  src/structures/Message.js
Labels: regression, semver:patch, packages:discord.js, backport

#9348 docs: Use `@link` in `@see`
  packages/brokers/src/brokers/Broker.ts
  packages/brokers/src/brokers/redis/BaseRedis.ts
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandSubcommands.ts
  packages/builders/src/messages/embed/Embed.ts
Labels: documentation, semver:patch, packages:builders, packages:brokers

#9347 fix(util): Remove extra slash
  apps/website/src/components/documentation/util.ts
Labels: apps:website

#9344 docs: Remove `JSONEncondable`
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/ChannelSelectMenuBuilder.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/MentionableSelectMenuBuilder.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/ModalBuilder.js
  packages/discord.js/src/structures/RoleSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuOptionBuilder.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/UserSelectMenuBuilder.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Components.js
Labels: documentation, semver:patch, packages:discord.js

#9351 fix: Correct `@link` tags that involve parents
  apps/website/src/components/documentation/util.ts
  apps/website/src/util/constants.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
Labels: packages:builders, apps:website

#9352 perf(RoleManager): dont call Role#position getter twice per role
  packages/discord.js/src/managers/RoleManager.js
Labels: semver:patch, performance, packages:discord.js

#9354 fix(ExcerptText): Use `resolveItemURI()` in excerpts
  apps/website/src/components/ExcerptText.tsx
Labels: apps:website

#9363 feat: Support `@defaultValue`
  apps/website/src/components/documentation/tsdoc/TSDoc.tsx
Labels: apps:website

#9362 feat: Support `@returns`
  apps/website/src/components/documentation/tsdoc/BlockComment.tsx
  apps/website/src/components/documentation/tsdoc/TSDoc.tsx
Labels: apps:website

#9361 fix(website): dont show parameters header on functions without parameters
  apps/website/src/components/model/function/FunctionBody.tsx
Labels: apps:website

#9343 docs: Use stable tag
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/ChannelSelectMenuBuilder.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/MentionableSelectMenuBuilder.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/ModalBuilder.js
  packages/discord.js/src/structures/RoleSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuOptionBuilder.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/UserSelectMenuBuilder.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/src/util/Sweepers.js
Labels: documentation, semver:patch, packages:discord.js

#9359 docs(builders): Add some basic documentation
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/Component.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/selectMenu/BaseSelectMenu.ts
  packages/builders/src/components/selectMenu/ChannelSelectMenu.ts
  packages/builders/src/components/selectMenu/MentionableSelectMenu.ts
  packages/builders/src/components/selectMenu/RoleSelectMenu.ts
  packages/builders/src/components/selectMenu/StringSelectMenu.ts
  packages/builders/src/components/selectMenu/StringSelectMenuOption.ts
  packages/builders/src/components/selectMenu/UserSelectMenu.ts
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandSubcommands.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandNumericOptionMinMaxValueMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionBase.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesAndAutocompleteMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/NameAndDescription.ts
  packages/builders/src/interactions/slashCommands/mixins/SharedSlashCommandOptions.ts
  packages/builders/src/interactions/slashCommands/options/attachment.ts
  packages/builders/src/interactions/slashCommands/options/boolean.ts
  packages/builders/src/interactions/slashCommands/options/channel.ts
  packages/builders/src/interactions/slashCommands/options/integer.ts
  packages/builders/src/interactions/slashCommands/options/mentionable.ts
  packages/builders/src/interactions/slashCommands/options/number.ts
  packages/builders/src/interactions/slashCommands/options/role.ts
  packages/builders/src/interactions/slashCommands/options/string.ts
  packages/builders/src/interactions/slashCommands/options/user.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/util/componentUtil.ts
  packages/builders/src/util/normalizeArray.ts
  packages/builders/src/util/validation.ts
Labels: documentation, semver:patch, packages:builders

#9364 docs(formatters): Enhance the documentation
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/escapers.ts
  packages/formatters/src/formatters.ts
Labels: documentation, semver:patch, packages:formatters

#9356 fix(core): Support attachment editing on interactions
  packages/core/src/api/webhook.ts
Labels: semver:patch, packages:core

#9282 refactor(WebSocketShard): waitForEvent and its error handling
  packages/ws/src/ws/WebSocketShard.ts
Labels: refactor, packages:ws

#9371 docs: add `SnowflakeUtil`
  packages/discord.js/src/client/Client.js
Labels: documentation, semver:patch, packages:discord.js

#9376 feat(guide): How to contribute
  apps/guide/public/assets/discordjs.png
  apps/guide/src/content/02-requesting-more-content.mdx
  apps/guide/src/content/02-whats-new.mdx
  apps/guide/src/content/03-how-to-contribute.mdx
  apps/guide/src/content/04-test.mdx
Labels: apps:guide

#9326 types(GuildTextBasedChannel): Remove unnecessary exclusion of forum channels
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9327 types(CategoryChannel): Ensure `parent` and `parentId` are `null`
  packages/discord.js/src/structures/CategoryChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9173 feat(AutoModeration): v13 support `customMessage`
  src/managers/AutoModerationRuleManager.js
  src/structures/AutoModerationRule.js
  typings/index.d.ts
  typings/rawDataTypes.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9380 feat(DocsLink): Implement the component
  apps/guide/src/components/DocsLink.tsx
  apps/guide/src/util/constants.ts
Labels: apps:guide

#9381 fix(guide): Treeshake react-icons
  apps/guide/package.json
  apps/guide/src/components/DocsLink.tsx
  apps/guide/src/components/ExternalLink.tsx
  yarn.lock
Labels: apps:guide

#9382 fix: Update `DocsLink` usage
  apps/guide/src/content/02-creating-your-bot/02-creating-commands.mdx
Labels: apps:guide

#9384 feat: Add changes from v13 to v14
  apps/guide/src/content/03-additional-info/03-updating-to-v14.mdx
Labels: apps:guide

#9388 fix(website): link dapi-types to proper website
  apps/website/src/components/ExcerptText.tsx
  apps/website/src/util/constants.ts
Labels: apps:website

#9375 refactor: abstract identify throttling and correct max_concurrency handling
  packages/ws/__tests__/strategy/WorkerShardingStrategy.test.ts
  packages/ws/__tests__/util/IdentifyThrottler.test.ts
  packages/ws/__tests__/util/SimpleIdentifyThrottler.test.ts
  packages/ws/src/index.ts
  packages/ws/src/strategies/context/IContextFetchingStrategy.ts
  packages/ws/src/strategies/context/SimpleContextFetchingStrategy.ts
  packages/ws/src/strategies/context/WorkerContextFetchingStrategy.ts
  packages/ws/src/strategies/sharding/SimpleShardingStrategy.ts
  packages/ws/src/strategies/sharding/WorkerShardingStrategy.ts
  packages/ws/src/throttling/IIdentifyThrottler.ts
  packages/ws/src/throttling/SimpleIdentifyThrottler.ts
  packages/ws/src/utils/IdentifyThrottler.ts
  packages/ws/src/utils/WorkerBootstrapper.ts
  packages/ws/src/utils/constants.ts
  packages/ws/src/ws/WebSocketManager.ts
  packages/ws/src/ws/WebSocketShard.ts
Labels: refactor, semver:major, packages:ws

#9335 refactor: Remove `fromInteraction` in internal channel creation
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:patch, packages:discord.js

#9145 feat(StageChannel): v13 support messages
  src/client/actions/WebhooksUpdate.js
  src/structures/BaseGuildVoiceChannel.js
  src/structures/StageChannel.js
  src/structures/VoiceChannel.js
  src/structures/Webhook.js
  src/util/Constants.js
  typings/index.d.ts
  typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9124 feat: v13 `VIEW_CREATOR_MONETIZATION_ANALYTICS` and `USE_SOUNDBOARD` permissions
  src/util/Permissions.js
  typings/index.d.ts
Labels: api support, semver:minor, permissions, packages:discord.js

#9358 fix(BaseSelectMenuBuilder): Modify class to be `abstract`
  packages/builders/src/components/selectMenu/BaseSelectMenu.ts
Labels: semver:patch, packages:builders

#9342 docs(Events): Document auto moderation events
  packages/discord.js/src/util/Events.js
Labels: documentation, semver:patch, packages:discord.js

#9319 fix(Message#editable): fix permissions check in locked threads
  packages/discord.js/src/structures/Message.js
Labels: regression, semver:patch, packages:discord.js

#9283 docs: cleanup MessageCreateOptions and MessageReplyOptions
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js

#9322 docs(Options): fix links and invalid syntax
  packages/discord.js/src/util/Options.js
Labels: documentation, semver:patch, packages:discord.js

#9366 feat(RoleTagData): add guildConnections
  packages/discord.js/src/structures/Role.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9391 feat(roleTagData): v13 add guildConnections
  src/structures/Role.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9395 fix(website): right-align search bar
  apps/website/src/components/Header.tsx
Labels: apps:website

#9337 feat(BaseInteraction): Support new channel payload
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/structures/BaseInteraction.js
Labels: api support, semver:minor, packages:discord.js

#9403 chore(async-await): Update to ESM
  apps/guide/src/content/03-additional-info/01-async-await.mdx
Labels: apps:guide

#9402 fix(collection): `filter()` markdown
  apps/guide/src/content/03-additional-info/02-collections.mdx
Labels: apps:guide

#9401 fix(updating-to-v14): Prioritise JavaScript
  apps/guide/src/content/03-additional-info/03-updating-to-v14.mdx
Labels: apps:guide

#9399 types(ChannelsAPI): use correct type for `editMessage`
  packages/core/src/api/channel.ts
Labels: semver:patch, packages:core

#9405 fix(website): add equals to enum members
  apps/website/src/components/model/enum/EnumMember.tsx
Labels: apps:website

#9408 fix(updating-to-v14): Parameter typo
  apps/guide/src/content/03-additional-info/03-updating-to-v14.mdx
Labels: apps:guide

#9407 feat: Add FAQ
  apps/guide/src/content/03-popular-topics/01-frequently-asked-questions.mdx
  apps/guide/src/content/04-additional-info/01-async-await.mdx
  apps/guide/src/content/04-additional-info/02-collections.mdx
  apps/guide/src/content/04-additional-info/03-updating-to-v14.mdx
Labels: apps:guide

#9390 chore(Client): robust error checking
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/typings/index.d.ts
Labels: chore, semver:patch, packages:discord.js

#9413 feat(website): use tsdoc parameter names wherever possible
  apps/website/src/components/ParameterTable.tsx
  apps/website/src/components/documentation/section/ParametersSection.tsx
  apps/website/src/components/model/method/MethodHeader.tsx
  apps/website/src/util/model.ts
Labels: apps:website

#9410 feat(core): abstract gateway
  packages/core/src/Gateway.ts
  packages/core/src/client.ts
Labels: semver:minor, packages:core

#9414 refactor(website): extract shared code heading styling into component
  apps/website/src/components/CodeHeading.tsx
  apps/website/src/components/NameText.tsx
  apps/website/src/components/Property.tsx
  apps/website/src/components/model/enum/EnumMember.tsx
  apps/website/src/components/model/method/MethodHeader.tsx
Labels: apps:website

#9418 chore: Bump dependencies for template package
  .yarnrc.yml
  apps/guide/package.json
  apps/website/package.json
  package.json
  packages/scripts/src/template/template.package.json
  packages/ui/package.json
  yarn.lock
Labels: chore, dependencies, apps:guide, apps:website, packages:ui

#9274 fix: use new permission name
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/structures/GuildEmoji.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:patch, permissions, packages:discord.js

#9424 ci: Update actions
  .github/workflows/issue-triage.yml
  .github/workflows/lighthouse.yml
Labels: ci

#9417 refactor(website): consolidate badge logic
  apps/website/src/components/Badges.tsx
  apps/website/src/components/ExcerptText.tsx
  apps/website/src/components/Property.tsx
  apps/website/src/components/PropertyList.tsx
  apps/website/src/components/documentation/Header.tsx
  apps/website/src/components/documentation/MemberContainerDocumentation.tsx
  apps/website/src/components/documentation/section/ConstructorSection.tsx
  apps/website/src/components/documentation/util.ts
  apps/website/src/components/model/Class.tsx
  apps/website/src/components/model/method/MethodHeader.tsx
Labels: apps:website

#9426 docs: reference package names properly
  packages/builders/README.md
  packages/rest/README.md
Labels: documentation, semver:patch, packages:builders, packages:rest

#9427 docs: use ESM code in examples
  packages/discord.js/README.md
  packages/discord.js/src/util/Partials.js
Labels: documentation, semver:patch, packages:discord.js

#9428 feat: add `ACTIVE_DEVELOPER` user flag
  src/util/UserFlags.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9433 ci: Fix issue triage
  .github/workflows/issue-triage.yml
Labels: ci

#9434 docs(InteractionResponses): showModal docs change
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/APITypes.js
Labels: documentation, semver:patch, packages:discord.js

#9392 feat(Attachment): voice messages
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9422 refactor(proxy): rely on auth header instead
  packages/proxy-container/README.md
  packages/proxy-container/src/index.ts
  packages/proxy/src/handlers/proxyRequests.ts
  packages/proxy/src/util/responseHelpers.ts
Labels: ratelimits, semver:minor, packages:proxy, packages:proxy-container

#9437 docs(BaseMessageOptions): Fix embeds and components
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js

#9435 docs(APITypes): Document role & user select menu components
  packages/discord.js/src/util/APITypes.js
Labels: documentation, semver:patch, packages:discord.js

#9444 feat: voice messages
  src/structures/MessageAttachment.js
  src/util/Constants.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  typings/index.d.ts
  typings/rawDataTypes.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9456 chore: Add directory to package.json
  apps/guide/package.json
  apps/website/package.json
  packages/actions/package.json
  packages/api-extractor-utils/package.json
  packages/brokers/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/scripts/src/createPackage.ts
  packages/scripts/src/template/template.package.json
  packages/ui/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Labels: chore, semver:patch, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:guide, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next

#9461 docs: Update example usage
  packages/core/README.md
Labels: documentation, semver:patch, packages:core

#9385 feat(guide): port and update lots of stuff
  apps/guide/public/assets/after-sorting.png
  apps/guide/public/assets/before-sorting.png
  apps/guide/public/assets/bot-auth-page.png
  apps/guide/public/assets/bot-authorized.png
  apps/guide/public/assets/bot-in-memberlist.png
  apps/guide/public/assets/bot-user.png
  apps/guide/public/assets/create-app.png
  apps/guide/src/content/02-creating-your-bot/01-initial-files.mdx
  apps/guide/src/content/02-creating-your-bot/02-creating-commands.mdx
  apps/guide/src/content/02-installations-and-preparations/01-installing-node-discordjs.mdx
  apps/guide/src/content/02-installations-and-preparations/02-setting-up-a-linter.mdx
  apps/guide/src/content/02-installations-and-preparations/03-setting-up-a-bot-application.mdx
  apps/guide/src/content/02-installations-and-preparations/04-adding-your-bot-to-servers.mdx
  apps/guide/src/content/03-creating-your-bot/01-configuration-files.mdx
  apps/guide/src/content/03-creating-your-bot/02-creating-the-main-file.mdx
  apps/guide/src/content/03-creating-your-bot/03-adding-commands.mdx
  apps/guide/src/content/03-creating-your-bot/04-handling-command-interactions.mdx
  apps/guide/src/content/03-creating-your-bot/05-registering-slash-commands.mdx
  apps/guide/src/content/03-creating-your-bot/06-event-handling.mdx
  apps/guide/src/content/04-popular-topics/01-frequently-asked-questions.mdx
  apps/guide/src/content/05-additional-info/01-async-await.mdx
  apps/guide/src/content/05-additional-info/02-collections.mdx
  apps/guide/src/content/05-additional-info/03-updating-to-v14.mdx
Labels: apps:guide

#9460 types(AutoModerationActionMetadataOptions): make channel property optional
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9464 docs(AutoModerationRule): update docs
  packages/discord.js/src/structures/AutoModerationRule.js
Labels: documentation, semver:patch, packages:discord.js

#9357 fix(BitField): use only enum names in iterating
  packages/discord.js/src/util/BitField.js
Labels: regression, semver:patch, packages:discord.js

#9425 fix(BaseClient): Prevent user agent mutation
  packages/discord.js/src/client/BaseClient.js
Labels: semver:patch, REST, packages:discord.js

#9466 refactor(website): consolidate styling for buttons
  apps/website/package.json
  apps/website/src/app/docs/packages/[package]/page.tsx
  apps/website/src/app/docs/packages/page.tsx
  apps/website/src/app/page.tsx
  apps/website/src/components/InstallButton.tsx
  apps/website/src/styles/Button.tsx
  yarn.lock
Labels: apps:website

#9465 fix(guide): Show rest of TypeScript code block
  apps/guide/src/content/03-creating-your-bot/04-handling-command-interactions.mdx
Labels: apps:guide

#9430 feat(guide): Add threads
  apps/guide/src/content/04-popular-topics/03-threads.mdx
  apps/guide/src/content/05-additional-info/01-understanding-async-await.mdx
Labels: apps:guide

#9470 docs: Add new issue form for applications
  .github/ISSUE_TEMPLATE/01-package_bug_report.yml
  .github/ISSUE_TEMPLATE/02-application_bug_report.yml
  .github/ISSUE_TEMPLATE/03-feature_request.yml
  .github/issue-labeler.yml
  packages/scripts/src/createPackage.ts
Labels: documentation

#9473 feat: update Discord developer documentation links and add new flags
  src/client/websocket/WebSocketShard.js
  src/util/ActivityFlags.js
  src/util/ApplicationFlags.js
  src/util/Constants.js
  src/util/MessageFlags.js
  src/util/Permissions.js
  src/util/SystemChannelFlags.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9471 feat(ui): support verified bots and colored authors
  apps/guide/public/assets/snek-bot.jpeg
  apps/guide/src/content/01-home/03-how-to-contribute.mdx
  packages/ui/package.json
  packages/ui/src/lib/components/discord/MessageAuthor.tsx
  packages/ui/src/lib/components/discord/MessageAuthorReply.tsx
Labels: apps:guide, packages:ui

#9429 feat(guide): Add audit logs
  apps/guide/src/content/04-popular-topics/02-audit-logs.mdx
Labels: apps:guide

#9474 fix(ShardClientUtil): Fix client event names
  packages/discord.js/src/sharding/ShardClientUtil.js
Labels: semver:patch, packages:discord.js

#9478 feat(ui): support embed image, thumbnail, author url, and url
  packages/ui/src/lib/components/discord/DiscordMessages.stories.tsx
  packages/ui/src/lib/components/discord/MessageEmbed.tsx
  packages/ui/src/lib/components/discord/MessageEmbedAuthor.tsx
  packages/ui/src/lib/components/discord/MessageEmbedImage.tsx
  packages/ui/src/lib/components/discord/MessageEmbedThumbnail.tsx
  packages/ui/src/lib/components/discord/MessageEmbedTitle.tsx
Labels: packages:ui
