Repository discordjs/discord.js, pull requests merged in 2023-03, with the labels that each got.

#9184 feat: v13 support `SUPPRESS_NOTIFICATIONS` flag
  src/managers/GuildForumThreadManager.js
  src/structures/interfaces/TextBasedChannel.js
  src/util/MessageFlags.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js, backport

#9159 docs(EmbedBuilder#spliceFields): fix a typo
  packages/builders/src/messages/embed/Embed.ts
Labels: documentation, semver:patch, packages:builders

#9158 feat: add support for gif stickers (v13)
  src/util/Constants.js
  typings/enums.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9204 fix(Actions): inject built data by using a symbol
  src/client/actions/Action.js
  src/client/actions/ActionsManager.js
  src/structures/Message.js
Labels: semver:patch, packages:discord.js, backport

#9203 fix(Actions): inject built data by using a symbol
  packages/discord.js/src/client/actions/Action.js
  packages/discord.js/src/client/actions/ActionsManager.js
  packages/discord.js/src/structures/Message.js
Labels: semver:patch, packages:discord.js

#9201 docs: fix /core README example
  packages/core/README.md
Labels: documentation, semver:patch, packages:core

#9202 fix(Voice): send keep alives without awaiting a response
  packages/voice/__tests__/VoiceUDPSocket.test.ts
  packages/voice/src/networking/VoiceUDPSocket.ts
Labels: semver:patch, packages:voice

#9211 fix(core): use `auth: false` for interaction callback methods
  packages/core/src/api/interactions.ts
Labels: semver:patch, packages:core

#9218 Fix a rare error regarding interactions
  src/rest/RequestHandler.js
Labels: semver:patch, packages:discord.js

#9217 fix(ThreadChannel): fetch starter message properly
  src/structures/ThreadChannel.js
Labels: regression, semver:patch, packages:discord.js

#9227 chore(discord.js): release discord.js@13.14.0
  CHANGELOG.md
  package.json
Labels: packages:discord.js

#9175 types(MappedEvents): add `GuildAuditLogEntryCreate`
  packages/core/src/client.ts
Labels: semver:minor, packages:core

#9229 chore(voice): release @discordjs/voice@0.15.0
  packages/voice/CHANGELOG.md
  packages/voice/package.json
Labels: packages:voice

#9223 feat(WebSocketShard): heartbeat jitter
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#9226 fix(WebSocketShard): #send race condition due to ready state
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#9222 docs(MessageManager): add clarification to fetch messages
  packages/discord.js/src/managers/MessageManager.js
Labels: documentation, semver:patch, packages:discord.js

#9228 refactor(core): move `setVoiceState` to `GuildsAPI`
  packages/core/src/api/guild.ts
  packages/core/src/api/user.ts
Labels: semver:major, packages:core

#9157 fix: modify tsup extension
  packages/proxy-container/Dockerfile
Labels: semver:patch, packages:proxy-container

#9044 feat(Collector): add lastCollectedTimestamp
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#9144 fix(snowflake): snowflakes length
  packages/discord.js/src/managers/ThreadManager.js
  packages/rest/src/lib/RequestManager.ts
Labels: semver:patch, packages:discord.js, packages:rest

#9191 refactor: compare with `undefined` directly
  packages/collection/src/collection.ts
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/structures/ClientUser.js
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/InviteGuild.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/src/util/BitField.js
  packages/docgen/src/types/param.ts
  packages/docgen/src/types/typedef.ts
  packages/formatters/src/formatters.ts
  packages/voice/src/DataStore.ts
  packages/voice/src/VoiceConnection.ts
  packages/voice/src/audio/AudioResource.ts
  packages/voice/src/networking/Networking.ts
  packages/voice/src/networking/VoiceWebSocket.ts
  packages/voice/src/receive/AudioReceiveStream.ts
Labels: refactor, packages:collection, packages:discord.js, packages:voice, packages:docgen, packages:formatters

#9230 chore: release all packages
  packages/builders/CHANGELOG.md
  packages/builders/package.json
  packages/collection/CHANGELOG.md
  packages/collection/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
  packages/formatters/CHANGELOG.md
  packages/formatters/package.json
  packages/proxy/CHANGELOG.md
  packages/proxy/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/ws/CHANGELOG.md
  packages/ws/package.json
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:ws, packages:proxy, packages:util, packages:core, packages:formatters

#9232 fix(TextBasedChannelTypes): add `GuildStageVoice`
  packages/discord.js/src/util/Constants.js
Labels: semver:patch, packages:discord.js

#9244 fix(WebSocketShard): cancel initial heartbeat in destroy
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#9246 build: resolve issue with esbuild-plugin-version-injector not working
  packages/builders/package.json
  packages/builders/tsconfig.json
  packages/collection/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  tsconfig.json
  yarn.lock
Labels: semver:patch, packages:builders, packages:collection, packages:rest, packages:voice, packages:ws, packages:next

#9243 fix(rest): remove `const enum`s in favour of regular enums
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/utils/constants.ts
  tsconfig.json
Labels: semver:patch, packages:rest

#9254 fix(WebSocketShard): don't close in #destroy when status is connecting
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#9257 ci: Lock ancient issues
  .github/workflows/lock.yml
Labels: ci

#9235 docs: Update `APISelectMenuComponent`
  packages/discord.js/src/util/APITypes.js
Labels: documentation, semver:patch, packages:discord.js

#9240 docs(FetchArchivedThreadOptions): `before` respects `archive_timestamp`, not creation timestamp
  packages/discord.js/src/managers/ThreadManager.js
Labels: documentation, semver:patch, threads, packages:discord.js

#9252 docs: add more examples
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Role.js
Labels: documentation, semver:patch, packages:discord.js

#9241 refactor(FetchThreadsOptions): Remove `active`
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:patch, threads, packages:discord.js

#9239 fix(ThreadManager): Respect `cache` and `force` in fetching
  packages/discord.js/src/managers/ThreadManager.js
Labels: semver:patch, threads, packages:discord.js

#9164 fix(ThreadManager): add `members` and conditionally include `hasMore`
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, threads, packages:discord.js

#9216 fix(Message#editable): update editable check in threads locked
  packages/discord.js/src/structures/Message.js
Labels: api changes, semver:patch, packages:discord.js

#9234 feat: add GuildBasedTextChannelTypes
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#9269 refactor(website): use new metadata api instead of `head.tsx`
  apps/website/src/app/docs/packages/[package]/[version]/[item]/head.tsx
  apps/website/src/app/docs/packages/[package]/[version]/[item]/page.tsx
  apps/website/src/app/head.tsx
  apps/website/src/app/page.tsx
Labels: refactor, apps:website

#9054 fix(website): show headers for type aliases
  apps/website/src/components/documentation/ObjectHeader.tsx
  apps/website/src/components/model/TypeAlias.tsx
  apps/website/src/components/model/Variable.tsx
  apps/website/src/components/model/enum/Enum.tsx
  apps/website/src/pages/api/og.tsx
  apps/website/src/pages/api/og_model.tsx
Labels: apps:website

#9062 fix(website): remove layout shift
  apps/website/src/components/documentation/section/ConstructorSection.tsx
  apps/website/src/components/documentation/section/DocumentationSection.tsx
  apps/website/src/components/documentation/section/MethodsSection.tsx
  apps/website/src/components/documentation/section/ParametersSection.tsx
  apps/website/src/components/documentation/section/PropertiesSection.tsx
  apps/website/src/components/documentation/section/ResponsiveSection.tsx
  apps/website/src/components/documentation/section/SummarySection.tsx
  apps/website/src/components/documentation/section/TypeParametersSection.tsx
  apps/website/src/components/model/enum/Enum.tsx
Labels: apps:website

#9270 docs(Role): Fix example for `comparePositionTo()`
  packages/discord.js/src/structures/Role.js
Labels: documentation, semver:patch, packages:discord.js

#9266 refactor(collection): fix/silence linter warnings
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: refactor, semver:patch, packages:collection

#9276 fix(WebSocketShard): don't await #destroy in error bubbling logic
  packages/ws/README.md
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#9259 fix(ClientUser): No mutation on edit
  packages/discord.js/src/structures/ClientUser.js
Labels: semver:patch, packages:discord.js

#9245 feat: backport `chatInputApplicationCommandMention`
  src/util/Formatters.js
  typings/index.d.ts
Labels: semver:minor, packages:discord.js, backport

#9286 refactor(website): redesign
  apps/website/package.json
  apps/website/src/app/docs/packages/[package]/[version]/[item]/page.tsx
  apps/website/src/app/docs/packages/[package]/[version]/layout.tsx
  apps/website/src/app/docs/packages/[package]/[version]/page.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/components/Anchor.tsx
  apps/website/src/components/CmdK.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/Header.tsx
  apps/website/src/components/Nav.tsx
  apps/website/src/components/Panel.tsx
  apps/website/src/components/Property.tsx
  apps/website/src/components/PropertyList.tsx
  apps/website/src/components/Sidebar.tsx
  apps/website/src/components/documentation/MemberContainerDocumentation.tsx
  apps/website/src/components/documentation/section/DocumentationSection.tsx
  apps/website/src/components/documentation/section/MethodsSection.tsx
  apps/website/src/components/documentation/tsdoc/TSDoc.tsx
  apps/website/src/components/model/Class.tsx
  apps/website/src/components/model/Interface.tsx
  apps/website/src/components/model/Variable.tsx
  apps/website/src/components/model/enum/Enum.tsx
  apps/website/src/components/model/method/MethodHeader.tsx
  apps/website/src/styles/cmdk.css
  packages/ui/src/lib/components/Section.tsx
Labels: refactor, apps:website, packages:ui

#9293 fix: Keep symbols in actions manager
  packages/discord.js/scripts/generateRequires.mjs
  packages/discord.js/src/client/actions/ActionsManager.js
Labels: semver:patch, packages:discord.js

#8996 fix(handlers): create burst handler for interaction callbacks
  packages/rest/__tests__/BurstHandler.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/BurstHandler.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/handlers/Shared.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/src/lib/utils/utils.ts
Labels: semver:patch, packages:rest

#8422 feat(Guild): Add `max_stage_video_channel_users`
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js
