Repository discordjs/discord.js, pull requests merged in 2023-09, with the labels that each got.

#9787 feat(CDN): Support emoji size
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/src/lib/utils/utils.ts
Labels: api support, semver:minor, packages:rest

#9815 build: Bump discord-api-types to 0.37.56
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#9817 ci: fix npm dev release workflow
  .github/workflows/publish-dev.yml
Labels: ci

#9528 perf: linear speed position getters
  src/structures/GuildChannel.js
  src/structures/Role.js
  src/util/Util.js
Labels: semver:patch, performance, packages:discord.js, backport

#9825 docs: Fix "its" typo
  packages/discord.js/src/util/Options.js
  packages/rest/src/lib/REST.ts
Labels: documentation, semver:patch, packages:discord.js, packages:rest

#9828 types(Client): fix isReady narrowing
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#9823 fix(WebSocketManager): available sessions check
  packages/ws/src/ws/WebSocketManager.ts
Labels: semver:patch, packages:ws

#9831 types: don't include dom types
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9805 feat: add support for teams update
  packages/discord.js/src/structures/TeamMember.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:minor, packages:discord.js

#9826 ci: Modify environment variable to fix development releases
  .github/workflows/publish-dev.yml
  .yarnrc.yml
Labels: ci

#9824 docs(Attachment): add MIME types link to `contentType`
  packages/discord.js/src/structures/Attachment.js
Labels: documentation, semver:patch, packages:discord.js

#9664 docs(ApplicationCommandManager): id parameter can take options
  packages/discord.js/src/managers/ApplicationCommandManager.js
Labels: documentation, semver:patch, packages:discord.js

#9796 feat(GuildAuditLogsEntry): expose extra integrationType in relevant log types
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js

#9782 feat: Support widget image URL
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/Widget.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9790 docs(DiscordjsErrorCodes): Deprecate unused properties
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/typings/index.d.ts
Labels: documentation, semver:patch, packages:discord.js

#9802 fix(GuildScheduledEvent): Use `if...else` pattern and handle partials
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#9791 refactor: Stickers are free (no more "premium" packs)
  packages/core/src/api/sticker.ts
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:minor, packages:discord.js, packages:core

#9662 feat: Add media channels
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/discord.js/src/client/actions/WebhooksUpdate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/AutoModerationActionExecution.js
  packages/discord.js/src/structures/ForumChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/MediaChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/ThreadOnlyChannel.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/WelcomeChannel.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:builders, packages:discord.js

#9822 docs: remove broken markdown links
  packages/actions/README.md
  packages/api-extractor-utils/README.md
  packages/docgen/README.md
  packages/proxy-container/README.md
  packages/scripts/README.md
  packages/ui/README.md
Labels: documentation, semver:patch, packages:docgen, packages:proxy-container, packages:ui

#9837 ci: Deprecate step after publish & standalone file
  .github/CONTRIBUTING.md
  .github/workflows/deprecate-version.yml
  .github/workflows/npm-auto-deprecate.yml
  .github/workflows/publish-dev.yml
Labels: ci

#9838 ci(publish-release): Use correct environment variable
  .github/workflows/publish-release.yml
Labels: ci

#9273 feat: Support `default_thread_rate_limit_per_user` in channel creation
  packages/discord.js/src/managers/CategoryChannelChildManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9339 feat: support `default_thread_rate_limit_per_user` in channel creation
  src/managers/GuildChannelManager.js
  src/structures/BaseGuildTextChannel.js
  src/structures/CategoryChannel.js
  typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#9845 refactor(GuildAuditLogsEntry): abstract reduce logic into a new function
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
Labels: refactor, semver:patch, packages:discord.js

#9855 docs: Remove `FileOptions`
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js

#8885 feat(StageInstanceManager): add `guildScheduledEvent` to `create()`
  packages/discord.js/src/managers/StageInstanceManager.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#9844 types(UserContextMenuCommandInteraction): Nullify `targetMember`
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#9862 chore: update license files
  packages/brokers/LICENSE
  packages/proxy-container/LICENSE
  packages/proxy/LICENSE
  packages/ws/LICENSE
Labels: packages:ws, packages:proxy, packages:proxy-container, packages:brokers
