Repository discordjs/discord.js, pull requests merged in 2024-11, with the labels that each got.

#10536 feat: add soundboard
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
  packages/core/src/api/index.ts
  packages/core/src/api/soundboardSounds.ts
  packages/core/src/client.ts
Labels: semver:minor, packages:core

#10384 feat(GuildMember): Banners
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#10486 feat: add subscriptions
  packages/core/src/api/monetization.ts
  packages/core/src/client.ts
Labels: api support, semver:minor, packages:core

#10586 docs: add note about idempotence to role add/remove routes
  packages/discord.js/src/managers/GuildMemberRoleManager.js
Labels: documentation, semver:patch, packages:discord.js

#10540 types: add missing `Caches` managers
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10579 fix(ThreadChannel): Address parameter type on `fetchOwner()`
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, threads, packages:discord.js

#10552 perf(collection): optimisations
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:patch, performance, packages:collection

#10549 types(collection): simplify ambient constructor declaration
  packages/collection/src/collection.ts
Labels: semver:patch, typings, packages:collection

#10567 refactor(formatters): Change `:_:` emoji name placeholder
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: semver:patch, packages:formatters

#10587 fix(InteractionResponses): throw error on deleting response of unacknowledged interaction
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Labels: semver:patch, packages:discord.js

#10592 fix(ThreadChannel): Address parameter type on fetchOwner()
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, threads, packages:discord.js, backport

#10318 feat: Voice Channel Effect Send
  packages/discord.js/src/client/websocket/handlers/VOICE_CHANNEL_EFFECT_SEND.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/VoiceChannelEffect.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10595 docs(channel): Clarify emoji parameter
  packages/core/src/api/channel.ts
Labels: documentation, semver:patch, packages:core

#10521 refactor(GuildAuditLogsEntry)!: add type guard for narrowing
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:major, packages:discord.js

#10599 test: Fix builder methods in type test
  packages/builders/__tests__/components/button.test.ts
  packages/builders/__tests__/types.test.ts
Labels: semver:patch, tests, packages:builders

#10451 feat(voice)!: add new encryption methods, remove old methods
  packages/voice/README.md
  packages/voice/__mocks__/rtp.ts
  packages/voice/__tests__/Secretbox.test.ts
  packages/voice/__tests__/VoiceReceiver.test.ts
  packages/voice/package.json
  packages/voice/scripts/postbuild.mjs
  packages/voice/src/networking/Networking.ts
  packages/voice/src/receive/VoiceReceiver.ts
  packages/voice/src/util/Secretbox.ts
  packages/voice/src/util/generateDependencyReport.ts
  pnpm-lock.yaml
Labels: semver:major, packages:voice, blocked

#10602 chore(voice): release @discordjs/voice@0.18.0
  packages/voice/CHANGELOG.md
  packages/voice/README.md
  packages/voice/package.json
Labels: chore, packages:voice

#10603 docs: Use info markdown
  packages/voice/README.md
Labels: documentation, semver:patch, packages:voice

#10604 style: Run Prettier
  packages/voice/README.md
Labels: documentation, semver:patch, packages:voice

#10512 feat(interactions): support with_response query parameter in core
  packages/core/src/api/interactions.ts
Labels: api support, semver:minor, packages:core

#10597 fix(MessageReaction): Address `undefined` burst properties
  packages/discord.js/src/structures/MessageReaction.js
Labels: semver:patch, packages:discord.js

#10598 feat: Emit reaction type on gateway events
  packages/discord.js/src/client/actions/MessageReactionAdd.js
  packages/discord.js/src/client/actions/MessageReactionRemove.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10601 build: Update dependencies
  package.json
  packages/actions/package.json
  packages/api-extractor-model/package.json
  packages/api-extractor-utils/package.json
  packages/api-extractor/package.json
  packages/brokers/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/scripts/turbo/generators/templates/default/package.json.hbs
  packages/ui/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot, packages:api-extractor, packages:api-extractor-model

#10611 chore(deps): bump `discord-api-types`
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10616 build!: Bump Node.js to 20
  apps/website/package.json
  package.json
  packages/actions/package.json
  packages/api-extractor-model/package.json
  packages/api-extractor-utils/package.json
  packages/api-extractor/package.json
  packages/brokers/package.json
  packages/builders/README.md
  packages/builders/package.json
  packages/collection/README.md
  packages/collection/package.json
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/create-discord-bot/template/TypeScript/package.json
  packages/discord.js/README.md
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/README.md
  packages/formatters/package.json
  packages/next/README.md
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/README.md
  packages/proxy/package.json
  packages/rest/README.md
  packages/rest/package.json
  packages/scripts/package.json
  packages/scripts/turbo/generators/templates/default/package.json.hbs
  packages/ui/package.json
  packages/util/README.md
  packages/util/package.json
  packages/voice/README.md
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, semver:major, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot, packages:api-extractor, packages:api-extractor-model

#10621 fix: `query` is optional for some endpoints
  packages/core/src/api/monetization.ts
  packages/core/src/api/poll.ts
Labels: semver:patch, packages:core

#10541 feat: add subscriptions
  packages/discord.js/src/client/websocket/handlers/SUBSCRIPTION_CREATE.js
  packages/discord.js/src/client/websocket/handlers/SUBSCRIPTION_DELETE.js
  packages/discord.js/src/client/websocket/handlers/SUBSCRIPTION_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/SubscriptionManager.js
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/structures/Entitlement.js
  packages/discord.js/src/structures/Subscription.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10499 feat(InteractionResponses)!: support with_response query parameter
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/InteractionCallback.js
  packages/discord.js/src/structures/InteractionCallbackResource.js
  packages/discord.js/src/structures/InteractionCallbackResponse.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: interactions, semver:major, packages:discord.js

#10626 refactor: use `cache.get()` for snowflakes, `resolve()` otherwise
  packages/discord.js/src/client/actions/ThreadListSync.js
  packages/discord.js/src/managers/BaseGuildEmojiManager.js
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/PresenceManager.js
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/GuildOnboardingPromptOption.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/PollAnswer.js
  packages/discord.js/src/structures/ThreadMember.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/WelcomeChannel.js
Labels: refactor, semver:patch, packages:discord.js

#10622 docs: correct discord-api-types URLs
  packages/discord.js/src/util/APITypes.js
Labels: documentation, semver:patch, packages:discord.js

#10625 refactor(FetchApplicationCommandOptions): Use `Locale` over `LocaleString`
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#10628 docs: Typos
  packages/builders/__tests__/interactions/ChatInputCommands/ChatInputCommands.test.ts
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/src/util/validation.ts
  packages/core/src/api/interactions.ts
  packages/discord.js/src/client/websocket/handlers/VOICE_CHANNEL_EFFECT_SEND.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/structures/ThreadOnlyChannel.js
  packages/voice/README.md
  packages/voice/__tests__/AudioPlayer.test.ts
Labels: documentation, semver:patch, packages:builders, packages:discord.js, packages:voice, packages:core

#10629 fix(RoleManager): Fetching roles is not nullable
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, packages:discord.js
