Repository discordjs/discord.js, pull requests merged in 2024-09, with the labels that each got.

#10227 feat: user-installable apps
  packages/builders/src/interactions/contextMenuCommands/ContextMenuCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/SlashCommandBuilder.ts
  packages/builders/src/interactions/slashCommands/mixins/SharedSlashCommand.ts
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/managers/PartialGroupDMMessageManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/PartialGroupDMChannel.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:builders, packages:discord.js

#10469 fix: message reaction crash
  packages/discord.js/src/structures/MessageReaction.js
Labels: packages:discord.js

#10470 chore: add in more data to changelog entries
  packages/brokers/cliff.toml
  packages/builders/cliff.toml
  packages/collection/cliff.toml
  packages/core/cliff.toml
  packages/create-discord-bot/cliff.toml
  packages/discord.js/cliff.toml
  packages/formatters/cliff.toml
  packages/next/cliff.toml
  packages/proxy/cliff.toml
  packages/rest/cliff.toml
  packages/scripts/turbo/generators/templates/default/cliff.toml
  packages/util/cliff.toml
  packages/voice/cliff.toml
  packages/ws/cliff.toml
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#10474 fix(Transformers): pass client to recursive call
  packages/discord.js/src/util/Transformers.js
Labels: semver:patch, packages:discord.js

#10475 fix(Message): reacting returning undefined
  packages/discord.js/src/client/actions/Action.js
  packages/discord.js/src/client/actions/MessageReactionAdd.js
Labels: in review, semver:patch, packages:discord.js

#10476 chore(discord.js): release discord.js@14.16.1
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
Labels: packages:discord.js, blocked

#10480 docs(ApplicationEmojiManager): fix fetch example
  packages/discord.js/src/managers/ApplicationEmojiManager.js
Labels: documentation, semver:patch, packages:discord.js

#10478 types: export GroupDM helper type
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10481 docs(Message): mark `interaction` as deprecated
  packages/discord.js/src/structures/Message.js
  packages/discord.js/typings/index.d.ts
Labels: documentation, semver:patch, packages:discord.js

#10482 fix: type guard for sendable text-based channels
  packages/discord.js/src/structures/BaseChannel.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:minor, semver:patch, typings, utility, packages:discord.js

#10490 chore: pin builders in discord.js
  packages/discord.js/package.json
  pnpm-lock.yaml
Labels: chore, semver:patch, packages:discord.js

#10484 docs: update discord documentation links
  packages/core/src/api/channel.ts
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js, packages:core

#10497 fix(ApplicationCommand): incorrect comparison in equals method
  packages/discord.js/src/structures/ApplicationCommand.js
Labels: semver:patch, packages:discord.js

#10501 fix: docs search
  apps/website/src/util/fetchDependencies.ts
Labels: apps:website

#10505 fix: `GuildChannel#guildId` not being patched to `undefined`
  packages/discord.js/src/client/actions/MessageCreate.js
  packages/discord.js/src/client/actions/MessageDelete.js
  packages/discord.js/src/client/actions/MessagePollVoteAdd.js
  packages/discord.js/src/client/actions/MessagePollVoteRemove.js
  packages/discord.js/src/client/actions/MessageReactionAdd.js
  packages/discord.js/src/client/actions/MessageReactionRemove.js
  packages/discord.js/src/client/actions/MessageReactionRemoveAll.js
  packages/discord.js/src/client/actions/MessageReactionRemoveEmoji.js
  packages/discord.js/src/client/actions/MessageUpdate.js
  packages/discord.js/src/client/actions/TypingStart.js
Labels: semver:patch, packages:discord.js

#10465 feat: show default values in docs
  packages/api-extractor/src/generators/ApiModelGenerator.ts
  packages/scripts/src/generateSplitDocumentation.ts
Labels: packages:api-extractor

#10471 chore: update cliff configs
  packages/brokers/cliff.toml
  packages/builders/cliff.toml
  packages/collection/cliff.toml
  packages/core/cliff.toml
  packages/create-discord-bot/cliff.toml
  packages/discord.js/cliff.toml
  packages/formatters/cliff.toml
  packages/next/cliff.toml
  packages/proxy/cliff.toml
  packages/rest/cliff.toml
  packages/scripts/turbo/generators/templates/default/cliff.toml
  packages/ui/cliff.toml
  packages/util/cliff.toml
  packages/voice/cliff.toml
  packages/ws/cliff.toml
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#10510 fix(website): nullable parameters on events
  packages/api-extractor/src/generators/ApiModelGenerator.ts
Labels: packages:api-extractor

#10509 types(MessageEditOptions): Omit `poll`
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#10517 fix(BaseInteraction): add missing props
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/typings/index.d.ts
Labels: interactions, semver:patch, packages:discord.js

#10522 chore(discord.js): release discord.js@14.16.3
  packages/discord.js/CHANGELOG.md
  packages/discord.js/package.json
Labels: packages:discord.js

#10464 feat: message forwarding
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10447 feat: recurring scheduled events
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/structures/GuildScheduledEvent.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/test/random.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js
