Repository discordjs/discord.js, pull requests merged in 2024-07, with the labels that each got.

#10375 feat(WebSocketShard): explicit time out network error handling
  packages/ws/src/utils/constants.ts
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#10353 feat: Premium buttons
  packages/builders/__tests__/components/button.test.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/button/Button.ts
  packages/core/src/api/interactions.ts
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: interactions, semver:minor, packages:builders, packages:discord.js, packages:core, packages:formatters

#10380 test: complete collection coverage
  packages/collection/__tests__/collection.test.ts
Labels: semver:patch, tests, packages:collection

#9726 feat(GuildAuditLogsEntry): onboarding events
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10370 refactor(GuildChannelManager): Remove redundant edit code
  packages/discord.js/src/managers/GuildChannelManager.js
Labels: refactor, semver:patch, packages:discord.js

#10383 fix: retry for EAI_AGAIN I/O error
  packages/ws/src/utils/constants.ts
Labels: semver:patch, packages:ws

#10395 feat(SlashCommandBuilder): Add explicit command type when building
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/slashCommands/mixins/SharedSlashCommand.ts
Labels: semver:minor, packages:builders

#10400 feat: add subtext formatter
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: semver:minor, packages:formatters

#10376 refactor(ws): event layout
  packages/core/src/client.ts
  packages/ws/__tests__/strategy/WorkerShardingStrategy.test.ts
  packages/ws/src/strategies/sharding/SimpleShardingStrategy.ts
  packages/ws/src/strategies/sharding/WorkerShardingStrategy.ts
  packages/ws/src/utils/WorkerBootstrapper.ts
  packages/ws/src/ws/WebSocketManager.ts
  packages/ws/src/ws/WebSocketShard.ts
Labels: refactor, semver:major, packages:ws, packages:core

#10405 types(collection): reduce* method signatures
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:patch, typings, packages:collection

#10386 docs: Lowercase "image" URL
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/User.js
Labels: documentation, semver:patch, packages:discord.js

#10417 fix(WebSocketManager): heartbeat event had outdated types
  packages/ws/src/strategies/sharding/SimpleShardingStrategy.ts
  packages/ws/src/ws/WebSocketManager.ts
Labels: semver:patch, packages:ws

#10419 chore: deprecate client options presence
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Labels: chore, semver:patch, packages:discord.js

#10418 feat(WebsocketManager): retroactive token setting
  packages/ws/src/strategies/context/IContextFetchingStrategy.ts
  packages/ws/src/utils/constants.ts
  packages/ws/src/ws/WebSocketManager.ts
Labels: semver:minor, packages:ws

#10404 build: bump discord-api-types to 0.37.93
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10364 chore: update emails
  package.json
  packages/brokers/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/turbo/generators/templates/default/package.json.hbs
  packages/ui/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:proxy-container, packages:util, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot
