Repository discordjs/discord.js, pull requests merged in 2024-03, with the labels that each got.

#10160 types: fix duplicate props in merged interfaces
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10164 ci: enable npm provenance
  .github/workflows/publish-dev.yml
  .github/workflows/publish-release.yml
  packages/api-extractor-utils/package.json
  packages/brokers/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/turbo/generators/templates/package.json.hbs
  packages/ui/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Labels: ci, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#10163 ci: use correct github tag in docs source links
  .github/workflows/documentation.yml
Labels: ci

#10184 fix(types): Export `ReadonlyCollection`
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10136 refactor(ThreadChannel): use single thread member endpoint
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/ThreadChannel.js
Labels: api support, refactor, semver:patch, packages:discord.js

#10152 fix(Embed): address `equals` method issue
  packages/discord.js/src/structures/Embed.js
Labels: packages:discord.js

#10175 feat: allow RestOrArray for command option builders
  packages/builders/__tests__/interactions/SlashCommands/SlashCommands.test.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesMixin.ts
Labels: semver:minor, packages:builders

#10180 chore: remove ws dependency
  packages/discord.js/package.json
  packages/discord.js/tsconfig.json
  packages/discord.js/typings/index.d.ts
  pnpm-lock.yaml
Labels: chore, semver:patch, packages:discord.js

#10188 types: generic for Webhook type
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js
