Repository discordjs/discord.js, pull requests merged in 2024-08, with the labels that each got.

#10426 revert: chore: deprecate client options presence
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#10427 chore: pin /ws version in discord.js
  packages/discord.js/package.json
  pnpm-lock.yaml
Labels: packages:discord.js

#10436 refactor(WebSocketShard): error event handling
  packages/ws/src/utils/constants.ts
  packages/ws/src/ws/WebSocketManager.ts
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:major, packages:ws

#10416 fix(WebSocketShard): buffer native zlib decompression payload
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#10446 build: bump discord-api-types to 0.37.94
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10435 fix(website): duplicate method in docs when interface merging
  packages/api-extractor/src/generators/ApiModelGenerator.ts
  packages/scripts/src/generateSplitDocumentation.ts
Labels: packages:api-extractor

#10381 feat: Add support for Automated Message nonce handling
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#10423 feat(Attachment): add `title`
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#10391 types: Fix wrong auto moderation target type
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10291 feat(builders): update to @sapphire/shapeshift v4
  packages/builders/package.json
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/slashCommands/Assertions.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithAutocompleteMixin.ts
  packages/builders/src/interactions/slashCommands/mixins/ApplicationCommandOptionWithChoicesMixin.ts
  packages/builders/src/interactions/slashCommands/options/integer.ts
  packages/builders/src/interactions/slashCommands/options/number.ts
  packages/builders/src/interactions/slashCommands/options/string.ts
  packages/builders/src/messages/embed/Assertions.ts
  pnpm-lock.yaml
Labels: dependencies, semver:minor, packages:builders

#10434 refactor(actions): safer getChannel calls
  packages/discord.js/src/client/actions/MessageCreate.js
  packages/discord.js/src/client/actions/MessageDelete.js
  packages/discord.js/src/client/actions/MessagePollVoteAdd.js
  packages/discord.js/src/client/actions/MessagePollVoteRemove.js
  packages/discord.js/src/client/actions/MessageReactionAdd.js
  packages/discord.js/src/client/actions/MessageReactionRemove.js
  packages/discord.js/src/client/actions/MessageReactionRemoveAll.js
  packages/discord.js/src/client/actions/MessageReactionRemoveEmoji.js
  packages/discord.js/src/client/actions/MessageUpdate.js
  packages/discord.js/src/client/actions/StageInstanceCreate.js
  packages/discord.js/src/client/actions/StageInstanceDelete.js
  packages/discord.js/src/client/actions/StageInstanceUpdate.js
  packages/discord.js/src/client/actions/TypingStart.js
Labels: semver:patch, packages:discord.js

#10452 build: bump discord-api-types to 0.37.96
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10440 feat(OAuth2API): add `revokeToken` method
  packages/core/src/api/oauth2.ts
Labels: packages:core

#10438 fix(GuildAuditLogsEntry): correct mapped `AuditLogChange` objects
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: packages:discord.js

#10399 feat: application emojis
  packages/core/src/api/applications.ts
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/ApplicationEmojiManager.js
  packages/discord.js/src/structures/ApplicationEmoji.js
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  packages/discord.js/typings/rawDataTypes.d.ts
Labels: semver:minor, packages:discord.js, packages:core

#10360 types(Client): `EventEmitter` static method overrides
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#10442 feat(VoiceState): add methods for fetching voice state
  packages/core/src/api/guild.ts
  packages/core/src/api/voice.ts
  packages/discord.js/src/managers/VoiceStateManager.js
  packages/discord.js/src/structures/VoiceState.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/rawDataTypes.d.ts
Labels: semver:minor, packages:discord.js, packages:core

#10181 types: Use `ThreadChannel` and `AnyThreadChannel` consistently
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:patch, typings, packages:discord.js

#10445 feat: use get sticker pack endpoint
  packages/core/src/api/sticker.ts
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: packages:discord.js, packages:core

#10394 fix(build): update to support strictBuiltinIteratorReturn
  packages/collection/src/collection.ts
Labels: semver:patch, packages:collection

#10429 fix(Shard): add env, execArgv, and argv for worker-based shards
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardingManager.js
Labels: packages:discord.js

#10454 fix(MessagePayload): crash when resolving body
  packages/discord.js/src/structures/MessagePayload.js
Labels: regression, semver:patch, packages:discord.js

#10444 fix: failed build in node and bad lints
  packages/create-discord-bot/src/create-discord-bot.ts
  packages/create-discord-bot/src/helpers/packageManager.ts
  packages/create-discord-bot/src/util/constants.ts
  packages/create-discord-bot/template/Bun/TypeScript/tsconfig.json
  packages/create-discord-bot/template/TypeScript/.prettierignore
  packages/create-discord-bot/template/TypeScript/tsconfig.json
Labels: semver:patch, packages:create-discord-bot

#10443 refactor: use get guild role endpoint
  packages/core/src/api/guild.ts
  packages/discord.js/src/managers/RoleManager.js
Labels: semver:minor, packages:discord.js, packages:core

#10453 ci: skip coverage upload on missing files
  packages/actions/src/uploadCoverage/action.yml
Labels: ci

#10459 chore: bump to @favware/cliff-jumper v4.1.0 and fix changelog generation
  .github/workflows/publish-dev.yml
  package.json
  packages/api-extractor-model/package.json
  packages/brokers/cliff.toml
  packages/brokers/package.json
  packages/builders/CHANGELOG.md
  packages/builders/cliff.toml
  packages/builders/package.json
  packages/collection/CHANGELOG.md
  packages/collection/cliff.toml
  packages/collection/package.json
  packages/core/CHANGELOG.md
  packages/core/cliff.toml
  packages/core/package.json
  packages/create-discord-bot/cliff.toml
  packages/create-discord-bot/package.json
  packages/discord.js/CHANGELOG.md
  packages/discord.js/cliff.toml
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/cliff.toml
  packages/formatters/package.json
  packages/next/cliff.toml
  packages/next/package.json
  packages/proxy/CHANGELOG.md
  packages/proxy/cliff.toml
  packages/proxy/package.json
  packages/rest/CHANGELOG.md
  packages/rest/cliff.toml
  packages/rest/package.json
  packages/scripts/turbo/generators/templates/default/cliff.toml
  packages/scripts/turbo/generators/templates/default/package.json.hbs
  packages/ui/cliff.toml
  packages/ui/package.json
  packages/util/CHANGELOG.md
  packages/util/cliff.toml
  packages/util/package.json
  packages/voice/CHANGELOG.md
  packages/voice/cliff.toml
  packages/voice/package.json
  packages/ws/CHANGELOG.md
  packages/ws/cliff.toml
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:util, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot, packages:api-extractor-model
