Repository discordjs/discord.js, pull requests merged in 2024-10, with the labels that each got.

#10477 feat: Add ApplicationEmoji to EmojiResolvable and MessageReaction#emoji
  packages/discord.js/src/managers/BaseGuildEmojiManager.js
  packages/discord.js/src/structures/MessageReaction.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#9789 refactor(CommandInteractionOptionResolver): remove getFull from getFocused()
  packages/discord.js/src/structures/CommandInteractionOptionResolver.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#8755 fix(User): remove `fetchFlags()`
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, REST, packages:discord.js

#10023 fix(ThreadMember): remove audit log reason parameter
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/src/structures/ThreadMember.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#10531 docs(discord.js): remove `utf-8-validate`
  packages/discord.js/README.md
Labels: documentation, semver:patch, packages:discord.js

#10421 chore!: remove all deprecated features/props
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/actions/WebhooksUpdate.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/ActionRow.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/src/structures/Invite.js
  packages/discord.js/src/structures/InviteStageInstance.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/SelectMenuBuilder.js
  packages/discord.js/src/structures/SelectMenuComponent.js
  packages/discord.js/src/structures/SelectMenuInteraction.js
  packages/discord.js/src/structures/SelectMenuOptionBuilder.js
  packages/discord.js/src/structures/StageInstance.js
  packages/discord.js/src/structures/StringSelectMenuBuilder.js
  packages/discord.js/src/structures/TeamMember.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/src/util/Formatters.js
  packages/discord.js/test/monetization.js
  packages/discord.js/test/tester2000.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  packages/discord.js/typings/rawDataTypes.d.ts
Labels: chore, semver:major, packages:discord.js, blocked

#10461 feat: add linked roles formatters
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: api support, semver:minor, packages:formatters

#10526 types: remove newMessage partial on messageUpdate event typing
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:patch, typings, packages:discord.js

#10472 test: replace jest with vitest
  packages/voice/__mocks__/ws.js
  packages/voice/__tests__/AudioPlayer.test.ts
  packages/voice/__tests__/AudioReceiveStream.test.ts
  packages/voice/__tests__/AudioResource.test.ts
  packages/voice/__tests__/DataStore.test.ts
  packages/voice/__tests__/SSRCMap.test.ts
  packages/voice/__tests__/Secretbox.test.ts
  packages/voice/__tests__/SpeakingMap.test.ts
  packages/voice/__tests__/TransformerGraph.test.ts
  packages/voice/__tests__/VoiceConnection.test.ts
  packages/voice/__tests__/VoiceReceiver.test.ts
  packages/voice/__tests__/VoiceUDPSocket.test.ts
  packages/voice/__tests__/VoiceWebSocket.test.ts
  packages/voice/__tests__/abortAfter.test.ts
  packages/voice/__tests__/demuxProbe.test.ts
  packages/voice/__tests__/entersState.test.ts
  packages/voice/__tests__/joinVoiceChannel.test.ts
  packages/voice/babel.config.js
  packages/voice/jest.config.js
  packages/voice/package.json
  pnpm-lock.yaml
Labels: tests, packages:voice

#10534 feat: implement zod-validation-error
  packages/builders/package.json
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/button/Button.ts
  packages/builders/src/components/selectMenu/ChannelSelectMenu.ts
  packages/builders/src/components/selectMenu/MentionableSelectMenu.ts
  packages/builders/src/components/selectMenu/RoleSelectMenu.ts
  packages/builders/src/components/selectMenu/StringSelectMenu.ts
  packages/builders/src/components/selectMenu/StringSelectMenuOption.ts
  packages/builders/src/components/selectMenu/UserSelectMenu.ts
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/interactions/commands/chatInput/ChatInputCommand.ts
  packages/builders/src/interactions/commands/chatInput/ChatInputCommandSubcommands.ts
  packages/builders/src/interactions/commands/chatInput/options/ApplicationCommandOptionBase.ts
  packages/builders/src/interactions/commands/contextMenu/MessageCommand.ts
  packages/builders/src/interactions/commands/contextMenu/UserCommand.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/embed/EmbedAuthor.ts
  packages/builders/src/messages/embed/EmbedField.ts
  packages/builders/src/messages/embed/EmbedFooter.ts
  packages/builders/src/util/validation.ts
  pnpm-lock.yaml
Labels: packages:builders

#10420 refactor!: fully integrate /ws into mainlib
  packages/discord.js/package.json
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/client/actions/GuildMemberRemove.js
  packages/discord.js/src/client/actions/GuildMemberUpdate.js
  packages/discord.js/src/client/voice/ClientVoiceManager.js
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/client/websocket/WebSocketShard.js
  packages/discord.js/src/client/websocket/handlers/GUILD_CREATE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_MEMBER_ADD.js
  packages/discord.js/src/client/websocket/handlers/GUILD_MEMBER_REMOVE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_MEMBER_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/READY.js
  packages/discord.js/src/client/websocket/handlers/RESUMED.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/src/structures/ClientPresence.js
  packages/discord.js/src/structures/ClientUser.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/src/util/Options.js
  packages/discord.js/src/util/Status.js
  packages/discord.js/src/util/WebSocketShardEvents.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  pnpm-lock.yaml
Labels: semver:major, packages:discord.js, blocked

#10532 refactor(NewsChannel)!: rename NewsChannel to AnnouncementChannel
  packages/discord.js/src/client/actions/ThreadListSync.js
  packages/discord.js/src/client/actions/WebhooksUpdate.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/managers/GuildTextThreadManager.js
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/structures/AnnouncementChannel.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/WelcomeChannel.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:major, packages:discord.js, blocked

#10544 fix(Client): never pass token in ws constructor
  packages/discord.js/src/client/Client.js
Labels: regression, semver:patch, packages:discord.js

#10543 fix(GuildScheduledEvent): handle null recurrence_rule
  packages/discord.js/src/structures/GuildScheduledEvent.js
Labels: semver:patch, packages:discord.js

#10547 refactor!: exclude removed events from their enum
  packages/discord.js/src/util/ShardEvents.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js, blocked

#10519 docs(Client): fix incorrect managers descriptions
  packages/discord.js/src/client/Client.js
Labels: documentation, semver:patch, packages:discord.js

#10553 fix: rebase fail
  packages/discord.js/src/client/Client.js
Labels: packages:discord.js, blocked

#10550 refactor: Deprecate fetching user flags
  packages/discord.js/src/managers/UserManager.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:patch, packages:discord.js

#10551 refactor: Deprecate `reason` parameter on adding and removing thread members
  packages/discord.js/src/managers/ThreadMemberManager.js
  packages/discord.js/src/structures/ThreadMember.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:patch, packages:discord.js

#10545 docs: allow `@mixes` TSDoc tag for documenting mixins
  packages/api-extractor-model/src/mixins/ApiItemContainerMixin.ts
  packages/api-extractor-model/src/model/ApiPackage.ts
  packages/api-extractor/extends/tsdoc-base.json
  packages/builders/src/interactions/commands/chatInput/ChatInputCommand.ts
  packages/builders/tsdoc.json
Labels: packages:builders, packages:api-extractor, packages:api-extractor-model

#10548 chore: make semver:major block kodiak
  .github/.kodiak.toml
Labels: chore

#10556 refactor!: fix several issues with /ws incorporation
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#10515 feat(website): type parameters links, builtin doc links, default values
  apps/website/src/components/ParameterNode.tsx
  apps/website/src/components/PropertyNode.tsx
  packages/api-extractor-model/src/mixins/ApiParameterListMixin.ts
  packages/api-extractor-model/src/model/ApiPackage.ts
  packages/api-extractor-model/src/model/Deserializer.ts
  packages/api-extractor-model/src/model/Parameter.ts
  packages/api-extractor/src/generators/ApiModelGenerator.ts
  packages/discord.js/src/util/Options.js
  packages/discord.js/typings/index.d.ts
  packages/scripts/src/builtinDocumentationLinks.ts
  packages/scripts/src/generateSplitDocumentation.ts
Labels: packages:discord.js, apps:website, packages:api-extractor, packages:api-extractor-model

#10565 fix: missing tsdocConfig in api.json preventing index generation
  packages/api-extractor-model/src/model/ApiPackage.ts
Labels: packages:api-extractor-model

#10564 refactor(InteractionResponses)!: Remove `ephemeral` response option
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/MessageFlagsBitField.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#10574 refactor(InteractionResponses): Deprecate ephemeral response option
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/MessageFlagsBitField.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:minor, packages:discord.js

#10580 refactor: remove extra traversing
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/GuildScheduledEventManager.js
Labels: refactor, semver:patch, packages:discord.js

#10575 build: bump discord-api-types version
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next
