Repository discordjs/discord.js, pull requests merged in 2024-04, with the labels that each got.

#10201 build: bump discord-api-types to 0.37.78
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10182 feat(GuildBanManager): Add `bulkCreate()` method
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10178 docs: remove duplicated words
  packages/api-extractor/src/api/IConfigFile.ts
  packages/core/src/api/interactions.ts
  packages/util/src/functions/range.ts
Labels: documentation, semver:patch, packages:util, packages:core, packages:api-extractor

#10191 docs: remove unused `Locale` typedef
  packages/discord.js/src/structures/BaseInteraction.js
Labels: documentation, semver:patch, packages:discord.js

#10202 feat(GuildsAPI): bulk ban users
  packages/core/src/api/guild.ts
Labels: api support, semver:minor, packages:core

#10208 ci: Ensure reviews in progress label do not merge
  .github/.kodiak.toml
Labels: ci

#10176 feat(ClientUser): Add support for setting bot banner
  packages/discord.js/src/structures/ClientUser.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10209 ci: fix call to generateSplitDocumentation if run on tag
  .github/workflows/documentation.yml
Labels: ci

#10193 fix(website): use correct version for cross-package links
  apps/website/src/components/DocNode.tsx
  apps/website/src/components/ExcerptNode.tsx
  apps/website/src/util/fetchNode.ts
  apps/website/src/util/fetchSitemap.ts
Labels: apps:website

#10212 feat(website): add type field to search index to sort by
  apps/website/src/components/ui/CmdK.tsx
  packages/actions/src/uploadSearchIndices/index.ts
  packages/scripts/src/generateIndex.ts
Labels: apps:website

#10173 feat(api-extractor): support `export * as ___` syntax
  packages/api-extractor/src/analyzer/ExportAnalyzer.ts
  packages/builders/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:api-extractor

#10217 fix(api-extractor): link class in docs if interface merging happened
  packages/api-extractor/src/generators/ApiModelGenerator.ts
Labels: packages:api-extractor

#10213 perf(Presence): prefer boolean client status comparison before activity checks
  packages/discord.js/src/structures/Presence.js
Labels: semver:patch, performance, packages:discord.js

#10231 ci: optimize tests
  .github/workflows/tests.yml
Labels: ci

#10225 fix(api-extractor-model): resolve doc reference for classes with merged interfaces
  packages/api-extractor-model/src/model/ModelReferenceResolver.ts
Labels: packages:api-extractor-model

#10234 test: skip flaky rest test
  packages/rest/__tests__/RequestHandler.test.ts
Labels: tests, packages:rest

#10226 build: bump discord-api-types to 0.37.82
  package.json
  packages/builders/package.json
  packages/core/package.json
  packages/core/src/client.ts
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10230 chore: Add funding field to package.json
  apps/guide/package.json
  apps/website/package.json
  package.json
  packages/actions/package.json
  packages/api-extractor-model/package.json
  packages/api-extractor-utils/package.json
  packages/api-extractor/package.json
  packages/brokers/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/scripts/turbo/generators/templates/package.json.hbs
  packages/ui/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Labels: chore, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:guide, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot, packages:api-extractor, packages:api-extractor-model

#10211 fix(actions): always emit message create for own messages
  packages/discord.js/src/client/actions/MessageCreate.js
Labels: caching, gateway, semver:patch, packages:discord.js

#10014 fix: don't mutate user provided array
  packages/builders/__tests__/util.test.ts
  packages/builders/src/components/selectMenu/MentionableSelectMenu.ts
  packages/builders/src/util/normalizeArray.ts
Labels: semver:patch, packages:builders

#10185 feat: polls
  .github/ISSUE_TEMPLATE/01-package_bug_report.yml
  packages/core/src/api/index.ts
  packages/core/src/api/poll.ts
  packages/core/src/client.ts
  packages/discord.js/src/client/actions/ActionsManager.js
  packages/discord.js/src/client/actions/MessagePollVoteAdd.js
  packages/discord.js/src/client/actions/MessagePollVoteRemove.js
  packages/discord.js/src/client/websocket/handlers/MESSAGE_POLL_VOTE_ADD.js
  packages/discord.js/src/client/websocket/handlers/MESSAGE_POLL_VOTE_REMOVE.js
  packages/discord.js/src/client/websocket/handlers/index.js
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Poll.js
  packages/discord.js/src/structures/PollAnswer.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/test/polls.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js, packages:core
