Repository discordjs/discord.js, pull requests merged in 2025-01, with the labels that each got.

#10673 feat: Upgrade create-discord-bot dependencies
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Deno/src/commands/index.ts
  packages/create-discord-bot/template/Deno/src/events/index.ts
  packages/create-discord-bot/template/Deno/src/events/ready.ts
  packages/create-discord-bot/template/Deno/src/index.ts
  packages/create-discord-bot/template/Deno/src/util/deploy.ts
  packages/create-discord-bot/template/Deno/src/util/registerEvents.ts
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
Labels: semver:minor, packages:create-discord-bot

#10674 chore(create-discord-bot): release create-discord-bot@1.0.0
  packages/create-discord-bot/.cliff-jumperrc.json
  packages/create-discord-bot/CHANGELOG.md
  packages/create-discord-bot/package.json
Labels: packages:create-discord-bot

#10675 chore(cliff): don't skip breaking commits
  packages/brokers/cliff.toml
  packages/builders/cliff.toml
  packages/collection/cliff.toml
  packages/core/cliff.toml
  packages/create-discord-bot/cliff.toml
  packages/discord.js/cliff.toml
  packages/formatters/cliff.toml
  packages/next/cliff.toml
  packages/proxy/cliff.toml
  packages/rest/cliff.toml
  packages/scripts/turbo/generators/templates/default/cliff.toml
  packages/ui/cliff.toml
  packages/util/cliff.toml
  packages/voice/cliff.toml
  packages/ws/cliff.toml
Labels: chore, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#10677 fix: Correct guild member banner URL
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: semver:patch, packages:rest

#10528 refactor(PermissionOverwrites)!: cache-independent resolve
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#10683 fix(interactions): `options` should be optional
  packages/core/src/api/interactions.ts
Labels: semver:patch, packages:core

#10686 fix: use `resolve()` for `PermissionOverwrites`
  packages/discord.js/src/managers/BaseGuildEmojiManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/PermissionOverwrites.js
Labels: regression, semver:patch, packages:discord.js

#10681 fix(Message): Ensure channel is defined for clean content
  packages/discord.js/src/structures/Message.js
Labels: semver:patch, packages:discord.js

#8566 feat(NewsChannel)!: return followed channel data
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/structures/AnnouncementChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#10685 test: Add `with_response` overload tests
  packages/core/__tests__/types.test.ts
  packages/core/tsconfig.json
  vitest.d.ts
Labels: semver:patch, tests, packages:core

#10691 style: Run Prettier
  packages/core/__tests__/types.test.ts
Labels: semver:patch, packages:core

#10684 fix: make version and package select openable on mobile
  apps/website/package.json
  apps/website/src/components/ui/PackageSelect.tsx
  apps/website/src/components/ui/VersionSelect.tsx
  pnpm-lock.yaml
Labels: apps:website

#10692 test: Include type checks on builders
  packages/builders/__tests__/components/textInput.test.ts
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/tsconfig.json
Labels: semver:patch, tests, packages:builders

#10695 fix(fetchVersions): Sort package versions
  apps/website/src/middleware.ts
  apps/website/src/util/fetchLatestVersion.ts
  apps/website/src/util/fetchVersions.ts
Labels: apps:website

#10639 refactor!: Better application command mention format approach
  packages/formatters/__tests__/formatters.test.ts
  packages/formatters/src/formatters.ts
Labels: semver:major, packages:formatters

#10693 types: fix recurrence rule types
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#10699 fix(IntegrationApplication)!: remove `hook`
  packages/discord.js/src/structures/IntegrationApplication.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#10689 refactor!: Remove `InteractionResponse`
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/InteractionCollector.js
  packages/discord.js/src/structures/InteractionResponse.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:major, packages:discord.js

#10688 fix(InteractionResponses): mark replied true for followUps
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Labels: semver:patch, packages:discord.js

#10665 refactor!: Unpin @discordjs/collection
  packages/discord.js/package.json
  packages/discord.js/src/util/Util.js
  pnpm-lock.yaml
Labels: dependencies, refactor, semver:major, packages:discord.js

#10682 feat(rest)!: allow passing tokens per request
  packages/rest/__tests__/REST.test.ts
  packages/rest/package.json
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/handlers/Shared.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/src/lib/utils/types.ts
  pnpm-lock.yaml
Labels: semver:major, packages:rest

#10687 types: remove createComponent and createComponentBuilder
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10627 refactor(IntegrationApplication): move common properties to Application
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/structures/interfaces/Application.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:minor, packages:discord.js

#10672 fix(PresenceUpdate): correctly add user regardless of their properties
  packages/discord.js/src/client/actions/PresenceUpdate.js
Labels: gateway, semver:patch, packages:discord.js

#10651 feat: fetch gateway information without requiring rest in ws
  packages/ws/README.md
  packages/ws/__tests__/strategy/WorkerShardingStrategy.test.ts
  packages/ws/__tests__/ws/WebSocketManager.test.ts
  packages/ws/src/utils/constants.ts
  packages/ws/src/ws/WebSocketManager.ts
Labels: semver:minor, packages:ws

#10701 refactor: remove data resolver exports
  packages/discord.js/src/index.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#10666 refactor(actions): removed unnecessary actions
  packages/discord.js/src/client/actions/ActionsManager.js
  packages/discord.js/src/client/actions/ApplicationCommandPermissionsUpdate.js
  packages/discord.js/src/client/actions/AutoModerationActionExecution.js
  packages/discord.js/src/client/actions/AutoModerationRuleCreate.js
  packages/discord.js/src/client/actions/AutoModerationRuleDelete.js
  packages/discord.js/src/client/actions/AutoModerationRuleUpdate.js
  packages/discord.js/src/client/actions/EntitlementCreate.js
  packages/discord.js/src/client/actions/EntitlementDelete.js
  packages/discord.js/src/client/actions/EntitlementUpdate.js
  packages/discord.js/src/client/actions/GuildAuditLogEntryCreate.js
  packages/discord.js/src/client/actions/GuildBanAdd.js
  packages/discord.js/src/client/actions/GuildBanRemove.js
  packages/discord.js/src/client/actions/GuildDelete.js
  packages/discord.js/src/client/actions/GuildIntegrationsUpdate.js
  packages/discord.js/src/client/actions/GuildRoleUpdate.js
  packages/discord.js/src/client/actions/GuildScheduledEventCreate.js
  packages/discord.js/src/client/actions/GuildScheduledEventUpdate.js
  packages/discord.js/src/client/actions/InviteCreate.js
  packages/discord.js/src/client/actions/InviteDelete.js
  packages/discord.js/src/client/actions/PresenceUpdate.js
  packages/discord.js/src/client/actions/ThreadDelete.js
  packages/discord.js/src/client/actions/ThreadListSync.js
  packages/discord.js/src/client/actions/ThreadMemberUpdate.js
  packages/discord.js/src/client/actions/VoiceStateUpdate.js
  packages/discord.js/src/client/actions/WebhooksUpdate.js
  packages/discord.js/src/client/websocket/handlers/APPLICATION_COMMAND_PERMISSIONS_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/AUTO_MODERATION_ACTION_EXECUTION.js
  packages/discord.js/src/client/websocket/handlers/AUTO_MODERATION_RULE_CREATE.js
  packages/discord.js/src/client/websocket/handlers/AUTO_MODERATION_RULE_DELETE.js
  packages/discord.js/src/client/websocket/handlers/AUTO_MODERATION_RULE_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/ENTITLEMENT_CREATE.js
  packages/discord.js/src/client/websocket/handlers/ENTITLEMENT_DELETE.js
  packages/discord.js/src/client/websocket/handlers/ENTITLEMENT_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_AUDIT_LOG_ENTRY_CREATE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_BAN_ADD.js
  packages/discord.js/src/client/websocket/handlers/GUILD_BAN_REMOVE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_DELETE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_INTEGRATIONS_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_ROLE_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_SCHEDULED_EVENT_CREATE.js
  packages/discord.js/src/client/websocket/handlers/GUILD_SCHEDULED_EVENT_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/INVITE_CREATE.js
  packages/discord.js/src/client/websocket/handlers/INVITE_DELETE.js
  packages/discord.js/src/client/websocket/handlers/PRESENCE_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/THREAD_DELETE.js
  packages/discord.js/src/client/websocket/handlers/THREAD_LIST_SYNC.js
  packages/discord.js/src/client/websocket/handlers/THREAD_MEMBER_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/VOICE_STATE_UPDATE.js
  packages/discord.js/src/client/websocket/handlers/WEBHOOKS_UPDATE.js
Labels: refactor, semver:patch, packages:discord.js

#10502 feat(PartialGroupDMChannel): add missing properties
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/structures/PartialGroupDMChannel.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10696 types: Allow only ephemeral for defer reply
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10703 fix!: move `crosspost()` to `GuildMessageManager`
  packages/discord.js/src/managers/GuildMessageManager.js
  packages/discord.js/src/managers/MessageManager.js
Labels: semver:major, packages:discord.js

#10704 refactor!: Return only snowflakes for bulk delete
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#10613 refactor(Emoji)!: make imageURL() change extension dynamically
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/typings/index.d.ts
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: semver:major, packages:discord.js, packages:rest

#10623 chore: backport-candidate GitHub label
  .github/labels.yml
  packages/scripts/bin/sortLabels.js
  packages/scripts/bin/sortLabels.ts
  packages/scripts/package.json
  packages/scripts/tsup.config.ts
Labels: chore

#10708 types(ThreadOnlyChannel): remove incorrect `messages` property
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js, backport-candidate

#10702 types(interactions): fix overloads
  packages/core/__tests__/types.test.ts
  packages/core/src/api/interactions.ts
Labels: semver:patch, typings, packages:core

#10710 refactor!: use `AsyncEventEmitter` instead of `EventEmitter`
  packages/discord.js/package.json
  packages/discord.js/src/client/BaseClient.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  pnpm-lock.yaml
Labels: semver:major, packages:discord.js

#10719 docs(guild): Remove "all" for listing guild members
  packages/core/src/api/guild.ts
Labels: documentation, semver:patch, packages:core

#10646 feat(interactions): add launchActivity method
  packages/core/__tests__/types.test.ts
  packages/core/src/api/interactions.ts
Labels: api support, semver:minor, packages:core

#10725 test: Fix collector tests
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, packages:discord.js

#10712 refactor: use throw instead of Promise.reject
  packages/discord.js/.eslintrc.json
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildEmojiRoleManager.js
  packages/discord.js/src/managers/GuildInviteManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/PermissionOverwriteManager.js
  packages/discord.js/src/sharding/Shard.js
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/PartialGroupDMChannel.js
  packages/discord.js/src/structures/Poll.js
  packages/discord.js/src/structures/Sticker.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
Labels: refactor, semver:patch, packages:discord.js, backport-candidate

#10714 refactor!: return void on bans/kick/addRole/removeRole methods
  packages/discord.js/src/managers/GuildBanManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/test/random.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#10709 docs(Message): improve message snapshots description
  packages/discord.js/src/structures/Message.js
Labels: documentation, semver:patch, packages:discord.js, backport-candidate

#10713 types!: remove `GuildMemberResolvable`
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/VoiceStateManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/typings/index.d.ts
Labels: semver:major, packages:discord.js

#10718 refactor!: consolidate parameters into a single `options` object
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: refactor, semver:major, packages:discord.js

#10711 types: remove fields that cannot be set by the client
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js, backport-candidate

#10723 feat(collection): honour subclassing via `@@species` in static methods
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:patch, packages:collection

#10591 fix(GuildAuditLogEntry)!: Fix some incorrect types and runtime logic
  packages/discord.js/src/structures/GuildAuditLogsEntry.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:major, packages:discord.js, backport-candidate

#10722 build: Properly add typecheck tests
  apps/guide/package.json
  apps/website/package.json
  packages/actions/package.json
  packages/actions/tsconfig.test.json
  packages/brokers/__tests__/index.test.ts
  packages/brokers/package.json
  packages/brokers/tsconfig.test.json
  packages/builders/__tests__/types.test-d.ts
  packages/builders/package.json
  packages/builders/tsconfig.json
  packages/builders/tsconfig.test.json
  packages/collection/package.json
  packages/collection/tsconfig.test.json
  packages/core/__tests__/types.test-d.ts
  packages/core/__tests__/types.test.ts
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tsconfig.test.json
  packages/create-discord-bot/package.json
  packages/formatters/package.json
  packages/formatters/tsconfig.test.json
  packages/next/package.json
  packages/next/tsconfig.test.json
  packages/proxy/package.json
  packages/proxy/tsconfig.test.json
  packages/rest/tsconfig.test.json
  packages/scripts/package.json
  packages/scripts/turbo/generators/templates/default/package.json.hbs
  packages/scripts/turbo/generators/templates/default/tsconfig.test.json
  packages/ui/package.json
  packages/util/__tests__/types/Equatable.test-d.ts
  packages/util/__tests__/types/JSONEncodable.test-d.ts
  packages/util/package.json
  packages/util/tsconfig.test.json
  packages/voice/__tests__/AudioPlayer.test.ts
  packages/voice/__tests__/Secretbox.test.ts
  packages/voice/package.json
  packages/voice/tsconfig.test.json
  packages/ws/__tests__/types/WebSocketManager.test-d.ts
  packages/ws/package.json
  packages/ws/tsconfig.test.json
  pnpm-lock.yaml
  vitest.config.ts
  vitest.d.ts
Labels: packages:builders, packages:collection, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, apps:guide, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#10726 build!: Bump Node.js to 22.12.0
  .github/ISSUE_TEMPLATE/01-package_bug_report.yml
  .github/workflows/deploy-website.yml
  .github/workflows/deprecate-version.yml
  .github/workflows/documentation.yml
  .github/workflows/publish-dev-docker.yml
  .github/workflows/publish-dev.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-release.yml
  .github/workflows/tests.yml
  apps/website/package.json
  package.json
  packages/actions/package.json
  packages/api-extractor-model/package.json
  packages/api-extractor-utils/package.json
  packages/api-extractor/package.json
  packages/brokers/README.md
  packages/brokers/package.json
  packages/builders/README.md
  packages/builders/package.json
  packages/collection/README.md
  packages/collection/package.json
  packages/core/README.md
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
  packages/discord.js/README.md
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/README.md
  packages/formatters/package.json
  packages/next/README.md
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/README.md
  packages/proxy/package.json
  packages/rest/README.md
  packages/rest/package.json
  packages/scripts/package.json
  packages/scripts/turbo/generators/templates/default/package.json.hbs
  packages/ui/package.json
  packages/util/README.md
  packages/util/package.json
  packages/voice/README.md
  packages/voice/package.json
  packages/ws/README.md
  packages/ws/package.json
  pnpm-lock.yaml
Labels: semver:major, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot, packages:api-extractor, packages:api-extractor-model

#10730 build: bump discord-api-types to 0.37.118
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10727 feat: Incident Actions
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport-candidate

#10731 docs: Use link tags to render links on the documentation
  packages/discord.js/src/managers/ThreadManager.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
Labels: documentation, semver:patch, packages:discord.js, backport-candidate

#10428 chore: Add contributors and last commit badges
  README.md
  packages/brokers/README.md
  packages/builders/README.md
  packages/collection/README.md
  packages/core/README.md
  packages/create-discord-bot/README.md
  packages/discord.js/README.md
  packages/formatters/README.md
  packages/next/README.md
  packages/proxy/README.md
  packages/rest/README.md
  packages/util/README.md
  packages/voice/README.md
  packages/ws/README.md
Labels: chore, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#10734 fix: incorrect relative path
  packages/discord.js/src/client/actions/PresenceUpdate.js
Labels: semver:patch, packages:discord.js
