Repository discordjs/discord.js, pull requests merged in 2025-09, with the labels that each got.

#11055 feat: Guest invites
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/GuildInvite.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/InviteFlagsBitField.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport-candidate

#11062 fix: Ensure discriminator detection respects webhooks too
  packages/discord.js/src/structures/User.js
Labels: semver:patch, packages:discord.js, backport-candidate

#11034 feat(builders)!: Support select in modals
  packages/builders/__tests__/components/label.test.ts
  packages/builders/__tests__/components/textInput.test.ts
  packages/builders/__tests__/interactions/modal.test.ts
  packages/builders/__tests__/messages/message.test.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/label/Assertions.ts
  packages/builders/src/components/label/Label.ts
  packages/builders/src/components/selectMenu/StringSelectMenu.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/modals/Modal.ts
Labels: api support, semver:major, packages:builders

#10462 feat: send voice messages
  packages/discord.js/src/managers/GuildForumThreadManager.js
  packages/discord.js/src/structures/Attachment.js
  packages/discord.js/src/structures/AttachmentBuilder.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js, backport-candidate

#11095 build: Update discord-api-types to 0.38.23
  packages/builders/package.json
  packages/builders/src/components/label/Label.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/structures/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next, packages:structures

#11067 feat(rest): callbacks for timeout and retry backoff
  packages/rest/__tests__/BurstHandler.test.ts
  packages/rest/__tests__/utils.test.ts
  packages/rest/src/lib/handlers/BurstHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/handlers/Shared.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/src/lib/utils/types.ts
  packages/rest/src/lib/utils/utils.ts
Labels: semver:minor, packages:rest

#11081 feat!: label component and selects in modal
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/LabelComponent.js
  packages/discord.js/src/structures/ModalSubmitFields.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, interactions, semver:major, packages:discord.js

#11097 feat!: text display and other select menus for modal
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ModalComponentResolver.js
  packages/discord.js/src/structures/ModalSubmitFields.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, interactions, semver:major, packages:discord.js

#11096 feat: text display and more selects in modal for v14
  packages/discord.js/src/errors/ErrorCodes.js
  packages/discord.js/src/errors/Messages.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/ModalSubmitFields.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, interactions, semver:minor, packages:discord.js

#11089 feat(GuildMemberManager)!: Add new modify self fields
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:major, packages:discord.js, backport-candidate

#11113 fix(GuildMember): Use `editMe()` conditionally for `setNickname()` helper
  packages/discord.js/src/structures/GuildMember.js
Labels: semver:patch, packages:discord.js, backport-candidate

#11109 fix: Add `idPredicate`
  packages/builders/__tests__/components/v2/separator.test.ts
  packages/builders/__tests__/components/v2/textDisplay.test.ts
  packages/builders/src/Assertions.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/label/Assertions.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/components/v2/Assertions.ts
Labels: semver:patch, packages:builders

#11111 docs(APITypes): Add `APISelectMenuDefaultValue`
  packages/discord.js/src/util/APITypes.js
Labels: documentation, semver:patch, packages:discord.js

#11117 docs: use LocalizationMap where applicable
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/ApplicationRoleConnectionMetadata.js
  packages/discord.js/src/structures/ClientApplication.js
  packages/discord.js/src/util/APITypes.js
Labels: packages:discord.js, backport-candidate
