Repository discordjs/discord.js, pull requests merged in 2025-02, with the labels that each got.

#10738 chore: Remove "typings" scope from cliff.toml
  packages/brokers/cliff.toml
  packages/builders/cliff.toml
  packages/collection/cliff.toml
  packages/core/cliff.toml
  packages/create-discord-bot/cliff.toml
  packages/formatters/cliff.toml
  packages/next/cliff.toml
  packages/proxy/cliff.toml
  packages/rest/cliff.toml
  packages/scripts/turbo/generators/templates/default/cliff.toml
  packages/ui/cliff.toml
  packages/util/cliff.toml
  packages/voice/cliff.toml
  packages/ws/cliff.toml
Labels: chore, packages:builders, packages:collection, packages:rest, packages:voice, packages:ws, packages:proxy, packages:util, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#10694 types: fix recurrence rule types
  packages/discord.js/src/managers/GuildScheduledEventManager.js
  packages/discord.js/src/util/Transformers.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js, backport

#10527 fix(Guild): type error with permissionOverwrites
  packages/discord.js/src/structures/PermissionOverwrites.js
Labels: semver:patch, packages:discord.js

#10733 feat: message forwards
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js

#10741 chore: Update `GuildEmojisAndStickers` in bug report form
  .github/ISSUE_TEMPLATE/01-package_bug_report.yml
Labels: chore

#10745 fix(EmbedFieldBuilder): allow empty `name` and `value`
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/messages/embed/Assertions.ts
Labels: api changes, semver:patch, packages:builders

#10747 fix(EmbedBuilder): allow empty `name` and `value` on fields
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/messages/embed/Assertions.ts
Labels: semver:patch, packages:builders, backport

#10743 build: Update undici to 6.21.1
  packages/actions/package.json
  packages/discord.js/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:discord.js, packages:rest, packages:ws, packages:proxy

#10746 chore: use Node.js 22 and fix corepack installation
  packages/proxy-container/Dockerfile
Labels: chore, packages:proxy-container

#10750 types: rename `CategoryChannelType` to `CategoryChannelChildTypes`
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10755 fix: Do not omit falsy default values
  packages/api-extractor/src/generators/ApiModelGenerator.ts
Labels: packages:api-extractor

#10754 refactor(Client)!: Remove emojis getter
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/BaseGuildEmojiManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/structures/GuildOnboardingPromptOption.js
  packages/discord.js/src/structures/MessageReaction.js
  packages/discord.js/src/structures/PollAnswer.js
  packages/discord.js/src/structures/WelcomeChannel.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
Labels: refactor, semver:major, packages:discord.js

#10759 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: chore

#10328 feat: polls overhaul
  packages/discord.js/src/client/actions/Action.js
  packages/discord.js/src/client/actions/MessagePollVoteAdd.js
  packages/discord.js/src/client/actions/MessagePollVoteRemove.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/PollAnswerVoterManager.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Poll.js
  packages/discord.js/src/structures/PollAnswer.js
  packages/discord.js/src/util/Partials.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:minor, packages:discord.js, backport-candidate

#10559 feat!: create forwards and add `ChannelManager#createMessage()`
  packages/discord.js/src/managers/ChannelManager.js
  packages/discord.js/src/structures/BaseGuildTextChannel.js
  packages/discord.js/src/structures/BaseGuildVoiceChannel.js
  packages/discord.js/src/structures/DMChannel.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/PartialGroupDMChannel.js
  packages/discord.js/src/structures/ThreadChannel.js
  packages/discord.js/src/structures/ThreadOnlyChannel.js
  packages/discord.js/src/structures/User.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:major, packages:discord.js

#10772 fix(GuildChannelManager): properly resolve avatar for createWebhook
  packages/discord.js/src/managers/GuildChannelManager.js
Labels: semver:patch, packages:discord.js, backport-candidate

#10767 types(InteractionCallbackResponse): add missing `InGuild` generic
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js, backport-candidate

#10765 fix(MessagePayload): preserve existing flags when editing
  packages/discord.js/src/structures/MessagePayload.js
Labels: regression, semver:patch, packages:discord.js, backport-candidate

#10766 fix(MessagePayload): preserve existing flags when editing
  packages/discord.js/src/structures/MessagePayload.js
Labels: regression, semver:patch, packages:discord.js, backport

#10776 refactor!: remove `polyfillDispose`
  packages/discord.js/src/index.js
  packages/util/src/functions/index.ts
  packages/util/src/functions/polyfillDispose.ts
  packages/ws/src/ws/WebSocketManager.ts
Labels: semver:major, packages:discord.js, packages:ws, packages:util

#10780 types(ShardClientUtil): remove `count` and `ids`
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js

#10778 refactor(PackageSelect): Redirect to stable
  apps/website/src/components/ui/PackageSelect.tsx
Labels: refactor, apps:website

#10773 types: make `Client.on()` compatible with esnext.disposable in TS5.6+
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js

#10782 feat: re-emit REST debug logs
  packages/discord.js/src/client/BaseClient.js
  packages/rest/src/lib/REST.ts
Labels: packages:discord.js, packages:rest

#10715 refactor: remove parameter reassignment
  packages/discord.js/.eslintrc.json
  packages/discord.js/src/managers/ApplicationEmojiManager.js
  packages/discord.js/src/managers/GuildChannelManager.js
  packages/discord.js/src/managers/GuildEmojiManager.js
  packages/discord.js/src/managers/GuildEmojiRoleManager.js
  packages/discord.js/src/managers/GuildMemberManager.js
  packages/discord.js/src/managers/GuildMemberRoleManager.js
  packages/discord.js/src/managers/GuildStickerManager.js
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/src/managers/PermissionOverwriteManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/sharding/ShardClientUtil.js
  packages/discord.js/src/sharding/ShardingManager.js
  packages/discord.js/src/structures/GuildChannel.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/PermissionOverwrites.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/src/util/BitField.js
  packages/discord.js/src/util/Channels.js
  packages/discord.js/src/util/Util.js
Labels: refactor, semver:patch, packages:discord.js

#10324 feat: PollBuilder
  packages/builders/__tests__/messages/poll.test.ts
  packages/builders/src/index.ts
  packages/builders/src/messages/poll/Assertions.ts
  packages/builders/src/messages/poll/Poll.ts
  packages/builders/src/messages/poll/PollAnswer.ts
  packages/builders/src/messages/poll/PollAnswerMedia.ts
  packages/builders/src/messages/poll/PollMedia.ts
  packages/builders/src/messages/poll/PollQuestion.ts
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:builders, packages:discord.js
