Repository discordjs/discord.js, pull requests merged in 2025-03, with the labels that each got.

#10783 fix: poll builders
  packages/builders/__tests__/messages/poll.test.ts
  packages/builders/src/messages/poll/Assertions.ts
  packages/builders/src/messages/poll/Poll.ts
  packages/builders/src/messages/poll/PollAnswer.ts
  packages/builders/src/messages/poll/PollAnswerMedia.ts
  packages/builders/src/messages/poll/PollMedia.ts
  packages/builders/src/messages/poll/PollQuestion.ts
Labels: semver:patch, packages:builders

#10790 fix(ContextMenuCommandBuilder): allow emoji in name
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/src/interactions/commands/contextMenu/Assertions.ts
Labels: semver:patch, packages:builders, backport-candidate

#10529 refactor!: remove discord.js builders
  packages/discord.js/package.json
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/ActionRowBuilder.js
  packages/discord.js/src/structures/ButtonBuilder.js
  packages/discord.js/src/structures/ChannelSelectMenuBuilder.js
  packages/discord.js/src/structures/EmbedBuilder.js
  packages/discord.js/src/structures/MentionableSelectMenuBuilder.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/ModalBuilder.js
  packages/discord.js/src/structures/RoleSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuBuilder.js
  packages/discord.js/src/structures/StringSelectMenuOptionBuilder.js
  packages/discord.js/src/structures/TextInputBuilder.js
  packages/discord.js/src/structures/UserSelectMenuBuilder.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/src/util/Util.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  pnpm-lock.yaml
Labels: refactor, semver:major, packages:discord.js

#10792 feat(Webhook): allow setting `withComponents`
  packages/discord.js/src/structures/Webhook.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport-candidate

#10791 feat: override `groupBy` to return `Collection`
  packages/collection/__tests__/collection.test.ts
  packages/collection/src/collection.ts
Labels: semver:minor, packages:collection

#10796 fix(GuildMemberManager): Ensure empty object for fetching many guild members
  packages/discord.js/src/managers/GuildMemberManager.js
Labels: regression, semver:patch, packages:discord.js

#10795 fix(embed): Allow attachment protocols for thumbnails and images
  packages/builders/__tests__/messages/embed.test.ts
  packages/builders/src/messages/embed/Assertions.ts
Labels: semver:patch, packages:builders

#10794 docs: remove hardcoded locale from links
  .github/CODEOWNERS
  .github/workflows/cleanup-cache.yml
  packages/builders/src/components/ActionRow.ts
  packages/builders/src/components/selectMenu/StringSelectMenu.ts
  packages/builders/src/interactions/commands/chatInput/mixins/SharedChatInputCommandOptions.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/builders/src/messages/embed/Embed.ts
  packages/builders/src/messages/poll/Poll.ts
  packages/collection/src/collection.ts
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/interfaces/Collector.js
  packages/rest/src/lib/REST.ts
Labels: documentation, semver:patch, packages:builders, packages:collection, packages:discord.js, packages:rest

#10793 feat: message builder
  packages/builders/__tests__/messages/message.test.ts
  packages/builders/src/index.ts
  packages/builders/src/messages/AllowedMentions.ts
  packages/builders/src/messages/Assertions.ts
  packages/builders/src/messages/Attachment.ts
  packages/builders/src/messages/Message.ts
  packages/builders/src/messages/MessageReference.ts
Labels: semver:minor, packages:builders

#10803 refactor(constants): Update guide URL
  packages/create-discord-bot/src/util/constants.ts
Labels: semver:patch, packages:create-discord-bot

#10775 fix(create-discord-bot): register command files in subdirectories
  packages/create-discord-bot/template/Deno/src/commands/utility/user.ts
  packages/create-discord-bot/template/Deno/src/util/loaders.ts
  packages/create-discord-bot/template/JavaScript/src/commands/utility/user.js
  packages/create-discord-bot/template/JavaScript/src/util/loaders.js
  packages/create-discord-bot/template/TypeScript/src/commands/utility/user.ts
  packages/create-discord-bot/template/TypeScript/src/util/loaders.ts
Labels: semver:patch, packages:create-discord-bot

#10805 fix(textInput): Value must be at least 1 character in length
  packages/builders/src/components/textInput/Assertions.ts
Labels: semver:patch, packages:builders

#10814 fix: all shards spawning on shard 0 with sharding manager
  packages/discord.js/src/client/Client.js
Labels: semver:patch, packages:discord.js

#10809 fix(Poll): ensure `this.answers` is set before we reference it
  packages/discord.js/src/structures/Poll.js
Labels: regression, semver:patch, packages:discord.js

#10811 fix(PollAnswer): only define _emoji property once
  packages/discord.js/src/structures/PollAnswer.js
Labels: regression, semver:patch, packages:discord.js

#10821 fix(Message): forwarded messages are not `crosspostable`
  packages/discord.js/src/structures/Message.js
Labels: semver:patch, packages:discord.js, backport-candidate

#10816 types(ModalSubmitFields): fix `fields` type
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js, backport-candidate
