Repository discordjs/discord.js, pull requests merged in 2025-10, with the labels that each got.

#11125 ci(release): use main action always
  .github/workflows/release.yml
  packages/actions/src/releasePackages/action.yml
Labels: ci

#11004 feat(RedisBroker): poll for unacked events
  packages/brokers/src/brokers/redis/BaseRedis.ts
Labels: semver:minor, packages:brokers

#11002 feat(RedisBroker): ability to explicitly tell the library to pick a random group
  packages/brokers/src/brokers/redis/BaseRedis.ts
  packages/brokers/src/brokers/redis/RPCRedis.ts
Labels: semver:minor, packages:brokers

#11132 fix: adjust types for typescript upgrade
  packages/voice/package.json
  packages/voice/src/receive/VoiceReceiver.ts
  packages/voice/src/util/Secretbox.ts
  pnpm-lock.yaml
Labels: semver:patch, packages:voice

#11139 fix(builders): correct assertion for select menu string min/max values
  packages/builders/src/components/Assertions.ts
Labels: semver:patch, packages:builders

#11142 types(Webhook): specify message type
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js, backport-candidate

#11129 feat!: add `escapeQuote` and `escapeBlockQuote`
  packages/formatters/__tests__/escapers.test.ts
  packages/formatters/src/escapers.ts
Labels: semver:major, packages:formatters

#11133 chore: bump dependencies
  apps/guide/next.config.ts
  apps/guide/package.json
  apps/website/next.config.ts
  apps/website/package.json
  package.json
  packages/actions/package.json
  packages/api-extractor-model/package.json
  packages/api-extractor-utils/package.json
  packages/api-extractor/package.json
  packages/brokers/package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Deno/deno.jsonc
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
  packages/discord.js/package.json
  packages/docgen/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/scripts/turbo/generators/templates/default/package.json.hbs
  packages/structures/package.json
  packages/ui/package.json
  packages/ui/src/lib/components/Section.tsx
  packages/ui/vite.config.ts
  packages/util/package.json
  packages/util/src/functions/userAgentAppendix.ts
  packages/voice/package.json
  packages/ws/package.json
  patches/eslint-config-neon@0.2.7.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:guide, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot, packages:api-extractor, packages:api-extractor-model, packages:structures

#11122 types(ClientEventTypes): fix `messageDeleteBulk` event arg
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, typings, packages:discord.js, backport-candidate

#11149 chore(guide): Update name of legacy path
  apps/guide/content/docs/legacy/meta.json
Labels: apps:guide

#11138 feat(builders): modal select menus in builders v1
  packages/builders/__tests__/components/textInput.test.ts
  packages/builders/__tests__/components/v2/container.test.ts
  packages/builders/package.json
  packages/builders/src/components/Component.ts
  packages/builders/src/components/Components.ts
  packages/builders/src/components/label/Assertions.ts
  packages/builders/src/components/label/Label.ts
  packages/builders/src/components/selectMenu/Assertions.ts
  packages/builders/src/components/selectMenu/BaseSelectMenu.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/components/textInput/TextInput.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/interactions/modals/Modal.ts
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
  pnpm-lock.yaml
Labels: api support, semver:minor, packages:builders, packages:discord.js

#11131 feat(guild): Support incident actions
  packages/core/src/api/guild.ts
Labels: api support, semver:minor, packages:core, backport-candidate

#11143 ci(release): handling for create-discord-app
  .github/workflows/deprecate-version.yml
  packages/actions/src/releasePackages/releasePackage.ts
Labels: ci
