Repository discordjs/discord.js, pull requests merged in 2025-07, with the labels that each got.

#10960 build: bump discord-api-types to 0.38.14
  packages/builders/package.json
  packages/core/package.json
  packages/core/src/api/oauth2.ts
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10963 types(InteractionCallbackResponse): add missing InGuild generic
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js, backport

#10808 chore(WebSocketShard): improve zlib-sync errors
  packages/ws/src/ws/WebSocketShard.ts
Labels: semver:patch, packages:ws

#10922 feat!: use zod v4
  packages/builders/__tests__/util.test.ts
  packages/builders/package.json
  packages/builders/src/Assertions.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/components/v2/Assertions.ts
  packages/builders/src/index.ts
  packages/builders/src/interactions/commands/chatInput/Assertions.ts
  packages/builders/src/interactions/commands/chatInput/mixins/ApplicationCommandOptionChannelTypesMixin.ts
  packages/builders/src/interactions/commands/chatInput/options/ApplicationCommandOptionBase.ts
  packages/builders/src/interactions/commands/contextMenu/Assertions.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/messages/Assertions.ts
  packages/builders/src/messages/embed/Assertions.ts
  packages/builders/src/messages/poll/Assertions.ts
  packages/builders/src/util/ValidationError.ts
  packages/builders/src/util/validation.ts
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/typings/index.d.ts
  pnpm-lock.yaml
Labels: semver:major, packages:builders, packages:discord.js

#10964 types(ReadonlyCollection): derivation logic
  packages/collection/src/collection.ts
Labels: semver:patch, packages:collection

#10923 types: reverse interface inheritance to omit Omit
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:patch, typings, packages:discord.js, backport-candidate

#10966 build: bump discord-api-types to 0.38.15
  packages/builders/package.json
  packages/core/package.json
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, packages:builders, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10961 feat!: role gradient colors
  packages/discord.js/src/managers/GuildMemberRoleManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:major, packages:discord.js, backport-candidate

#10976 fix: Adjust `reason` in methods options
  packages/core/src/api/channel.ts
  packages/core/src/api/guild.ts
Labels: semver:patch, packages:core, backport-candidate

#10978 refactor(CDN)!: Use an object for the constructor
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/REST.ts
Labels: refactor, semver:major, packages:rest

#10970 fix(Events): `WebhooksUpdate` enum value
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
Labels: semver:patch, packages:discord.js

#10974 feat(guide): port remaining prs/issues from legacy
  apps/guide/content/docs/legacy/additional-info/meta.json
  apps/guide/content/docs/legacy/additional-info/proxy.mdx
  apps/guide/content/docs/legacy/oauth2/oauth2.mdx
  apps/guide/content/docs/legacy/sharding/additional-information.mdx
  apps/guide/content/docs/legacy/slash-commands/permissions.mdx
  apps/guide/content/docs/legacy/slash-commands/response-methods.mdx
  apps/guide/content/docs/voice/meta.json
  apps/guide/content/docs/voice/seeking.mdx
Labels: apps:guide

#10921 feat: implement DAVE end-to-end encryption
  packages/voice/__tests__/VoiceConnection.test.ts
  packages/voice/__tests__/VoiceReceiver.test.ts
  packages/voice/__tests__/VoiceWebSocket.test.ts
  packages/voice/package.json
  packages/voice/src/VoiceConnection.ts
  packages/voice/src/index.ts
  packages/voice/src/joinVoiceChannel.ts
  packages/voice/src/networking/DAVESession.ts
  packages/voice/src/networking/Networking.ts
  packages/voice/src/networking/VoiceWebSocket.ts
  packages/voice/src/networking/index.ts
  packages/voice/src/receive/VoiceReceiver.ts
  packages/voice/src/util/generateDependencyReport.ts
  pnpm-lock.yaml
Labels: api support, semver:minor, packages:voice

#10967 chore: bump dependencies
  apps/guide/package.json
  apps/website/package.json
  package.json
  packages/actions/package.json
  packages/api-extractor-model/package.json
  packages/api-extractor-utils/package.json
  packages/api-extractor/package.json
  packages/brokers/package.json
  packages/builders/__tests__/util.test.ts
  packages/builders/package.json
  packages/builders/src/Assertions.ts
  packages/builders/src/components/Assertions.ts
  packages/builders/src/components/textInput/Assertions.ts
  packages/builders/src/components/v2/Assertions.ts
  packages/builders/src/interactions/commands/chatInput/Assertions.ts
  packages/builders/src/interactions/commands/chatInput/options/ApplicationCommandOptionBase.ts
  packages/builders/src/interactions/commands/contextMenu/Assertions.ts
  packages/builders/src/interactions/modals/Assertions.ts
  packages/builders/src/messages/Assertions.ts
  packages/builders/src/messages/embed/Assertions.ts
  packages/builders/src/messages/poll/Assertions.ts
  packages/builders/src/util/ValidationError.ts
  packages/builders/src/util/validation.ts
  packages/collection/package.json
  packages/core/package.json
  packages/create-discord-bot/package.json
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
  packages/discord.js/package.json
  packages/discord.js/test/resolveGuildTemplateCode.test.js
  packages/discord.js/tsconfig.json
  packages/docgen/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/proxy-container/package.json
  packages/proxy/package.json
  packages/rest/package.json
  packages/scripts/package.json
  packages/scripts/src/populateDevDatabaseBranch.ts
  packages/scripts/turbo/generators/templates/default/package.json.hbs
  packages/structures/package.json
  packages/ui/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: dependencies, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:guide, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot, packages:api-extractor, packages:api-extractor-model, packages:structures

#10985 fix(DirectoryChannel): Export class
  packages/discord.js/src/index.js
Labels: semver:patch, packages:discord.js, backport-candidate

#10984 refactor(ThreadChannel): Remove trimming of name
  packages/discord.js/src/structures/ThreadChannel.js
Labels: refactor, semver:patch, threads, packages:discord.js

#10969 refactor: Deprecate `ready` event in favor of `clientReady`
  packages/discord.js/src/client/websocket/WebSocketManager.js
  packages/discord.js/src/util/Events.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#10987 feat: Support animated WebP
  packages/discord.js/src/client/Client.js
  packages/discord.js/src/structures/BaseGuildEmoji.js
  packages/discord.js/src/structures/Emoji.js
  packages/discord.js/typings/index.d.ts
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: api support, semver:minor, packages:discord.js, packages:rest, backport

#10986 feat: Role gradient colours
  packages/discord.js/src/managers/GuildMemberRoleManager.js
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/Role.js
  packages/discord.js/src/util/Constants.js
  packages/discord.js/typings/index.d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#10991 build: Upgrade discord-api-types
  packages/core/package.json
  packages/core/src/api/oauth2.ts
  packages/discord.js/package.json
  packages/formatters/package.json
  packages/next/package.json
  packages/rest/package.json
  packages/voice/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Labels: dependencies, semver:patch, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:core, packages:formatters, packages:next

#10993 feat(MessageManager): New pinned messages routes
  packages/discord.js/src/managers/MessageManager.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js, backport

#10995 feat: support user guilds
  packages/discord.js/src/structures/User.js
  packages/discord.js/typings/index.d.ts
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: api support, semver:minor, packages:discord.js, packages:rest, backport

#10999 fix(Container): Use the same discord-api-types version
  packages/builders/src/components/v2/Container.ts
Labels: semver:patch, packages:builders

#10996 fix(contextMenuCommands): Remove regular expression validation
  packages/builders/__tests__/interactions/ContextMenuCommands.test.ts
  packages/builders/src/interactions/contextMenuCommands/Assertions.ts
Labels: semver:patch, packages:builders

#11007 fix: Remove trailing `color` references
  packages/discord.js/src/managers/RoleManager.js
  packages/discord.js/src/structures/GuildMember.js
  packages/discord.js/src/structures/Role.js
Labels: semver:patch, packages:discord.js

#10968 docs: Replace Discord API with Discord Developers
  README.md
  apps/website/README.md
  packages/actions/README.md
  packages/api-extractor-utils/README.md
  packages/brokers/README.md
  packages/builders/README.md
  packages/collection/README.md
  packages/core/README.md
  packages/create-discord-bot/README.md
  packages/discord.js/README.md
  packages/docgen/README.md
  packages/formatters/README.md
  packages/next/README.md
  packages/proxy-container/README.md
  packages/proxy/README.md
  packages/rest/README.md
  packages/scripts/README.md
  packages/ui/README.md
  packages/util/README.md
  packages/voice/README.md
  packages/ws/README.md
Labels: documentation, packages:builders, packages:collection, packages:discord.js, packages:rest, packages:voice, packages:ws, packages:proxy, packages:docgen, packages:proxy-container, packages:util, apps:website, packages:ui, packages:brokers, packages:core, packages:formatters, packages:next, packages:create-discord-bot

#11008 docs: Add structures to main README.md
  README.md
Labels: documentation

#10325 ci: better release workflow
  .github/workflows/publish-dev.yml
  .github/workflows/release.yml
  package.json
  packages/actions/package.json
  packages/actions/src/releasePackages/action.yml
  packages/actions/src/releasePackages/generateReleaseTree.ts
  packages/actions/src/releasePackages/index.ts
  packages/actions/src/releasePackages/releasePackage.ts
  packages/actions/tsconfig.json
  packages/actions/tsup.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: ci, packages:ui

#11012 fix!: Remove guild creation
  packages/core/src/api/guild.ts
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:major, packages:discord.js, packages:core, backport-candidate

#10998 refactor(WebSocketManager)!: remove deprecated `rest` option
  packages/core/README.md
  packages/discord.js/src/client/Client.js
  packages/ws/__tests__/gateway.mock.ts
  packages/ws/__tests__/strategy/WorkerContextFetchingStrategy.test.ts
  packages/ws/__tests__/strategy/WorkerShardingStrategy.test.ts
  packages/ws/__tests__/ws/WebSocketManager.test.ts
  packages/ws/package.json
  packages/ws/src/ws/WebSocketManager.ts
  pnpm-lock.yaml
Labels: refactor, semver:major, packages:discord.js, packages:ws, packages:core

#11014 ci(release): Miscellaneous fixes
  .github/workflows/release.yml
  packages/actions/src/releasePackages/action.yml
  packages/actions/src/releasePackages/generateReleaseTree.ts
Labels: ci

#11015 fix: attachment sending
  packages/rest/__tests__/UndiciRequest.test.ts
  packages/rest/src/strategies/undiciRequest.ts
Labels: semver:patch, packages:rest

#11021 fix!: Remove API related to guild ownership
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:major, packages:discord.js, backport-candidate
