Repository discordjs/discord.js, pull requests merged in 2025-05, with the labels that each got.

#10873 chore: bump zlib-sync to 0.1.10
  packages/ws/package.json
  pnpm-lock.yaml
Labels: chore, dependencies, packages:ws

#10880 fix(website): constructors show on too many items
  apps/website/src/components/DocItem.tsx
  apps/website/src/components/SyntaxHighlighter.tsx
  packages/scripts/src/generateSplitDocumentation.ts
Labels: apps:website

#10881 fix: padding on codeblocks
  apps/website/src/components/SyntaxHighlighter.tsx
Labels: apps:website

#10882 docs: fix missing type
  packages/brokers/src/brokers/redis/BaseRedis.ts
Labels: documentation, semver:patch, packages:brokers

#10885 build: fix deploy failure
  packages/proxy-container/Dockerfile
Labels: ci, packages:proxy-container

#10878 chore: update create-discord-bot dependencies
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Deno/src/commands/index.ts
  packages/create-discord-bot/template/Deno/src/events/index.ts
  packages/create-discord-bot/template/Deno/src/events/ready.ts
  packages/create-discord-bot/template/Deno/src/index.ts
  packages/create-discord-bot/template/Deno/src/util/deploy.ts
  packages/create-discord-bot/template/Deno/src/util/registerEvents.ts
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
Labels: semver:minor, packages:create-discord-bot

#10869 fix(website): link to external constructors
  apps/website/src/components/ConstructorNode.tsx
  packages/scripts/src/generateSplitDocumentation.ts
Labels: apps:website

#10887 fix: syntaxhighlighter fill scrollbar width
  apps/website/src/components/DocItem.tsx
  apps/website/src/components/DocNode.tsx
Labels: apps:website

#10800 refactor(Client): Remove `with_expiration` query parameter
  packages/discord.js/src/client/Client.js
Labels: api changes, semver:patch, packages:discord.js

#10886 build: exclude type tests from pack
  packages/discord.js/package.json
Labels: semver:patch, packages:discord.js, backport-candidate

#10889 fix(PartialGroupDMChannel): Prevent `undefined` values
  packages/discord.js/src/structures/PartialGroupDMChannel.js
Labels: semver:patch, packages:discord.js, backport-candidate

#10890 perf(Components): Hash table
  packages/discord.js/src/util/Components.js
Labels: semver:patch, performance, packages:discord.js, backport-candidate

#10892 fix: codeblock background and other mobile issues
  apps/website/src/components/Badges.tsx
  apps/website/src/components/DocItem.tsx
  apps/website/src/components/DocNode.tsx
  apps/website/src/components/EventNode.tsx
  apps/website/src/components/MethodNode.tsx
  apps/website/src/components/PropertyNode.tsx
Labels: apps:website

#10893 perf(Components): Hash table
  packages/discord.js/src/util/Components.js
Labels: semver:patch, performance, packages:discord.js, backport

#10859 feat: soundboard forward port
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/managers/GuildSoundboardSoundManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/SoundboardSound.js
  packages/discord.js/typings/index.d.ts
Labels: semver:minor, packages:discord.js

#10847 feat: components v2
  packages/discord.js/.lintstagedrc.json
  packages/discord.js/src/index.js
  packages/discord.js/src/structures/Component.js
  packages/discord.js/src/structures/ContainerComponent.js
  packages/discord.js/src/structures/FileComponent.js
  packages/discord.js/src/structures/MediaGalleryComponent.js
  packages/discord.js/src/structures/MediaGalleryItem.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/MessagePayload.js
  packages/discord.js/src/structures/SectionComponent.js
  packages/discord.js/src/structures/SeparatorComponent.js
  packages/discord.js/src/structures/TextDisplayComponent.js
  packages/discord.js/src/structures/ThumbnailComponent.js
  packages/discord.js/src/structures/UnfurledMediaItem.js
  packages/discord.js/src/structures/interfaces/TextBasedChannel.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/src/util/Components.js
  packages/discord.js/test/messages.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: api support, semver:minor, packages:discord.js

#10898 fix(website): remove several obsolete special handling of dtypes
  apps/website/src/components/EntrypointSelect.tsx
  apps/website/src/middleware.ts
  apps/website/src/util/constants.ts
  apps/website/src/util/parseDocsPathParams.ts
  packages/api-extractor-model/src/model/ApiEntryPoint.ts
  packages/api-extractor/src/api/ExtractorConfig.ts
  packages/api-extractor/src/api/IConfigFile.ts
  packages/api-extractor/src/generators/ApiModelGenerator.ts
  packages/api-extractor/src/schemas/api-extractor-defaults.json
  packages/api-extractor/src/schemas/api-extractor-template.json
  packages/api-extractor/src/schemas/api-extractor.schema.json
  packages/scripts/src/generateSplitDocumentation.ts
Labels: apps:website, packages:api-extractor, packages:api-extractor-model

#10902 fix(api-extractor): include entrypoint in links
  packages/api-extractor/src/generators/DeclarationReferenceGenerator.ts
  packages/scripts/src/generateSplitDocumentation.ts
Labels: packages:api-extractor

#10910 fix: use resolvePartialEmoji on MessagePayload#options#components
  packages/discord.js/src/util/Transformers.js
Labels: regression, semver:patch, packages:discord.js

#10908 feat: backport entrypoint command
  packages/discord.js/src/client/actions/InteractionCreate.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/ApplicationCommandManager.js
  packages/discord.js/src/structures/ApplicationCommand.js
  packages/discord.js/src/structures/BaseInteraction.js
  packages/discord.js/src/structures/CommandInteraction.js
  packages/discord.js/src/structures/MessageComponentInteraction.js
  packages/discord.js/src/structures/ModalSubmitInteraction.js
  packages/discord.js/src/structures/PrimaryEntryPointCommandInteraction.js
  packages/discord.js/src/structures/interfaces/InteractionResponses.js
  packages/discord.js/src/util/APITypes.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: packages:discord.js, backport
