Repository discordjs/discord.js, pull requests merged in 2025-08, with the labels that each got.

#11036 build: Upgrade pnpm-lock.yaml
  packages/ui/src/lib/components/Alert.tsx
  packages/ui/src/lib/components/Section.tsx
  packages/ui/src/lib/components/discord/Message.tsx
  packages/ui/src/lib/components/discord/Messages.tsx
  pnpm-lock.yaml
Labels: dependencies, packages:ui

#11038 ci(release): use app user
  .github/workflows/release.yml
  packages/actions/src/releasePackages/releasePackage.ts
Labels: ci

#11040 ci: Use actions/checkout@v5
  .github/workflows/cleanup-cache.yml
  .github/workflows/deploy-website.yml
  .github/workflows/deprecate-version.yml
  .github/workflows/documentation.yml
  .github/workflows/label-sync.yml
  .github/workflows/publish-dev-docker.yml
  .github/workflows/publish-dev.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: ci

#11045 chore(voice): release @discordjs/voice@0.19.0
  packages/voice/CHANGELOG.md
  packages/voice/package.json
Labels: chore, packages:voice

#11047 refactor(ActionsManager): register actions without using class name
  packages/discord.js/scripts/generateRequires.mjs
  packages/discord.js/src/client/actions/ActionsManager.js
Labels: refactor, semver:patch, packages:discord.js, backport-candidate

#11048 feat: bump discord.js in create-discord-bot/app
  packages/create-discord-bot/template/Bun/JavaScript/package.json
  packages/create-discord-bot/template/Bun/TypeScript/package.json
  packages/create-discord-bot/template/Deno/src/commands/index.ts
  packages/create-discord-bot/template/Deno/src/events/index.ts
  packages/create-discord-bot/template/Deno/src/events/interactionCreate.ts
  packages/create-discord-bot/template/Deno/src/events/ready.ts
  packages/create-discord-bot/template/Deno/src/index.ts
  packages/create-discord-bot/template/Deno/src/util/deploy.ts
  packages/create-discord-bot/template/JavaScript/package.json
  packages/create-discord-bot/template/TypeScript/package.json
Labels: packages:create-discord-bot

#11053 fix(GuildChannel): account for everyone base permissions
  packages/discord.js/src/structures/GuildChannel.js
Labels: semver:patch, permissions, packages:discord.js, backport-candidate

#11054 docs: Deprecate API related to guild ownership
  packages/discord.js/src/managers/GuildManager.js
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/src/structures/GuildTemplate.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, documentation, semver:patch, packages:discord.js

#11058 feat: polls overhaul
  packages/discord.js/src/client/actions/Action.js
  packages/discord.js/src/client/actions/MessagePollVoteAdd.js
  packages/discord.js/src/client/actions/MessagePollVoteRemove.js
  packages/discord.js/src/index.js
  packages/discord.js/src/managers/PollAnswerVoterManager.js
  packages/discord.js/src/structures/Message.js
  packages/discord.js/src/structures/Poll.js
  packages/discord.js/src/structures/PollAnswer.js
  packages/discord.js/src/util/Partials.js
  packages/discord.js/typings/index.d.ts
  packages/discord.js/typings/index.test-d.ts
Labels: semver:minor, packages:discord.js, backport

#11068 fix(Guild)!: Remove setting owner
  packages/discord.js/src/structures/Guild.js
  packages/discord.js/typings/index.d.ts
Labels: api changes, semver:major, packages:discord.js, backport-candidate

#11056 ci(pr-triage): Make validate title run always
  .github/workflows/pr-triage.yml
Labels: ci
